Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

fix resign owner api not processed by owner node bug (#11770)
  cdc/api/v2/api.go
  tests/integration_tests/availability/owner.sh
Due: cdc

dm: fix upstream switch job test (#11745)
  .github/workflows/dataflow_engine_chaos.yaml
  .github/workflows/dm_upstream_switch.yaml
  dm/tests/upstream_switch/case.sh
Due: dm

sink(ticdc): limit encoder-concurrency to avoid crash (#11775)
  pkg/sink/codec/encoder_group.go
Due: cdc

This is an automated cherry-pick of #11775
  pkg/sink/codec/encoder_group.go
Due: cdc

dm: fix binlog 999999 test (#11726)
  .github/workflows/dm_binlog_999999.yaml
Due: none

Update encoder_group.go
  pkg/sink/codec/encoder_group.go
Due: cdc

Update encoder_group.go
  cdc/sink/codec/encoder_group.go
Due: cdc

Delete pkg/sink/codec/encoder_group.go
  pkg/sink/codec/encoder_group.go
Due: cdc

Update encoder_group.go
  cdc/sink/mq/codec/encoder_group.go
Due: cdc

ddl puller: mv cdc/puller/ddl_util.go -> pkg/ddl/util.go
  pkg/ddl/util.go
Due: cdc

ddl: use SplitQueries function for splitting batch create table DDL job queries
  cdc/entry/schema_storage.go
  cdc/puller/ddl_puller.go
Due: cdc

ddl: add a comment for `test_driver`
  pkg/ddl/util.go
Due: cdc

fix: fix error exit in shell pipe
  dm/tests/_utils/run_downstream_cluster
Due: dm

fix error
  cdc/api/v2/api.go
Due: cdc

fix resign owner api not processed by owner node bug (#11770) (#11781)
  cdc/api/v2/api.go
  tests/integration_tests/availability/owner.sh
Due: cdc

alert(ticdc): fix ticdc alert rules (#11191)
  cdc/api/v2/api_helpers.go
  metrics/alertmanager/ticdc.rules.yml
Due: cdc

restricted max io total bytes in `check_sync_task_status_success()`
  dm/tests/openapi/client/openapi_task_check
Due: dm

fix resign owner api not processed by owner node bug (#11770) (#11779)
  cdc/api/v2/api.go
  tests/integration_tests/availability/owner.sh
Due: cdc

Update check.go
  pkg/version/check.go
Due: cdc

fix ts
  cdc/owner/ddl_manager.go
  pkg/version/check.go
  tests/integration_tests/bank/case.go
  tests/integration_tests/bank/run.sh
Due: cdc

tests(ticdc): fix bank test (#11407)
  cdc/owner/ddl_manager.go
  tests/integration_tests/bank/case.go
  tests/integration_tests/bank/run.sh
Due: cdc

fix
  dm/tests/openapi/client/openapi_task_check
Due: dm

This is an automated cherry-pick of #11407
  cdc/owner/ddl_manager.go
  tests/integration_tests/bank/case.go
  tests/integration_tests/bank/run.sh
Due: cdc

update sync task checker for io min/max
  dm/tests/openapi/client/openapi_task_check
Due: dm

remove order events
  cmd/kafka-consumer/event_group.go
Due: cdc

fix resign owner api not processed by owner node bug (#11770) (#11782)
  cdc/api/v2/api.go
  tests/integration_tests/availability/owner.sh
Due: cdc

check offset on the kafka sink
  cdc/sink/dmlsink/mq/worker.go
  pkg/sink/codec/encoder_group.go
  pkg/sink/kafka/factory.go
Due: cdc

add more logs to consumer to panic
  cmd/kafka-consumer/writer.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
