Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

for ci test
  dm/pkg/conn/mockdb.go
  go.mod
  go.sum
Due: dm

fix
  cdc/sink/dmlsink/txn/event.go
  pkg/causality/conflict_detector.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots.go
  pkg/causality/internal/slots_test.go
  pkg/causality/txn_cache.go
Due: cdc

chore(cdc,dm): add prow OWNERS files to controal approving for critial files (#10894)
  OWNERS_ALIASES
  dm/config/OWNERS
  dm/master/OWNERS
  dm/worker/OWNERS
  pkg/cmd/util/OWNERS
Due: cdc, dm

fix tests.
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/open/open_protocol_encoder_test.go
  pkg/sink/codec/simple/message.go
Due: cdc

fix
  cdc/sink/dmlsink/txn/event_test.go
  cdc/sink/dmlsink/txn/worker.go
Due: cdc

fix
  cdc/sink/dmlsink/txn/event.go
Due: cdc

add config send-all-bootstrap-at-start
  cdc/api/v2/model.go
  cdc/owner/changefeed.go
  cdc/owner/ddl_manager.go
  cdc/owner/ddl_sink.go
  pkg/config/sink.go
  pkg/config/sink_test.go
Due: cdc

dep: update tidb package (#11198)
  dm/checker/checker.go
  dm/checker/cmd.go
  dm/tests/check_task/run.sh
  go.mod
  go.sum
Due: dm

codec(ticdc): simple decoder set column flag incorrectly since miss index id (#11235)
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
Due: cdc

This is an automated cherry-pick of #11198
  dm/checker/checker.go
  dm/checker/cmd.go
  dm/tests/check_task/run.sh
  go.mod
  go.sum
Due: dm

fix
  dm/tests/full_mode/run.sh
  dm/tests/handle_error/run.sh
  dm/tests/many_tables/run.sh
  dm/tests/shardddl1_1/run.sh
  dm/tests/sync_collation/run.sh
  go.mod
  go.sum
Due: dm

This is an automated cherry-pick of #10466
  cdc/sinkv2/eventsink/txn/txn_sink.go
  cdc/sinkv2/eventsink/txn/worker.go
  cdc/sinkv2/metrics/txn/metrics.go
  metrics/grafana/ticdc.json
Due: cdc

add column name to id.
  cdc/model/schema_storage.go
Due: cdc

This is an automated cherry-pick of #11235
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
Due: cdc

update
  cdc/sinkv2/eventsink/txn/txn_sink.go
  cdc/sinkv2/eventsink/txn/worker.go
  cdc/sinkv2/metrics/txn/metrics.go
  metrics/grafana/ticdc.json
Due: cdc

This is an automated cherry-pick of #10466
  cdc/sink/dmlsink/txn/txn_dml_sink.go
  cdc/sink/dmlsink/txn/worker.go
  cdc/sink/metrics/txn/metrics.go
  metrics/grafana/ticdc.json
Due: cdc

update
  cdc/sink/dmlsink/txn/txn_dml_sink.go
  cdc/sink/dmlsink/txn/worker.go
  metrics/grafana/ticdc.json
Due: cdc

update
  tests/integration_tests/ddl_reentrant/run.sh
Due: none

fix case
  dm/tests/print_status/run.sh
  dm/tests/sync_collation/run.sh
Due: dm

check kafka produce out-of-order https://github.com/IBM/sarama/issues/2619
  pkg/sink/kafka/sarama.go
Due: cdc

update logs.
  cmd/kafka-consumer/writer.go
Due: cdc

add more logs to the kafka consumer
  cmd/kafka-consumer/writer.go
Due: cdc

add more logs.
  cdc/sink/ddlsink/mq/mq_ddl_sink.go
  pkg/sink/kafka/factory.go
Due: cdc

fix
  dm/tests/all_mode/run.sh
  dm/tests/tracker_ignored_ddl/run.sh
Due: dm

also print out schema, table,committs
  cdc/sink/dmlsink/mq/dmlproducer/kafka_dml_producer.go
  pkg/sink/kafka/factory.go
  pkg/sink/kafka/mock_factory.go
  pkg/sink/kafka/v2/factory.go
Due: cdc

fix the signature
  cdc/sink/ddlsink/mq/ddlproducer/kafka_ddl_producer.go
  cdc/sink/ddlsink/mq/mq_ddl_sink.go
  pkg/sink/kafka/factory.go
  pkg/sink/kafka/mock_factory.go
  pkg/sink/kafka/v2/factory.go
  pkg/sink/kafka/v2/factory_test.go
Due: cdc

fix the signature
  cdc/sink/dmlsink/mq/dmlproducer/kafka_dml_producer.go
Due: cdc

mysql (ticdc): Improve the performance of the mysql sink by refining the transaction event batching logic (#10466) (#11244)
  cdc/sink/dmlsink/txn/txn_dml_sink.go
  cdc/sink/dmlsink/txn/worker.go
  cdc/sink/metrics/txn/metrics.go
  metrics/grafana/ticdc.json
Due: cdc

ticdc: Add test for ddl `exchange partition ... without validation` (#11247)
  tests/integration_tests/ddl_reentrant/run.sh
Due: none

wip
  pkg/sink/kafka/sarama.go
Due: cdc

mysql (ticdc): Improve the performance of the mysql sink by refining the transaction event batching logic (#10466) (#11242)
  cdc/sinkv2/eventsink/txn/txn_sink.go
  cdc/sinkv2/eventsink/txn/worker.go
  cdc/sinkv2/metrics/txn/metrics.go
  metrics/grafana/ticdc.json
Due: cdc

fix set flag.
  cdc/model/schema_storage.go
Due: cdc

mysql(ticdc): remove error filter when check isTiDB in backend init (#11214)
  pkg/sink/mysql/db_helper.go
Due: cdc

init
  cdc/sink/dmlsink/txn/event.go
  cdc/sink/dmlsink/txn/event_test.go
  pkg/causality/conflict_detector.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots.go
  pkg/causality/internal/slots_test.go
  pkg/causality/txn_cache.go
Due: cdc

update
  pkg/sink/kafka/sarama.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
