Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

add some comment.
  cdc/kv/shared_stream.go
Due: cdc

remove useless files.
  pkg/sink/codec/simple/avro.go
  pkg/sink/codec/simple/decoder.go
  pkg/sink/codec/simple/encoder.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/marshaller.go
  pkg/sink/codec/simple/message.go
  pkg/sink/codec/simple/message.json
  tests/integration_tests/kafka_simple_basic/run.sh
Due: cdc

fix go mod.
  go.mod
  go.sum
Due: none

add config
  pkg/config/sink.go
Due: cdc

mounter(ticdc): default value convert to the correct data type (#10804) (#10829)
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
Due: cdc

redo(ticdc): return ErrStorageInitialize if the external storage initialization fails (#10745) (#10876)
  pkg/redo/config.go
Due: cdc

fix
  cdc/processor/sourcemanager/sorter/factory/factory.go
  cdc/processor/sourcemanager/sorter/factory/pebble.go
  cdc/processor/sourcemanager/sorter/pebble/event_sorter.go
Due: cdc

fix dm lightning config.
  dm/loader/lightning.go
Due: dm

*(ticdc): Initialize changefeed/processor asynchronously (#10832)
  cdc/async/async_initializer.go
  cdc/async/async_initializer_test.go
  cdc/capture/capture.go
  cdc/owner/changefeed.go
  cdc/owner/changefeed_test.go
  cdc/processor/processor.go
  cdc/processor/processor_test.go
  cdc/scheduler/internal/v3/coordinator.go
  cdc/scheduler/internal/v3/coordinator_test.go
  cdc/vars/vars.go
Due: cdc

gc(ticdc): add min service gc safe point metrics (#10553) (#10751)
  cdc/server/metrics.go
  metrics/grafana/ticdc.json
  pkg/txnutil/gc/gc_manager.go
  pkg/txnutil/gc/metrics.go
Due: cdc

tests (ticdc): fix api_v2 integration test error
  Makefile
  tests/integration_tests/api_v2/cases.go
Due: none

update
  cdc/entry/mounter.go
  cdc/puller/ddl_puller.go
  pkg/spanz/span.go
Due: cdc

* (ticdc): fix make check error
  scripts/generate-mock.sh
  tests/integration_tests/run_group.sh
Due: none

update
  cdc/entry/mounter.go
  cdc/puller/ddl_puller.go
Due: cdc

fix some conflicts.
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
  cdc/model/schema_storage.go
  cmd/kafka-consumer/main.go
  dm/pkg/conn/mockdb.go
  dm/pkg/utils/common.go
  dm/pkg/utils/time.go
  dm/syncer/expr_filter_group.go
  pkg/etcd/etcd.go
  pkg/filter/expr_filter.go
  pkg/pdutil/api_client.go
  pkg/sink/codec/avro/decoder.go
  pkg/sink/codec/avro/decoder_test.go
Due: cdc, dm

also fix the pebble sorter.
  cdc/processor/sourcemanager/engine/factory/factory.go
  cdc/processor/sourcemanager/engine/factory/pebble.go
  cdc/processor/sourcemanager/engine/pebble/db.go
Due: cdc

kvclient(ticdc): close the grpc client after all goroutine exited to prevent data race and panic (#10865) (#10906)
  cdc/kv/shared_stream.go
  cdc/kv/sharedconn/conn_and_client.go
  tests/integration_tests/kafka_big_txn_v2/run.sh
Due: cdc

fix dm build.
  dm/master/config.go
  dm/pkg/checker/table_structure.go
  dm/syncer/ddl.go
  examples/golang/avro-checksum-verification/main.go
  pkg/sink/codec/avro/decoder.go
  pkg/sink/codec/common/verify_checksum.go
Due: cdc, dm

fix build engine.
  engine/pkg/meta/internal/etcdkv/mock.go
Due: engine

update
  cdc/entry/mounter.go
  pkg/spanz/span.go
  pkg/version/check.go
Due: cdc

update
  cdc/entry/mounter.go
Due: cdc

mysql(ticdc): fix the data race in the conflict detector (#10630) (#10642)
  pkg/causality/internal/node.go
Due: cdc

fix dm tests.
  dm/master/config_test.go
  dm/pkg/conn/baseconn_test.go
  dm/pkg/election/election_test.go
  dm/pkg/etcdutil/etcdutil_test.go
  dm/syncer/error_test.go
  dm/syncer/validate_worker_test.go
  dm/worker/server_test.go
Due: dm

fix make check
  cdc/entry/mounter_test.go
  pkg/filter/expr_filter_test.go
Due: cdc

fix
  go.mod
  go.sum
Due: none

fix
  dm/tests/_utils/run_tidb_server
Due: dm

fix
  cmd/dm-worker/main.go
Due: cdc

*: update dependencies tidb and pebbledb (#10899)
  cdc/processor/sourcemanager/sorter/factory/factory.go
  cdc/processor/sourcemanager/sorter/factory/pebble.go
  cdc/processor/sourcemanager/sorter/pebble/db.go
  cdc/processor/sourcemanager/sorter/pebble/event_sorter.go
  cmd/dm-worker/main.go
  dm/checker/checker.go
  dm/config/task.go
  dm/docs/RFCS/20220308_support_dump_files_store_in_s3.md
  dm/loader/lightning.go
  dm/loader/lightning_test.go
  dm/pkg/checker/lightning.go
  dm/pkg/checker/lightning_test.go
  dm/pkg/checker/table_structure.go
  dm/pkg/log/log.go
  dm/pkg/log/log_test.go
  dm/pkg/schema/tracker.go
  dm/pkg/utils/common.go
  dm/syncer/expr_filter_group.go
  dm/syncer/validator_cond_test.go
  dm/tests/_utils/run_tidb_server
  dm/unit/unit_test.go
  go.mod
  go.sum
  pkg/filter/expr_filter.go
  pkg/migrate/migrate_test.go
  pkg/pdutil/api_client.go
  pkg/pdutil/api_client_test.go
  pkg/sink/codec/csv/csv_decoder.go
  pkg/sqlmodel/row_change_test.go
Due: cdc, dm

update
  cdc/entry/mounter.go
  cdc/puller/ddl_puller_test.go
  tests/integration_tests/batch_add_table/run.sh
Due: cdc

update
  tests/integration_tests/batch_add_table/run.sh
Due: none

simplify some open-protocol unit test.
  pkg/sink/codec/internal/column.go
  pkg/sink/codec/open/open_protocol_encoder_test.go
  pkg/sink/codec/open/open_protocol_message_test.go
Due: cdc

add sink level config output-old-value for open and debezium
  cdc/api/v2/model.go
  cdc/api/v2/model_test.go
  docs/swagger/docs.go
  docs/swagger/swagger.json
  docs/swagger/swagger.yaml
  pkg/config/config_test_data.go
  pkg/config/replica_config.go
  pkg/config/replica_config_test.go
  pkg/config/sink.go
  pkg/orchestrator/reactor_state_test.go
  pkg/sink/codec/common/config.go
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/open/open_protocol_message.go
  tests/integration_tests/api_v2/cases.go
  tests/integration_tests/api_v2/model.go
Due: cdc

add sink level config output-old-value for open and debezium
  pkg/sink/codec/debezium/codec.go
Due: cdc

fix mounter import tidb packages.
  cdc/entry/mounter_test.go
Due: cdc

split update event
  cdc/processor/sourcemanager/manager.go
Due: cdc

update
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
  cdc/entry/schema_storage_test.go
  cdc/entry/schema_test.go
  cdc/entry/schema_test_helper.go
  cdc/owner/changefeed_test.go
  cdc/owner/ddl_manager_test.go
  cdc/puller/ddl_puller_test.go
  cdc/sink/dmlsink/mq/mq_dml_sink_test.go
  cdc/sink/dmlsink/mq/transformer/columnselector/column_selector_test.go
  cdc/sink/dmlsink/mq/worker_test.go
  pkg/sink/codec/canal/canal_encoder_test.go
  pkg/sink/codec/canal/canal_entry_test.go
  pkg/sink/codec/canal/canal_json_txn_event_encoder_test.go
  pkg/sink/codec/canal/type_test.go
  pkg/sink/codec/debezium/debezium_test.go
  pkg/version/check.go
Due: cdc

fix ut
  pkg/sink/codec/common/config.go
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/open/open_protocol_message.go
Due: cdc

kv (ticdc): simplified some names, relocated certain functions, added comments, to improved the clarity of the code
  cdc/kv/region_state.go
  cdc/kv/region_state_bench_test.go
  cdc/kv/regionlock/range_ts_map.go
  cdc/kv/regionlock/range_ts_map_test.go
  cdc/kv/regionlock/region_range_lock.go
  cdc/kv/regionlock/region_range_lock_test.go
  cdc/kv/regionlock/utils.go
  cdc/kv/regionlock/utils_test.go
  cdc/kv/shared_client.go
  cdc/kv/shared_client_test.go
  cdc/kv/shared_region_worker.go
  cdc/kv/shared_region_worker_test.go
  cdc/kv/shared_stream.go
  cdc/puller/frontier/frontier_test.go
  cdc/puller/multiplexing_puller.go
Due: cdc
