Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

metrics(ticdc): fix slowest table metrics in scheduler (#10484) (#10502)
  cdc/owner/changefeed.go
  cdc/scheduler/internal/v3/replication/replication_manager.go
  metrics/alertmanager/ticdc.rules.yml
Due: cdc

add test about message type.
  pkg/sink/codec/simple/encoder_test.go
Due: cdc

add case to cover ddl types.
  pkg/sink/codec/simple/encoder_test.go
Due: cdc

[skip ci] Update OWNERS file
  OWNERS
Due: none

kv (ticdc): fix kvClient reconnection downhill loop (#10559) (#10570)
  cdc/kv/client.go
  cdc/kv/client_test.go
  cdc/kv/region_worker.go
  cdc/kv/region_worker_test.go
  pkg/config/config_test_data.go
  pkg/config/debug.go
  pkg/config/server_config.go
Due: cdc

OWNERS: Auto Sync OWNERS files from community membership (#10598)
  OWNERS
Due: none

update
  tests/integration_tests/tidb_mysql_test/r/alter_table.result
  tests/integration_tests/tidb_mysql_test/t/alter_table.test
Due: none

change
  dm/tests/tiup/upgrade-from-v2.sh
Due: dm

change
  dm/tests/tiup/conf/topo.yaml
  dm/tests/tiup/docker/docker-compose.yml
Due: dm

change
  .github/workflows/upgrade_dm_via_tiup.yaml
Due: none

change
  .github/workflows/upgrade_dm_via_tiup.yaml
  dm/tests/tiup/docker/docker-compose.yml
Due: dm

update
  tests/integration_tests/tidb_mysql_test/r/mysql_replace.result
  tests/integration_tests/tidb_mysql_test/t/mysql_replace.test
Due: none

change
  dm/tests/tiup/ansible_data/hosts.ini
  dm/tests/tiup/ansible_data/inventory.ini
Due: dm

change
  dm/tests/tiup/ansible_data/hosts.ini
  dm/tests/tiup/ansible_data/inventory.ini
  dm/tests/tiup/conf/topo.yaml
  dm/tests/tiup/docker/docker-compose.yml
Due: dm

add comments for redo log config
  pkg/config/consistent.go
Due: cdc

fmt
  dm/tests/tiup/upgrade-from-v2.sh
Due: dm

kv-client(cdc): introduce a more simple frontier (#10506)
  cdc/kv/client.go
  cdc/kv/region_state.go
  cdc/kv/region_worker_test.go
  cdc/kv/regionlock/region_range_lock.go
  cdc/kv/regionlock/region_range_lock_test.go
  cdc/kv/shared_client.go
  cdc/kv/shared_client_test.go
  cdc/kv/shared_region_worker.go
  cdc/kv/shared_region_worker_test.go
  cdc/puller/frontier/frontier_test.go
  pkg/cmd/server/server_test.go
  pkg/config/config_test_data.go
  pkg/config/kvclient.go
  pkg/config/server_config.go
Due: cdc

make TestLogManagerInOwner stable
  cdc/redo/manager_test.go
Due: cdc

kv (ticdc): Improve the codebase of kvClient. (#10585)
  cdc/kv/client.go
  cdc/kv/client_test.go
  cdc/kv/region_worker.go
  cdc/kv/region_worker_test.go
  pkg/config/config_test_data.go
  pkg/config/debug.go
  pkg/config/server_config.go
Due: cdc

redo (ticdc): add comments for redo log config and make TestLogManagerInOwner more stable (#10600)
  cdc/redo/manager_test.go
  pkg/config/consistent.go
Due: cdc

mereics(ticdc): add cdc_resolvedts_high_delay alert (#10078) (#10305)
  cdc/processor/processor.go
  cdc/redo/manager.go
  cdc/redo/meta_manager.go
  cdc/redo/writer/memory/encoding_worker.go
  cdc/redo/writer/memory/file_worker.go
  cdc/redo/writer/memory/mem_log_writer.go
  cdc/sink/dmlsink/txn/mysql/mysql.go
  metrics/alertmanager/ticdc.rules.yml
Due: cdc

kv (ticdc): fix kvClient reconnection downhill loop (#10559) (#10570) (#10599)
  cdc/kv/client.go
  cdc/kv/client_test.go
  cdc/kv/region_worker.go
  cdc/kv/region_worker_test.go
  pkg/config/config_test_data.go
  pkg/config/debug.go
  pkg/config/server_config.go
Due: cdc

use a better var name
  tests/integration_tests/ddl_manager/conf/diff_config.toml
  tests/integration_tests/ddl_manager/data/prepare.sql
Due: none

fix it error
  cdc/puller/frontier/frontier_test.go
  tests/integration_tests/ddl_manager/data/prepare.sql
Due: cdc

fix it error 2
  tests/integration_tests/ddl_manager/data/prepare.sql
Due: none

test (ticdc): add cross database ddls cases (#10002)
  cdc/puller/frontier/frontier_test.go
  tests/integration_tests/ddl_manager/conf/diff_config.toml
  tests/integration_tests/ddl_manager/data/prepare.sql
Due: cdc

sink(ticdc): use pd clock in storage sink (#10351)
  cdc/api/v1/validator.go
  cdc/api/v2/api_helpers.go
  cdc/processor/sinkmanager/manager.go
  cdc/sink/dmlsink/cloudstorage/cloud_storage_dml_sink.go
  cdc/sink/dmlsink/cloudstorage/cloud_storage_dml_sink_test.go
  cdc/sink/dmlsink/cloudstorage/dml_worker.go
  cdc/sink/dmlsink/cloudstorage/dml_worker_test.go
  cdc/sink/dmlsink/factory/factory.go
  cdc/sink/validator/validator.go
  cdc/sink/validator/validator_test.go
  cmd/kafka-consumer/main.go
  cmd/pulsar-consumer/main.go
  cmd/storage-consumer/main.go
  errors.toml
  pkg/applier/redo.go
  pkg/errors/cdc_errors.go
  pkg/pdutil/clock.go
  pkg/sink/cloudstorage/path.go
  pkg/sink/cloudstorage/path_test.go
Due: cdc

api(ticdc): only update upstreamInfo that has changed (#10422)
  cdc/api/v2/changefeed.go
  cdc/api/v2/changefeed_test.go
  cdc/owner/mock/owner_mock.go
  errors.toml
  pkg/errors/cdc_errors.go
  pkg/etcd/client_test.go
  pkg/etcd/etcd.go
  pkg/etcd/etcd_test.go
  pkg/etcd/etcdkey_test.go
  pkg/etcd/mock/etcd_client_mock.go
  pkg/etcd/util_test.go
Due: cdc

fix TestGCAndCleanup
  cdc/redo/meta_manager_test.go
Due: cdc

sink(ticdc): use pd clock in storage sink (#10351) (#10521)
  cdc/api/v1/validator.go
  cdc/api/v2/api_helpers.go
  cdc/processor/sinkmanager/manager.go
  cdc/sink/dmlsink/cloudstorage/cloud_storage_dml_sink.go
  cdc/sink/dmlsink/cloudstorage/cloud_storage_dml_sink_test.go
  cdc/sink/dmlsink/cloudstorage/dml_worker.go
  cdc/sink/dmlsink/cloudstorage/dml_worker_test.go
  cdc/sink/dmlsink/factory/factory.go
  cdc/sink/validator/validator.go
  cdc/sink/validator/validator_test.go
  cmd/kafka-consumer/main.go
  cmd/pulsar-consumer/main.go
  cmd/storage-consumer/main.go
  errors.toml
  pkg/applier/redo.go
  pkg/errors/cdc_errors.go
  pkg/pdutil/clock.go
  pkg/sink/cloudstorage/path.go
  pkg/sink/cloudstorage/path_test.go
Due: cdc

fix lint
  cdc/owner/mock/owner_mock.go
Due: cdc

sink(ticdc): use multi part s3 uploader in storage sink (#9954)
  cdc/api/v2/model.go
  cdc/redo/meta_manager_test.go
  cdc/sink/dmlsink/cloudstorage/dml_worker.go
  pkg/config/sink.go
  pkg/sink/cloudstorage/config.go
  pkg/sink/cloudstorage/config_test.go
Due: cdc

server(ticdc): implement diagnosticsService in cdc (#10262) (#10363)
  cdc/server/server.go
  go.mod
Due: cdc

sink(ticdc): use multi part s3 uploader in storage sink (#9954) (#10180)
  cdc/api/v2/model.go
  cdc/redo/meta_manager_test.go
  cdc/sink/dmlsink/cloudstorage/dml_worker.go
  pkg/config/sink.go
  pkg/sink/cloudstorage/config.go
  pkg/sink/cloudstorage/config_test.go
Due: cdc

api(ticdc): only update upstreamInfo that has changed (#10422) (#10452)
  cdc/api/v2/changefeed.go
  cdc/api/v2/changefeed_test.go
  errors.toml
  pkg/errors/cdc_errors.go
  pkg/etcd/client_test.go
  pkg/etcd/etcd.go
  pkg/etcd/etcd_test.go
  pkg/etcd/etcdkey_test.go
  pkg/etcd/mock/etcd_client_mock.go
  pkg/etcd/util_test.go
Due: cdc

pulsar/logger: ensure the .With*() fields are logged
  cmd/pulsar-consumer/main.go
  pkg/sink/pulsar/factory.go
  pkg/sink/pulsar/logger.go
  pkg/sink/pulsar/logger_test.go
Due: cdc

cdc/sink/dmlsink: recognize pulsar+ssl://
  cdc/sink/dmlsink/factory/factory.go
Due: cdc

try fix tls version
  dm/dumpling/dumpling.go
  dm/pkg/conn/mockdb.go
  go.mod
  go.sum
Due: dm
