Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

Update dm/config/OWNERS
  dm/config/OWNERS
Due: dm

Update dm/master/OWNERS
  dm/master/OWNERS
Due: dm

Update dm/worker/OWNERS
  dm/worker/OWNERS
Due: dm

Update pkg/cmd/util/OWNERS
  pkg/cmd/util/OWNERS
Due: cdc

Update OWNERS_ALIASES
  OWNERS_ALIASES
Due: none

codec (ticdc): fix some failed unit test cases
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
Due: cdc

config (ticdc): add simple protol related coonfiguration
  cdc/api/v2/model.go
  cdc/api/v2/model_test.go
  pkg/cmd/util/helper_test.go
  pkg/config/replica_config.go
  pkg/config/sink.go
  pkg/orchestrator/reactor_state_test.go
Due: cdc

fix conflicts.
  cdc/entry/mounter_test.go
  cdc/owner/schema_test.go
Due: cdc

sink(ticdc): Revert changes related to the conflict detector (#10897)
  pkg/causality/conflict_detector.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots_test.go
  pkg/causality/tests/integration_test.go
Due: cdc

init
  cdc/processor/sourcemanager/sorter/factory/pebble.go
  cdc/processor/sourcemanager/sorter/pebble/db.go
  dm/checker/checker.go
  dm/config/task.go
  dm/docs/RFCS/20220308_support_dump_files_store_in_s3.md
  dm/loader/lightning.go
  dm/loader/lightning_test.go
  dm/pkg/checker/lightning.go
  dm/pkg/checker/lightning_test.go
  dm/pkg/checker/table_structure.go
  dm/pkg/log/log.go
  dm/pkg/log/log_test.go
  dm/pkg/utils/common.go
  dm/syncer/ddl.go
  dm/syncer/expr_filter_group.go
  dm/unit/unit_test.go
  go.mod
  go.sum
  pkg/filter/expr_filter.go
  pkg/pdutil/api_client.go
  pkg/sink/codec/csv/csv_decoder.go
Due: cdc, dm

make check
  cdc/model/schema_storage_test.go
  cdc/processor/sourcemanager/sorter/factory/pebble.go
  cdc/processor/sourcemanager/sorter/pebble/db.go
  dm/checker/checker.go
  dm/loader/lightning.go
  dm/loader/lightning_test.go
Due: cdc, dm

codec (ticdc): add bootstrap function
  cdc/api/v2/model.go
  cdc/model/sink.go
  cdc/model/sink_gen.go
  cdc/model/sink_gen_test.go
  cdc/sink/dmlsink/mq/kafka_dml_sink.go
  cdc/sink/dmlsink/mq/mq_dml_sink.go
  cdc/sink/dmlsink/mq/pulsar_dml_sink.go
  cdc/sink/dmlsink/mq/worker.go
  cdc/sink/dmlsink/mq/worker_test.go
  examples/golang/avro-checksum-verification/main.go
  pkg/config/replica_config.go
  pkg/sink/codec/avro/decoder.go
  pkg/sink/codec/bootstraper.go
  pkg/sink/codec/bootstraper_test.go
  pkg/sink/codec/common/verify_checksum.go
  pkg/sink/codec/encoder.go
  pkg/sink/codec/encoder_group.go
  pkg/sink/codec/open/open_protocol_decoder.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/utils/test_utils.go
  tests/integration_tests/api_v2/cases.go
  tests/integration_tests/api_v2/model.go
Due: cdc

update
  cdc/model/sink.go
Due: cdc

fix the timezone.
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
  cdc/owner/schema_test.go
Due: cdc

fix unit test.
  cdc/entry/mounter_test.go
Due: cdc

ticdc: fix ddl `exchange partition xxxx with validation` to deal with `with validation` correctly (#10867) (#10902)
  cdc/model/sink.go
Due: cdc

disable some tests
  dm/pkg/schema/tracker_test.go
  pkg/filter/expr_filter.go
Due: cdc, dm

fix
  dm/syncer/validator_cond_test.go
Due: dm

fix
  dm/syncer/expr_filter_group.go
  go.sum
  pkg/filter/expr_filter.go
Due: cdc, dm

fix
  dm/pkg/schema/tracker_test.go
Due: dm

*: update tidb version (#10888)
  cdc/model/schema_storage_test.go
  dm/loader/lightning.go
  dm/syncer/ddl.go
  go.mod
  go.sum
  pkg/sink/codec/simple/encoder_test.go
Due: cdc, dm

codec (ticdc): cherry pick TestConfig4Simple
  pkg/sink/codec/common/config_test.go
Due: cdc

tests (ticdc): cherry pick simple protocol integration test cases
  tests/integration_tests/kafka_simple_basic/conf/changefeed.toml
  tests/integration_tests/kafka_simple_basic/conf/diff_config.toml
  tests/integration_tests/kafka_simple_basic/data/data.sql
  tests/integration_tests/kafka_simple_basic/data/data_gbk.sql
  tests/integration_tests/kafka_simple_basic/data/pre_ddl.sql
  tests/integration_tests/kafka_simple_basic/run.sh
  tests/integration_tests/kafka_simple_basic_avro/conf/changefeed.toml
  tests/integration_tests/kafka_simple_basic_avro/conf/diff_config.toml
  tests/integration_tests/kafka_simple_basic_avro/data/data.sql
  tests/integration_tests/kafka_simple_basic_avro/data/data_gbk.sql
  tests/integration_tests/kafka_simple_basic_avro/run.sh
  tests/integration_tests/kafka_simple_claim_check/conf/changefeed.toml
  tests/integration_tests/kafka_simple_claim_check/conf/diff_config.toml
  tests/integration_tests/kafka_simple_claim_check/data/data.sql
  tests/integration_tests/kafka_simple_claim_check/data/ddl.sql
  tests/integration_tests/kafka_simple_claim_check/run.sh
  tests/integration_tests/kafka_simple_claim_check_avro/conf/changefeed.toml
  tests/integration_tests/kafka_simple_claim_check_avro/conf/diff_config.toml
  tests/integration_tests/kafka_simple_claim_check_avro/data/data.sql
  tests/integration_tests/kafka_simple_claim_check_avro/data/ddl.sql
  tests/integration_tests/kafka_simple_claim_check_avro/run.sh
  tests/integration_tests/kafka_simple_handle_key_only/conf/changefeed.toml
  tests/integration_tests/kafka_simple_handle_key_only/conf/diff_config.toml
  tests/integration_tests/kafka_simple_handle_key_only/data/data.sql
  tests/integration_tests/kafka_simple_handle_key_only/data/ddl.sql
  tests/integration_tests/kafka_simple_handle_key_only/run.sh
  tests/integration_tests/kafka_simple_handle_key_only_avro/conf/changefeed.toml
  tests/integration_tests/kafka_simple_handle_key_only_avro/conf/diff_config.toml
  tests/integration_tests/kafka_simple_handle_key_only_avro/data/data.sql
  tests/integration_tests/kafka_simple_handle_key_only_avro/data/ddl.sql
  tests/integration_tests/kafka_simple_handle_key_only_avro/run.sh
Due: none

fix
  dm/pkg/schema/tracker.go
Due: dm

mounter(ticdc): default value convert to the correct data type (#10804) (#10828)
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
Due: cdc

fix more tests
  pkg/sqlmodel/row_change_test.go
Due: cdc

fix
  pkg/migrate/migrate_test.go
  pkg/pdutil/api_client_test.go
Due: cdc

try fix
  cmd/cdc/main.go
Due: cdc

revert something
  cmd/cdc/main.go
Due: cdc

tests (ticdc): fix simple protorol integration tests
  cdc/entry/mounter_test.go
  cmd/kafka-consumer/main.go
  pkg/config/large_message.go
  pkg/sink/codec/avro/decoder.go
  pkg/sink/codec/avro/decoder_test.go
  pkg/sink/codec/builder/encoder_builder.go
  pkg/sink/codec/common/config.go
  pkg/sink/codec/common/message.go
  pkg/sink/codec/simple/decoder.go
  pkg/sink/codec/simple/encoder.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
  tests/integration_tests/_utils/run_kafka_consumer
  tests/integration_tests/kafka_simple_basic/run.sh
  tests/integration_tests/kafka_simple_basic_avro/run.sh
  tests/integration_tests/kafka_simple_claim_check/run.sh
  tests/integration_tests/kafka_simple_claim_check_avro/run.sh
  tests/integration_tests/kafka_simple_handle_key_only/run.sh
  tests/integration_tests/kafka_simple_handle_key_only_avro/run.sh
Due: cdc

tests (ticdc): fix kafka big message integration tests
  cmd/kafka-consumer/main.go
Due: cdc

This is an automated cherry-pick of #10804
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
  cdc/entry/schema_test.go
Due: cdc

remove useless method.
  cdc/entry/mounter_test.go
  cdc/entry/schema_test.go
Due: cdc

fix test build.
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
Due: cdc

use errgroup to control grpc stream.
  cdc/kv/shared_stream.go
Due: cdc

fix big txn integration test.
  tests/integration_tests/kafka_big_txn_v2/run.sh
Due: none

use atomic bool to control close the grpc stream once
  cdc/kv/sharedconn/conn_and_client.go
Due: cdc

remove set nil.
  cdc/kv/sharedconn/conn_and_client.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
