Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

This is an automated cherry-pick of #11869
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_storage.go
Due: cdc

schema storage: remove `schemaVersion` in schema storage
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_storage.go
Due: cdc

snapshot.go: resolve conflicts
  cdc/entry/schema/snapshot.go
Due: cdc

fix
  cdc/entry/schema_storage.go
  cdc/puller/ddl_puller.go
  tests/integration_tests/ddl_with_exists/conf/diff_config.toml
  tests/integration_tests/ddl_with_exists/run.sh
  tests/integration_tests/ddl_with_exists/test.go
  tests/integration_tests/run_group.sh
Due: cdc

disable test
  tests/integration_tests/ddl_with_exists/run.sh
Due: none

debug ddl with exists
  tests/integration_tests/ddl_with_exists/conf/diff_config.toml
  tests/integration_tests/ddl_with_exists/run.sh
  tests/integration_tests/ddl_with_exists/test.go
Due: none

ddl(ticdc): ignore ddl with schemaversion 0 (#11856)
  cdc/entry/schema_storage.go
  cdc/puller/ddl_puller.go
  tests/integration_tests/ddl_with_exists/conf/diff_config.toml
  tests/integration_tests/ddl_with_exists/run.sh
  tests/integration_tests/ddl_with_exists/test.go
  tests/integration_tests/run_group.sh
Due: cdc

only enable ddl_with_exists to accelerate debug
  tests/integration_tests/run_group.sh
Due: none

schemaStorage(ticdc): remove `schemaVersion` in `schemaStorage` (#11869) (#11918)
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_storage.go
Due: cdc

test in github action
  .github/workflows/it_ticdc.yaml
Due: none

fix
  .github/workflows/debug-ddl.yaml
Due: none

fix fmt
  cdc/entry/schema_storage.go
  tests/integration_tests/ddl_with_exists/run.sh
Due: cdc

fix pulsar
  tests/integration_tests/ddl_with_exists/run.sh
Due: none

ddl(ticdc): ignore ddl with schemaversion 0 (#11856) (#11923)
  cdc/entry/schema_storage.go
  cdc/puller/ddl_puller.go
  tests/integration_tests/ddl_with_exists/conf/diff_config.toml
  tests/integration_tests/ddl_with_exists/run.sh
  tests/integration_tests/ddl_with_exists/test.go
  tests/integration_tests/run_group.sh
Due: cdc

Revert "schemaStorage(ticdc): remove `schemaVersion` in `schemaStorage` (#11869)"
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_storage.go
Due: cdc

*: upgrade tidb
  go.mod
  go.sum
Due: none

ddl_puller.go: resolve conflicts
  cdc/puller/ddl_puller.go
Due: cdc

dm: resolve conflicts
  dm/checker/checker.go
Due: dm

dm: fix integration test in rocky8.9 (#11751)
  dm/tests/_utils/run_downstream_cluster
  dm/tests/_utils/run_sql
  dm/tests/many_tables/run.sh
  dm/tests/requirements.txt
  dm/tests/tls/run.sh
Due: dm

fix simple protocol loss data
  cmd/kafka-consumer/writer.go
Due: cdc

dm: fix integration test in rocky8.9 (#11751) (#11924)
  dm/tests/_utils/run_downstream_cluster
  dm/tests/_utils/run_sql
  dm/tests/many_tables/run.sh
  dm/tests/requirements.txt
  dm/tests/tls/run.sh
Due: dm

also print ignored column
  cmd/kafka-consumer/writer.go
Due: cdc

ddl(ticdc): support restoring add index statements with pre-split option
  cdc/owner/ddl_sink_test.go
  go.mod
  go.sum
Due: cdc

sort events
  cmd/kafka-consumer/event_group.go
Due: cdc

upgrade sqlsmith
  go.mod
  go.sum
Due: none

refactor
  cdc/kv/shared_stream.go
Due: cdc

small fix
  cdc/kv/shared_stream.go
Due: cdc

distiguish error return by checkStoreVersion
  cdc/kv/shared_stream.go
Due: cdc

puller: fix retry logic when check store version failed (#11903)
  cdc/kv/shared_client.go
  cdc/kv/shared_client_test.go
  cdc/kv/shared_stream.go
  pkg/version/check.go
Due: cdc

This is an automated cherry-pick of #11903
  cdc/kv/shared_client.go
  cdc/kv/shared_client_test.go
  cdc/kv/shared_stream.go
  pkg/version/check.go
Due: cdc

test wip
  cdc/kv/client_mock_test.go
  cdc/kv/shared_client_test.go
Due: cdc

test wip
  cdc/kv/shared_client_test.go
Due: cdc
