Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

This is an automated cherry-pick of #11023
  scripts/download-integration-test-binaries.sh
Due: none

test(ticdc): enable sequence test (#11023) (#11038)
  scripts/download-integration-test-binaries.sh
Due: none

ticdc: fix detecting kafka version (#11048) (#11136)
  pkg/sink/kafka/options.go
  pkg/sink/kafka/sarama.go
  pkg/sink/kafka/sarama_factory_test.go
Due: cdc

fix some make error.
  pkg/diff/checkpoint_test.go
  pkg/diff/chunk_test.go
  pkg/diff/diff.go
  pkg/diff/spliter_test.go
  pkg/importer/parser.go
  pkg/importer/rand.go
Due: cdc

test(ticdc): Add more test cases (#11068)
  tests/integration_tests/api_v2/cases.go
Due: none

puller(cdc): more tests and logs for frontier and kv-client (#10333)
  cdc/kv/client.go
  cdc/kv/region_state.go
  cdc/kv/region_worker.go
  cdc/kv/regionlock/region_range_lock.go
  cdc/kv/regionlock/region_range_lock_test.go
  cdc/kv/shared_client.go
  cdc/kv/shared_region_worker.go
  cdc/puller/frontier/frontier_test.go
  pkg/spanz/convert.go
  pkg/spanz/convert_test.go
Due: cdc

kv-client(cdc): introduce a more simple frontier (#10506)
  cdc/kv/client.go
  cdc/kv/region_state.go
  cdc/kv/region_worker_test.go
  cdc/kv/regionlock/region_range_lock.go
  cdc/kv/regionlock/region_range_lock_test.go
  cdc/kv/shared_client.go
  cdc/kv/shared_client_test.go
  cdc/kv/shared_region_worker.go
  cdc/kv/shared_region_worker_test.go
  pkg/cmd/server/server_test.go
  pkg/config/config_test_data.go
  pkg/config/kvclient.go
  pkg/config/server_config.go
Due: cdc

fix some check error.
  pkg/diff/checkpoint.go
  pkg/diff/chunk.go
  pkg/diff/chunk_test.go
  pkg/diff/diff.go
  pkg/diff/diff_test.go
  pkg/diff/spliter_test.go
  pkg/importer/data.go
  pkg/importer/db.go
  pkg/importer/job.go
  pkg/importer/parser.go
Due: cdc

update linter configuration.
  .golangci.yml
Due: none

fix sequence test
  scripts/download-integration-test-binaries.sh
Due: none

fix some check error.
  pkg/diff/chunk_test.go
Due: cdc

fix
  cdc/puller/frontier/frontier_test.go
Due: cdc

remove some useless code.
  pkg/diff/checkpoint.go
  pkg/diff/checkpoint_test.go
  pkg/diff/chunk_test.go
  pkg/diff/diff.go
  pkg/diff/diff_test.go
  pkg/diff/util.go
Due: cdc

redo(ticdc): enable pprof and set memory limit for redo applier (#10904) (#10995)
  cdc/redo/reader/reader.go
  pkg/cmd/redo/apply.go
  pkg/util/memory.go
Due: cdc

remove some useless code.
  pkg/diff/checkpoint.go
  pkg/diff/checkpoint_test.go
Due: cdc

fix
  cdc/kv/shared_client_test.go
  cdc/kv/shared_region_worker_test.go
Due: cdc

fix the consumer
  cmd/kafka-consumer/main.go
  pkg/sink/codec/simple/decoder.go
Due: cdc

remove controller module
  cdc/api/middleware/middleware.go
  cdc/api/status/status.go
  cdc/api/util.go
  cdc/api/v1/api.go
  cdc/api/v1/api_test.go
  cdc/api/v1/validator.go
  cdc/api/v2/api.go
  cdc/api/v2/api_helpers.go
  cdc/api/v2/api_helpers_mock.go
  cdc/api/v2/api_helpers_test.go
  cdc/api/v2/capture.go
  cdc/api/v2/changefeed.go
  cdc/api/v2/health.go
  cdc/api/v2/owner.go
  cdc/api/v2/owner_test.go
  cdc/api/v2/processor.go
  cdc/api/v2/status.go
  cdc/capture/capture.go
  cdc/capture/mock/capture_mock.go
  cdc/controller/controller.go
  cdc/controller/controller_test.go
  cdc/controller/mock/controller_mock.go
  cdc/controller/query.go
  cdc/owner/mock/owner_mock.go
  cdc/owner/mock/status_provider_mock.go
  cdc/owner/owner.go
  cdc/owner/owner_test.go
  cdc/owner/status_provider.go
  cdc/server/server.go
  cdcv2/capture/capture.go
  cdcv2/controller/controller.go
  cdcv2/owner/owner.go
  pkg/orchestrator/etcd_worker.go
  pkg/util/identity.go
  scripts/generate-mock.sh
Due: cdc

kv-client(cdc): introduce a more simple frontier (#10506) (#11152)
  cdc/kv/client.go
  cdc/kv/region_state.go
  cdc/kv/region_worker.go
  cdc/kv/region_worker_test.go
  cdc/kv/regionlock/region_range_lock.go
  cdc/kv/regionlock/region_range_lock_test.go
  cdc/kv/shared_client.go
  cdc/kv/shared_client_test.go
  cdc/kv/shared_region_worker.go
  cdc/kv/shared_region_worker_test.go
  pkg/cmd/server/server_test.go
  pkg/config/config_test_data.go
  pkg/config/kvclient.go
  pkg/config/server_config.go
  pkg/spanz/convert.go
  pkg/spanz/convert_test.go
Due: cdc

dep(*): move diff package to the tiflow and get rid of the tidb-tools (#11164)
  .golangci.yml
  dm/chaos/cases/diff.go
  dm/pkg/conn/db.go
  engine/chaos/cases/dm/case.go
  go.mod
  go.sum
  pkg/diff/README.md
  pkg/diff/checkpoint.go
  pkg/diff/checkpoint_test.go
  pkg/diff/chunk.go
  pkg/diff/chunk_test.go
  pkg/diff/diff.go
  pkg/diff/diff_test.go
  pkg/diff/merge.go
  pkg/diff/merge_test.go
  pkg/diff/spliter_test.go
  pkg/diff/util.go
  pkg/diff/util_test.go
  pkg/importer/config.go
  pkg/importer/data.go
  pkg/importer/db.go
  pkg/importer/importer.go
  pkg/importer/job.go
  pkg/importer/parser.go
  pkg/importer/rand.go
  tests/integration_tests/util/db.go
Due: cdc, dm, engine

This is an automated cherry-pick of #11164
  .golangci.yml
  dm/chaos/cases/diff.go
  dm/pkg/conn/db.go
  engine/chaos/cases/dm/case.go
  go.mod
  go.sum
  pkg/diff/README.md
  pkg/diff/checkpoint.go
  pkg/diff/checkpoint_test.go
  pkg/diff/chunk.go
  pkg/diff/chunk_test.go
  pkg/diff/diff.go
  pkg/diff/diff_test.go
  pkg/diff/merge.go
  pkg/diff/merge_test.go
  pkg/diff/spliter_test.go
  pkg/diff/util.go
  pkg/diff/util_test.go
  pkg/importer/config.go
  pkg/importer/data.go
  pkg/importer/db.go
  pkg/importer/importer.go
  pkg/importer/job.go
  pkg/importer/parser.go
  pkg/importer/rand.go
  tests/integration_tests/util/db.go
Due: cdc, dm, engine

Update OWNERS file
  OWNERS
Due: none

add a test
  pkg/errorutil/util_test.go
Due: cdc

add create table err without primary key as non retryable
  pkg/errorutil/util.go
Due: cdc

cdc: adjust sorter options to avoid Seek CPU usage exploding (#11099) (#11134)
  cdc/processor/sourcemanager/engine/pebble/db.go
  pkg/cmd/server/server_test.go
  pkg/config/config_test_data.go
  pkg/config/db.go
  pkg/config/server_config.go
  pkg/spanz/hash_map.go
Due: cdc

fix some conflicts.
  .golangci.yml
  go.mod
  go.sum
Due: none

This is an automated cherry-pick of #11122
  cmd/tiflow/main.go
  dm/ctl/common/util.go
  dm/master/election.go
  dm/master/etcd.go
  dm/master/metrics/metrics.go
  dm/master/server.go
  dm/master/server_test.go
  dm/master/workerrpc/rawgrpc.go
  dm/pkg/checker/mysql_server.go
  dm/pkg/checker/utils.go
  dm/pkg/utils/common.go
  dm/tests/_dmctl_tools/check_master_http_apis.go
  dm/tests/_dmctl_tools/check_master_online.go
  dm/tests/_dmctl_tools/check_master_online_http.go
  dm/tests/_dmctl_tools/check_worker_online.go
  dm/tests/many_tables/run.sh
  dm/worker/join.go
  dm/worker/metrics.go
  dm/worker/server.go
  engine/jobmaster/dm/checkpoint/agent.go
  go.mod
  go.sum
  pkg/errors/helper.go
  pkg/errors/helper_test.go
Due: cdc, dm, engine

fix all confilicts, get rid of the tidb-tools.
  dm/checker/checker.go
  dm/config/task.go
  dm/loader/lightning.go
  dm/loader/lightning_test.go
  dm/pkg/checker/lightning.go
  dm/pkg/checker/lightning_test.go
  dm/pkg/checker/table_structure.go
  dm/pkg/log/log.go
  dm/pkg/log/log_test.go
  dm/pkg/utils/common.go
  dm/syncer/expr_filter_group.go
  dm/syncer/validator_cond_test.go
  dm/tests/_dmctl_tools/check_master_http_apis.go
  dm/tests/_dmctl_tools/check_master_online.go
  dm/tests/_dmctl_tools/check_master_online_http.go
  dm/tests/_dmctl_tools/check_worker_online.go
  dm/unit/unit_test.go
  go.mod
  go.sum
  pkg/diff/diff.go
  pkg/diff/diff_test.go
  pkg/diff/merge_test.go
  pkg/diff/spliter_test.go
  pkg/diff/util_test.go
  pkg/filter/expr_filter.go
  pkg/filter/expr_filter_test.go
  pkg/sink/codec/csv/csv_decoder.go
Due: cdc, dm

fix some conflicts.
  dm/master/server.go
  dm/unit/unit_test.go
Due: dm

fix some conflicts.
  dm/checker/checker.go
  dm/loader/lightning.go
  dm/loader/lightning_test.go
  dm/pkg/utils/common.go
  dm/syncer/validator_cond_test.go
  dm/tests/_dmctl_tools/check_master_http_apis.go
  dm/tests/_dmctl_tools/check_master_online.go
  dm/tests/_dmctl_tools/check_master_online_http.go
  dm/tests/_dmctl_tools/check_worker_online.go
  dm/unit/unit_test.go
  pkg/diff/spliter_test.go
  pkg/filter/expr_filter.go
  pkg/filter/expr_filter_test.go
Due: cdc, dm

OWNERS: Auto Sync OWNERS files from community membership (#10840) (#11170)
  OWNERS
Due: none

sink(ticdc): quick fail on create table error without primary key when downstream sql_require_primary_key is set (#11144) (#11150)
  pkg/errorutil/util.go
  pkg/errorutil/util_test.go
Due: cdc

fix conflict
  pkg/errorutil/util.go
  pkg/errorutil/util_test.go
Due: cdc

OWNERS: Auto Sync OWNERS files from community membership (#10840) (#11169)
  OWNERS
Due: none

fix
  pkg/errorutil/util.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
