Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

Add test case
  dm/tests/tls/conf/dm-task-3.yaml
  dm/tests/tls/run.sh
Due: dm

Load TLS Context after validating config
  dm/ctl/master/start_task.go
Due: dm

flush ddl immediately, and flush each partition individually.
  cmd/kafka-consumer/writer.go
Due: cdc

fix the table id
  pkg/sink/codec/simple/message.go
Due: cdc

add more logs to help debug
  cmd/kafka-consumer/writer.go
Due: cdc

codec(ticdc): simple protocol set table id by using the physical table id (#11845) (#11857)
  cdc/entry/schema_test_helper.go
  cdc/model/sink.go
  pkg/sink/codec/canal/canal_json_row_event_encoder_test.go
  pkg/sink/codec/open/open_protocol_encoder_test.go
  pkg/sink/codec/simple/avro.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
Due: cdc

also print the message type out.
  cmd/kafka-consumer/writer.go
Due: cdc

only flush by the first partition.
  cmd/kafka-consumer/writer.go
Due: cdc

always resolve event when meet ddl.
  cmd/kafka-consumer/writer.go
Due: cdc

Primary work to add a stand-alone load mode to DM. Load&Sync mode might not be needed anymore and could be depreciated in the future.
  dm/config/helper.go
  dm/config/helper_test.go
  dm/config/subtask.go
  dm/config/task.go
  dm/pkg/terror/error_list.go
  dm/worker/subtask.go
  engine/executor/dm/worker.go
  engine/jobmaster/dm/task_manager.go
  engine/jobmaster/dm/worker_manager.go
Due: dm, engine

Fix format.
  engine/jobmaster/dm/task_manager.go
Due: engine

Update error.txt
  dm/_utils/terror_gen/errors_release.txt
  dm/errors.toml
Due: dm

Add stand-alone load mode into openapi.
  dm/openapi/gen.client.go
  dm/openapi/gen.server.go
  dm/openapi/gen.types.go
  dm/openapi/spec/dm.yaml
Due: dm

One source for openapi test is enough.
  dm/tests/openapi/client/openapi_task_check
Due: dm

Typo fix.
  dm/tests/openapi/client/openapi_task_check
Due: dm

load and load&sync should not use subtask adjust.
  dm/config/subtask.go
Due: dm

Change task name for api check.
  dm/tests/openapi/run.sh
Due: dm

regen api.
  dm/openapi/gen.server.go
Due: dm

Correct taskmanager cause sync mode never finish.
  engine/jobmaster/dm/task_manager.go
Due: engine

Revert debug changes.
  dm/tests/openapi/run.sh
Due: dm

Rewrite load testing based on what we have already with dump.
  dm/tests/openapi/client/openapi_task_check
  dm/tests/openapi/run.sh
Due: dm

Add sync diff check for dump load task, and remove redundant single dump task.
  dm/tests/openapi/conf/diff_config_no_shard_one_source.toml
  dm/tests/openapi/run.sh
Due: dm

Dont do routings over target.
  dm/tests/openapi/client/openapi_task_check
  dm/tests/openapi/conf/diff_config_no_shard_one_source.toml
Due: dm

Fix fmt issue with gen.go's.
  dm/openapi/gen.client.go
  dm/openapi/gen.server.go
Due: dm

Revert changes done to engine for the moment.
  engine/jobmaster/dm/task_manager.go
  engine/jobmaster/dm/worker_manager.go
Due: engine

Fix openapi test case.
  dm/tests/openapi/client/openapi_task_check
Due: dm

Remove running check from dump step as well, and add openapi part.
  dm/tests/openapi/run.sh
Due: dm

Dont check the Running stage for load.
  dm/tests/openapi/run.sh
Due: dm

Regen api.
  dm/openapi/gen.server.go
Due: dm

revert flush ddl immediately.
  cmd/kafka-consumer/event_group.go
  cmd/kafka-consumer/writer.go
Due: cdc

add test
  dm/tests/_utils/run_downstream_cluster_with_tls
  dm/tests/openapi/client/openapi_task_check
  dm/tests/openapi/run.sh
  dm/tests/openapi/tls_conf/ca2.pem
  dm/tests/openapi/tls_conf/tidb.key
  dm/tests/openapi/tls_conf/tidb.pem
Due: dm

dm: fix start task check when both shard-mode and TLS are configured (#11843) (#11860)
  dm/ctl/master/start_task.go
  dm/tests/tls/conf/dm-task-3.yaml
  dm/tests/tls/run.sh
Due: dm

fix certificates
  dm/tests/openapi/tls_conf/ca2.pem
  dm/tests/openapi/tls_conf/tidb.key
  dm/tests/openapi/tls_conf/tidb.pem
Due: dm

tests(ticdc): fix bank test (#11407)
  cdc/owner/ddl_manager.go
  tests/integration_tests/bank/case.go
  tests/integration_tests/bank/run.sh
Due: cdc

snapshot(ticdc): fix the data race when log set to debug caused by print logs (#11830) (#11834)
  cdc/entry/schema/snapshot.go
Due: cdc
