Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

update
  cdc/sink/dmlsink/cloudstorage/cloud_storage_dml_sink_test.go
  cdc/sink/dmlsink/cloudstorage/dml_worker.go
Due: cdc

update
  cdc/sink/dmlsink/cloudstorage/cloud_storage_dml_sink_test.go
Due: cdc

fix tests.
  pkg/sink/codec/common/verify_checksum.go
Due: cdc

fix tests.
  pkg/sink/codec/avro/decoder.go
Due: cdc

Make UT TestGenerateTableSinkTaskWithBarrierTs more stable (#10770)
  cdc/entry/schema_storage.go
Due: cdc

add pulsar oauth2 integration tests
  tests/integration_tests/kv_client_stream_reconnect/run.sh
Due: none

fix region_merge integration test
  tests/integration_tests/cdc/run.sh
  tests/integration_tests/split_region/run.sh
Due: none

disable bootstrap.
  tests/integration_tests/kafka_simple_handle_key_only/conf/changefeed.toml
  tests/integration_tests/kafka_simple_handle_key_only_avro/conf/changefeed.toml
Due: none

adjust comment for test
  pkg/causality/internal/node_test.go
Due: cdc

sink-to-mysql(cdc) simplify conflict detector, prevent workload skew issue
  pkg/causality/conflict_detector.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots_test.go
Due: cdc

format code
  pkg/causality/conflict_detector.go
Due: cdc

add assertion for unexpected cases
  pkg/causality/internal/node.go
Due: cdc

update go mod
  go.mod
  go.sum
Due: none

fix typo
  scripts/download-integration-test-binaries.sh
Due: none

update readme
  tests/integration_tests/README.md
Due: none

Update metrics/grafana/TiCDC-Monitor-Summary.json
  metrics/grafana/TiCDC-Monitor-Summary.json
Due: none

Update metrics/grafana/ticdc.json
  metrics/grafana/ticdc.json
Due: none

fix timezone.
  pkg/sink/codec/canal/canal_json_decoder.go
  pkg/sink/codec/common/helper.go
  pkg/sink/codec/open/open_protocol_decoder.go
  pkg/sink/codec/simple/decoder.go
Due: cdc

fix timezone.
  pkg/sink/codec/common/helper.go
Due: cdc

fix timezone.
  pkg/sink/codec/simple/message.go
  pkg/util/tz.go
Due: cdc

test
  cdc/kv/region_state.go
Due: cdc

fix timezone.
  pkg/sink/codec/simple/message.go
Due: cdc

fix resign owner cause capture restart bug
  cdc/capture/capture.go
Due: cdc

Update cdc/capture/capture.go
  cdc/capture/capture.go
Due: cdc

codec(ticdc): decoder verify timestap value checksum by using specified timezone and report error by panic (#10747)
  cdc/entry/mounter_test.go
  cmd/kafka-consumer/main.go
  deployments/ticdc/docker/kafka-consumer.Dockerfile
  examples/golang/avro-checksum-verification/go.mod
  examples/golang/avro-checksum-verification/go.sum
  examples/golang/avro-checksum-verification/main.go
  pkg/sink/codec/avro/decoder.go
  pkg/sink/codec/avro/decoder_test.go
  pkg/sink/codec/canal/canal_json_decoder.go
  pkg/sink/codec/common/helper.go
  pkg/sink/codec/common/verify_checksum.go
  pkg/sink/codec/simple/decoder.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
  pkg/sink/codec/utils/test_utils.go
  pkg/util/tz.go
  tests/integration_tests/kafka_simple_handle_key_only/conf/changefeed.toml
  tests/integration_tests/kafka_simple_handle_key_only/run.sh
  tests/integration_tests/kafka_simple_handle_key_only_avro/conf/changefeed.toml
  tests/integration_tests/kafka_simple_handle_key_only_avro/run.sh
Due: cdc

update
  cdc/server/server_test.go
Due: cdc

update
  cdc/owner/changefeed_test.go
Due: cdc

add relay test case
  dm/relay/local_reader.go
  dm/tests/mariadb_master_down_and_up/case.sh
  dm/tests/mariadb_master_down_and_up/conf/dm-worker1.toml
  dm/tests/mariadb_master_down_and_up/conf/source1_relay.yaml
  go.mod
  go.sum
Due: dm

remove comment
  dm/tests/mariadb_master_down_and_up/case.sh
Due: dm

go mod tidy
  go.sum
Due: none

add swagger gen back
  Makefile
  docs/swagger/docs.go
  docs/swagger/swagger.json
  docs/swagger/swagger.yaml
Due: none
