Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

fix test
  dm/pkg/dumpling/utils.go
Due: dm

Revert "codec(ticdc): canal-json encode table id (#11875)"
  pkg/sink/codec/canal/canal_json_message.go
  pkg/sink/codec/canal/canal_json_row_event_encoder.go
  pkg/sink/codec/canal/canal_json_row_event_encoder_test.go
  pkg/sink/codec/canal/canal_json_txn_event_decoder.go
  pkg/sink/codec/canal/canal_json_txn_event_decoder_test.go
Due: cdc

puller: close kvclient correctly when stopping a processor (#11957) (#11982)
  cdc/processor/processor.go
  cdc/processor/sourcemanager/manager.go
  cdc/puller/ddl_puller.go
  cdc/puller/multiplexing_puller.go
Due: cdc

add method
  pkg/sink/codec/canal/canal_json_message.go
Due: cdc

add test
  tests/integration_tests/debezium/sql/data_types.sql
  tests/integration_tests/debezium/sql/debezium/default_value_all_zero_time.sql
  tests/integration_tests/debezium/sql/debezium/default_value_generated.sql
  tests/integration_tests/debezium/sql/debezium/year_test.sql
Due: none

fix
  pkg/sink/codec/debezium/codec.go
  tests/integration_tests/debezium/sql/data_types.sql
  tests/integration_tests/debezium/sql/debezium/default_value_all_zero_time.sql
  tests/integration_tests/debezium/sql/debezium/default_value_generated.sql
  tests/integration_tests/debezium/sql/debezium/year_test.sql
Due: cdc

dm: add system table filter default for dump task (#11985)
  dm/dumpling/dumpling.go
  dm/dumpling/dumpling_test.go
  dm/pkg/dumpling/utils.go
  dm/tests/openapi/client/openapi_task_check
  dm/tests/openapi/run.sh
Due: dm

udate
  pkg/sink/codec/debezium/codec.go
Due: cdc

update
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/helper.go
  pkg/sink/codec/debezium/helper_test.go
Due: cdc

update
  pkg/sink/codec/debezium/helper.go
  pkg/sink/codec/debezium/helper_test.go
Due: cdc

fix ut
  pkg/sink/codec/canal/canal_json_row_event_encoder_test.go
Due: cdc

kafka(ticdc): sarama do not retry if produce message failed to prevent out of order (#11870) (#11961)
  pkg/logutil/log.go
  pkg/sink/kafka/sarama.go
Due: cdc

sink(ticdc): fix incorrect default value for the not null timestamp field in the Debezium protocol (#11976) (#11991)
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/helper.go
  pkg/sink/codec/debezium/helper_test.go
  tests/integration_tests/debezium/sql/data_types.sql
  tests/integration_tests/debezium/sql/debezium/default_value.sql
  tests/integration_tests/debezium/sql/debezium/default_value_all_zero_time.sql
  tests/integration_tests/debezium/sql/debezium/default_value_generated.sql
  tests/integration_tests/debezium/sql/debezium/year_test.sql
Due: cdc

update
  pkg/sink/codec/debezium/codec.go
Due: cdc

fix lint
  sync_diff_inspector/source/mysql_shard.go
  sync_diff_inspector/splitter/limit.go
Due: none

fix
  pkg/sink/codec/avro/avro.go
  tests/integration_tests/avro_basic/data/data.sql
Due: cdc

update
  tests/integration_tests/avro_basic/data/data.sql
  tests/integration_tests/avro_basic/run.sh
Due: none

sink(ticdc): fix incorrect default value for the not null timestamp field in the Debezium protocol (#11976) (#11990)
  pkg/sink/codec/debezium/codec.go
  tests/integration_tests/debezium/sql/data_types.sql
  tests/integration_tests/debezium/sql/debezium/default_value.sql
  tests/integration_tests/debezium/sql/debezium/default_value_all_zero_time.sql
  tests/integration_tests/debezium/sql/debezium/default_value_generated.sql
  tests/integration_tests/debezium/sql/debezium/year_test.sql
Due: cdc

fix error test
  sync_diff_inspector/report/report_test.go
  sync_diff_inspector/source/common/common_test.go
  sync_diff_inspector/source/source_test.go
  sync_diff_inspector/splitter/index_fields_test.go
  sync_diff_inspector/splitter/splitter_test.go
  sync_diff_inspector/utils/table.go
  sync_diff_inspector/utils/utils_test.go
Due: none

fix error test
  sync_diff_inspector/utils/table.go
Due: none

fix lint
  sync_diff_inspector/utils/table.go
Due: none

add AutoSyncInterval to etcd client
  pkg/etcd/client.go
Due: cdc

try to fix unstable test
  sync_diff_inspector/source/source_test.go
  sync_diff_inspector/utils/table.go
Due: none

config AutoSyncInterval to etcd client (#11996)
  pkg/etcd/client.go
Due: cdc

fix test
  sync_diff_inspector/utils/table.go
  sync_diff_inspector/utils/utils_test.go
Due: none

config AutoSyncInterval to etcd client (#11996) (#11999)
  pkg/etcd/client.go
Due: cdc

config AutoSyncInterval to etcd client (#11996) (#12001)
  pkg/etcd/client.go
Due: cdc

config AutoSyncInterval to etcd client (#11996) (#12002)
  pkg/etcd/client.go
Due: cdc

config AutoSyncInterval to etcd client (#11996) (#11998)
  pkg/etcd/client.go
Due: cdc

puller: close kvclient correctly when stopping a processor (#11957) (#11980)
  cdc/processor/processor.go
  cdc/processor/sourcemanager/manager.go
  cdc/puller/ddl_puller.go
  cdc/puller/multiplexing_puller.go
Due: cdc

fix unstable test
  sync_diff_inspector/source/chunks_iter.go
Due: none

fix cannot found partition
  pkg/sink/codec/canal/canal_json_message.go
  pkg/sink/codec/canal/canal_json_row_event_encoder_test.go
Due: cdc

add one ut to cover hash partition table scenario
  pkg/sink/codec/canal/canal_json_message.go
  pkg/sink/codec/canal/canal_json_row_event_encoder_test.go
Due: cdc

add test
  tests/integration_tests/avro_basic/data/data.sql
Due: none

codec(ticdc): Revert "codec(ticdc): canal-json encode table id (#11875)" (#11992)
  pkg/sink/codec/canal/canal_json_message.go
  pkg/sink/codec/canal/canal_json_row_event_encoder.go
  pkg/sink/codec/canal/canal_json_row_event_encoder_test.go
  pkg/sink/codec/canal/canal_json_txn_event_decoder.go
  pkg/sink/codec/canal/canal_json_txn_event_decoder_test.go
Due: cdc
