Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

enable integration tests for sync_diff_inspector
  Makefile
  sync_diff_inspector/tests/README.md
  sync_diff_inspector/tests/_utils/check_contains
  sync_diff_inspector/tests/_utils/check_contains_count
  sync_diff_inspector/tests/_utils/check_contains_regex
  sync_diff_inspector/tests/run.sh
  sync_diff_inspector/tests/sync_diff_inspector/checkpoint/config_base.toml
  sync_diff_inspector/tests/sync_diff_inspector/checkpoint/config_base_continous.toml
  sync_diff_inspector/tests/sync_diff_inspector/checkpoint/config_base_rand.toml
  sync_diff_inspector/tests/sync_diff_inspector/checkpoint/run.sh
  sync_diff_inspector/tests/sync_diff_inspector/config_base_mysql.toml
  sync_diff_inspector/tests/sync_diff_inspector/config_base_tidb.toml
  sync_diff_inspector/tests/sync_diff_inspector/expression/config.toml
  sync_diff_inspector/tests/sync_diff_inspector/expression/run.sh
  sync_diff_inspector/tests/sync_diff_inspector/json/config_base.toml
  sync_diff_inspector/tests/sync_diff_inspector/json/run.sh
  sync_diff_inspector/tests/sync_diff_inspector/run.sh
  sync_diff_inspector/tests/sync_diff_inspector/shard/config_base.toml
  sync_diff_inspector/tests/sync_diff_inspector/shard/config_router_1.toml
  sync_diff_inspector/tests/sync_diff_inspector/shard/config_router_2.toml
  sync_diff_inspector/tests/sync_diff_inspector/shard/config_router_3.toml
  sync_diff_inspector/tests/sync_diff_inspector/shard/config_router_4.toml
  sync_diff_inspector/tests/sync_diff_inspector/shard/config_router_5.toml
  sync_diff_inspector/tests/sync_diff_inspector/shard/run.sh
  sync_diff_inspector/tests/sync_diff_inspector/snapshot/config_base.toml
  sync_diff_inspector/tests/sync_diff_inspector/snapshot/run.sh
  sync_diff_inspector/tests/sync_diff_inspector/table_config/config.toml
  sync_diff_inspector/tests/sync_diff_inspector/table_config/run.sh
  sync_diff_inspector/tests/sync_diff_inspector/table_skip/config_base.toml
  sync_diff_inspector/tests/sync_diff_inspector/table_skip/config_router.toml
  sync_diff_inspector/tests/sync_diff_inspector/table_skip/run.sh
  sync_diff_inspector/tests/sync_diff_inspector/time_zone/config.toml
  sync_diff_inspector/tests/sync_diff_inspector/time_zone/run.sh
  sync_diff_inspector/tests/sync_diff_inspector/tls/config.toml
  sync_diff_inspector/tests/sync_diff_inspector/tls/run.sh
Due: none

change to snake case
  Makefile
Due: none

sink(ticdc): fix incorrect `default` field (#12038) (#12050)
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
  pkg/sink/cloudstorage/table_definition.go
Due: cdc

resolve conflicts
  go.mod
  go.sum
Due: none

dm: fix start task check when both shard-mode and TLS are configured (#11843) (#11862)
  dm/ctl/master/start_task.go
  dm/tests/tls/conf/dm-task-3.yaml
  dm/tests/tls/run.sh
Due: dm

init
  cmd/kafka-consumer/writer.go
  pkg/errors/cdc_errors.go
  pkg/sink/codec/common/helper.go
  pkg/sink/codec/debezium/decoder.go
  pkg/sink/codec/simple/decoder.go
Due: cdc

add test
  cmd/kafka-consumer/writer.go
  pkg/sink/codec/debezium/decoder.go
  tests/integration_tests/debezium_basic/conf/diff_config.toml
  tests/integration_tests/debezium_basic/data/data.sql
  tests/integration_tests/debezium_basic/data/data_gbk.sql
  tests/integration_tests/debezium_basic/run.sh
  tests/integration_tests/run_group.sh
Due: cdc

fix decode value
  pkg/sink/codec/debezium/decoder.go
Due: cdc

fmt
  pkg/sink/codec/debezium/decoder.go
Due: cdc

fix
  pkg/sink/codec/debezium/decoder.go
Due: cdc

fmt
  tests/integration_tests/debezium_basic/run.sh
Due: none

lint
  pkg/sink/codec/common/helper.go
  pkg/sink/codec/debezium/decoder.go
Due: cdc

fix deocode nil value
  pkg/sink/codec/debezium/decoder.go
  tests/integration_tests/debezium_basic/run.sh
Due: cdc

revert value
  pkg/sink/codec/debezium/decoder.go
Due: cdc

feat(ticdc): prevent using the same TiDB cluster as both upstream and downstream
  cdc/api/v1/api.go
  cdc/api/v2/api_helpers.go
  cdc/api/v2/changefeed.go
  pkg/check/cluster.go
  pkg/errors/cdc_errors.go
Due: cdc

*: modify by make check
  cdc/api/v1/api.go
  cdc/api/v2/changefeed.go
  errors.toml
  pkg/check/cluster.go
Due: cdc

update notice
  pkg/sink/codec/debezium/decoder.go
Due: cdc

resolve conflict
  cdc/entry/schema_storage.go
  cdc/puller/ddl_puller.go
  tests/integration_tests/run_group.sh
Due: cdc

api: fix compatibility with old tidb cluster
  cdc/api/v1/api.go
  cdc/api/v2/changefeed.go
  pkg/check/cluster.go
Due: cdc

ddl(ticdc): ignore ddl with schemaversion 0 (#11856) (#12034)
  cdc/entry/schema_storage.go
  cdc/puller/ddl_puller.go
  tests/integration_tests/ddl_with_exists/conf/diff_config.toml
  tests/integration_tests/ddl_with_exists/run.sh
  tests/integration_tests/ddl_with_exists/test.go
  tests/integration_tests/run_group.sh
Due: cdc

check: fix non-mysql sink
  pkg/check/cluster.go
Due: cdc

gomod(dm): upgrade go-mysql to 1.9.1 (#11630) (#11717)
  dm/debug-tools/binlog-event-blackhole/fetcher.go
  go.mod
  go.sum
Due: dm

fix number precision
  pkg/sink/codec/debezium/decoder.go
Due: cdc

dm: fix leader did not retire after delete the key (#11604) (#11626)
  dm/pkg/election/election.go
  dm/pkg/election/election_test.go
Due: dm

check: add unit tests for cluster.go
  pkg/check/cluster.go
  pkg/check/cluster_test.go
Due: cdc

api v1: fix TestResumeChangefeed
  cdc/api/v1/api_test.go
Due: cdc

api v2: fix create, resume
  cdc/api/v1/api_test.go
  cdc/api/v2/changefeed_test.go
Due: cdc

api v2: fix TestUpdateChangefeed
  cdc/api/v2/changefeed.go
  cdc/api/v2/changefeed_test.go
Due: cdc

revert some changes
  Makefile
Due: none

check: fix by make check
  pkg/check/cluster.go
Due: cdc

check: refactor `GetClusterIDBySinkURIFn` var for test
  cdc/api/v1/api_test.go
  cdc/api/v2/changefeed_test.go
  pkg/check/cluster.go
  pkg/check/cluster_test.go
Due: cdc

feat(ticdc): prevent using the same TiDB cluster as both upstream and downstream (#12063)
  cdc/api/v1/api.go
  cdc/api/v1/api_test.go
  cdc/api/v2/api_helpers.go
  cdc/api/v2/changefeed.go
  cdc/api/v2/changefeed_test.go
  errors.toml
  pkg/check/cluster.go
  pkg/check/cluster_test.go
  pkg/errors/cdc_errors.go
Due: cdc

Update run_group.sh
  tests/integration_tests/run_group.sh
Due: none

remove 'tidb-tools' from repo
  dm/pkg/shardddl/optimism/lock_test.go
  dm/syncer/validate_worker.go
  sync_diff_inspector/tests/sync_diff_inspector/checkpoint/run.sh
  sync_diff_inspector/utils/table.go
Due: dm

fix failpoint
  sync_diff_inspector/tests/sync_diff_inspector/checkpoint/run.sh
Due: none

fix lint
  dm/syncer/validate_worker.go
Due: dm

remove ctx from the scheduler close method
  cdc/owner/changefeed.go
  cdc/owner/changefeed_test.go
  cdc/scheduler/internal/scheduler.go
  cdc/scheduler/internal/v3/coordinator.go
Due: cdc

adjust the log
  cdc/scheduler/internal/v3/replication/replication_manager.go
  cdc/scheduler/internal/v3/scheduler/scheduler_basic.go
Due: cdc

print log if checkpoint not advanced
  cdc/scheduler/internal/v3/coordinator.go
  cdc/scheduler/internal/v3/replication/replication_manager.go
Due: cdc

update
  cmd/kafka-consumer/writer.go
  pkg/errors/cdc_errors.go
  pkg/sink/codec/common/helper.go
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/decoder.go
  pkg/sink/codec/debezium/helper.go
  pkg/sink/codec/simple/decoder.go
  tests/integration_tests/debezium_basic/run.sh
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
