Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

debug
  scripts/download-integration-test-binaries.sh
Due: none

dump task only check finished
  dm/tests/openapi/run.sh
Due: dm

only check task finished
  dm/tests/openapi/run.sh
Due: dm

Update download-integration-test-binaries.sh
  scripts/download-integration-test-binaries.sh
Due: none

fix
  dm/tests/openapi/run.sh
Due: dm

f
  .github/workflows/dm_binlog_999999.yaml
Due: none

ff
  .github/workflows/dm_binlog_999999.yaml
Due: none

fix
  .github/workflows/dm_binlog_999999.yaml
Due: none

f
  dm/syncer/__debug_bin4009620870
Due: dm

f
  .github/workflows/dm_binlog_999999.yaml
  dm/syncer/__debug_bin4009620870
Due: dm

puller: add ut case
  cdc/puller/ddl_puller.go
  cdc/puller/ddl_puller_test.go
Due: cdc

address comment
  .github/workflows/dm_binlog_999999.yaml
Due: none

sink(ticdc): limit encoder-concurrency to avoid crash (#11775)
  pkg/sink/codec/encoder_group.go
Due: cdc

Update encoder_group.go
  pkg/sink/codec/encoder_group.go
Due: cdc

debug: check tikv-server exit with error 2
  dm/tests/_utils/run_downstream_cluster
Due: dm

ddl puller(ticdc): Fix memory retention issue in ddlPullerImpl's PopFrontDDL method
  cdc/puller/ddl_puller.go
Due: cdc

debug: check tikv-server error 2
  dm/tests/_utils/run_downstream_cluster
Due: dm

sink(ticdc): limit encoder-concurrency to avoid crash (#11775) (#11792)
  pkg/sink/codec/encoder_group.go
Due: cdc

ddl: add `SplitQueries` function
  cdc/puller/ddl_util.go
Due: cdc

*: upgrade tidb to include fix (#11776)
  dm/pkg/parser/common_test.go
  go.mod
  go.sum
Due: dm

Updated sync_diff dependency
  scripts/download-integration-test-binaries.sh
Due: none

ddl_puller.go(ticdc): fix DDLs are ignored when schema versions are out of order (#11733)
  cdc/puller/ddl_puller.go
Due: cdc

Redact query arguments in dm log (#11783)
  dm/syncer/dbconn/db.go
Due: dm

ticdc(redo, sink): return correct error in redo writer & fix default retryer (#11747)
  cdc/redo/writer/memory/encoding_worker.go
  cdc/redo/writer/memory/mem_log_writer_test.go
  pkg/redo/config.go
  pkg/sink/kafka/claimcheck/claim_check.go
  pkg/util/external_storage.go
Due: cdc

dm: handle the query in metadata from binlog (#11743)
  dm/pkg/dumpling/utils.go
  dm/pkg/dumpling/utils_test.go
Due: dm

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
