Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

refactor(CheckIsTiDB): remove returned error and modify the log output from error to warning
  cdc/sink/ddlsink/mysql/mysql_ddl_sink.go
  cdc/sink/dmlsink/txn/mysql/mysql.go
  cdc/syncpointstore/mysql_syncpoint_store.go
  pkg/sink/mysql/db_helper.go
  pkg/sink/observer/observer.go
Due: cdc

update
  pkg/sink/kafka/factory.go
Due: cdc

.
  pkg/sink/kafka/factory.go
Due: cdc

,
  pkg/sink/kafka/factory.go
Due: cdc

parser(dm): support ALTER DATABASE default database (#11504)
  dm/pkg/parser/common.go
  dm/pkg/parser/common_test.go
Due: dm

update
  cdc/sink/dmlsink/mq/worker.go
  pkg/sink/kafka/factory.go
Due: cdc

add dep
  pkg/sink/codec/canal/canal_entry.go
  pkg/sink/codec/craft/message_decoder.go
  pkg/sink/codec/craft/message_encoder.go
  pkg/sink/codec/internal/column.go
  pkg/sink/codec/maxwell/maxwell_message.go
Due: cdc

docs(integration test): change the operation for downloading related packages for the official recommended integration test to `make prepare_test_binaries`
  tests/integration_tests/README.md
Due: none

docs(integration tests): refine the description of the instructinos related to downloading packages.
  tests/integration_tests/README.md
Due: none

update
  cdc/server/server.go
  cdc/sink/util/vector.go
Due: cdc

docs(integration_tests): add an explanation about potential incompatibility issues
  tests/integration_tests/README.md
Due: none

add ddl executed count metric
  cdc/sink/metrics/metrics.go
  cdc/sink/metrics/statistics.go
Due: cdc

fix(integration test): fix tar wildcard handling in download-integration-test-binaries.sh
  scripts/download-integration-test-binaries.sh
Due: none

update metrics.
  metrics/grafana/ticdc.json
Due: none

sink(ticdc): refactor the error handing in SinkConfig.applyParameterBySinkURI() (#11462)
  pkg/config/sink.go
Due: cdc

fix metrics
  metrics/grafana/ticdc.json
Due: none

fix metrics
  cdc/sink/ddlsink/mysql/mysql_ddl_sink.go
  metrics/grafana/ticdc.json
Due: cdc

use pool
  cdc/kv/shared_region_worker.go
  cdc/kv/shared_stream.go
Due: cdc

add chan metrics for puller and region worker & use pool for resolvedTs
  cdc/kv/metrics.go
  cdc/kv/shared_client.go
  cdc/kv/shared_region_worker.go
  cdc/kv/shared_region_worker_test.go
  cdc/kv/shared_stream.go
  cdc/kv/sharedconn/conn_and_client.go
  cdc/puller/metrics.go
  cdc/puller/multiplexing_puller.go
Due: cdc

fix metrics
  cdc/sink/metrics/statistics.go
Due: cdc

metrics(ticdc): fix ddl executed count metrics (#11510)
  cdc/sink/ddlsink/mysql/mysql_ddl_sink.go
  cdc/sink/metrics/metrics.go
  cdc/sink/metrics/statistics.go
  metrics/grafana/ticdc.json
Due: cdc

set y min to 0
  metrics/grafana/ticdc.json
Due: none

remove progress channel
  cdc/puller/multiplexing_puller.go
Due: cdc

revert some useless changes
  metrics/grafana/ticdc.json
Due: none

fix kv client receive and drop panel
  metrics/grafana/ticdc.json
Due: none

Revert "ticdc: Support `create table` ddl only appear in tidb_ddl_history instead of tidb_ddl_job table (#10907)"
  cdc/entry/mounter.go
  cdc/puller/ddl_puller.go
  pkg/spanz/span.go
  tests/integration_tests/batch_add_table/run.sh
  tests/integration_tests/multi_source/run.sh
Due: cdc

enable brd mode test
  tests/integration_tests/bdr_mode/run.sh
Due: none

fix(start_tidb_cluster): fix the error in shell parsing of the port
  tests/integration_tests/_utils/start_tidb_cluster_impl
  tests/integration_tests/_utils/test_prepare
Due: none

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
