Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

dm: fix update dml loss if binary column is primary key
  dm/syncer/dml.go
  dm/tests/shardddl1_1/conf/single-source-no-sharding.yaml
  dm/tests/shardddl1_1/run.sh
Due: dm

mysql (ticdc): add an error to ddl error black list (#10633)
  pkg/errorutil/util.go
  pkg/errorutil/util_test.go
Due: cdc

add tests
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
  cdc/scheduler/internal/v3/compat/compat.go
  pkg/sink/codec/simple/encoder.go
Due: cdc

fix panic.
  pkg/sink/codec/simple/decoder.go
Due: cdc

ticdc:Fix too much unnecessary log for lastSyncedTs (#10667) (#10683)
  cdc/owner/changefeed.go
Due: cdc

ticdc:Fix too much unnecessary log for lastSyncedTs (#10667) (#10684)
  cdc/owner/changefeed.go
Due: cdc

codec(ticdc): simple protocol decoder support cache message and return table info delayed events (#10677)
  cmd/kafka-consumer/main.go
  pkg/sink/codec/simple/decoder.go
Due: cdc

fix it
  dm/tests/many_tables/run.sh
Due: dm

dm: fix update dml loss if binary column is primary key (#10685)
  dm/syncer/dml.go
  dm/tests/many_tables/run.sh
  dm/tests/shardddl1_1/conf/single-source-no-sharding.yaml
  dm/tests/shardddl1_1/run.sh
Due: dm

Revert "config(ticdc): remove useless config variables (#10610)"
  pkg/cmd/server/server_test.go
  pkg/cmd/util/helper_test.go
  pkg/config/config_test_data.go
  pkg/config/server_config.go
  pkg/config/sorter.go
  tests/integration_tests/server_config_compatibility/conf/server.toml
Due: cdc

update
  pkg/cmd/server/server_test.go
  pkg/cmd/util/helper_test.go
  pkg/config/config_test_data.go
  pkg/config/server_config.go
  tests/integration_tests/server_config_compatibility/conf/server.toml
Due: cdc

update
  cdc/api/v2/model.go
  pkg/config/replica_config.go
Due: cdc

barrier(ticdc): fix wrong barrier ts under frequent ddl scenario (#10669)
  cdc/owner/ddl_manager.go
Due: cdc

remove a test
  tests/integration_tests/run_group.sh
Due: none

feat: use tini as the init process to solve zombie processes
  deployments/ticdc/docker/pulsar-integration-test.Dockerfile
Due: none

dm: fix update dml loss if binary column is primary key (#10685) (#10692)
  dm/syncer/dml.go
  dm/tests/many_tables/run.sh
  dm/tests/shardddl1_1/conf/single-source-no-sharding.yaml
  dm/tests/shardddl1_1/run.sh
Due: dm

update
  pkg/config/config_test_data.go
Due: cdc

add one more test
  cdc/entry/mounter_test.go
Due: cdc

add some log
  pkg/sink/codec/simple/message.go
Due: cdc

Revert "sink-to-mysql(cdc) simplify conflict detector, prevent workload skew issue (#10376)"
  pkg/causality/conflict_detector.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots_test.go
Due: cdc

fix.
  pkg/causality/internal/node.go
Due: cdc

[skip ci] Update OWNERS file
  OWNERS
Due: none

deps: replace 'sourcegraph.com/sourcegraph/appdash*' in go.mod
  go.mod
  go.sum
Due: none

OWNERS: Auto Sync OWNERS files from community membership (#10697)
  OWNERS
Due: none

dm: fix update dml loss if binary column is primary key (#10685) (#10699)
  dm/syncer/dml.go
  dm/tests/many_tables/run.sh
  dm/tests/shardddl1_1/conf/single-source-no-sharding.yaml
  dm/tests/shardddl1_1/run.sh
Due: dm

disable client auth
  pkg/config/server_config.go
Due: cdc

disable integration tests
  tests/integration_tests/cli_tls_with_auth/run.sh
  tests/integration_tests/http_api_tls_with_user_auth/run.sh
Due: none

split sync_status it to reduce ci time
  tests/integration_tests/run_group.sh
  tests/integration_tests/sync_status_with_redo/conf/changefeed-redo.toml
  tests/integration_tests/sync_status_with_redo/run.sh
Due: none

fix typo
  tests/integration_tests/synced_status_with_redo/conf/changefeed-redo.toml
  tests/integration_tests/synced_status_with_redo/run.sh
Due: none

change
  engine/executor/server.go
  engine/framework/registry/registry.go
  pkg/errorutil/util.go
  pkg/errorutil/util_test.go
Due: cdc, engine

update
  tests/integration_tests/synced_status/run.sh
Due: none

fix calculate checksum
  pkg/sink/codec/common/verify_checksum.go
  pkg/sink/codec/simple/message.go
  pkg/sink/codec/utils/test_utils.go
Due: cdc

fix calculate checksum
  pkg/causality/conflict_detector.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots_test.go
Due: cdc
