Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

fix tests
  tests/integration_tests/csv_storage_update_pk_clustered/conf/changefeed1.toml
  tests/integration_tests/csv_storage_update_pk_clustered/conf/changefeed2.toml
  tests/integration_tests/csv_storage_update_pk_clustered/conf/changefeed3.toml
  tests/integration_tests/csv_storage_update_pk_clustered/conf/changefeed4.toml
  tests/integration_tests/csv_storage_update_pk_clustered/result/changefeed3_pk.res
  tests/integration_tests/csv_storage_update_pk_clustered/result/changefeed3_uk.res
  tests/integration_tests/csv_storage_update_pk_clustered/result/changefeed4_pk.res
  tests/integration_tests/csv_storage_update_pk_clustered/result/changefeed4_uk.res
  tests/integration_tests/csv_storage_update_pk_clustered/run.sh
  tests/integration_tests/csv_storage_update_pk_nonclustered/conf/changefeed1.toml
  tests/integration_tests/csv_storage_update_pk_nonclustered/conf/changefeed2.toml
  tests/integration_tests/csv_storage_update_pk_nonclustered/conf/changefeed3.toml
  tests/integration_tests/csv_storage_update_pk_nonclustered/conf/changefeed4.toml
  tests/integration_tests/csv_storage_update_pk_nonclustered/result/changefeed3_pk.res
  tests/integration_tests/csv_storage_update_pk_nonclustered/result/changefeed3_uk.res
  tests/integration_tests/csv_storage_update_pk_nonclustered/result/changefeed4_pk.res
  tests/integration_tests/csv_storage_update_pk_nonclustered/result/changefeed4_uk.res
  tests/integration_tests/csv_storage_update_pk_nonclustered/run.sh
Due: none

pkg/config, sink(ticdc): support output raw change event for mq and cloud storage sink (#11226) (#11291)
  cdc/api/v2/model.go
  cdc/model/sink.go
  cdc/model/sink_test.go
  cdc/processor/sinkmanager/table_sink_wrapper_test.go
  cdc/sink/dmlsink/blackhole/black_hole_dml_sink.go
  cdc/sink/dmlsink/cloudstorage/cloud_storage_dml_sink.go
  cdc/sink/dmlsink/event.go
  cdc/sink/dmlsink/event_sink.go
  cdc/sink/dmlsink/mq/kafka_dml_sink.go
  cdc/sink/dmlsink/mq/mq_dml_sink.go
  cdc/sink/dmlsink/txn/txn_dml_sink.go
  cdc/sink/tablesink/table_sink_impl.go
  cdc/sink/tablesink/table_sink_impl_test.go
  docs/swagger/docs.go
  docs/swagger/swagger.json
  docs/swagger/swagger.yaml
  errors.toml
  pkg/config/sink.go
  pkg/errors/cdc_errors.go
  tests/integration_tests/csv_storage_update_pk_clustered/conf/changefeed1.toml
  tests/integration_tests/csv_storage_update_pk_clustered/conf/changefeed2.toml
  tests/integration_tests/csv_storage_update_pk_clustered/conf/diff_config.toml
  tests/integration_tests/csv_storage_update_pk_clustered/data/prepare.sql
  tests/integration_tests/csv_storage_update_pk_clustered/data/run.sql
  tests/integration_tests/csv_storage_update_pk_clustered/result/changefeed1_pk.res
  tests/integration_tests/csv_storage_update_pk_clustered/result/changefeed1_uk.res
  tests/integration_tests/csv_storage_update_pk_clustered/result/changefeed2_pk.res
  tests/integration_tests/csv_storage_update_pk_clustered/result/changefeed2_uk.res
  tests/integration_tests/csv_storage_update_pk_clustered/run.sh
  tests/integration_tests/csv_storage_update_pk_nonclustered/conf/changefeed1.toml
  tests/integration_tests/csv_storage_update_pk_nonclustered/conf/changefeed2.toml
  tests/integration_tests/csv_storage_update_pk_nonclustered/conf/diff_config.toml
  tests/integration_tests/csv_storage_update_pk_nonclustered/data/prepare.sql
  tests/integration_tests/csv_storage_update_pk_nonclustered/data/run.sql
  tests/integration_tests/csv_storage_update_pk_nonclustered/result/changefeed1_pk.res
  tests/integration_tests/csv_storage_update_pk_nonclustered/result/changefeed1_uk.res
  tests/integration_tests/csv_storage_update_pk_nonclustered/result/changefeed2_pk.res
  tests/integration_tests/csv_storage_update_pk_nonclustered/result/changefeed2_uk.res
  tests/integration_tests/csv_storage_update_pk_nonclustered/run.sh
  tests/integration_tests/run_group.sh
Due: cdc

pkg/causality(cdc): refactor and simplify conflict detector (#10954)
  cdc/sink/dmlsink/txn/event.go
  cdc/sink/dmlsink/txn/event_test.go
  pkg/causality/conflict_detector.go
  pkg/causality/internal/main_test.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots.go
  pkg/causality/internal/slots_test.go
  pkg/causality/tests/integration_test.go
  pkg/causality/tests/worker.go
  pkg/causality/txn_cache.go
  pkg/causality/txn_cache_test.go
Due: cdc

pkg/causality(cdc): refactor and simplify conflict detector (#10954) (#11274)
  cdc/sink/dmlsink/txn/event.go
  cdc/sink/dmlsink/txn/event_test.go
  pkg/causality/conflict_detector.go
  pkg/causality/internal/main_test.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots.go
  pkg/causality/internal/slots_test.go
  pkg/causality/tests/integration_test.go
  pkg/causality/tests/worker.go
  pkg/causality/txn_cache.go
  pkg/causality/txn_cache_test.go
Due: cdc

resolve conflict
  tests/integration_tests/run_group.sh
Due: none

resolve conflict
  cdc/api/v2/api_helpers.go
Due: cdc

resolve conflict
  cdc/api/v2/model.go
  cdc/api/v2/model_test.go
  cdc/owner/changefeed.go
  cdc/owner/ddl_manager.go
  cdc/owner/ddl_manager_test.go
  pkg/cmd/util/helper_test.go
  pkg/config/config_test_data.go
  pkg/config/replica_config.go
  pkg/config/sink.go
  pkg/orchestrator/reactor_state_test.go
Due: cdc

api (ticdc): check http request context in api helper (#11165) (#11397)
  cdc/api/v2/api_helpers.go
  cdc/api/v2/api_helpers_mock.go
  cdc/api/v2/changefeed.go
  cdc/api/v2/changefeed_test.go
Due: cdc

print endTs
  tests/integration_tests/bank/case.go
Due: none

resolve conflict
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_test.go
  cdc/entry/validator.go
  go.mod
  go.sum
  tests/integration_tests/http_api_tls/run.sh
Due: cdc

go mod tidy
  go.sum
Due: none

entry (ticdc): speed up schema snapshot initialization (#11217) (#11399)
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_test.go
  cdc/entry/validator.go
  go.mod
  go.sum
  tests/integration_tests/http_api_tls/run.sh
Due: cdc

processor: fix a bug that will cause processor Tick get stuck when downstream is Kafka (#11339) (#11388)
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sinkmanager/manager_test.go
  cdc/processor/sinkmanager/table_sink_wrapper.go
  cdc/processor/sinkmanager/table_sink_wrapper_test.go
  pkg/config/sink.go
  pkg/sink/kafka/sarama_factory.go
  tests/integration_tests/hang_sink_suicide/conf/changefeed.toml
  tests/integration_tests/hang_sink_suicide/conf/diff_config.toml
  tests/integration_tests/hang_sink_suicide/run.sh
  tests/integration_tests/run_group.sh
Due: cdc

fix ts
  cdc/owner/ddl_manager.go
  pkg/version/check.go
  tests/integration_tests/bank/case.go
  tests/integration_tests/bank/run.sh
Due: cdc

dep(*): update tidb to include DM SchemaTracker fix
  go.mod
  go.sum
Due: none

fix wrong parser
  go.mod
  go.sum
Due: none

fix sig change
  dm/pkg/schema/tracker.go
Due: dm

fix build
  dm/syncer/expr_filter_group.go
Due: dm

fix UT
  dm/syncer/expr_filter_group_test.go
Due: dm

dep(*): update tidb to include DM SchemaTracker fix (#11410)
  dm/pkg/schema/tracker.go
  dm/syncer/expr_filter_group.go
  dm/syncer/expr_filter_group_test.go
  go.mod
  go.sum
Due: dm

This is an automated cherry-pick of #11410
  dm/pkg/schema/tracker.go
  dm/syncer/expr_filter_group.go
  dm/syncer/expr_filter_group_test.go
  go.mod
  go.sum
Due: dm

fix partition resolved ts fallback
  cmd/kafka-consumer/writer.go
Due: cdc

dep(*): update tidb
  go.mod
  go.sum
Due: none

dep(*): update tidb to include DM SchemaTracker fix (#11414)
  go.mod
  go.sum
Due: none

simple (ticdc): support send all tables bootstrap message at changefeed start (#11239) (#11400)
  cdc/api/v2/model.go
  cdc/api/v2/model_test.go
  cdc/entry/schema_test_helper.go
  cdc/owner/changefeed.go
  cdc/owner/changefeed_test.go
  cdc/owner/ddl_manager.go
  cdc/owner/ddl_manager_test.go
  cdc/owner/ddl_sink.go
  pkg/cmd/util/helper_test.go
  pkg/config/config_test_data.go
  pkg/config/replica_config.go
  pkg/config/sink.go
  pkg/config/sink_test.go
  pkg/orchestrator/reactor_state_test.go
  tests/integration_tests/kafka_simple_basic/conf/changefeed.toml
Due: cdc

This is an automated cherry-pick of #10014
  cdc/api/v2/model.go
  cdc/api/v2/model_test.go
  cdc/model/changefeed.go
  cdc/model/schema_storage.go
  cdc/model/sink.go
  cdc/sink/dmlsink/mq/mq_dml_sink_test.go
  cdc/sink/dmlsink/mq/worker_test.go
  pkg/cmd/util/helper_test.go
  pkg/config/config_test_data.go
  pkg/config/replica_config.go
  pkg/config/replica_config_test.go
  pkg/config/sink.go
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/canal/canal_encoder.go
  pkg/sink/codec/canal/canal_encoder_test.go
  pkg/sink/codec/canal/canal_entry.go
  pkg/sink/codec/canal/canal_entry_test.go
  pkg/sink/codec/canal/canal_json_decoder.go
  pkg/sink/codec/canal/canal_json_decoder_test.go
  pkg/sink/codec/canal/canal_json_message.go
  pkg/sink/codec/canal/canal_json_row_event_encoder.go
  pkg/sink/codec/canal/canal_json_row_event_encoder_test.go
  pkg/sink/codec/canal/canal_json_txn_event_encoder.go
  pkg/sink/codec/canal/canal_json_txn_event_encoder_test.go
  pkg/sink/codec/canal/canal_test_util.go
  pkg/sink/codec/canal/type_test.go
  pkg/sink/codec/common/config.go
  pkg/sink/codec/common/config_test.go
  pkg/sink/codec/internal/java.go
  pkg/sink/codec/utils/field_types.go
  tests/integration_tests/canal_json_content_compatible/conf/diff_config.toml
  tests/integration_tests/canal_json_content_compatible/data/data.sql
  tests/integration_tests/canal_json_content_compatible/data/data_gbk.sql
  tests/integration_tests/canal_json_content_compatible/run.sh
  tests/integration_tests/run_group.sh
Due: cdc

resolve comments
  cdc/entry/mounter_test.go
  cdc/model/sink.go
Due: cdc

fix BuildTiDBTableInfo function
  cdc/entry/mounter_test.go
  cdc/model/sink.go
Due: cdc

fix some conflicts.
  pkg/config/replica_config.go
  pkg/sink/codec/canal/canal_encoder_test.go
  pkg/sink/codec/canal/canal_entry.go
  pkg/sink/codec/canal/canal_entry_test.go
  pkg/sink/codec/canal/canal_json_message.go
  pkg/sink/codec/canal/canal_json_row_event_encoder.go
  pkg/sink/codec/canal/canal_json_row_event_encoder_test.go
  pkg/sink/codec/canal/canal_json_txn_event_encoder_test.go
  pkg/sink/codec/common/config.go
  pkg/sink/codec/utils/field_types.go
  tests/integration_tests/run_group.sh
Due: cdc

fix import
  cdc/sink/dmlsink/mq/mq_dml_sink_test.go
  cdc/sink/dmlsink/mq/worker_test.go
  pkg/sink/codec/canal/canal_encoder_test.go
  pkg/sink/codec/canal/canal_entry.go
  pkg/sink/codec/canal/canal_entry_test.go
  pkg/sink/codec/canal/canal_json_message.go
  pkg/sink/codec/canal/canal_json_row_event_encoder.go
  pkg/sink/codec/canal/canal_json_row_event_encoder_test.go
  pkg/sink/codec/canal/canal_json_txn_event_encoder_test.go
  pkg/sink/codec/canal/canal_test_util.go
  pkg/sink/codec/utils/field_types.go
Due: cdc

fix ut
  cdc/entry/mounter_test.go
Due: cdc

fix import
  pkg/sink/codec/canal/canal_json_message.go
Due: cdc

fix import
  pkg/orchestrator/reactor_state_test.go
Due: cdc

mysql (ticdc): fix batch dml delete sql gennerate error (#9813) (#11416)
  cdc/entry/mounter_test.go
  cdc/model/sink.go
Due: cdc

adjust case
  tests/integration_tests/canal_json_basic/conf/diff_config.toml
  tests/integration_tests/canal_json_basic/run.sh
  tests/integration_tests/canal_json_content_compatible/conf/diff_config.toml
  tests/integration_tests/canal_json_content_compatible/run.sh
Due: none

remove some code.
  pkg/sink/codec/utils/field_types.go
  pkg/sink/codec/utils/mysql_types.go
Due: cdc

fix build
  pkg/sink/codec/utils/field_types.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
