Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

update condition
  cdc/scheduler/internal/v3/keyspan/splitter_write.go
Due: cdc

.
  cdc/scheduler/internal/v3/keyspan/splitter_write_test.go
Due: cdc

.
  cdc/scheduler/internal/v3/keyspan/splitter_write.go
Due: cdc

update
  cdc/scheduler/internal/v3/keyspan/splitter_write.go
Due: cdc

update test
  cdc/scheduler/internal/v3/keyspan/splitter_write.go
  cdc/scheduler/internal/v3/keyspan/splitter_write_test.go
Due: cdc

This is an automated cherry-pick of #11715
  cdc/scheduler/internal/v3/keyspan/splitter_write.go
  cdc/scheduler/internal/v3/keyspan/splitter_write_test.go
Due: cdc

.
  pkg/sink/codec/debezium/codec.go
  tests/integration_tests/debezium/sql/debezium/connector_test_ro.sql
  tests/integration_tests/debezium/sql/debezium/transaction_metadata_test.sql
Due: cdc

install tool by apt-get
  .github/workflows/dm_binlog_999999.yaml
Due: none

scheduler(ticdc): fix span loss bug when split regions (#11715) (#11724)
  cdc/scheduler/internal/v3/keyspan/splitter_write.go
  cdc/scheduler/internal/v3/keyspan/splitter_write_test.go
Due: cdc

processor: fix a bug that will cause processor Tick get stuck when downstream is Kafka (#11339) (#11387)
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sinkmanager/manager_test.go
  cdc/processor/sinkmanager/table_sink_wrapper.go
  cdc/processor/sinkmanager/table_sink_wrapper_test.go
  pkg/config/sink.go
  pkg/sink/kafka/sarama_factory.go
  tests/integration_tests/hang_sink_suicide/conf/changefeed.toml
  tests/integration_tests/hang_sink_suicide/conf/diff_config.toml
  tests/integration_tests/hang_sink_suicide/run.sh
  tests/integration_tests/run_group.sh
Due: cdc

use sudo
  .github/workflows/dm_binlog_999999.yaml
Due: none

trigger test
  .github/workflows/dm_binlog_999999.yaml
Due: none

scheduler(ticdc): fix span loss bug when split regions (#11715) (#11722)
  cdc/scheduler/internal/v3/keyspan/splitter_write.go
  cdc/scheduler/internal/v3/keyspan/splitter_write_test.go
Due: cdc

scheduler(ticdc): fix span loss bug when split regions (#11715) (#11721)
  cdc/scheduler/internal/v3/keyspan/splitter_write.go
  cdc/scheduler/internal/v3/keyspan/splitter_write_test.go
Due: cdc

scheduler(ticdc): fix span loss bug when split regions (#11715) (#11723)
  cdc/scheduler/internal/v3/keyspan/splitter_write.go
  cdc/scheduler/internal/v3/keyspan/splitter_write_test.go
Due: cdc

add unit test
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/helper.go
  pkg/sink/codec/debezium/helper_test.go
Due: cdc

remove generated column
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/helper.go
  tests/integration_tests/debezium/sql/debezium/default_value_generated.sql
Due: cdc

codec(ticdc): add more logs to the avro encoding to help detect potential key encoding failed issure (#10901) (#10999)
  pkg/sink/codec/avro/avro.go
Due: cdc

update go mod
  go.mod
  go.sum
Due: none

remove key
  cdc/entry/mounter.go
Due: cdc

fix unit test
  cdc/puller/ddl_puller_test.go
Due: cdc

update openapi task mode
  dm/openapi/gen.client.go
  dm/openapi/gen.server.go
  dm/openapi/gen.types.go
  dm/openapi/spec/dm.yaml
Due: dm

fix unit test
  go.mod
  go.sum
Due: none

Update helper.go
  pkg/sink/codec/common/helper.go
Due: cdc

Update avro_test.go
  pkg/sink/codec/avro/avro_test.go
Due: cdc

fix unit test
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/common/helper.go
Due: cdc

modify code
  pkg/sink/codec/debezium/codec.go
Due: cdc

add dump task test
  dm/tests/openapi/client/openapi_task_check
  dm/tests/openapi/run.sh
Due: dm

add more logs
  cdc/entry/mounter.go
  go.mod
  go.sum
Due: cdc

update ddl type
  pkg/sink/codec/debezium/codec.go
  tests/integration_tests/debezium/sql/ddl.sql
Due: cdc

remove log if matched
  cdc/entry/mounter.go
Due: cdc

mounter(ticdc): calculate raw bytes checksum by using handle (#11720)
  cdc/entry/mounter.go
  cdc/puller/ddl_puller_test.go
  go.mod
  go.sum
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/common/helper.go
Due: cdc

adjust a lot of logs about checksum
  cdc/entry/mounter.go
Due: cdc
