Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

change
  cdc/entry/mounter_test.go
  cdc/entry/schema_storage_test.go
  cdc/entry/schema_test_helper.go
  dm/pkg/conn/mockdb.go
  pkg/filter/filter_test_helper.go
Due: cdc, dm

edit
  examples/golang/avro-checksum-verification/go.mod
  go.mod
Due: none

debug
  tests/integration_tests/debezium/sql/debezium/regression_test.sql
  tests/integration_tests/debezium/src/test_cases.go
Due: none

This is an automated cherry-pick of #11584
  tests/integration_tests/kafka_simple_basic/data/data.sql
  tests/integration_tests/kafka_simple_basic_avro/data/data.sql
Due: none

return invalid topic expression in ErrKafkaInvalidTopicExpression
  cdc/sink/dmlsink/mq/dispatcher/topic/expression.go
  cdc/sink/dmlsink/mq/dispatcher/topic/expression_test.go
  pkg/errors/cdc_errors.go
Due: cdc

fix errdoc
  errors.toml
Due: none

Update replication_set.go
  cdc/scheduler/internal/v3/replication/replication_set.go
Due: cdc

fix test
  cdc/entry/mounter_test.go
  cdc/entry/schema_storage_test.go
  cdc/entry/schema_test.go
  cdc/entry/schema_test_helper.go
  cdc/owner/ddl_manager_test.go
  cdc/puller/ddl_puller_test.go
  dm/pkg/conn/mockdb.go
  pkg/election/storage_orm_test.go
  pkg/filter/filter_test_helper.go
Due: cdc, dm

Update pkg/election/storage_orm_test.go
  pkg/election/storage_orm_test.go
Due: cdc

change
  cdc/entry/schema_storage_test.go
  pkg/election/storage_orm_test.go
Due: cdc

Update OWNERS file
  OWNERS
Due: none

This is an automated cherry-pick of #11592
  OWNERS
Due: none

.
  tests/integration_tests/debezium/src/test_cases.go
Due: none

.
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/codec_test.go
  pkg/sink/codec/debezium/decoder.go
  pkg/sink/codec/debezium/message.go
Due: cdc

scheduler(ticdc): modify scheduler monitoring (#11567) (#11612)
  cdc/scheduler/internal/v3/replication/replication_set.go
Due: cdc

debug
  tests/integration_tests/debezium/src/test_cases.go
Due: none

address comment
  dm/pkg/election/election_test.go
Due: dm

change
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_storage.go
  cdc/entry/schema_test.go
  cdc/entry/schema_test_helper.go
  cdc/owner/ddl_manager_test.go
  cdc/puller/ddl_puller.go
  cdc/puller/ddl_puller_test.go
Due: cdc

metrics(ticdc): add kafka compression ratio description for grafana (#11348) (#11353)
  metrics/grafana/ticdc.json
Due: none

fix deps
  go.mod
  go.sum
Due: none

update
  cdc/sink/ddlsink/mysql/mysql_ddl_sink.go
Due: cdc

update
  errors.toml
Due: none

update sync_diff_inspector_url
  scripts/download-integration-test-binaries.sh
Due: none

cdc: use typed args for renametables and adapt args v2 (#11617)
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_storage.go
  cdc/entry/schema_test.go
  cdc/entry/schema_test_helper.go
  cdc/owner/ddl_manager_test.go
  cdc/puller/ddl_puller.go
  cdc/puller/ddl_puller_test.go
Due: cdc

fix
  cdc/processor/sourcemanager/engine/pebble/event_sorter.go
Due: cdc

fix
  cdc/model/sink.go
  pkg/sink/codec/avro/avro.go
  pkg/sink/codec/craft/model.go
  pkg/sink/codec/csv/csv_message.go
  pkg/sink/codec/debezium/codec.go
Due: cdc

fix
  cdc/model/sink.go
Due: cdc

fix(metrics): fix slowestTablePullerResolvedTsLag becomes -55 year because of uninitialized `CurrentTs`
  cdc/scheduler/internal/v3/coordinator.go
  cdc/scheduler/internal/v3/replication/replication_manager.go
Due: cdc

sorter: correct wrong metric about next duration (#11577) (#11581)
  cdc/processor/sourcemanager/engine/pebble/event_sorter.go
Due: cdc

refactor(metrics): refactor replication_manager.go to deprecate `Status.CurrentTs` which defined in table.pb.go
  cdc/scheduler/internal/v3/replication/replication_manager.go
Due: cdc

refactor(`tablepb.Stats`): refactor processor.go to deprecate `Status.CurrentTs` which defined in table.pb.go
  cdc/processor/processor.go
Due: cdc
