Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

update
  dm/chaos/cases/task.go
  dm/chaos/manifests/sources.yaml
Due: dm

update
  .github/workflows/dm_chaos.yaml
Due: none

update
  dm/chaos/manifests/dm-master.yaml
  dm/chaos/manifests/dm-worker.yaml
  dm/chaos/manifests/sources.yaml
  dm/chaos/manifests/tidb.yaml
Due: dm

update
  .github/workflows/dm_chaos.yaml
  dm/chaos/scripts/check-case.sh
Due: dm

update
  .github/workflows/dm_chaos.yaml
  dm/chaos/manifests/cases.yaml
  dm/chaos/scripts/check-case.sh
Due: dm

Revert all changes related to build
  .github/workflows/dm_binlog_999999.yaml
  Makefile
  dm/tests/README.md
Due: dm

Revert all changes related to build
  dm/tests/README.md
Due: dm

remove dep
  go.mod
  sync_diff_inspector/checkpoints/checkpoints.go
  sync_diff_inspector/diff/diff.go
Due: none

Fix unstable test
  sync_diff_inspector/source/chunks_iter.go
  sync_diff_inspector/splitter/bucket.go
  sync_diff_inspector/splitter/splitter.go
  sync_diff_inspector/splitter/splitter_test.go
Due: none

update
  pkg/sink/codec/common/helper.go
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/helper.go
  tests/integration_tests/debezium/sql/debezium/default_value.sql
  tests/integration_tests/debezium/src/test_cases.go
Due: cdc

update
  dm/chaos/cases/cases.go
Due: dm

chore: bump `github.com/golang/protobuf` from v1.5.3 to v1.5.4
  go.mod
  go.sum
Due: none

fix lint
  dm/pkg/parser/common_test.go
Due: dm

parser(dm): support ALTER DATABASE default database
  dm/pkg/parser/common.go
  dm/pkg/parser/common_test.go
Due: dm

This is an automated cherry-pick of #11465
  dm/pkg/schema/tracker.go
  dm/pkg/schema/tracker_test.go
Due: dm

This is an automated cherry-pick of #11410
  dm/pkg/schema/tracker.go
  dm/syncer/expr_filter_group.go
  dm/syncer/expr_filter_group_test.go
  go.mod
  go.sum
Due: dm

This is an automated cherry-pick of #11043
  dm/pkg/binlog/common/replication.go
  go.mod
  go.sum
Due: dm

sink(cdc): avoid temporary memory allocations for avro (#11637)
  cdc/model/sink.go
  pkg/sink/codec/avro/avro.go
Due: cdc

parser(dm): support ALTER DATABASE default database (#11504) (#11697)
  dm/pkg/parser/common.go
  dm/pkg/parser/common_test.go
Due: dm

dm: add retry for dm-worker to join dm-master
  dm/worker/join.go
Due: dm

update
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/helper.go
  tests/integration_tests/debezium/sql/debezium/default_value.sql
  tests/integration_tests/debezium/sql/debezium/default_value_all_zero_time.sql
  tests/integration_tests/debezium/sql/debezium/default_value_generated.sql
  tests/integration_tests/debezium/src/test_cases.go
Due: cdc

update
  cdc/redo/common/metric.go
Due: cdc

dm: add retry for dm-worker to join dm-master (#11701)
  dm/worker/join.go
Due: dm

update
  pkg/sink/codec/common/helper.go
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/helper.go
  tests/integration_tests/debezium/sql/debezium/default_value.sql
  tests/integration_tests/debezium/sql/debezium/default_value_all_zero_time.sql
Due: cdc

dm: fix chaos test (#11686)
  .github/workflows/dataflow_engine_chaos.yaml
  .github/workflows/dm_binlog_999999.yaml
  .github/workflows/dm_chaos.yaml
  .github/workflows/dm_mariadb_master_down_and_up.yaml
  .github/workflows/dm_upstream_switch.yaml
  .github/workflows/upgrade_dm_via_tiup.yaml
  dm/chaos/cases/cases.go
  dm/chaos/cases/task.go
  dm/chaos/manifests/dm-master.yaml
  dm/chaos/manifests/dm-worker.yaml
  dm/chaos/manifests/sources.yaml
  dm/chaos/manifests/tidb.yaml
Due: dm

return invalid topic expression in ErrKafkaInvalidTopicExpression
  cdc/sink/dmlsink/mq/dispatcher/topic/expression.go
  cdc/sink/dmlsink/mq/dispatcher/topic/expression_test.go
  pkg/errors/cdc_errors.go
Due: cdc

fix errdoc
  errors.toml
Due: none

s3(ticdc): do not report unretryable error when initializing s3 storage (#11312) (#11317)
  pkg/redo/config.go
Due: cdc

remove add terminator for canal-json
  cdc/sink/codec/canal/canal_json_encoder.go
Due: cdc

update
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/helper.go
Due: cdc

fix
  pkg/sink/codec/common/helper.go
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/helper.go
  pkg/sink/codec/internal/java.go
  tests/integration_tests/debezium/sql/debezium/default_value.sql
  tests/integration_tests/debezium/sql/debezium/default_value_all_zero_time.sql
Due: cdc

.
  pkg/sink/codec/debezium/helper.go
Due: cdc

only append terminator when using storage sink
  cdc/sink/codec/canal/canal_json_encoder.go
  cdc/sink/codec/common/config.go
Due: cdc

fix format
  cdc/sink/codec/common/config.go
Due: cdc

update version
  metrics/grafana/TiCDC-Monitor-Summary.json
  metrics/grafana/ticdc.json
Due: none

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
