Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

tests(ticdc): fix bank test (#11407) (#11810)
  cdc/owner/ddl_manager.go
  tests/integration_tests/bank/case.go
  tests/integration_tests/bank/run.sh
Due: cdc

ignore event if commit ts less than the partition watermark
  cmd/kafka-consumer/writer.go
Due: cdc

update
  tests/integration_tests/transaction/conf/diff_config.toml
  tests/integration_tests/transaction/data/dml.sql
  tests/integration_tests/transaction/data/prepare.sql
  tests/integration_tests/transaction/run.sh
Due: none

*: prompt k8s.io/api version
  go.mod
  go.sum
Due: none

update
  tests/integration_tests/transaction/data/dml.sql
Due: none

*: go mod tidy
  go.mod
  go.sum
Due: none

puller: resolve conflict
  cdc/puller/ddl_puller_test.go
Due: cdc

add test
  dm/tests/_utils/run_downstream_cluster_with_tls
  dm/tests/openapi/run.sh
  dm/tests/openapi/tls_conf/ca2.pem
  dm/tests/openapi/tls_conf/tidb.key
  dm/tests/openapi/tls_conf/tidb.pem
Due: dm

ddl_puller.go: pass a `context` to `(meta.Reader).ListTables`
  cdc/puller/ddl_puller.go
Due: cdc

alway enable the sarama logger
  pkg/logutil/log.go
Due: cdc

dm: update `importer.NewPrecheckItemBuilder` args
  dm/checker/checker.go
Due: dm

schema storage: remove `schemaVersion` in schema storage
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_storage.go
Due: cdc

fix conflict
  go.mod
  go.sum
Due: none

set the sarama producer retry to 0
  pkg/sink/kafka/sarama.go
Due: cdc

add test
  dm/tests/_utils/run_downstream_cluster_with_tls
  dm/tests/openapi/client/openapi_task_check
  dm/tests/openapi/run.sh
Due: dm

fix test
  dm/tests/openapi/client/openapi_task_check
Due: dm

gomod(dm): upgrade go-mysql to 1.9.1 (#11630) (#11718)
  dm/debug-tools/binlog-event-blackhole/fetcher.go
  go.mod
  go.sum
Due: dm

snapshot(ticdc): fix the data race when log set to debug caused by print logs (#11830) (#11833)
  cdc/entry/schema/snapshot.go
Due: cdc

puller: fix a bug that may cause error when replicate truncate table ddl (#11772) (#11847)
  cdc/owner/ddl_manager.go
  cdc/puller/ddl_puller.go
  cdc/puller/ddl_puller_test.go
Due: cdc

fix test
  dm/tests/openapi/client/openapi_source_check
  dm/tests/openapi/client/openapi_task_check
  dm/tests/openapi/run.sh
Due: dm

fmt
  dm/tests/openapi/run.sh
Due: dm

fix test
  dm/config/task_converters.go
  dm/openapi/fixtures/task.go
Due: dm

dm: fix leader did not retire after delete the key (#11604) (#11858)
  dm/pkg/election/election.go
  dm/pkg/election/election_test.go
Due: dm

use load data
  tests/integration_tests/_utils/run_sql_file
  tests/integration_tests/transaction/data/dml.sql
  tests/integration_tests/transaction/data/prepare.sql
  tests/integration_tests/transaction/data/t1.csv
  tests/integration_tests/transaction/run.sh
Due: none

remove set memory limit
  cmd/kafka-consumer/main.go
Due: cdc

fix the consumer docker file
  deployments/ticdc/docker/kafka-consumer.Dockerfile
Due: none

fix test
  dm/tests/_utils/run_downstream_cluster_with_tls
  dm/tests/openapi/client/openapi_task_check
  dm/tests/tls/run.sh
Due: dm

dm: add a stand-alone load mode (#11749)
  dm/_utils/terror_gen/errors_release.txt
  dm/config/helper.go
  dm/config/helper_test.go
  dm/config/subtask.go
  dm/config/task.go
  dm/errors.toml
  dm/openapi/gen.server.go
  dm/openapi/gen.types.go
  dm/openapi/spec/dm.yaml
  dm/pkg/terror/error_list.go
  dm/tests/openapi/client/openapi_task_check
  dm/tests/openapi/conf/diff_config_no_shard_one_source.toml
  dm/tests/openapi/run.sh
  dm/worker/subtask.go
  engine/executor/dm/worker.go
Due: dm, engine

chore: update download binary path
  scripts/download-integration-test-binaries.sh
Due: none

debug: add some logs in `changefeed.go`
  cdc/owner/changefeed.go
Due: cdc

debug: add some logs in ddl manager
  cdc/entry/schema_storage.go
  cdc/owner/ddl_manager.go
Due: cdc

chore: update download binary path
  dm/tests/download-compatibility-test-binaries.sh
  dm/tests/download-integration-test-binaries.sh
Due: dm

add TODO for missing pd-ctl
  scripts/download-integration-test-binaries.sh
Due: none

canal-json encode table id
  pkg/sink/codec/canal/canal_json_row_event_encoder.go
Due: cdc

add 2 lines code
  cmd/kafka-consumer/main.go
  cmd/kafka-consumer/option.go
Due: cdc

Update encoder.go
  pkg/sink/codec/debezium/encoder.go
Due: cdc

add more assertion to the unit test
  pkg/sink/codec/canal/canal_json_row_event_encoder.go
  pkg/sink/codec/canal/canal_json_row_event_encoder_test.go
Due: cdc

fmt
  pkg/sink/codec/debezium/encoder.go
Due: cdc

pass all unit test
  pkg/sink/codec/canal/canal_json_message.go
  pkg/sink/codec/canal/canal_json_row_event_encoder_test.go
Due: cdc

debug: add some logs
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_storage.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
