Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

add para and test
  cdc/api/v2/model.go
  cdc/sink/dmlsink/mq/kafka_dml_sink.go
  cdc/sink/dmlsink/mq/mq_dml_sink.go
  cdc/sink/dmlsink/mq/mq_dml_sink_test.go
  cdc/sink/dmlsink/mq/pulsar_dml_sink.go
  pkg/config/sink.go
Due: cdc

update
  cdc/model/sink.go
  cdc/sink/dmlsink/mq/dispatcher/partition/columns.go
  cdc/sink/dmlsink/mq/dispatcher/partition/default.go
  cdc/sink/dmlsink/mq/dispatcher/partition/dispatcher.go
  cdc/sink/dmlsink/mq/dispatcher/partition/index_value.go
  cdc/sink/dmlsink/mq/dispatcher/partition/key.go
  cdc/sink/dmlsink/mq/dispatcher/partition/table.go
  cdc/sink/dmlsink/mq/dispatcher/partition/ts.go
  cdc/sink/dmlsink/mq/mq_dml_sink.go
Due: cdc

add more test
  tests/integration_tests/mq_split_by_partition_key/conf/changefeed-index-default-config.toml
  tests/integration_tests/mq_split_by_partition_key/conf/changefeed-index-fail.toml
  tests/integration_tests/mq_split_by_partition_key/conf/changefeed-index-succ.toml
  tests/integration_tests/mq_split_by_partition_key/run.sh
Due: none

docs(ticdc): delete an outdated sentence
  README_TiCDC.md
Due: none

support query row checksum from the upstream tidb
  cdc/entry/mounter_test.go
  cmd/kafka-consumer/writer.go
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/avro/decoder.go
  pkg/sink/codec/common/helper.go
  pkg/sink/codec/common/verify_checksum.go
  pkg/sink/codec/simple/decoder.go
  pkg/sink/codec/simple/message.go
  pkg/sink/codec/utils/mysql_types.go
Due: cdc

support query row checksum from the upstream tidb
  pkg/sink/codec/common/verify_checksum.go
Due: cdc

enable query upstream tidb in the integration tests.
  tests/integration_tests/avro_basic/run.sh
  tests/integration_tests/kafka_simple_basic/run.sh
  tests/integration_tests/kafka_simple_basic_avro/run.sh
Due: none

support large message raw value format
  cdc/api/v2/model.go
  pkg/config/large_message.go
  pkg/sink/codec/canal/canal_json_row_event_encoder.go
  pkg/sink/codec/open/open_protocol_encoder.go
  pkg/sink/codec/simple/encoder.go
  pkg/sink/kafka/claimcheck/claim_check.go
  pkg/sink/kafka/claimcheck/claim_check_test.go
Due: cdc

fix make
  pkg/config/config_test_data.go
  pkg/config/large_message_test.go
  pkg/sink/kafka/claimcheck/claim_check.go
Due: cdc

fix canal-json ut
  pkg/sink/codec/canal/canal_json_decoder.go
  pkg/sink/codec/canal/canal_json_row_event_encoder_test.go
Due: cdc

fix simple ut
  pkg/sink/codec/simple/decoder.go
  pkg/sink/codec/simple/encoder_test.go
Due: cdc

enable claim check
  pkg/sink/kafka/claimcheck/claim_check_test.go
Due: cdc

try to fix CI
  dm/tests/s3_dumpling_lightning/conf/source1.yaml
  dm/tests/s3_dumpling_lightning/conf/source2.yaml
Due: dm

fix unstable CI
  dm/pkg/retry/errors.go
  dm/unit/unit.go
Due: dm

fix lint
  dm/unit/unit.go
Due: dm

quote the bytes array condition
  pkg/sink/codec/common/helper.go
Due: cdc

util(dm): update checking for fake rotate event (#11360)
  dm/pkg/retry/errors.go
  dm/pkg/utils/util.go
  dm/relay/relay_writer_test.go
  dm/syncer/binlogstream/streamer_controller.go
  dm/tests/s3_dumpling_lightning/conf/source1.yaml
  dm/tests/s3_dumpling_lightning/conf/source2.yaml
  dm/unit/unit.go
Due: dm

check http request context in api helper
  cdc/api/v2/api_helpers.go
  cdc/api/v2/api_helpers_mock.go
  cdc/api/v2/changefeed.go
  cdc/api/v2/changefeed_test.go
Due: cdc

This is an automated cherry-pick of #11165
  cdc/api/v2/api_helpers.go
  cdc/api/v2/api_helpers_mock.go
  cdc/api/v2/changefeed.go
  cdc/api/v2/changefeed_test.go
Due: cdc

This is an automated cherry-pick of #11239
  cdc/api/v2/model.go
  cdc/api/v2/model_test.go
  cdc/entry/schema_test_helper.go
  cdc/owner/changefeed.go
  cdc/owner/changefeed_test.go
  cdc/owner/ddl_manager.go
  cdc/owner/ddl_manager_test.go
  cdc/owner/ddl_sink.go
  pkg/cmd/util/helper_test.go
  pkg/config/config_test_data.go
  pkg/config/replica_config.go
  pkg/config/sink.go
  pkg/config/sink_test.go
  pkg/orchestrator/reactor_state_test.go
  tests/integration_tests/kafka_simple_basic/conf/changefeed.toml
Due: cdc

move logs to verify checksum method.
  pkg/sink/codec/common/verify_checksum.go
  pkg/sink/codec/simple/message.go
Due: cdc

also update the checksum
  cdc/model/sink.go
Due: cdc

fix avro case
  tests/integration_tests/avro_basic/run.sh
Due: none

consumer(ticdc): query row checksum from the tidb (#11342)
  cdc/entry/mounter_test.go
  cdc/model/sink.go
  cmd/kafka-consumer/writer.go
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/avro/decoder.go
  pkg/sink/codec/common/helper.go
  pkg/sink/codec/common/verify_checksum.go
  pkg/sink/codec/simple/decoder.go
  pkg/sink/codec/simple/message.go
  pkg/sink/codec/utils/mysql_types.go
  tests/integration_tests/avro_basic/run.sh
  tests/integration_tests/kafka_simple_basic/run.sh
  tests/integration_tests/kafka_simple_basic_avro/run.sh
Due: cdc

set the checksum to 0
  cdc/model/sink.go
  cdc/model/sink_test.go
Due: cdc

This is an automated cherry-pick of #11198
  dm/checker/checker.go
  dm/checker/cmd.go
  dm/tests/check_task/run.sh
  go.mod
  go.sum
Due: dm

build: simply the release version composing step (#11344)
  Makefile
Due: none

fix make fmt
  cdc/model/sink_test.go
Due: cdc

sink(ticdc): split update event also set the checksum field to 0 (#11404)
  cdc/model/sink.go
  cdc/model/sink_test.go
Due: cdc

sink(ticdc): split update event also set the checksum field to 0 (#11403)
  cdc/model/sink.go
  cdc/model/sink_test.go
Due: cdc

fix panic
  cdc/model/sink.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
