Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

metric(cdc): fix uncorrect metric WorkerBusyRatio (#11669)
  cdc/kv/metrics.go
  cdc/redo/common/metric.go
  cdc/redo/manager.go
  cdc/redo/meta_manager.go
  cdc/redo/writer/file/file.go
  cdc/redo/writer/file/file_test.go
  cdc/redo/writer/memory/file_worker.go
  cdc/sink/dmlsink/cloudstorage/dml_worker.go
  cdc/sink/metrics/cloudstorage/metrics.go
  metrics/grafana/TiCDC-Monitor-Summary.json
  metrics/grafana/ticdc.json
Due: cdc

add foreign key tests with event filter
  tests/integration_tests/foreign_key/conf/cf.toml
  tests/integration_tests/foreign_key/conf/diff_config.toml
  tests/integration_tests/foreign_key/data/prepare.sql
  tests/integration_tests/foreign_key/run.sh
Due: none

kafka(ticdc): fix kafka consumer doesn't check partition and old message (#11483)
  cmd/kafka-consumer/writer.go
Due: cdc

fix conflict
  dm/pkg/schema/tracker.go
Due: dm

schematracker(dm): ensure no MockStore in future (#10977) (#10978)
  dm/pkg/schema/tracker_test.go
Due: dm

update
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/helper.go
  tests/integration_tests/debezium/README.md
  tests/integration_tests/debezium/run.sh
  tests/integration_tests/debezium/sql/data_types.sql
  tests/integration_tests/debezium/sql/debezium/connector_read_binary_field_test.sql
  tests/integration_tests/debezium/sql/debezium/connector_test.sql
  tests/integration_tests/debezium/sql/debezium/connector_test_ro.sql
  tests/integration_tests/debezium/sql/debezium/enum_column_test.sql
  tests/integration_tests/debezium/sql/debezium/mysql-integration.ddl
  tests/integration_tests/debezium/sql/debezium/regression_test.sql
  tests/integration_tests/debezium/src/main.go
  tests/integration_tests/debezium/src/test_cases.go
Due: cdc

Add redact log config for dm worker
  cmd/dm-worker/main.go
  dm/pkg/conn/baseconn.go
  dm/pkg/conn/basedb.go
  dm/pkg/log/log.go
  dm/syncer/dbconn/db.go
  dm/worker/config.go
Due: cdc, dm

update
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/helper.go
  tests/integration_tests/debezium/sql/debezium/default_value_all_zero_time.sql
  tests/integration_tests/debezium/sql/debezium/float_test.sql
  tests/integration_tests/debezium/sql/debezium/json_test.sql
  tests/integration_tests/debezium/sql/debezium/mysql-dbz-106.ddl
  tests/integration_tests/debezium/sql/debezium/mysql-dbz-123.ddl
  tests/integration_tests/debezium/sql/debezium/mysql-dbz-162.ddl
  tests/integration_tests/debezium/sql/debezium/mysql-dbz-176.ddl
  tests/integration_tests/debezium/sql/debezium/mysql-dbz-198a.ddl
Due: cdc

dep(*): update tidb to include DM SchemaTracker fix (#11410)
  go.mod
  go.sum
Due: none

test ci trigger
  dm/tests/run.sh
  tests/integration_tests/run.sh
Due: dm

Update format error
  dm/pkg/log/log.go
Due: dm

Fix dm integration test
  dm/tests/dmctl_basic/check_list/config.sh
  dm/tests/dmctl_basic/conf/get_worker1.toml
Due: dm

Fix lint error and integration test error
  dm/pkg/log/log.go
  dm/tests/dmctl_basic/check_list/config.sh
  dm/tests/dmctl_basic/conf/get_worker1.toml
  dm/tests/dmctl_basic/conf/get_worker2.toml
Due: dm

Fix lint error
  dm/pkg/log/log.go
Due: dm

update
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/helper.go
  tests/integration_tests/debezium/sql/debezium/mysql-test-init-5.7.ddl
  tests/integration_tests/debezium/sql/debezium/mysql-test-statements.ddl
  tests/integration_tests/debezium/sql/debezium/mysql-ticketmonster-liquibase.ddl
  tests/integration_tests/debezium/sql/debezium/regression_test.sql
  tests/integration_tests/debezium/sql/debezium/schema_name_adjustment.sql
  tests/integration_tests/debezium/sql/debezium/source_type_as_schema_parameter_test.sql
  tests/integration_tests/debezium/sql/debezium/strategy_test.sql
  tests/integration_tests/debezium/sql/debezium/table_maintenance_test.sql
  tests/integration_tests/debezium/sql/debezium/timestamp_column_test.sql
Due: cdc

change
  dm/pkg/binlog/event/common.go
  dm/pkg/binlog/event/event.go
  dm/pkg/binlog/event/event_test.go
  dm/pkg/binlog/event/generator.go
  go.mod
  go.sum
Due: dm

dm: upgrade go-mysql library (#11043) (#11700)
  dm/pkg/binlog/common/replication.go
  dm/pkg/binlog/event/common.go
  dm/pkg/binlog/event/event.go
  dm/pkg/binlog/event/event_test.go
  dm/pkg/binlog/event/generator.go
  go.mod
  go.sum
Due: dm

adjust a lot of logs about checksum
  cdc/entry/mounter.go
Due: cdc

adjust a lot of logs about checksum
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
Due: cdc

fix
  cdc/processor/sourcemanager/engine/pebble/db.go
  pkg/cmd/server/server_test.go
  pkg/config/config_test_data.go
  pkg/config/server_config.go
  pkg/spanz/hash_map.go
Due: cdc

redo(ticdc): return internal error in redo writer (#11011) (#11090)
  cdc/redo/writer/memory/encoding_worker.go
  cdc/redo/writer/memory/file_worker.go
  cdc/redo/writer/memory/mem_log_writer_test.go
Due: cdc

fix
  pkg/config/config_test_data.go
Due: cdc

update
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/helper.go
  tests/integration_tests/debezium/sql/data_types.sql
  tests/integration_tests/debezium/sql/debezium/default_value_all_zero_time.sql
  tests/integration_tests/debezium/sql/debezium/enum_column_test.sql
  tests/integration_tests/debezium/sql/debezium/float_test.sql
  tests/integration_tests/debezium/sql/debezium/mysql-dbz-123.ddl
  tests/integration_tests/debezium/sql/debezium/mysql-dbz-198i.ddl
  tests/integration_tests/debezium/sql/debezium/strategy_test.sql
  tests/integration_tests/debezium/src/test_cases.go
Due: cdc

redo(ticdc): enable pprof and set memory limit for redo applier (#10904) (#10994)
  cdc/redo/reader/reader.go
  pkg/cmd/redo/apply.go
  pkg/util/memory.go
Due: cdc

adjust a lot of logs about checksum
  cdc/entry/mounter_test.go
Due: cdc

cdc: adjust sorter options to avoid Seek CPU usage exploding (#11099) (#11133)
  cdc/processor/sourcemanager/engine/pebble/db.go
  pkg/cmd/server/server_test.go
  pkg/config/config_test_data.go
  pkg/config/db.go
  pkg/config/server_config.go
Due: cdc

pkg/causality(cdc): refactor and simplify conflict detector (#10954) (#11273)
  cdc/sink/dmlsink/txn/event.go
  cdc/sink/dmlsink/txn/event_test.go
  pkg/causality/conflict_detector.go
  pkg/causality/internal/main_test.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots.go
  pkg/causality/internal/slots_test.go
  pkg/causality/tests/integration_test.go
  pkg/causality/tests/worker.go
  pkg/causality/txn_cache.go
  pkg/causality/txn_cache_test.go
Due: cdc

sourcemanager(ticdc): close all pullers asyncrhonsly to prevent block too long (#11673)
  cdc/processor/sourcemanager/manager.go
Due: cdc

update
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/helper.go
  tests/integration_tests/debezium/README.md
  tests/integration_tests/debezium/run.sh
  tests/integration_tests/debezium/sql/debezium/enum_column_test.sql
  tests/integration_tests/debezium/sql/debezium/mysql-dbz-198i.ddl
  tests/integration_tests/debezium/src/test_cases.go
Due: cdc

Update config type
  dm/pkg/log/log.go
Due: dm

[WIP] *: bump golang from 1.21.0 to 1.23.2
  .github/workflows/check_and_build.yaml
  .github/workflows/dataflow_engine_chaos.yaml
  .github/workflows/dm_binlog_999999.yaml
  .github/workflows/dm_chaos.yaml
  .github/workflows/dm_upstream_switch.yaml
  .github/workflows/ticdc_integration.yaml
  .github/workflows/upgrade_dm_via_tiup.yaml
  .golangci.yml
  CONTRIBUTING.md
  README_DM.md
  README_TiCDC.md
  deployments/engine/docker/Dockerfile
  deployments/engine/docker/dind.Dockerfile
  deployments/ticdc/docker/Dockerfile
  deployments/ticdc/docker/dev.Dockerfile
  deployments/ticdc/docker/integration-test.Dockerfile
  deployments/ticdc/docker/kafka-consumer.Dockerfile
  deployments/ticdc/docker/storage-consumer.Dockerfile
  dm/Dockerfile
  go.mod
  tools/check/go.mod
Due: dm

Dockerfile: change golang:1.23.2-alpine image to golang:1.23-alpine to allow flexible patch updates
  deployments/engine/docker/Dockerfile
  deployments/engine/docker/dind.Dockerfile
  deployments/ticdc/docker/Dockerfile
  deployments/ticdc/docker/dev.Dockerfile
  deployments/ticdc/docker/kafka-consumer.Dockerfile
  deployments/ticdc/docker/storage-consumer.Dockerfile
  dm/Dockerfile
Due: dm

update
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/helper.go
  tests/integration_tests/debezium/run.sh
  tests/integration_tests/debezium/sql/debezium/mysql-dbz-198i.ddl
  tests/integration_tests/debezium/sql/debezium/mysql-test-init-5.7.ddl
Due: cdc

update
  tests/integration_tests/debezium/sql/debezium/mysql-dbz-198i.ddl
Due: none

update test
  tests/integration_tests/debezium/sql/debezium/default_value_all_zero_time.sql
  tests/integration_tests/debezium/sql/debezium/regression_test.sql
  tests/integration_tests/debezium/src/test_cases.go
Due: none

fix
  cdc/scheduler/internal/v3/keyspan/splitter_write.go
Due: cdc

redo(ticdc): return internal error in redo writer (#11011) (#11092)
  cdc/redo/writer/memory/encoding_worker.go
  cdc/redo/writer/memory/file_worker.go
  cdc/redo/writer/memory/mem_log_writer_test.go
Due: cdc

This is an automated cherry-pick of #11630
  dm/debug-tools/binlog-event-blackhole/fetcher.go
  go.mod
  go.sum
Due: dm

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
