Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

fix data sql
  tests/integration_tests/kafka_simple_basic_avro/data/data.sql
Due: none

update
  pkg/filter/filter.go
Due: cdc

util(dm): update checking for fake rotate event
  dm/pkg/utils/util.go
  dm/syncer/binlogstream/streamer_controller.go
Due: dm

Add test
  pkg/filter/filter_test.go
Due: cdc

Update pkg/config/sink.go
  pkg/config/sink.go
Due: cdc

fix UT
  dm/relay/relay_writer_test.go
Due: dm

filter(ticdc): Add `lightning_task_info` as the system table schema that should not be replicated by TiCDC (#11359)
  pkg/filter/filter.go
  pkg/filter/filter_test.go
  pkg/filter/utils.go
Due: cdc

update go mod
  go.mod
  go.sum
Due: none

update
  pkg/filter/filter.go
  pkg/filter/utils.go
Due: cdc

filter(ticdc): Add `lightning_task_info` as the system table schema that should not be replicated by TiCDC (#11359) (#11362)
  pkg/filter/filter.go
  pkg/filter/filter_test.go
  pkg/filter/utils.go
Due: cdc

try to fix
  dm/pkg/utils/util.go
Due: dm

batch dispatch table message
  cdc/scheduler/internal/v3/agent/table.go
  cdc/scheduler/internal/v3/coordinator.go
Due: cdc

enlarge s3 retry
  pkg/sink/codec/simple/decoder.go
  pkg/util/external_storage.go
Due: cdc

enlarge s3 retry
  pkg/sink/codec/canal/canal_json_decoder.go
  pkg/sink/codec/open/open_protocol_decoder.go
  pkg/sink/codec/simple/decoder.go
Due: cdc

update
  cdc/model/sink.go
  cdc/sink/dmlsink/mq/dispatcher/partition/columns.go
  cdc/sink/dmlsink/mq/dispatcher/partition/default.go
  cdc/sink/dmlsink/mq/dispatcher/partition/dispatcher.go
  cdc/sink/dmlsink/mq/dispatcher/partition/index_value.go
  cdc/sink/dmlsink/mq/dispatcher/partition/key.go
  cdc/sink/dmlsink/mq/dispatcher/partition/table.go
  cdc/sink/dmlsink/mq/dispatcher/partition/ts.go
  cdc/sink/dmlsink/mq/mq_dml_sink.go
Due: cdc

fix it
  tests/integration_tests/_utils/run_kafka_consumer
  tests/integration_tests/mq_split_by_partition_key_normal/conf/changefeed-columns-b-default-config.toml
  tests/integration_tests/mq_split_by_partition_key_normal/conf/changefeed-columns-b-fail.toml
  tests/integration_tests/mq_split_by_partition_key_normal/conf/changefeed-columns-b-succ.toml
  tests/integration_tests/mq_split_by_partition_key_normal/conf/diff_config.toml
  tests/integration_tests/mq_split_by_partition_key_normal/data/data.sql
  tests/integration_tests/mq_split_by_partition_key_normal/run.sh
  tests/integration_tests/mq_split_by_partition_key_uk/conf/changefeed-columns-default-config.toml
  tests/integration_tests/mq_split_by_partition_key_uk/conf/changefeed-columns-fail.toml
  tests/integration_tests/mq_split_by_partition_key_uk/conf/changefeed-columns-succ.toml
  tests/integration_tests/mq_split_by_partition_key_uk/conf/changefeed-index-default-config.toml
  tests/integration_tests/mq_split_by_partition_key_uk/conf/changefeed-index-fail.toml
  tests/integration_tests/mq_split_by_partition_key_uk/conf/changefeed-index-succ.toml
  tests/integration_tests/mq_split_by_partition_key_uk/conf/diff_config.toml
  tests/integration_tests/mq_split_by_partition_key_uk/data/data.sql
  tests/integration_tests/mq_split_by_partition_key_uk/run.sh
  tests/integration_tests/run_group.sh
Due: none

add more test
  tests/integration_tests/mq_split_by_partition_key/conf/changefeed-index-default-config.toml
  tests/integration_tests/mq_split_by_partition_key/conf/changefeed-index-fail.toml
  tests/integration_tests/mq_split_by_partition_key/conf/changefeed-index-succ.toml
Due: none

add more test
  tests/integration_tests/mq_split_by_partition_key/conf/changefeed-columns-default-config.toml
  tests/integration_tests/mq_split_by_partition_key/conf/changefeed-columns-fail.toml
  tests/integration_tests/mq_split_by_partition_key/conf/changefeed-columns-succ.toml
Due: none

add para and test
  cdc/api/v2/model.go
  cdc/sink/dmlsink/mq/kafka_dml_sink.go
  cdc/sink/dmlsink/mq/mq_dml_sink.go
  cdc/sink/dmlsink/mq/mq_dml_sink_test.go
  cdc/sink/dmlsink/mq/pulsar_dml_sink.go
  pkg/config/sink.go
Due: cdc

fix test
  tests/integration_tests/mq_split_by_partition_key_normal/conf/changefeed-columns-b-fail.toml
  tests/integration_tests/mq_split_by_partition_key_normal/data/data.sql
  tests/integration_tests/mq_split_by_partition_key_normal/run.sh
  tests/integration_tests/mq_split_by_partition_key_uk/run.sh
Due: none

fix run
  tests/integration_tests/run_group.sh
Due: none

add more test
  tests/integration_tests/mq_split_by_partition_key/conf/changefeed-index-default-config.toml
  tests/integration_tests/mq_split_by_partition_key/conf/changefeed-index-fail.toml
  tests/integration_tests/mq_split_by_partition_key/conf/changefeed-index-succ.toml
  tests/integration_tests/mq_split_by_partition_key/run.sh
Due: none

fix
  Makefile
  cdc/sink/dmlsink/mq/dispatcher/partition/index_value.go
  cdc/sink/dmlsink/mq/mq_dml_sink.go
  tests/integration_tests/mq_split_by_partition_key/conf/changefeed-kafka.toml
  tests/integration_tests/mq_split_by_partition_key/conf/diff_config.toml
  tests/integration_tests/mq_split_by_partition_key/data/data.sql
  tests/integration_tests/mq_split_by_partition_key/run.sh
Due: cdc

add more test
  tests/integration_tests/mq_split_by_partition_key/conf/changefeed-kafka.toml
  tests/integration_tests/mq_split_by_partition_key/conf/diff_config.toml
  tests/integration_tests/mq_split_by_partition_key/run.sh
Due: none

remove flush row changed immedately to reduce memory allocation related code
  cmd/kafka-consumer/event_group.go
  cmd/kafka-consumer/writer.go
Due: cdc

add some log
  cdc/entry/mounter.go
Due: cdc

add more log
  cdc/entry/mounter.go
Due: cdc

fix log level
  cdc/entry/mounter.go
Due: cdc

try fix
  cmd/cdc/main.go
Due: cdc

fix collation and add tests
  cmd/cdc/main.go
  tests/integration_tests/ci_collation_compatibility/conf/diff_config.toml
  tests/integration_tests/ci_collation_compatibility/conf/tidb_config.toml
  tests/integration_tests/ci_collation_compatibility/conf/workload
  tests/integration_tests/ci_collation_compatibility/run.sh
  tests/integration_tests/run_group.sh
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
