Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

add schema test and debug
  pkg/sink/codec/avro/avro.go
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/common/helper.go
  pkg/sink/codec/debezium/codec.go
  tests/integration_tests/avro_basic/data/data.sql
  tests/integration_tests/debezium/sql/debezium/real_test.sql
  tests/integration_tests/debezium/src/test_cases.go
Due: cdc

debug
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/debezium/codec_test.go
Due: cdc

update SanitizeName
  pkg/sink/codec/avro/avro.go
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/common/helper.go
  tests/integration_tests/avro_basic/data/data.sql
Due: cdc

fix
  pkg/sink/codec/debezium/codec_test.go
Due: cdc

update
  pkg/sink/codec/avro/avro.go
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/common/helper.go
  pkg/sink/codec/debezium/codec.go
Due: cdc

fix test
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/common/helper.go
Due: cdc

chore
  pkg/sink/codec/avro/avro.go
  pkg/sink/codec/common/helper.go
Due: cdc

change
  Makefile
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_storage_test.go
  cdc/entry/schema_test_helper.go
  cdc/kv/utils.go
  cdc/puller/ddl_puller_test.go
  dm/pkg/schema/tracker.go
  dm/syncer/ddl.go
  dm/syncer/schema.go
  dm/syncer/syncer.go
  go.mod
  go.sum
  pkg/filter/filter_test_helper.go
Due: cdc, dm

change
  cdc/entry/mounter_test.go
  cdc/sink/dmlsink/txn/mysql/mysql_test.go
  dm/pkg/schema/tracker_test.go
  dm/syncer/checkpoint_test.go
  dm/syncer/expr_filter_group_test.go
  engine/jobmaster/dm/ddl_coordinator.go
  pkg/sqlmodel/where_handle_test.go
Due: cdc, dm, engine

fix test
  pkg/diff/diff.go
Due: cdc

remove replace
  go.mod
  go.sum
Due: none

test
  pkg/sqlmodel/row_change_test.go
Due: cdc

update
  cdc/api/v2/changefeed.go
Due: cdc

fix test
  cdc/entry/schema_test.go
Due: cdc

*: upgrade tidb to latest (#11658)
  Makefile
  cdc/entry/mounter_test.go
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_storage_test.go
  cdc/entry/schema_test.go
  cdc/entry/schema_test_helper.go
  cdc/kv/utils.go
  cdc/puller/ddl_puller_test.go
  cdc/sink/dmlsink/txn/mysql/mysql_test.go
  dm/pkg/schema/tracker.go
  dm/pkg/schema/tracker_test.go
  dm/syncer/checkpoint_test.go
  dm/syncer/ddl.go
  dm/syncer/expr_filter_group_test.go
  dm/syncer/schema.go
  dm/syncer/syncer.go
  engine/jobmaster/dm/ddl_coordinator.go
  go.mod
  go.sum
  pkg/diff/diff.go
  pkg/filter/filter_test_helper.go
  pkg/sqlmodel/row_change_test.go
  pkg/sqlmodel/where_handle_test.go
Due: cdc, dm, engine

Also handle TableMap/FormatDesc in tx payload
  dm/syncer/syncer.go
Due: dm

Improve logging of ignored TableMap/FormatDesc
  dm/syncer/syncer.go
Due: dm

Not need to actually log these
  dm/syncer/syncer.go
Due: dm

This is an automated cherry-pick of #10205
  dm/syncer/syncer.go
Due: dm

chore(go.mod): upgrade google.golang.org/grpc and go.etcd.io/etcd/*
  go.mod
  go.sum
Due: none

chore(etcd): update the renamed fileds in go.etcd.io/etcd/server/v3/embed
  dm/master/config.go
  dm/master/config_test.go
  dm/pkg/election/election_test.go
  dm/pkg/etcdutil/etcdutil_test.go
  dm/worker/server_test.go
  engine/pkg/meta/internal/etcdkv/mock.go
  pkg/etcd/etcd.go
Due: cdc, dm, engine

chore(go.mod): upgrade golang.org/x/net and google.golang.org/protobuf
  go.mod
  go.sum
Due: none

chore(go.mod): upgrade github.com/gin-gonic/gin to support golang.org/x/net/http2 update
  go.mod
  go.sum
Due: none

puller(ticdc): always split update kv entries in sink safe mode (#11224) (#11656)
  cdc/processor/processor.go
  cdc/processor/processor_test.go
  cdc/processor/sourcemanager/manager.go
  pkg/sink/mysql/config.go
Due: cdc

update
  cdc/api/v2/changefeed.go
  tests/integration_tests/changefeed_error/run.sh
Due: cdc

cordinator(ticdc): Fix Puller Resolved TS Lag Calculation and Deprecate current_ts Field in Stats (#11624) (#11644)
  cdc/processor/processor.go
  cdc/processor/tablepb/table.proto
  cdc/scheduler/internal/v3/coordinator.go
  cdc/scheduler/internal/v3/replication/replication_manager.go
Due: cdc

cordinator(ticdc): Fix Puller Resolved TS Lag Calculation and Deprecate current_ts Field in Stats (#11624) (#11643)
  cdc/processor/processor.go
  cdc/processor/tablepb/table.proto
  cdc/scheduler/internal/v3/coordinator.go
  cdc/scheduler/internal/v3/replication/replication_manager.go
Due: cdc

api(ticdc): Not show the error info during query the changefeed when state is stopped, finished and removed (#11641)
  cdc/api/v2/changefeed.go
  tests/integration_tests/changefeed_error/run.sh
Due: cdc

cordinator(ticdc): Fix Puller Resolved TS Lag Calculation and Deprecate current_ts Field in Stats (#11624) (#11645)
  cdc/processor/processor.go
  cdc/processor/tablepb/table.proto
  cdc/scheduler/internal/v3/coordinator.go
  cdc/scheduler/internal/v3/replication/replication_manager.go
Due: cdc

cordinator(ticdc): Fix Puller Resolved TS Lag Calculation and Deprecate current_ts Field in Stats (#11624) (#11646)
  cdc/processor/processor.go
  cdc/processor/tablepb/table.proto
  cdc/scheduler/internal/v3/coordinator.go
  cdc/scheduler/internal/v3/replication/replication_manager.go
Due: cdc

update
  cdc/model/sink.go
  cdc/sink/dmlsink/txn/event_test.go
  cdc/sink/dmlsink/txn/mysql/dml_test.go
  pkg/sink/codec/debezium/codec.go
Due: cdc

fix
  cdc/sink/dmlsink/txn/event_test.go
Due: cdc

fix
  pkg/sink/codec/csv/csv_message_test.go
  pkg/sink/codec/open/open_protocol_message_test.go
Due: cdc

syncer(dm): Improve logging of ignored TableMap/FormatDesc (#10205) (#11659)
  dm/syncer/syncer.go
Due: dm

fix checker
  dm/checker/checker.go
  dm/pkg/checker/binlog.go
  dm/worker/server.go
  dm/worker/server_test.go
  dm/worker/source_worker_test.go
Due: dm
