Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

release test trigger: dm
  dm/tests/utils/log.go
Due: dm

Fix conflict
  go.mod
  go.sum
Due: none

Fix conflict
  dm/pkg/schema/tracker.go
Due: dm

revert load&sync task
  dm/openapi/gen.server.go
  dm/openapi/gen.types.go
  dm/openapi/spec/dm.yaml
  dm/tests/openapi/client/openapi_task_check
  dm/tests/openapi/run.sh
Due: dm

Update go deps
  go.mod
  go.sum
Due: none

shfmt
  dm/tests/_utils/run_dm_ctl_with_retry
  dm/tests/openapi/run.sh
Due: dm

update
  pkg/sink/codec/common/helper.go
  tests/integration_tests/debezium/sql/debezium/default_value_generated.sql
Due: cdc

Update prepare.sql
  tests/integration_tests/generate_column/data/prepare.sql
Due: none

update
  pkg/sink/codec/debezium/codec.go
  tests/integration_tests/debezium/sql/debezium/default_value_generated.sql
Due: cdc

update
  tests/integration_tests/generate_column/conf/changefeed.toml
  tests/integration_tests/generate_column/data/stored.sql
  tests/integration_tests/generate_column/data/virtual.sql
  tests/integration_tests/generate_column/run.sh
Due: none

Update schema_storage.go
  cdc/model/schema_storage.go
Due: cdc

.
  tests/integration_tests/generate_column/data/stored.sql
Due: none

schematracker(dm): Increase max-index-length config for dm schema tracker (#11465) (#11698)
  dm/pkg/schema/tracker.go
  dm/pkg/schema/tracker_test.go
Due: dm

Update schema_storage_test.go
  cdc/model/schema_storage_test.go
Due: cdc

gomod(dm): upgrade go-mysql to 1.9.1 (#11630) (#11716)
  dm/debug-tools/binlog-event-blackhole/fetcher.go
  go.mod
  go.sum
Due: dm

dm: fix leader did not retire after delete the key (#11604) (#11732)
  dm/pkg/election/election.go
  dm/pkg/election/election_test.go
Due: dm

update
  cdc/model/schema_storage.go
  cdc/model/schema_storage_test.go
Due: cdc

add columnsIndex
  cdc/model/schema_storage.go
Due: cdc

update
  cdc/model/sink.go
Due: cdc

Primary work to add a stand-alone load mode to DM. Load&Sync mode might not be needed anymore and could be depreciated in the future.
  dm/config/helper.go
  dm/config/helper_test.go
  dm/config/subtask.go
  dm/config/task.go
  dm/pkg/terror/error_list.go
  dm/worker/subtask.go
  engine/executor/dm/worker.go
  engine/jobmaster/dm/task_manager.go
  engine/jobmaster/dm/worker_manager.go
Due: dm, engine

Release-testing: v7.1.6 tiflow repo CI trigger
  cdc/doc.go
Due: cdc

dm compenent ci trigger
  dm/common/common_test.go
Due: dm

change
  dm/syncer/causality.go
Due: dm

add toml\json field
  dm/config/subtask.go
Due: dm

init subtask config from openapi
  dm/config/task_converters.go
Due: dm

syncer(dm): add more comment about causality(or dependency detect) (#11740)
  dm/syncer/causality.go
Due: dm

retrun ioconter in status
  dm/master/openapi_controller.go
  dm/syncer/status.go
Due: dm

regenerate openapi define
  dm/openapi/gen.server.go
  dm/openapi/gen.types.go
  dm/openapi/spec/dm.yaml
Due: dm

update grpc proto
  dm/proto/dmworker.proto
Due: dm

update to github.com/golang/protobuf@v1.5.4 and generate-protobuf
  cdc/processor/tablepb/table.pb.go
  dm/pb/dmworker.pb.go
  engine/enginepb/datarw.pb.go
  engine/enginepb/executor.pb.go
  engine/enginepb/master.pb.go
  engine/enginepb/projects.pb.go
  engine/enginepb/resources.pb.go
  engine/enginepb/test.pb.go
  tools/check/go.mod
  tools/check/go.sum
Due: cdc, dm, engine

add test
  dm/config/task_converters_test.go
Due: dm

handle the query in metadata from binlog
  dm/pkg/dumpling/utils.go
Due: dm

dm: add test
  .github/workflows/dm_upstream_switch.yaml
Due: none
