Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

fix create changefeed after scale-in pd
  cdc/api/v2/changefeed.go
Due: cdc

address comment
  sync_diff_inspector/utils/table.go
Due: none

fix test
  cdc/api/v2/changefeed.go
  cdc/api/v2/changefeed_test.go
Due: cdc

fix more tests
  cdc/api/v2/changefeed_test.go
Due: cdc

fix
  cdc/api/v2/changefeed.go
  cdc/api/v2/changefeed_test.go
Due: cdc

fix check
  cdc/api/v2/changefeed.go
  cdc/api/v2/changefeed_test.go
Due: cdc

Add test
  sync_diff_inspector/utils/utils_test.go
Due: none

try fix
  cdc/api/v2/changefeed.go
  tests/integration_tests/synced_status_with_redo/run.sh
Due: cdc

sink(ticdc): fix incorrect encoding default value in Avro protocol (#11995)
  pkg/sink/codec/avro/avro.go
  tests/integration_tests/avro_basic/data/data.sql
  tests/integration_tests/avro_basic/run.sh
Due: cdc

This is an automated cherry-pick of #11995
  pkg/sink/codec/avro/avro.go
  tests/integration_tests/avro_basic/data/data.sql
  tests/integration_tests/avro_basic/run.sh
Due: cdc

update
  tests/integration_tests/avro_basic/data/data.sql
  tests/integration_tests/avro_basic/run.sh
Due: none

fix
  pkg/sink/codec/avro/avro.go
  tests/integration_tests/avro_basic/data/data.sql
Due: cdc

add test
  tests/integration_tests/avro_basic/data/data.sql
Due: none

Update avro.go
  pkg/sink/codec/avro/avro.go
Due: cdc

Delete tests/integration_tests/avro_basic/run.sh
  tests/integration_tests/avro_basic/run.sh
Due: none

Delete tests/integration_tests/avro_basic/data/data.sql
  tests/integration_tests/avro_basic/data/data.sql
Due: none

Update run.sh
  tests/integration_tests/avro_basic/run.sh
Due: none

Update sarama.go
  pkg/sink/kafka/sarama.go
Due: cdc

update
  cdc/sink/codec/avro/avro.go
  pkg/sink/codec/avro/avro.go
  tests/integration_tests/avro_basic/data/data.sql
  tests/integration_tests/avro_basic/run.sh
Due: cdc

update
  cdc/sink/mq/codec/avro.go
  pkg/sink/codec/avro/avro.go
  tests/integration_tests/avro_basic/data/data.sql
  tests/integration_tests/avro_basic/run.sh
Due: cdc

sink(ticdc): fix incorrect encoding default value in Avro protocol (#11995) (#12008)
  pkg/sink/codec/avro/avro.go
Due: cdc

sink(ticdc): fix incorrect encoding default value in Avro protocol (#11995) (#12010)
  pkg/sink/codec/avro/avro.go
  tests/integration_tests/avro_basic/data/data.sql
Due: cdc

sink(ticdc): fix incorrect encoding default value in Avro protocol (#11995) (#12006)
  pkg/sink/codec/avro/avro.go
  tests/integration_tests/avro_basic/data/data.sql
Due: cdc

sink(ticdc): fix incorrect encoding default value in Avro protocol (#11995) (#12007)
  cdc/sink/codec/avro/avro.go
Due: cdc

*: build sync_diff_inspector from source code to run tests (#11988)
  .github/workflows/dm_binlog_999999.yaml
  Makefile
  dm/tests/README.md
  dm/tests/download-compatibility-test-binaries.sh
  dm/tests/download-integration-test-binaries.sh
  dm/tests/mariadb_master_down_and_up/case.sh
  dm/tests/mariadb_master_down_and_up/lib.sh
  dm/tests/tiup/lib.sh
  dm/tests/tiup/upgrade-from-v1.sh
  dm/tests/tiup/upgrade-from-v2.sh
  dm/tests/tiup/upgrade-tidb.sh
  dm/tests/upstream_switch/case.sh
  dm/tests/upstream_switch/lib.sh
  scripts/download-integration-test-binaries.sh
  scripts/download-sync-diff.sh
  sync_diff_inspector/checkpoints/checkpoints.go
  sync_diff_inspector/chunk/chunk.go
  sync_diff_inspector/diff/diff.go
  sync_diff_inspector/report/report_test.go
  sync_diff_inspector/source/chunks_iter.go
  sync_diff_inspector/source/common/common_test.go
  sync_diff_inspector/source/source_test.go
  sync_diff_inspector/splitter/bucket.go
  sync_diff_inspector/splitter/index_fields_test.go
  sync_diff_inspector/splitter/splitter_test.go
  sync_diff_inspector/utils/table.go
  sync_diff_inspector/utils/utils.go
  sync_diff_inspector/utils/utils_test.go
  tests/integration_tests/README.md
Due: dm

set one log to debug level, to reduce alloc memory space
  cmd/kafka-consumer/event_group.go
Due: cdc

deps: replace 'sourcegraph.com/sourcegraph/appdash*' in go.mod
  go.mod
  go.sum
Due: none

set kafka consumer pprof endpoint
  cmd/kafka-consumer/main.go
Due: cdc

Update download-integration-test-binaries.sh
  scripts/download-integration-test-binaries.sh
Due: none
