Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

make the physical table id private
  cdc/entry/mounter.go
  cdc/model/sink.go
  cdc/model/sink_test.go
  cdc/processor/sinkmanager/table_sink_worker_test.go
  cdc/redo/manager_test.go
  cdc/redo/writer/file/file_log_writer_test.go
  cdc/redo/writer/memory/mem_log_writer_test.go
  cdc/sink/dmlsink/cloudstorage/defragmenter_test.go
  cdc/sink/dmlsink/cloudstorage/dml_worker_test.go
  cdc/sink/dmlsink/cloudstorage/encoding_worker_test.go
  cdc/sink/dmlsink/txn/event_test.go
  cdc/sink/dmlsink/txn/mysql/mysql_test.go
  cmd/kafka-consumer/writer.go
  cmd/storage-consumer/main.go
  pkg/sink/codec/bootstraper_test.go
  pkg/sink/codec/builder/codec_test.go
  pkg/sink/codec/craft/craft_decoder.go
  pkg/sink/codec/open/open_protocol_encoder_test.go
  pkg/sink/codec/open/open_protocol_message.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
Due: cdc

add ut
  dm/loader/lightning.go
  dm/loader/lightning_test.go
Due: dm

add test
  dm/openapi/fixtures/task.go
Due: dm

set the table id if 0
  cmd/kafka-consumer/writer.go
Due: cdc

fix test
  dm/config/task_converters_test.go
  dm/openapi/fixtures/task.go
Due: dm

make fmt
  cdc/sink/dmlsink/txn/event_test.go
Due: cdc

make fmt
  cdc/model/sink.go
  cdc/model/sink_test.go
Due: cdc

fix
  cdc/entry/schema_storage.go
  cdc/puller/ddl_puller.go
  tests/integration_tests/ddl_with_exists/conf/diff_config.toml
  tests/integration_tests/ddl_with_exists/run.sh
  tests/integration_tests/ddl_with_exists/test.go
Due: cdc

add one log to the event group resolve
  cmd/kafka-consumer/event_group.go
Due: cdc

enable new test
  tests/integration_tests/run_group.sh
Due: none

fix the mysql gen key unit test
  cdc/sink/dmlsink/txn/event_test.go
Due: cdc

set table id for row
  cmd/kafka-consumer/event_group.go
  cmd/kafka-consumer/writer.go
Due: cdc

This is an automated cherry-pick of #11845
  cdc/entry/schema_test_helper.go
  cdc/model/sink.go
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/canal/canal_json_row_event_encoder_test.go
  pkg/sink/codec/open/open_protocol_encoder_test.go
  pkg/sink/codec/simple/avro.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
Due: cdc

Revert "update"
  cdc/redo/writer/memory/encoding_worker.go
Due: cdc

update ut
  cdc/redo/writer/memory/mem_log_writer_test.go
Due: cdc

dm: fix start task check when both shard-mode and TLS are configured (#11843)
  dm/ctl/master/start_task.go
  dm/tests/tls/conf/dm-task-3.yaml
  dm/tests/tls/run.sh
Due: dm

fix conflicts
  cdc/model/sink.go
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/canal/canal_json_row_event_encoder_test.go
  pkg/sink/codec/simple/avro.go
Due: cdc

open-protocol also skip redundant messges
  cmd/kafka-consumer/writer.go
Due: cdc

fix
  dm/pkg/election/election.go
  dm/pkg/election/election_test.go
Due: dm

address comment
  dm/pkg/election/election_test.go
Due: dm

update
  dm/pkg/election/election.go
Due: dm

dm: fix leader did not retire after delete the key
  dm/pkg/election/election.go
  dm/pkg/election/election_test.go
Due: dm

fix test
  dm/config/task_converters.go
  dm/config/task_converters_test.go
  dm/openapi/fixtures/task.go
Due: dm

fix test
  dm/tests/openapi/tls_conf/ca2.pem
  dm/tests/openapi/tls_conf/tidb.key
  dm/tests/openapi/tls_conf/tidb.pem
Due: dm

always generate fake table id
  cmd/kafka-consumer/writer.go
Due: cdc

.
  cmd/kafka-consumer/writer.go
Due: cdc

Add test case
  dm/tests/tls/conf/dm-task-3.yaml
  dm/tests/tls/run.sh
Due: dm

Load TLS Context after validating config
  dm/ctl/master/start_task.go
Due: dm

do not generate fake table id for the simple protocol
  cmd/kafka-consumer/writer.go
Due: cdc

only sort event group for the canal-json protocol
  cmd/kafka-consumer/event_group.go
Due: cdc

only sort event group for the canal-json protocol
  cmd/kafka-consumer/writer.go
Due: cdc

fix fmt
  cmd/kafka-consumer/event_group.go
Due: cdc

try to add the physical table id
  cdc/model/sink.go
Due: cdc

fix the case
  cdc/model/sink.go
  pkg/sink/codec/open/open_protocol_encoder_test.go
  pkg/sink/codec/simple/message.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
