Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

fix errors.toml
  errors.toml
Due: none

remove log
  cdc/processor/sourcemanager/manager.go
Due: cdc

fix verify
  cdc/model/kv.go
Due: cdc

f
  cdc/processor/sinkmanager/manager.go
Due: cdc

try restart
  cdc/processor/sinkmanager/manager.go
  pkg/errors/helper.go
Due: cdc

fix test again
  pkg/sink/codec/open/open_protocol_decoder.go
Due: cdc

add some log
  cdc/processor/sinkmanager/manager.go
  pkg/errors/helper.go
Due: cdc

avoid split update event at safe mode
  cdc/model/kv.go
  cdc/processor/sourcemanager/manager.go
  cdc/sink/dmlsink/txn/mysql/mysql.go
  cdc/sink/dmlsink/txn/mysql/mysql_test.go
Due: cdc

add integration test
  cdc/sink/dmlsink/txn/mysql/mysql.go
  tests/integration_tests/changefeed_dup_error_restart/conf/diff_config.toml
  tests/integration_tests/changefeed_dup_error_restart/conf/workload
  tests/integration_tests/changefeed_dup_error_restart/run.sh
  tests/integration_tests/run_group.sh
Due: cdc

fix
  pkg/applier/_insert_temp_storage
  pkg/applier/redo.go
Due: cdc

support write temp insert events to disk
  cdc/model/sink.go
  cdc/redo/reader/reader.go
  pkg/applier/_insert_temp_storage
  pkg/applier/redo.go
  pkg/applier/redo_test.go
Due: cdc

fix
  pkg/errors/helper.go
Due: cdc

This is an automated cherry-pick of #10919
  cdc/model/kv.go
  cdc/model/sink.go
  cdc/model/sink_test.go
  cdc/processor/processor.go
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sourcemanager/manager.go
  cdc/redo/reader/reader.go
  cdc/sink/codec/open/open_protocol_decoder.go
  cdc/sinkv2/eventsink/factory/factory.go
  cdc/sinkv2/eventsink/txn/mysql/mysql.go
  cdc/sinkv2/eventsink/txn/mysql/mysql_test.go
  cmd/kafka-consumer/main.go
  cmd/pulsar-consumer/main.go
  cmd/storage-consumer/main.go
  dm/tests/load_interrupt/conf/diff_config.toml
  errors.toml
  pkg/applier/redo.go
  pkg/applier/redo_test.go
  pkg/errors/cdc_errors.go
  pkg/errors/helper.go
  tests/integration_tests/changefeed_dup_error_restart/conf/diff_config.toml
  tests/integration_tests/changefeed_dup_error_restart/conf/workload
  tests/integration_tests/changefeed_dup_error_restart/run.sh
  tests/integration_tests/force_replicate_table/run.sh
  tests/integration_tests/run_group.sh
Due: cdc, dm

This is an automated cherry-pick of #10919
  cdc/model/kv.go
  cdc/model/sink.go
  cdc/model/sink_test.go
  cdc/processor/processor.go
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sourcemanager/manager.go
  cdc/redo/reader/reader.go
  cdc/sink/dmlsink/factory/factory.go
  cdc/sink/dmlsink/txn/mysql/mysql.go
  cdc/sink/dmlsink/txn/mysql/mysql_test.go
  cmd/kafka-consumer/main.go
  cmd/pulsar-consumer/main.go
  cmd/storage-consumer/main.go
  errors.toml
  pkg/applier/redo.go
  pkg/applier/redo_test.go
  pkg/errors/cdc_errors.go
  pkg/errors/helper.go
  pkg/sink/codec/open/open_protocol_decoder.go
  tests/integration_tests/changefeed_dup_error_restart/conf/diff_config.toml
  tests/integration_tests/changefeed_dup_error_restart/conf/workload
  tests/integration_tests/changefeed_dup_error_restart/run.sh
  tests/integration_tests/force_replicate_table/run.sh
  tests/integration_tests/kafka_simple_handle_key_only_avro/conf/diff_config.toml
  tests/integration_tests/run_group.sh
Due: cdc

disable sequence integration test case
  tests/integration_tests/sequence/run.sh
Due: none

simple (ticdc): fix bootstrap event is not sent
  cdc/sink/dmlsink/mq/mq_dml_sink.go
  pkg/sink/codec/bootstraper.go
Due: cdc

sink (ticdc): fix sourceID error (#11021)
  cdc/processor/processor.go
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sinkmanager/manager_test_helper.go
  pkg/sink/mysql/config.go
Due: cdc

sink (ticdc): fix sourceID error
  cdc/processor/processor.go
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sinkmanager/manager_test_helper.go
  pkg/sink/mysql/config.go
Due: cdc

This is an automated cherry-pick of #11021
  cdc/processor/processor.go
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sinkmanager/manager_test_helper.go
  pkg/sink/mysql/config.go
Due: cdc

This is an automated cherry-pick of #10888
  cdc/model/schema_storage_test.go
  go.mod
  go.sum
  pkg/sink/codec/simple/encoder_test.go
Due: cdc

*(ticdc): split old update kv entry after restarting changefeed (#10919) (#11027)
  cdc/model/kv.go
  cdc/model/sink.go
  cdc/model/sink_test.go
  cdc/processor/processor.go
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sourcemanager/manager.go
  cdc/redo/reader/reader.go
  cdc/sink/dmlsink/factory/factory.go
  cdc/sink/dmlsink/txn/mysql/mysql.go
  cdc/sink/dmlsink/txn/mysql/mysql_test.go
  cmd/kafka-consumer/main.go
  cmd/pulsar-consumer/main.go
  cmd/storage-consumer/main.go
  errors.toml
  pkg/applier/redo.go
  pkg/applier/redo_test.go
  pkg/errors/cdc_errors.go
  pkg/errors/helper.go
  pkg/sink/codec/open/open_protocol_decoder.go
  tests/integration_tests/changefeed_dup_error_restart/conf/diff_config.toml
  tests/integration_tests/changefeed_dup_error_restart/conf/workload
  tests/integration_tests/changefeed_dup_error_restart/run.sh
  tests/integration_tests/force_replicate_table/run.sh
  tests/integration_tests/kafka_simple_handle_key_only_avro/conf/diff_config.toml
  tests/integration_tests/run_group.sh
Due: cdc

test(ticdc): enable sequence test (#11023)
  scripts/download-integration-test-binaries.sh
  tests/integration_tests/sequence/run.sh
Due: none

fix
  scripts/download-integration-test-binaries.sh
Due: none

enable sequence test
  scripts/download-integration-test-binaries.sh
Due: none

This is an automated cherry-pick of #11023
  scripts/download-integration-test-binaries.sh
  tests/integration_tests/sequence/run.sh
Due: none

fix: update changefeedErrorStuckDuration
  cdc/owner/feed_state_manager.go
Due: cdc

change
  dm/pkg/binlog/common/replication.go
  go.mod
  go.sum
Due: dm

fmt
  cdc/owner/feed_state_manager.go
Due: cdc

chore
  cmd/kafka-consumer/main.go
  cmd/kafka-consumer/option.go
Due: cdc

Update run.sh
  tests/integration_tests/sequence/run.sh
Due: none

kv (ticdc): support disable resolve lock function
  cdc/kv/shared_client.go
  pkg/config/debug.go
  pkg/config/server_config.go
Due: cdc

ticdc: support detecting the Kafka cluster version automatically (#10854)
  pkg/sink/kafka/options.go
  pkg/sink/kafka/options_test.go
  pkg/sink/kafka/sarama.go
  pkg/sink/kafka/sarama_factory_test.go
  pkg/sink/kafka/sarama_test.go
Due: cdc

test(ticdc): enable sequence test (#11023) (#11040)
  scripts/download-integration-test-binaries.sh
  tests/integration_tests/sequence/run.sh
Due: none

keep consistent with the master
  cmd/kafka-consumer/writer.go
Due: cdc

fix conflict
  cdc/model/sink.go
  cdc/model/sink_test.go
  cdc/processor/processor.go
  cdc/processor/sourcemanager/manager.go
  cdc/processor/sourcemanager/puller/dummy_puller_wrapper.go
  cdc/processor/sourcemanager/puller/multiplexing_puller_wrapper.go
  cdc/processor/sourcemanager/puller/puller_wrapper.go
  cdc/redo/reader/reader.go
  cdc/sink/dmlsink/txn/mysql/mysql.go
  cdc/sink/dmlsink/txn/mysql/mysql_test.go
  pkg/applier/redo.go
  pkg/applier/redo_test.go
  tests/integration_tests/_utils/run_pulsar_consumer
  tests/integration_tests/force_replicate_table/run.sh
  tests/integration_tests/run_group.sh
Due: cdc

ticdc: Support `create table` ddl only appear in tidb_ddl_history instead of tidb_ddl_job table (#10907)
  cdc/entry/mounter.go
  cdc/puller/ddl_puller.go
  pkg/spanz/span.go
  tests/integration_tests/batch_add_table/run.sh
  tests/integration_tests/multi_source/run.sh
Due: cdc

dm: upgrade go-mysql library (#11043)
  dm/pkg/binlog/common/replication.go
  go.mod
  go.sum
Due: dm

update detecting kafka version
  pkg/sink/kafka/options.go
  pkg/sink/kafka/sarama.go
  pkg/sink/kafka/sarama_factory_test.go
Due: cdc
