Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

update
  scripts/download-integration-test-binaries.sh
Due: none

fix cdc test by change pkg
  cdc/kv/client_mock_test.go
Due: cdc

fix TestMustRegisterNotValidName failed due to Prometheus client_golang library relaxed the metric name validation
  engine/pkg/promutil/registry_test.go
Due: engine

fix TestAllTables due to TableID changed
  cdc/entry/schema_test.go
Due: cdc

bump sarama
  go.mod
  go.sum
Due: none

bump linter
  tools/check/go.mod
  tools/check/go.sum
Due: none

fix make fmt
  cdc/api/v1/api.go
  cdc/api/v2/changefeed.go
  cdc/kv/client.go
  cdc/sink/dmlsink/mq/dmlproducer/kafka_dml_producer_test.go
  dm/ctl/master/check_task.go
  dm/ctl/master/handle_error.go
  dm/ctl/master/list_member.go
  dm/ctl/master/offline_member.go
  dm/ctl/master/operate_source.go
  dm/ctl/master/purge_relay.go
  dm/ctl/master/query_status.go
  dm/ctl/master/show_ddl_locks.go
  dm/ctl/master/start_stop_relay.go
  dm/ctl/master/start_task.go
  dm/ctl/master/transfer_source.go
  dm/ctl/master/unlock_ddl_lock.go
  dm/pkg/ha/source.go
  engine/framework/internal/master/worker_creator.go
  engine/jobmaster/dm/ddl_coordinator.go
  pkg/sink/codec/avro/confluent_schema_registry.go
  tests/integration_tests/move_table/main.go
Due: cdc, dm, engine

update golang ci
  .golangci.yml
Due: none

revert some changes
  .golangci.yml
  cdc/api/v1/api.go
  cdc/api/v2/changefeed.go
  cdc/kv/client.go
  cdc/sink/dmlsink/mq/dmlproducer/kafka_dml_producer_test.go
  dm/ctl/master/check_task.go
  dm/ctl/master/handle_error.go
  dm/ctl/master/list_member.go
  dm/ctl/master/offline_member.go
  dm/ctl/master/operate_source.go
  dm/ctl/master/purge_relay.go
  dm/ctl/master/query_status.go
  dm/ctl/master/show_ddl_locks.go
  dm/ctl/master/start_stop_relay.go
  dm/ctl/master/start_task.go
  dm/ctl/master/transfer_source.go
  dm/ctl/master/unlock_ddl_lock.go
  dm/pkg/ha/source.go
  engine/framework/internal/master/worker_creator.go
  engine/jobmaster/dm/ddl_coordinator.go
  go.mod
  go.sum
  pkg/sink/codec/avro/confluent_schema_registry.go
  tests/integration_tests/move_table/main.go
  tools/check/go.mod
  tools/check/go.sum
Due: cdc, dm, engine

kafka(ticdc): bump sarama fix kafka stuck (#12196)
  go.mod
  go.sum
Due: none

This is an automated cherry-pick of #12172
  cdc/kv/client_mock_test.go
  cdc/kv/shared_client.go
  cdc/kv/shared_stream.go
  cdc/owner/owner.go
  pkg/upstream/upstream.go
  pkg/version/check.go
Due: cdc

fix test
  dm/tests/all_mode/run.sh
Due: dm

add debug log
  cdc/owner/owner.go
Due: cdc

add debug log 2
  pkg/txnutil/gc/gc_service.go
  pkg/upstream/manager.go
Due: cdc

hack version
  cdc/capture/capture.go
Due: cdc

hack version2
  Makefile
  cdc/capture/capture.go
Due: cdc

fix func and ut
  cdc/sink/ddlsink/mq/mq_ddl_sink.go
  cdc/sink/ddlsink/mq/pulsar_ddl_sink.go
  cdc/sink/dmlsink/mq/manager/kafka_manager_test.go
  cdc/sink/util/helper_test.go
  pkg/sink/kafka/cluster_admin_client_mock_impl.go
  pkg/sink/kafka/factory.go
  pkg/sink/kafka/mock_factory.go
  pkg/sink/kafka/v2/admin.go
  pkg/sink/kafka/v2/factory.go
Due: cdc

fix kafka options ut
  pkg/sink/kafka/cluster_admin_client_mock_impl.go
Due: cdc

fix bug
  cdc/owner/owner.go
  pkg/txnutil/gc/gc_manager.go
  pkg/txnutil/gc/gc_service.go
Due: cdc

test: add unit tests for Kafka sink keep-alive
  cdc/sink/ddlsink/mq/mq_ddl_sink_test.go
  cdc/sink/dmlsink/mq/manager/kafka_manager_test.go
  pkg/sink/kafka/factory.go
  pkg/sink/kafka/options.go
  pkg/sink/kafka/options_test.go
  pkg/sink/kafka/sarama_factory_test.go
Due: cdc

modify by make check
  cdc/sink/ddlsink/mq/mq_ddl_sink_test.go
  pkg/sink/kafka/sarama_factory_test.go
Due: cdc

fix by make check
  cdc/sink/ddlsink/mq/mq_ddl_sink_test.go
  pkg/sink/kafka/options_test.go
Due: cdc

fix TestSaramaAsyncProducerHeartbeat leaks
  pkg/sink/kafka/sarama_factory_test.go
Due: cdc

release a ticker when finish
  cdc/sink/dmlsink/mq/manager/kafka_manager.go
Due: cdc

remove return an error when get connections.max.idle.ms failed from kafka broker
  pkg/sink/kafka/options.go
  pkg/sink/kafka/options_test.go
Due: cdc

modify code style
  pkg/sink/kafka/sarama_factory.go
Due: cdc

fix bug in processor
  cdc/processor/processor.go
Due: cdc

refactor a KeepConnAlive func
  pkg/sink/kafka/admin.go
  pkg/sink/kafka/factory.go
  pkg/sink/kafka/sarama.go
Due: cdc

sarama: add keep-alive mechanism for sarama connections (#12173)
  cdc/sink/ddlsink/mq/kafka_ddl_sink.go
  cdc/sink/ddlsink/mq/mq_ddl_sink.go
  cdc/sink/ddlsink/mq/mq_ddl_sink_test.go
  cdc/sink/ddlsink/mq/pulsar_ddl_sink.go
  cdc/sink/dmlsink/mq/kafka_dml_sink.go
  cdc/sink/dmlsink/mq/manager/kafka_manager.go
  cdc/sink/dmlsink/mq/manager/kafka_manager_test.go
  cdc/sink/util/helper.go
  cdc/sink/util/helper_test.go
  pkg/sink/kafka/admin.go
  pkg/sink/kafka/cluster_admin_client.go
  pkg/sink/kafka/cluster_admin_client_mock_impl.go
  pkg/sink/kafka/factory.go
  pkg/sink/kafka/mock_factory.go
  pkg/sink/kafka/options.go
  pkg/sink/kafka/options_test.go
  pkg/sink/kafka/sarama.go
  pkg/sink/kafka/sarama_factory.go
  pkg/sink/kafka/sarama_factory_test.go
  pkg/sink/kafka/v2/admin.go
  pkg/sink/kafka/v2/factory.go
Due: cdc

chore: test prow ci trigger
  dm/tests/run.sh
  tests/integration_tests/run.sh
Due: dm

fix format
  cdc/kv/shared_client.go
  cdc/kv/shared_stream.go
  pkg/upstream/upstream.go
Due: cdc

fix format
  cdc/kv/shared_client.go
  cdc/kv/shared_stream.go
  cdc/owner/owner.go
  pkg/version/check.go
Due: cdc

fix format
  changefeed.toml
  pkg/version/check.go
Due: cdc
