Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

sink: avoid memory allocations for transforming ColumnData to Column (#11595)
  cdc/model/sink.go
  cdc/model/sink_gen.go
  cdc/model/sink_gen_test.go
  cdc/sink/dmlsink/txn/event.go
  cdc/sink/dmlsink/txn/event_test.go
  cdc/sink/dmlsink/txn/mysql/dml.go
  cdc/sink/dmlsink/txn/mysql/dml_test.go
  cdc/sink/dmlsink/txn/mysql/mysql.go
  docs/swagger/docs.go
  docs/swagger/swagger.json
  docs/swagger/swagger.yaml
  pkg/sink/codec/canal/canal_entry.go
  pkg/sink/codec/canal/canal_json_row_event_encoder.go
  pkg/sink/codec/craft/model.go
  pkg/sink/codec/csv/csv_message.go
  pkg/sink/codec/csv/csv_message_test.go
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/internal/column.go
  pkg/sink/codec/open/open_protocol_message.go
  pkg/sink/codec/open/open_protocol_message_test.go
  pkg/util/bitflag.go
  tools/check/go.sum
Due: cdc

remove ctx from the ddl sink interface
  cdc/owner/changefeed.go
  cdc/owner/changefeed_test.go
  cdc/owner/ddl_sink.go
  cdc/owner/owner.go
Due: cdc

fix ut
  cdc/owner/ddl_sink_test.go
Due: cdc

Update cdc/scheduler/internal/v3/coordinator.go
  cdc/scheduler/internal/v3/coordinator.go
Due: cdc

fix connection problem to mysql8.0 caused by password longer than 19 chars
  go.mod
  go.sum
Due: none

refactor(pb): add deprecated option to `current_ts` in table.proto
  cdc/processor/tablepb/table.proto
Due: cdc

fix(integration test): reintroduce --wildcards option to tar command in download-integration-test-binaries.sh
  scripts/download-integration-test-binaries.sh
Due: none

revert one commit
  cdc/owner/changefeed.go
  cdc/owner/changefeed_test.go
  cdc/owner/ddl_manager.go
  cdc/owner/feed_state_manager.go
  cdc/owner/owner.go
  pkg/txnutil/gc/gc_manager.go
Due: cdc

debug
  pkg/sink/codec/debezium/codec.go
  tests/integration_tests/debezium/README.md
  tests/integration_tests/debezium/src/test_cases.go
Due: cdc

adjust method
  cdc/owner/changefeed.go
  cdc/owner/changefeed_test.go
  cdc/owner/feed_state_manager.go
  cdc/owner/owner.go
  cdc/owner/owner_test.go
  changefeed.toml
  pkg/orchestrator/reactor_state.go
Due: cdc

remove optional func when calling client.Connect
  dm/debug-tools/binlog-event-blackhole/fetcher.go
Due: dm

adjust method
  cdc/owner/changefeed.go
  cdc/owner/feed_state_manager.go
Due: cdc

adjust method
  cdc/owner/changefeed.go
Due: cdc

schematracker(dm): Increase max-index-length config for dm schema tracker (#11465) (#11627)
  dm/pkg/schema/tracker.go
  dm/pkg/schema/tracker_test.go
Due: dm

dm: fix leader did not retire after delete the key (#11604) (#11625)
  dm/pkg/election/election.go
  dm/pkg/election/election_test.go
Due: dm

fix ut
  cdc/owner/feed_state_manager_test.go
Due: cdc

fix ut
  pkg/orchestrator/reactor_state.go
Due: cdc

simplify the processor interface
  cdc/processor/manager.go
  cdc/processor/processor.go
  cdc/processor/processor_test.go
  pkg/orchestrator/reactor_state.go
Due: cdc

simplify the processor interface
  cdc/processor/manager.go
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sourcemanager/manager.go
Due: cdc

simplify the processor interface
  cdc/processor/processor.go
Due: cdc

Release-testing: v7.5.4 tiflow repo CI trigger
  tests/utils/checksum_checker/main.go
Due: none

Update mysql_ddl_sink.go
  cdc/sink/ddlsink/mysql/mysql_ddl_sink.go
Due: cdc

sink(ticdc): update defaultSupportVectorVersion (#11634)
  cdc/sink/ddlsink/mysql/mysql_ddl_sink.go
Due: cdc

gomod(dm): upgrade go-mysql to 1.9.1 (#11630)
  dm/debug-tools/binlog-event-blackhole/fetcher.go
  go.mod
  go.sum
Due: dm

add more log for skipped ddl
  cdc/puller/ddl_puller.go
Due: cdc

fix log for exchange partition
  cdc/entry/schema_storage.go
Due: cdc

add log for create tables
  cdc/puller/ddl_puller.go
Due: cdc

Update golang-linter version to 1.60.1
  tools/check/go.mod
  tools/check/go.sum
Due: none

Update make fmt needed dependence.
  cdc/api/v1/api.go
  cdc/api/v2/changefeed.go
  cdc/sink/dmlsink/mq/dmlproducer/kafka_dml_producer_test.go
  cmd/cdc/fips.go
  dm/ctl/master/check_task.go
  dm/ctl/master/handle_error.go
  dm/ctl/master/list_member.go
  dm/ctl/master/offline_member.go
  dm/ctl/master/operate_source.go
  dm/ctl/master/purge_relay.go
  dm/ctl/master/query_status.go
  dm/ctl/master/show_ddl_locks.go
  dm/ctl/master/start_stop_relay.go
  dm/ctl/master/start_task.go
  dm/ctl/master/transfer_source.go
  dm/ctl/master/unlock_ddl_lock.go
  dm/pkg/ha/source.go
  engine/framework/internal/master/worker_creator.go
  engine/jobmaster/dm/ddl_coordinator.go
  pkg/sink/codec/avro/confluent_schema_registry.go
  tests/integration_tests/move_table/main.go
  tools/check/go.sum
Due: cdc, dm, engine

fix
  cdc/model/sink.go
  pkg/sink/codec/avro/avro.go
Due: cdc

Temp comment default value test.
  tests/integration_tests/run_group.sh
Due: none

Update golang-lint to 1.61.0
  tools/check/go.mod
  tools/check/go.sum
Due: none

debug
  go.mod
Due: none

Revert "debug"
  go.mod
Due: none

godebug
  go.mod
Due: none

update golangci-lint.
  .golangci.yml
  Makefile
  tools/check/go.mod
  tools/check/go.sum
Due: none

Update golanci.yml
  .golangci.yml
Due: none

skip some lint check to make golangci-lint not panic, also some lint check need more workload to handle.
  .golangci.yml
  dm/.golangci.yml
Due: dm

update fmt
  docs/swagger/docs.go
  docs/swagger/swagger.json
  docs/swagger/swagger.yaml
  go.mod
  tests/integration_tests/default_value/run.sh
  tests/integration_tests/run_group.sh
  tools/check/go.sum
Due: none

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
