Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

update
  tests/integration_tests/debezium/README.md
  tests/integration_tests/debezium/docker-compose.yml
Due: none

add metrics for per event flush time
  cdc/processor/sinkmanager/manager.go
  cdc/sink/dmlsink/factory/factory.go
  cdc/sink/dmlsink/factory/factory_test.go
  cdc/sink/metrics/tablesink/metrics.go
  cdc/sink/tablesink/table_sink_impl.go
  cmd/kafka-consumer/main.go
  cmd/pulsar-consumer/main.go
  cmd/storage-consumer/main.go
  pkg/applier/redo.go
Due: cdc

add unit test
  cdc/kv/client.go
  cdc/kv/client_test.go
  pkg/config/config_test_data.go
Due: cdc

add unit test
  cdc/kv/client.go
  cdc/kv/client_test.go
  cdc/kv/region_worker.go
Due: cdc

change
  .github/workflows/upgrade_dm_via_tiup.yaml
Due: none

fix make check
  cdc/kv/client.go
Due: cdc

fix metrics
  cdc/owner/changefeed.go
  cdc/owner/metrics.go
Due: cdc

add 2 value types
  pkg/sink/codec/simple/avro.go
  pkg/sink/codec/simple/encoder.go
  pkg/sink/codec/simple/marshaller.go
  pkg/sink/codec/simple/message.go
  pkg/sink/codec/simple/message.json
Due: cdc

change
  dm/tests/tiup/upgrade-from-v2.sh
Due: dm

fix typo
  cdc/sink/metrics/tablesink/metrics.go
Due: cdc

metrics(ticdc): fix slowest table metrics in scheduler (#10484) (#10500)
  cdc/owner/changefeed.go
  cdc/scheduler/internal/v3/replication/replication_manager.go
  metrics/alertmanager/ticdc.rules.yml
Due: cdc

add integration test
  tests/integration_tests/storage_cleanup/conf/changefeed.toml
  tests/integration_tests/storage_cleanup/conf/diff_config.toml
  tests/integration_tests/storage_cleanup/data/data.sql
  tests/integration_tests/storage_cleanup/data/schema.sql
  tests/integration_tests/storage_cleanup/run.sh
Due: none

add integrtion test
  tests/integration_tests/run_group.sh
  tests/integration_tests/storage_cleanup/conf/changefeed-default.toml
  tests/integration_tests/storage_cleanup/run.sh
Due: none

fix data race
  cdc/sink/ddlsink/cloudstorage/cloud_storage_ddl_sink_test.go
Due: cdc

remove empty dirs
  cdc/sink/ddlsink/cloudstorage/cloud_storage_ddl_sink.go
  cdc/sink/ddlsink/cloudstorage/cloud_storage_ddl_sink_test.go
  pkg/sink/cloudstorage/path.go
  pkg/sink/cloudstorage/path_test.go
  tests/integration_tests/storage_cleanup/run.sh
Due: cdc

fix ut
  cdc/sink/ddlsink/cloudstorage/cloud_storage_ddl_sink.go
  tests/integration_tests/storage_cleanup/run.sh
Due: cdc

fix check err
  go.mod
Due: none

add integrtion test
  tests/integration_tests/storage_cleanup/conf/changefeed.toml
  tests/integration_tests/storage_cleanup/run.sh
Due: none

fix ut
  cdc/sink/ddlsink/cloudstorage/cloud_storage_ddl_sink.go
Due: cdc

fix ut
  cdc/sink/ddlsink/cloudstorage/cloud_storage_ddl_sink.go
  pkg/sink/cloudstorage/path.go
  pkg/sink/cloudstorage/path_test.go
Due: cdc

cleanup expired files by day
  cdc/api/v2/model.go
  cdc/sink/ddlsink/cloudstorage/cloud_storage_ddl_sink.go
  cdc/sink/ddlsink/cloudstorage/cloud_storage_ddl_sink_test.go
  go.mod
  go.sum
  pkg/config/sink.go
  pkg/sink/cloudstorage/config.go
  pkg/sink/cloudstorage/path.go
  pkg/sink/cloudstorage/path_test.go
  pkg/util/external_storage.go
Due: cdc

fix test.
  pkg/sink/codec/simple/decoder.go
Due: cdc

update
  tests/integration_tests/debezium/run.sh
Due: none

add upstream_switch_mariadb
  dm/tests/upstream_switch_mariadb/Dockerfile
  dm/tests/upstream_switch_mariadb/case.sh
  dm/tests/upstream_switch_mariadb/chk_mysql.sh
  dm/tests/upstream_switch_mariadb/conf/diff_config.toml
  dm/tests/upstream_switch_mariadb/conf/dm-master.toml
  dm/tests/upstream_switch_mariadb/conf/dm-worker1.toml
  dm/tests/upstream_switch_mariadb/conf/dm-worker2.toml
  dm/tests/upstream_switch_mariadb/conf/source1.yaml
  dm/tests/upstream_switch_mariadb/conf/source2.yaml
  dm/tests/upstream_switch_mariadb/conf/task-pessimistic.yaml
  dm/tests/upstream_switch_mariadb/docker-compose.yml
  dm/tests/upstream_switch_mariadb/init.sh
  dm/tests/upstream_switch_mariadb/lib.sh
  dm/tests/upstream_switch_mariadb/mysql57_master/keepalive.conf
  dm/tests/upstream_switch_mariadb/mysql57_slave/keepalive.conf
  dm/tests/upstream_switch_mariadb/mysql8_master/keepalive.conf
  dm/tests/upstream_switch_mariadb/mysql8_slave/keepalive.conf
Due: dm

change
  dm/tests/tiup/lib.sh
Due: dm

change
  .github/workflows/upgrade_dm_via_tiup.yaml
  dm/tests/tiup/lib.sh
  dm/tests/tiup/upgrade-from-v2.sh
Due: dm

update
  tests/integration_tests/debezium/src/test_cases.go
Due: none

small refactor
  cdc/metrics/metrics.go
  cdc/metrics/metrics_test.go
  cdc/owner/metrics.go
  cdc/sink/metrics/tablesink/metrics.go
Due: cdc

add grafana
  metrics/grafana/ticdc.json
Due: none

kv (ticdc): fix kvClient reconnection downhill loop (#10559) (#10570)
  cdc/kv/client.go
  cdc/kv/client_test.go
  cdc/kv/region_worker.go
  cdc/kv/region_worker_test.go
  pkg/config/config_test_data.go
  pkg/config/debug.go
  pkg/config/server_config.go
Due: cdc

owner, metrics(ticdc): fix metrics (#10459) (#10515)
  cdc/owner/changefeed.go
  cdc/owner/metrics.go
Due: cdc

fix check
  cdc/processor/sinkmanager/table_sink_wrapper_test.go
  cdc/sink/metrics/tablesink/metrics.go
  cdc/sink/tablesink/table_sink_impl_test.go
Due: cdc

small fix
  cdc/metrics/metrics.go
Due: cdc

add unit test to cover ddl dispatch rule.
  cdc/sink/ddlsink/mq/mq_ddl_sink_test.go
Due: cdc

sink(ticdc): cleanup expired files by day for storage sink (#10097) (#10163)
  cdc/api/v2/model.go
  cdc/sink/ddlsink/cloudstorage/cloud_storage_ddl_sink.go
  cdc/sink/ddlsink/cloudstorage/cloud_storage_ddl_sink_test.go
  go.mod
  go.sum
  pkg/config/sink.go
  pkg/sink/cloudstorage/config.go
  pkg/sink/cloudstorage/path.go
  pkg/sink/cloudstorage/path_test.go
  pkg/util/external_storage.go
  tests/integration_tests/run_group.sh
  tests/integration_tests/storage_cleanup/conf/changefeed-default.toml
  tests/integration_tests/storage_cleanup/conf/changefeed.toml
  tests/integration_tests/storage_cleanup/conf/diff_config.toml
  tests/integration_tests/storage_cleanup/data/data.sql
  tests/integration_tests/storage_cleanup/data/schema.sql
  tests/integration_tests/storage_cleanup/run.sh
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
