Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

This is an automated cherry-pick of #11630
  dm/debug-tools/binlog-event-blackhole/fetcher.go
  go.mod
  go.sum
Due: dm

fix connection problem to mysql8.0 caused by password longer than 19 chars
  go.mod
  go.sum
Due: none

remove optional func when calling client.Connect
  dm/debug-tools/binlog-event-blackhole/fetcher.go
Due: dm

update test
  cdc/scheduler/internal/v3/keyspan/splitter_write.go
  cdc/scheduler/internal/v3/keyspan/splitter_write_test.go
Due: cdc

update
  cdc/scheduler/internal/v3/keyspan/splitter_write.go
Due: cdc

.
  cdc/scheduler/internal/v3/keyspan/splitter_write_test.go
Due: cdc

*(dm): add redact log config for dm worker (#11709)
  cmd/dm-worker/main.go
  dm/pkg/conn/baseconn.go
  dm/pkg/conn/basedb.go
  dm/pkg/log/log.go
  dm/syncer/dbconn/db.go
  dm/tests/dmctl_basic/conf/get_worker1.toml
  dm/tests/dmctl_basic/conf/get_worker2.toml
  dm/worker/config.go
Due: cdc, dm

adjust a lot of logs about checksum
  cdc/entry/mounter.go
Due: cdc

use handle to calcualte checksum
  cdc/entry/mounter.go
  go.mod
  go.sum
Due: cdc

tests: add foreign key tests with log filter (#11703)
  tests/integration_tests/foreign_key/conf/cf.toml
  tests/integration_tests/foreign_key/conf/diff_config.toml
  tests/integration_tests/foreign_key/data/prepare.sql
  tests/integration_tests/foreign_key/run.sh
Due: none

update
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/common/helper.go
  tests/integration_tests/debezium/README.md
  tests/integration_tests/debezium/docker-compose.yml
  tests/integration_tests/debezium/run.sh
  tests/integration_tests/debezium/src/test_cases.go
Due: cdc

update
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/helper.go
  tests/integration_tests/debezium/sql/debezium/timestamp_column_test.sql
  tests/integration_tests/debezium/sql/debezium/year_test.sql
Due: cdc

resolve conflict
  cdc/owner/ddl_manager.go
  cdc/puller/ddl_puller.go
  cdc/puller/ddl_puller_test.go
Due: cdc

fix unit test
  cdc/puller/ddl_puller_test.go
Due: cdc

resolve conflict
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sinkmanager/manager_test.go
  cdc/processor/sinkmanager/table_sink_wrapper.go
  cdc/processor/sinkmanager/table_sink_wrapper_test.go
  pkg/config/sink.go
  pkg/sink/kafka/sarama_factory.go
  tests/integration_tests/hang_sink_suicide/conf/changefeed.toml
  tests/integration_tests/hang_sink_suicide/conf/diff_config.toml
  tests/integration_tests/hang_sink_suicide/run.sh
  tests/integration_tests/run_group.sh
Due: cdc

update condition
  cdc/scheduler/internal/v3/keyspan/splitter_write.go
Due: cdc

resolve conflict 2
  tests/integration_tests/run_group.sh
Due: none

.
  cdc/scheduler/internal/v3/keyspan/splitter_write.go
Due: cdc

ddl_puller (ticdc): handle dorp pk/uk ddl correctly (#10965) (#10982)
  cdc/owner/ddl_manager.go
  cdc/puller/ddl_puller.go
  cdc/puller/ddl_puller_test.go
Due: cdc

scheduler(ticdc): fix span loss bug when split regions (#11715)
  cdc/scheduler/internal/v3/keyspan/splitter_write.go
  cdc/scheduler/internal/v3/keyspan/splitter_write_test.go
Due: cdc

fix
  cdc/scheduler/internal/v3/keyspan/splitter_write.go
Due: cdc
