Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

fix test
  engine/test/integration_tests/dm_full_mode/run.sh
Due: engine

add comment about the format.
  pkg/sink/codec/common/verify_checksum.go
Due: cdc

ticdc : Split sync_status test to reduce integration ci time (#10700)
  tests/integration_tests/run_group.sh
  tests/integration_tests/synced_status_with_redo/conf/changefeed-redo.toml
  tests/integration_tests/synced_status_with_redo/run.sh
Due: none

small fix for metric
  metrics/grafana/ticdc.json
Due: none

Revert "config(ticdc): remove useless config variables" (#10689)
  cdc/api/v2/model.go
  pkg/config/config_test_data.go
  pkg/config/replica_config.go
  pkg/config/server_config.go
  pkg/config/sorter.go
Due: cdc

add one more unit test on nullable column.
  cdc/entry/mounter_test.go
Due: cdc

fmt sh
  engine/test/integration_tests/dm_full_mode/run.sh
Due: engine

engine: retry on create worker err (#10702)
  engine/executor/server.go
  engine/framework/registry/registry.go
  engine/test/integration_tests/dm_full_mode/run.sh
  pkg/errorutil/util.go
  pkg/errorutil/util_test.go
Due: cdc, engine

simplify the verify checksum method.
  cdc/entry/mounter.go
  errors.toml
  pkg/errors/cdc_errors.go
Due: cdc

fix the go mod.
  go.mod
  go.sum
Due: none

fix the go mod.
  cdc/entry/mounter.go
Due: cdc

add unit test case to cover all event type for event filter
  go.mod
  go.sum
  pkg/filter/sql_event_filter.go
  pkg/filter/sql_event_filter_test.go
Due: cdc

entry (ticdc): logs all tables to be replicated when changefeed initialized (#10657)
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_storage.go
  cdc/entry/schema_storage_test.go
  cdc/entry/validator.go
Due: cdc

change test config
  tests/integration_tests/mq_sink_dispatcher/conf/changefeed.toml
Due: none

[skip ci] Update OWNERS file
  OWNERS
Due: none

u
  tests/integration_tests/mq_sink_dispatcher/conf/changefeed.toml
  tests/integration_tests/mq_sink_dispatcher/conf/new_changefeed.toml
Due: none

f
  tests/integration_tests/mq_sink_dispatcher/conf/new_changefeed.toml
Due: none

use table dispatcher as the default
  cdc/sink/dmlsink/mq/dispatcher/event_router.go
  cdc/sink/dmlsink/mq/dispatcher/partition/default.go
  cdc/sink/dmlsink/mq/dispatcher/partition/default_test.go
Due: cdc

f
  cdc/sink/dmlsink/mq/dispatcher/event_router.go
Due: cdc

f
  tests/integration_tests/mq_sink_dispatcher/run.sh
Due: none

codec(ticdc): simple protocol decoder parse timestamp with microsecond precision (#10704)
  cdc/entry/mounter.go
  errors.toml
  pkg/errors/cdc_errors.go
  pkg/sink/codec/common/verify_checksum.go
  pkg/sink/codec/simple/message.go
  pkg/sink/codec/utils/test_utils.go
Due: cdc

fix unit test.
  cdc/sink/dmlsink/mq/dispatcher/event_router_test.go
  cdc/sink/dmlsink/mq/dispatcher/partition/default_test.go
Due: cdc

kafka(ticdc): use table dispatcher as the default dispatcher (#10714)
  cdc/sink/dmlsink/mq/dispatcher/event_router.go
  cdc/sink/dmlsink/mq/dispatcher/event_router_test.go
  cdc/sink/dmlsink/mq/dispatcher/partition/default.go
  cdc/sink/dmlsink/mq/dispatcher/partition/default_test.go
Due: cdc

OWNERS: Auto Sync OWNERS files from community membership (#10713)
  OWNERS
Due: none

add more log
  cdc/api/v2/changefeed.go
  cdc/sink/dmlsink/mq/dispatcher/event_router.go
  tests/integration_tests/mq_sink_dispatcher/run.sh
Due: cdc

add a test
  tests/integration_tests/mq_sink_dispatcher/conf/changefeed.toml
  tests/integration_tests/mq_sink_dispatcher/conf/diff_config.toml
  tests/integration_tests/mq_sink_dispatcher/run.sh
Due: none

fix test
  tests/integration_tests/mq_sink_dispatcher/run.sh
Due: none

try fix
  cdc/sink/dmlsink/mq/dispatcher/event_router.go
Due: cdc

remove unnecessary log
  cdc/api/v2/changefeed.go
  tests/integration_tests/mq_sink_dispatcher/conf/new_changefeed.toml
  tests/integration_tests/mq_sink_dispatcher/run.sh
Due: cdc

small fix
  tests/integration_tests/mq_sink_dispatcher/conf/changefeed.toml
Due: none

small fix
  tests/integration_tests/mq_sink_dispatcher/conf/diff_config.toml
Due: none

simple (ticdc): fix simple rename table ddl handle error (#10687)
  pkg/sink/codec/bootstraper.go
  pkg/sink/codec/bootstraper_test.go
Due: cdc

This is an automated cherry-pick of #8864
  pkg/sink/codec/avro/avro.go
  pkg/sink/codec/common/config.go
  pkg/sink/codec/common/config_test.go
Due: cdc

fix conflicts.
  pkg/sink/codec/avro/avro.go
  pkg/sink/codec/common/config.go
Due: cdc

fix conflicts.
  pkg/sink/codec/common/config.go
Due: cdc

fix tests
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/canal/canal_json_decoder_test.go
Due: cdc

use DefaultMaxReconnectToPulsarBroker to limit pulsar producer close cost time
  cdc/sink/ddlsink/mq/ddlproducer/pulsar_ddl_producer.go
  cdc/sink/dmlsink/mq/dmlproducer/pulsar_dml_producer.go
  pkg/config/sink.go
Due: cdc

add a unit test
  cdc/sink/dmlsink/mq/dispatcher/event_router_test.go
Due: cdc

dispatcher(cdc): fix verify tables failure when create changefeed (#10715)
  cdc/sink/dmlsink/mq/dispatcher/event_router.go
  cdc/sink/dmlsink/mq/dispatcher/event_router_test.go
  tests/integration_tests/mq_sink_dispatcher/conf/changefeed.toml
  tests/integration_tests/mq_sink_dispatcher/run.sh
Due: cdc

codec(ticdc): avro encode watermark event to be compatible with consumer (#8864) (#10717)
  pkg/sink/codec/avro/avro.go
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/canal/canal_json_decoder_test.go
  pkg/sink/codec/common/config.go
  pkg/sink/codec/common/config_test.go
Due: cdc
