Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

chore
  errors.toml
  pkg/sink/codec/debezium/decoder.go
Due: cdc

chore
  pkg/sink/codec/common/config.go
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/decoder.go
Due: cdc

ticdc:bug fix - added pulsarhttp and pulsarhttps scheme in IsMQScheme.Due to this bug, MQ related fields in pulsarhttp and pulsarhttps protocol changes were not getting picked up
  pkg/sink/sink_type.go
Due: cdc

Add marker option to redact info log
  cmd/dm-worker/main.go
  dm/pkg/log/log.go
  dm/worker/config.go
Due: cdc, dm

chore
  pkg/sink/codec/debezium/codec.go
Due: cdc

fix
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/decoder.go
Due: cdc

This is an automated cherry-pick of #11926
  cdc/owner/ddl_sink_test.go
  go.mod
  go.sum
Due: cdc

add new line to trigger pipeline
  dm/tests/run.sh
  tests/integration_tests/run.sh
Due: dm

chore: test trigger
  dm/tests/run.sh
  tests/integration_tests/run.sh
Due: dm

update
  tests/integration_tests/run_group.sh
Due: none

fixed formatted in sink_type.go
  pkg/sink/sink_type.go
Due: cdc

ticdc:bug fix - added pulsar+http and pulsar+https protocols in IsMQScheme to honor MQ fields in changefeed (#12069)
  pkg/sink/sink_type.go
Due: cdc

Fix changefeed stuck problem when overwrite resume with a forward checkpointTs (#12058)
  cdc/owner/changefeed.go
  tests/integration_tests/overwrite_resume_with_syncpoint/conf/changefeed.toml
  tests/integration_tests/overwrite_resume_with_syncpoint/run.sh
  tests/integration_tests/run_group.sh
Due: cdc

ticdc:bug fix - added pulsar+http and pulsar+https protocols in IsMQScheme to honor MQ fields in changefeed (#12069) (#12075)
  pkg/sink/sink_type.go
Due: cdc

consumer(ticdc): support debezium protocol (#12061)
  cmd/kafka-consumer/writer.go
  errors.toml
  pkg/errors/cdc_errors.go
  pkg/sink/codec/common/config.go
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/decoder.go
  pkg/sink/codec/debezium/helper.go
  tests/integration_tests/debezium_basic/conf/diff_config.toml
  tests/integration_tests/debezium_basic/data/data.sql
  tests/integration_tests/debezium_basic/data/data_gbk.sql
  tests/integration_tests/debezium_basic/run.sh
  tests/integration_tests/run_group.sh
Due: cdc

Retry statement execution on invalid connections in some scenarios (#33)
  dm/pkg/retry/errors.go
  dm/pkg/retry/strategy.go
  dm/syncer/dbconn/db.go
Due: dm

Update log.go
  dm/tests/utils/log.go
Due: dm

build: add new task for integration tests of sync_diff_inspector (#12060)
  Makefile
  dm/pkg/shardddl/optimism/lock_test.go
  dm/syncer/validate_worker.go
  sync_diff_inspector/tests/README.md
  sync_diff_inspector/tests/_utils/check_contains
  sync_diff_inspector/tests/_utils/check_contains_count
  sync_diff_inspector/tests/_utils/check_contains_regex
  sync_diff_inspector/tests/run.sh
  sync_diff_inspector/tests/sync_diff_inspector/checkpoint/config_base.toml
  sync_diff_inspector/tests/sync_diff_inspector/checkpoint/config_base_continous.toml
  sync_diff_inspector/tests/sync_diff_inspector/checkpoint/config_base_rand.toml
  sync_diff_inspector/tests/sync_diff_inspector/checkpoint/run.sh
  sync_diff_inspector/tests/sync_diff_inspector/config_base_mysql.toml
  sync_diff_inspector/tests/sync_diff_inspector/config_base_tidb.toml
  sync_diff_inspector/tests/sync_diff_inspector/expression/config.toml
  sync_diff_inspector/tests/sync_diff_inspector/expression/run.sh
  sync_diff_inspector/tests/sync_diff_inspector/json/config_base.toml
  sync_diff_inspector/tests/sync_diff_inspector/json/run.sh
  sync_diff_inspector/tests/sync_diff_inspector/run.sh
  sync_diff_inspector/tests/sync_diff_inspector/shard/config_base.toml
  sync_diff_inspector/tests/sync_diff_inspector/shard/config_router_1.toml
  sync_diff_inspector/tests/sync_diff_inspector/shard/config_router_2.toml
  sync_diff_inspector/tests/sync_diff_inspector/shard/config_router_3.toml
  sync_diff_inspector/tests/sync_diff_inspector/shard/config_router_4.toml
  sync_diff_inspector/tests/sync_diff_inspector/shard/config_router_5.toml
  sync_diff_inspector/tests/sync_diff_inspector/shard/run.sh
  sync_diff_inspector/tests/sync_diff_inspector/snapshot/config_base.toml
  sync_diff_inspector/tests/sync_diff_inspector/snapshot/run.sh
  sync_diff_inspector/tests/sync_diff_inspector/table_config/config.toml
  sync_diff_inspector/tests/sync_diff_inspector/table_config/run.sh
  sync_diff_inspector/tests/sync_diff_inspector/table_skip/config_base.toml
  sync_diff_inspector/tests/sync_diff_inspector/table_skip/config_router.toml
  sync_diff_inspector/tests/sync_diff_inspector/table_skip/run.sh
  sync_diff_inspector/tests/sync_diff_inspector/time_zone/config.toml
  sync_diff_inspector/tests/sync_diff_inspector/time_zone/run.sh
  sync_diff_inspector/tests/sync_diff_inspector/tls/config.toml
  sync_diff_inspector/tests/sync_diff_inspector/tls/run.sh
  sync_diff_inspector/utils/table.go
Due: dm

puller: fix potential stuck
  cdc/kv/shared_stream.go
Due: cdc

puller: fix potential stuck (#12080)
  cdc/kv/shared_stream.go
Due: cdc

fix pd caller
  cdc/api/v2/api_helpers.go
  cdc/server/server.go
  pkg/cmd/factory/factory_impl.go
  pkg/migrate/migrate.go
  pkg/upstream/upstream.go
  sync_diff_inspector/utils/pd.go
Due: cdc

add a simple unit test
  pkg/filter/filter_test.go
Due: cdc

Update main.go
  tests/integration_tests/multi_source/main.go
Due: none

fix
  tests/integration_tests/multi_source/main.go
Due: none

test(ticdc): fix duplicate entry about multi_source test (#12085)
  tests/integration_tests/multi_source/main.go
Due: none

remove useless code
  cdc/owner/changefeed.go
  cdc/scheduler/internal/v3/coordinator.go
  cdc/scheduler/internal/v3/replication/replication_manager.go
Due: cdc

adjust the schema storage code
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_storage.go
  cdc/entry/schema_storage_test.go
  cdc/entry/validator.go
Due: cdc

adjust the argument order
  cdc/entry/mounter_test.go
  cdc/entry/schema_storage.go
  cdc/entry/schema_storage_test.go
  cdc/entry/schema_test.go
  cdc/entry/schema_test_helper.go
  cdc/owner/changefeed.go
  cdc/owner/ddl_manager_test.go
  cdc/processor/processor.go
  cdc/puller/ddl_puller_test.go
Due: cdc

remove close method from the ddl puller interface
  cdc/kv/sharedconn/conn_and_client.go
  cdc/owner/changefeed_test.go
  cdc/puller/ddl_puller.go
Due: cdc

rename ddlPullerImpl to ddlPuller
  cdc/puller/ddl_puller.go
  cdc/puller/ddl_puller_test.go
Due: cdc

remove useless debug log
  cdc/kv/region_state.go
  cdc/kv/regionlock/region_range_lock.go
  cdc/kv/shared_client.go
  cdc/kv/shared_client_test.go
Due: cdc

adjust one log
  cdc/kv/shared_stream.go
Due: cdc

remove debug log
  cdc/kv/shared_client.go
  cdc/kv/shared_stream.go
Due: cdc

support spli table in mysql sink
  pkg/config/replica_config.go
Due: cdc

support spli table in mysql sink 2
  pkg/config/replica_config.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
