Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

fix
  cdc/kv/client.go
  pkg/version/check.go
Due: cdc

fix the go mod
  go.mod
Due: none

Revert to the original go mod
  go.mod
  go.sum
Due: none

only bump sarama
  go.mod
  go.sum
Due: none

fix make fmt
  cdc/kv/shared_client.go
Due: cdc

init
  pkg/sink/codec/debezium/codec.go
  tests/integration_tests/_utils/check_table_not_exists
  tests/integration_tests/debezium_basic/conf/changefeed.toml
  tests/integration_tests/debezium_basic/data/data.sql
  tests/integration_tests/debezium_basic/data/data_gbk.sql
  tests/integration_tests/debezium_basic/data/test.sql
  tests/integration_tests/debezium_basic/run.sh
Due: cdc

fix test
  tests/integration_tests/canal_json_adapter_compatibility/run.sh
  tests/integration_tests/canal_json_basic/data/data.sql
  tests/integration_tests/canal_json_basic/data/data_gbk.sql
  tests/integration_tests/canal_json_basic/run.sh
  tests/integration_tests/canal_json_content_compatible/data/data.sql
  tests/integration_tests/canal_json_content_compatible/data/data_gbk.sql
  tests/integration_tests/canal_json_content_compatible/run.sh
  tests/integration_tests/debezium_basic/data/data_gbk.sql
  tests/integration_tests/debezium_basic/data/test.sql
  tests/integration_tests/kafka_simple_basic/data/data.sql
  tests/integration_tests/kafka_simple_basic/data/data_gbk.sql
  tests/integration_tests/kafka_simple_basic/run.sh
  tests/integration_tests/kafka_simple_basic_avro/data/data.sql
  tests/integration_tests/kafka_simple_basic_avro/data/data_gbk.sql
  tests/integration_tests/kafka_simple_basic_avro/run.sh
Due: none

fix encoding
  tests/integration_tests/canal_json_basic/data/data_gbk.sql
  tests/integration_tests/canal_json_content_compatible/data/data_gbk.sql
  tests/integration_tests/debezium_basic/data/data_gbk.sql
  tests/integration_tests/debezium_basic/run.sh
  tests/integration_tests/kafka_simple_basic/data/data_gbk.sql
  tests/integration_tests/kafka_simple_basic_avro/data/data_gbk.sql
Due: none

alpha version
  cdc/model/mounter.go
  cdc/model/schema_storage.go
  pkg/filter/expr_filter.go
Due: cdc

fix tests
  dm/pkg/utils/common.go
  pkg/filter/expr_filter.go
  pkg/filter/expr_filter_test.go
Due: cdc, dm

add unit tests
  pkg/filter/expr_filter_test.go
Due: cdc

add more unit test
  cdc/model/mounter.go
  cdc/model/schema_storage.go
  cdc/model/schema_storage_test.go
  pkg/filter/expr_filter.go
Due: cdc

remove unnecessary log
  pkg/filter/expr_filter.go
  pkg/filter/expr_filter_test.go
Due: cdc

add integration tests
  cdc/model/mounter.go
  tests/integration_tests/event_filter/conf/cf.toml
  tests/integration_tests/event_filter/data/test.sql
  tests/integration_tests/event_filter/run.sh
Due: cdc

add integration tests
  tests/integration_tests/event_filter/conf/cf.toml
  tests/integration_tests/event_filter/data/test.sql
  tests/integration_tests/event_filter/run.sh
Due: none

address comments
  cdc/model/mounter.go
  dm/pkg/utils/common.go
Due: cdc, dm

fix format
  tests/integration_tests/event_filter/run.sh
Due: none

fix test scripts
  tests/integration_tests/event_filter/data/test.sql
Due: none

small fix
  tests/integration_tests/event_filter/conf/cf.toml
Due: none

codec: fix a panic in Debezium when configuring column-selector (#12210)
  pkg/sink/codec/debezium/codec.go
  tests/integration_tests/_utils/check_table_not_exists
  tests/integration_tests/canal_json_adapter_compatibility/run.sh
  tests/integration_tests/canal_json_basic/data/data.sql
  tests/integration_tests/canal_json_basic/data/data_gbk.sql
  tests/integration_tests/canal_json_basic/run.sh
  tests/integration_tests/canal_json_content_compatible/data/data.sql
  tests/integration_tests/canal_json_content_compatible/data/data_gbk.sql
  tests/integration_tests/canal_json_content_compatible/run.sh
  tests/integration_tests/debezium_basic/conf/changefeed.toml
  tests/integration_tests/debezium_basic/data/data.sql
  tests/integration_tests/debezium_basic/data/data_gbk.sql
  tests/integration_tests/debezium_basic/data/test.sql
  tests/integration_tests/debezium_basic/run.sh
  tests/integration_tests/kafka_simple_basic/data/data.sql
  tests/integration_tests/kafka_simple_basic/data/data_gbk.sql
  tests/integration_tests/kafka_simple_basic/run.sh
  tests/integration_tests/kafka_simple_basic_avro/data/data.sql
  tests/integration_tests/kafka_simple_basic_avro/data/data_gbk.sql
  tests/integration_tests/kafka_simple_basic_avro/run.sh
Due: cdc

This is an automated cherry-pick of #12210
  pkg/sink/codec/debezium/codec.go
  tests/integration_tests/_utils/check_table_not_exists
  tests/integration_tests/canal_json_adapter_compatibility/run.sh
  tests/integration_tests/canal_json_basic/run.sh
  tests/integration_tests/canal_json_content_compatible/data/data.sql
  tests/integration_tests/canal_json_content_compatible/data/data_gbk.sql
  tests/integration_tests/debezium_basic/conf/changefeed.toml
  tests/integration_tests/debezium_basic/data/data.sql
  tests/integration_tests/debezium_basic/data/data_gbk.sql
  tests/integration_tests/debezium_basic/data/test.sql
  tests/integration_tests/debezium_basic/run.sh
  tests/integration_tests/kafka_simple_basic/data/data.sql
  tests/integration_tests/kafka_simple_basic/data/data_gbk.sql
  tests/integration_tests/kafka_simple_basic/run.sh
  tests/integration_tests/kafka_simple_basic_avro/data/data.sql
  tests/integration_tests/kafka_simple_basic_avro/data/data_gbk.sql
  tests/integration_tests/kafka_simple_basic_avro/run.sh
Due: cdc

fix
  pkg/sink/codec/debezium/codec.go
Due: cdc

remove test
  tests/integration_tests/debezium_basic/conf/changefeed.toml
  tests/integration_tests/debezium_basic/data/data.sql
  tests/integration_tests/debezium_basic/data/data_gbk.sql
  tests/integration_tests/debezium_basic/data/test.sql
  tests/integration_tests/debezium_basic/run.sh
Due: none

update
  pkg/sink/codec/debezium/codec.go
  tests/integration_tests/debezium_basic/conf/changefeed.toml
  tests/integration_tests/debezium_basic/data/data.sql
  tests/integration_tests/debezium_basic/data/data_gbk.sql
  tests/integration_tests/debezium_basic/data/test.sql
  tests/integration_tests/debezium_basic/run.sh
Due: cdc

OWNERS: Auto Sync OWNERS files from community membership (#11157)
  OWNERS
Due: none

fix tests
  dm/pkg/utils/common.go
  pkg/filter/expr_filter_test.go
  tests/integration_tests/syncpoint/run.sh
Due: cdc, dm

try fix test
  tests/integration_tests/tidb_mysql_test/r/date_formats.result
Due: none

Update date_formats.test
  tests/integration_tests/tidb_mysql_test/t/date_formats.test
Due: none

Update date_formats.result
  tests/integration_tests/tidb_mysql_test/r/date_formats.result
Due: none

test(ticdc): remove incorrect query execution plan in tidb_cdc_test (#12215)
  tests/integration_tests/tidb_mysql_test/r/date_formats.result
  tests/integration_tests/tidb_mysql_test/t/date_formats.test
Due: none

add unit test
  cdc/model/mounter.go
  cdc/model/mounter_test.go
Due: cdc

event filter: fix panic when evaluate expressions for table with virtual columns (#12211)
  cdc/model/mounter.go
  cdc/model/mounter_test.go
  cdc/model/schema_storage.go
  cdc/model/schema_storage_test.go
  pkg/filter/expr_filter.go
  pkg/filter/expr_filter_test.go
  tests/integration_tests/event_filter/conf/cf.toml
  tests/integration_tests/event_filter/data/test.sql
  tests/integration_tests/event_filter/run.sh
  tests/integration_tests/syncpoint/run.sh
Due: cdc

This is an automated cherry-pick of #12211
  cdc/model/mounter.go
  cdc/model/mounter_test.go
  cdc/model/schema_storage.go
  cdc/model/schema_storage_test.go
  pkg/filter/expr_filter.go
  pkg/filter/expr_filter_test.go
  tests/integration_tests/event_filter/conf/cf.toml
  tests/integration_tests/event_filter/data/test.sql
  tests/integration_tests/event_filter/run.sh
  tests/integration_tests/syncpoint/run.sh
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
