Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

typo
  dm/pkg/checker/binlog.go
Due: dm

update
  cdc/kv/metrics.go
  cdc/redo/common/metric.go
  cdc/redo/manager.go
  cdc/redo/meta_manager.go
  cdc/redo/writer/file/file.go
  cdc/redo/writer/file/file_test.go
  cdc/redo/writer/memory/file_worker.go
  cdc/sink/dmlsink/cloudstorage/dml_worker.go
  cdc/sink/metrics/cloudstorage/metrics.go
  metrics/grafana/TiCDC-Monitor-Summary.json
  metrics/grafana/ticdc.json
Due: cdc

update
  cdc/redo/manager.go
  cdc/sink/dmlsink/cloudstorage/dml_worker.go
Due: cdc

update
  metrics/grafana/TiCDC-Monitor-Summary.json
  metrics/grafana/ticdc.json
Due: none

chore
  cdc/redo/meta_manager.go
Due: cdc

chore
  metrics/grafana/TiCDC-Monitor-Summary.json
Due: none

add log to puller wrapper
  cdc/kv/client.go
  cdc/processor/sourcemanager/puller/puller_wrapper.go
Due: cdc

async close pullers.
  cdc/processor/sourcemanager/manager.go
  cdc/processor/sourcemanager/puller/puller_wrapper.go
Due: cdc

modify
  pkg/sink/codec/debezium/codec.go
Due: cdc

remove one line log
  cdc/kv/client.go
Due: cdc

make fmt
  cdc/processor/sourcemanager/puller/puller_wrapper.go
Due: cdc

Update
  sync_diff_inspector/checkpoints/checkpoints.go
  sync_diff_inspector/config/config.go
  sync_diff_inspector/diff/diff.go
  sync_diff_inspector/source/common/rows.go
  sync_diff_inspector/source/common/table_diff.go
  sync_diff_inspector/source/mysql_shard.go
  sync_diff_inspector/source/source.go
  sync_diff_inspector/source/source_test.go
  sync_diff_inspector/source/tidb.go
  sync_diff_inspector/splitter/bucket.go
  sync_diff_inspector/splitter/index_fields.go
  sync_diff_inspector/splitter/limit.go
  sync_diff_inspector/splitter/random.go
  sync_diff_inspector/utils/table.go
  sync_diff_inspector/utils/utils.go
Due: none

Update build
  Makefile
  scripts/download-integration-test-binaries.sh
  tests/integration_tests/README.md
Due: none

Fix format
  sync_diff_inspector/chunk/chunk_test.go
  sync_diff_inspector/config/config_test.go
  sync_diff_inspector/config/dm.go
  sync_diff_inspector/progress/progress.go
  sync_diff_inspector/source/source_test.go
  sync_diff_inspector/source/tidb.go
  sync_diff_inspector/splitter/random.go
  sync_diff_inspector/splitter/splitter_test.go
  sync_diff_inspector/utils/utils.go
  sync_diff_inspector/utils/utils_test.go
Due: none

sink(ticdc): add event key output for debezium (#11649)
  cdc/model/sink.go
  pkg/sink/codec/avro/avro.go
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/common/helper.go
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/codec_test.go
  pkg/sink/codec/debezium/debezium_test.go
  pkg/sink/codec/debezium/encoder.go
  pkg/sink/codec/debezium/testdata/datatype.dbz.key.json
  tests/integration_tests/debezium/README.md
  tests/integration_tests/debezium/run.sh
  tests/integration_tests/debezium/sql/debezium/real_test.sql
  tests/integration_tests/debezium/src/test_cases.go
Due: cdc

async close pullers.
  cdc/processor/sourcemanager/manager.go
Due: cdc

fix
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/codec_test.go
  pkg/sink/codec/debezium/encoder.go
  tests/integration_tests/debezium/src/test_cases.go
Due: cdc

Fix lint
  go.mod
  sync_diff_inspector/checkpoints/checkpoints.go
  sync_diff_inspector/checkpoints/checkpoints_test.go
  sync_diff_inspector/chunk/chunk.go
  sync_diff_inspector/chunk/chunk_test.go
  sync_diff_inspector/config/config.go
  sync_diff_inspector/config/config_test.go
  sync_diff_inspector/config/dm.go
  sync_diff_inspector/config/template.go
  sync_diff_inspector/diff/diff.go
  sync_diff_inspector/main.go
  sync_diff_inspector/progress/progress.go
  sync_diff_inspector/progress/progress_test.go
  sync_diff_inspector/report/report.go
  sync_diff_inspector/report/report_test.go
  sync_diff_inspector/source/chunks_iter.go
  sync_diff_inspector/source/common/common_test.go
  sync_diff_inspector/source/common/rows.go
  sync_diff_inspector/source/common/table_diff.go
  sync_diff_inspector/source/mysql_shard.go
  sync_diff_inspector/source/source.go
  sync_diff_inspector/source/source_test.go
  sync_diff_inspector/source/tidb.go
  sync_diff_inspector/splitter/bucket.go
  sync_diff_inspector/splitter/index_fields_test.go
  sync_diff_inspector/splitter/limit.go
  sync_diff_inspector/splitter/random.go
  sync_diff_inspector/splitter/splitter.go
  sync_diff_inspector/splitter/splitter_test.go
  sync_diff_inspector/utils/pd.go
  sync_diff_inspector/utils/table.go
  sync_diff_inspector/utils/utils.go
  sync_diff_inspector/utils/utils_test.go
Due: none

rafactor(config): add `experimental` option to server config
  pkg/config/server_config.go
Due: cdc

Update Makefile
  Makefile
Due: none

remove some sql
  tests/integration_tests/debezium/sql/debezium/blocking_snapshot_test.sql
  tests/integration_tests/debezium/sql/debezium/connector_metrics_test.sql
Due: none

lint
  pkg/sink/codec/internal/java.go
Due: cdc

Fix tests
  sync_diff_inspector/config/config_test.go
  sync_diff_inspector/progress/progress.go
  sync_diff_inspector/splitter/splitter_test.go
  sync_diff_inspector/utils/utils_test.go
Due: none

Revert scripts
  Makefile
  dm/tests/download-compatibility-test-binaries.sh
  dm/tests/download-integration-test-binaries.sh
  dm/tests/mariadb_master_down_and_up/case.sh
  dm/tests/mariadb_master_down_and_up/lib.sh
  dm/tests/tiup/lib.sh
  dm/tests/tiup/upgrade-from-v1.sh
  dm/tests/tiup/upgrade-from-v2.sh
  dm/tests/tiup/upgrade-tidb.sh
  dm/tests/upstream_switch/case.sh
  dm/tests/upstream_switch/lib.sh
  scripts/download-integration-test-binaries.sh
  scripts/download-sync-diff.sh
Due: dm

Revert scripts
  dm/tests/mariadb_master_down_and_up/case.sh
  dm/tests/tiup/upgrade-from-v1.sh
  scripts/download-sync-diff.sh
  tests/integration_tests/README.md
Due: dm

Revert scripts
  scripts/download-sync-diff.sh
Due: none

Add TODO
  sync_diff_inspector/utils/table.go
Due: none

typo
  dm/checker/checker.go
Due: dm

Fix tests
  Makefile
  sync_diff_inspector/source/source_test.go
  sync_diff_inspector/utils/utils_test.go
Due: none

refactor(cmd.go): export all cdc subcommands
  pkg/cmd/cmd.go
Due: cdc

fix(config_test_data.go): add the `experimental` field in UT
  pkg/config/config_test_data.go
Due: cdc

update
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/helper.go
  tests/integration_tests/debezium/sql/debezium/default_value.sql
  tests/integration_tests/debezium/src/test_cases.go
Due: cdc

remove some test sqls
  tests/integration_tests/debezium/sql/debezium/empty.sql
  tests/integration_tests/debezium/sql/debezium/geometry_test_5.sql
  tests/integration_tests/debezium/sql/debezium/geometry_test_8.sql
  tests/integration_tests/debezium/sql/debezium/incremental_snapshot-test.sql
  tests/integration_tests/debezium/sql/debezium/ssl_test.sql
Due: none

add integration test for safe mode
  tests/integration_tests/run_group.sh
  tests/integration_tests/safe_mode/conf/diff_config.toml
  tests/integration_tests/safe_mode/data/create_table.sql
  tests/integration_tests/safe_mode/data/insert.sql
  tests/integration_tests/safe_mode/data/update.sql
  tests/integration_tests/safe_mode/run.sh
Due: none

add some comment
  tests/integration_tests/safe_mode/run.sh
Due: none

add some log
  tests/integration_tests/safe_mode/data/create_table.sql
  tests/integration_tests/safe_mode/run.sh
Due: none

fix
  tests/integration_tests/safe_mode/run.sh
Due: none
