Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

dm: fix leader did not retire after delete the key (#11604)
  dm/pkg/election/election.go
  dm/pkg/election/election_test.go
Due: dm

Update OWNERS
  OWNERS
Due: none

rename prCtx to ctx
  cdc/processor/processor.go
Due: cdc

fix tests
  cdc/model/sink.go
  cdc/sink/dmlsink/txn/event_test.go
  cdc/sink/dmlsink/txn/mysql/dml.go
  cdc/sink/dmlsink/txn/mysql/dml_test.go
Due: cdc

fix
  cdc/model/sink.go
  cdc/sink/dmlsink/txn/event_test.go
  cdc/sink/dmlsink/txn/mysql/dml_test.go
  pkg/sink/codec/csv/csv_message_test.go
  pkg/sink/codec/open/open_protocol_message_test.go
Due: cdc

add table id to some logs
  cdc/kv/region_state.go
  cdc/kv/shared_client.go
  cdc/kv/shared_stream.go
Due: cdc

refactor(proto): deprecate the `current_ts` field of `Status` in table.proto
  cdc/processor/tablepb/table.proto
Due: cdc

add table id to some logs
  cdc/kv/shared_client.go
  cdc/kv/shared_region_worker.go
  cdc/kv/shared_stream.go
Due: cdc

refactor(metrics): delete a commented out line of code
  cdc/scheduler/internal/v3/replication/replication_manager.go
Due: cdc

address comment
  dm/pkg/election/election_test.go
Due: dm

fix
  dm/pkg/election/election.go
  dm/pkg/election/election_test.go
Due: dm

update
  dm/pkg/election/election.go
Due: dm

dm: fix leader did not retire after delete the key
  dm/pkg/election/election.go
  dm/pkg/election/election_test.go
Due: dm

metrics(ticdc): Fix kafka compress ratio issue (#11313) (#11326)
  metrics/grafana/ticdc.json
  pkg/sink/codec/common/compress.go
  pkg/sink/kafka/metrics_collector.go
Due: cdc

ticdc: Support Vector data type (#11620)
  cdc/entry/codec.go
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
  cdc/sink/ddlsink/mysql/format_ddl.go
  cdc/sink/ddlsink/mysql/format_ddl_test.go
  cdc/sink/ddlsink/mysql/mysql_ddl_sink.go
  cdc/sink/dmlsink/txn/mysql/dml.go
  cdc/sink/dmlsink/txn/mysql/dml_test.go
  cdc/sink/dmlsink/txn/mysql/mysql.go
  cdc/sink/dmlsink/txn/mysql/mysql_test.go
  dm/tests/download-compatibility-test-binaries.sh
  go.mod
  go.sum
  pkg/sink/codec/avro/avro.go
  pkg/sink/codec/canal/canal_entry.go
  pkg/sink/codec/canal/canal_entry_test.go
  pkg/sink/codec/canal/canal_json_message.go
  pkg/sink/codec/canal/canal_json_row_event_encoder_test.go
  pkg/sink/codec/common/verify_checksum.go
  pkg/sink/codec/craft/message_decoder.go
  pkg/sink/codec/craft/message_encoder.go
  pkg/sink/codec/csv/csv_message.go
  pkg/sink/codec/csv/csv_message_test.go
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/internal/column.go
  pkg/sink/codec/internal/java.go
  pkg/sink/codec/maxwell/maxwell_message.go
  pkg/sink/codec/open/open_protocol_encoder_test.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
  pkg/sink/codec/utils/test_utils.go
  pkg/sink/mysql/config.go
  scripts/download-integration-test-binaries.sh
  tests/integration_tests/run_group.sh
  tests/integration_tests/vector/conf/diff_config.toml
  tests/integration_tests/vector/data/data.sql
  tests/integration_tests/vector/run.sh
Due: cdc, dm

make fast check
  cdc/model/sink.go
  docs/swagger/docs.go
  docs/swagger/swagger.json
  docs/swagger/swagger.yaml
  tools/check/go.sum
Due: cdc

change max-index-length config for dm schema tracker
  dm/pkg/schema/tracker.go
  dm/pkg/schema/tracker_test.go
Due: dm

Update tracker.go
  dm/pkg/schema/tracker.go
Due: dm

add comment
  dm/pkg/schema/tracker.go
Due: dm

parser(dm): support ALTER DATABASE default database
  dm/pkg/parser/common.go
  dm/pkg/parser/common_test.go
Due: dm

fix lint
  dm/pkg/parser/common_test.go
Due: dm

OWNERS: Auto Sync OWNERS files from community membership (#11592) (#11616)
  OWNERS
Due: none

OWNERS: Auto Sync OWNERS files from community membership (#11592) (#11613)
  OWNERS
Due: none

OWNERS: Auto Sync OWNERS files from community membership (#11592) (#11615)
  OWNERS
Due: none

fix
  pkg/sink/codec/debezium/codec.go
Due: cdc

sink(ticdc): return invalid topic expression in ErrKafkaInvalidTopicExpression (#11161) (#11611)
  cdc/sink/dmlsink/mq/dispatcher/topic/expression.go
  cdc/sink/dmlsink/mq/dispatcher/topic/expression_test.go
  errors.toml
  pkg/errors/cdc_errors.go
Due: cdc

adjust span string method
  cdc/kv/shared_client.go
  cdc/processor/tablepb/table.go
Due: cdc

kvclient(ticdc): add table id to kv client logs (#11622)
  cdc/kv/region_state.go
  cdc/kv/shared_client.go
  cdc/kv/shared_region_worker.go
  cdc/kv/shared_stream.go
  cdc/processor/processor.go
  cdc/processor/tablepb/table.go
Due: cdc

fix
  cdc/model/sink_gen.go
  cdc/model/sink_gen_test.go
Due: cdc

remove info and status from the changefeed tick arguments
  cdc/owner/changefeed.go
  cdc/owner/changefeed_test.go
  cdc/owner/ddl_manager.go
  cdc/owner/feed_state_manager.go
  cdc/owner/owner.go
  pkg/txnutil/gc/gc_manager.go
Due: cdc

no need to pass current ts as argument to update metrics
  cdc/owner/changefeed.go
Due: cdc

parser(dm): support ALTER DATABASE default database (#11504) (#11628)
  dm/pkg/parser/common.go
  dm/pkg/parser/common_test.go
Due: dm

remove unused method
  cdc/owner/owner.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
