Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

add integration test
  tests/integration_tests/event_filter/conf/cf.toml
  tests/integration_tests/event_filter/data/test.sql
  tests/integration_tests/event_filter/data/test_rename.sql
  tests/integration_tests/event_filter/run.sh
Due: none

fix
  pkg/filter/sql_event_filter.go
  pkg/filter/sql_event_filter_test.go
Due: cdc

fix
  tests/integration_tests/event_filter/conf/diff_config.toml
Due: none

Update main.go
  cmd/pulsar-consumer/main.go
Due: cdc

Revert "debug(ticdc): add more logs to the kafka sink and enable sarama log (#11815)"
  cdc/sink/dmlsink/mq/dmlproducer/kafka_dml_producer.go
  cmd/kafka-consumer/main.go
  dm/tests/download-integration-test-binaries.sh
  go.mod
  go.sum
  pkg/logutil/log.go
  pkg/sink/codec/canal/canal_json_row_event_encoder.go
  pkg/sink/codec/common/message.go
  pkg/sink/codec/open/open_protocol_encoder.go
  pkg/sink/codec/open/open_protocol_encoder_test.go
  pkg/sink/kafka/factory.go
  pkg/sink/kafka/mock_factory.go
  pkg/sink/kafka/v2/factory.go
  pkg/sink/kafka/v2/factory_test.go
  scripts/download-integration-test-binaries.sh
  tests/integration_tests/_utils/test_prepare
Due: cdc, dm

test(ticdc): modify generated column test (#11737)
  tests/integration_tests/generate_column/conf/changefeed.toml
  tests/integration_tests/generate_column/data/stored.sql
  tests/integration_tests/generate_column/data/virtual.sql
  tests/integration_tests/generate_column/run.sh
Due: none

This is an automated cherry-pick of #11956
  pkg/filter/sql_event_filter.go
  pkg/filter/sql_event_filter_test.go
  tests/integration_tests/batch_dml/conf/diff_config.toml
  tests/integration_tests/event_filter/conf/cf.toml
  tests/integration_tests/event_filter/data/test.sql
  tests/integration_tests/event_filter/data/test_rename.sql
  tests/integration_tests/event_filter/run.sh
Due: cdc

This is an automated cherry-pick of #11956
  pkg/filter/sql_event_filter.go
  pkg/filter/sql_event_filter_test.go
  tests/integration_tests/event_filter/conf/cf.toml
  tests/integration_tests/event_filter/conf/diff_config.toml
  tests/integration_tests/event_filter/data/test.sql
  tests/integration_tests/event_filter/data/test_rename.sql
  tests/integration_tests/event_filter/run.sh
Due: cdc

sink(ticdc): add parameter to enable watermark events in the Debezium protocol (#11877)
  pkg/sink/codec/debezium/encoder.go
Due: cdc

Update canal_json_message.go
  pkg/sink/codec/canal/canal_json_message.go
Due: cdc

fmt
  pkg/sink/codec/canal/canal_json_message.go
Due: cdc

fix
  pkg/sink/codec/debezium/codec.go
Due: cdc

kafka(ticdc): sarama do not retry if produce message failed to prevent out of order (#11870)
  pkg/logutil/log.go
  pkg/sink/kafka/sarama.go
Due: cdc

dm: refine openapi table migrate rule source/target (#11933)
  dm/config/task_converters.go
  dm/config/task_converters_test.go
  dm/openapi/gen.server.go
  dm/openapi/gen.types.go
  dm/openapi/spec/dm.yaml
Due: dm

fix
  cdc/model/sink.go
  pkg/sink/codec/debezium/codec.go
Due: cdc

add test
  tests/integration_tests/debezium/sql/debezium/default_value.sql
Due: none

update
  cmd/pulsar-consumer/main.go
Due: cdc

Update sql_event_filter.go
  pkg/filter/sql_event_filter.go
Due: cdc

Update sql_event_filter_test.go
  pkg/filter/sql_event_filter_test.go
Due: cdc

sink(ticdc): add event key output for debezium (#11649) (#11965)
  pkg/sink/codec/avro/avro.go
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/common/helper.go
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/codec_test.go
  pkg/sink/codec/debezium/debezium_test.go
  pkg/sink/codec/debezium/encoder.go
  pkg/sink/codec/debezium/testdata/datatype.dbz.key.json
  tests/integration_tests/debezium/README.md
  tests/integration_tests/debezium/run.sh
  tests/integration_tests/debezium/sql/debezium/real_test.sql
  tests/integration_tests/debezium/src/test_cases.go
Due: cdc

kafka(ticdc): sarama do not retry if produce message failed to prevent out of order (#11977)
  pkg/logutil/log.go
  pkg/sink/kafka/sarama.go
Due: cdc

attach fake table id
  pkg/sink/codec/canal/canal_json_decoder.go
Due: cdc

attach fake table id
  cmd/kafka-consumer/writer.go
  cmd/pulsar-consumer/main.go
  pkg/sink/codec/canal/canal_json_message.go
  pkg/sink/codec/common/helper.go
Due: cdc

pulsar comsumer remove fake table id allocate
  cmd/pulsar-consumer/main.go
Due: cdc

filter(ticdc): fix incorrect event filter with "rename" DDLs (#11956) (#11969)
  pkg/filter/sql_event_filter.go
  pkg/filter/sql_event_filter_test.go
  tests/integration_tests/event_filter/conf/cf.toml
  tests/integration_tests/event_filter/conf/diff_config.toml
  tests/integration_tests/event_filter/data/test.sql
  tests/integration_tests/event_filter/data/test_rename.sql
  tests/integration_tests/event_filter/run.sh
Due: cdc

puller: close kvclient correctly when stopping a processor (#11957)
  cdc/processor/processor.go
  cdc/processor/sourcemanager/manager.go
  cdc/puller/ddl_puller.go
  cdc/puller/multiplexing_puller.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
