Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

fix unit test
  go.mod
  go.sum
Due: none

use handle to calcualte checksum
  cdc/entry/mounter.go
  go.mod
  go.sum
Due: cdc

remove key
  cdc/entry/mounter.go
Due: cdc

fix unit test
  cdc/puller/ddl_puller_test.go
Due: cdc

This is an automated cherry-pick of #11720
  cdc/entry/mounter.go
  cdc/puller/ddl_puller_test.go
  go.mod
  go.sum
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/common/helper.go
Due: cdc

fix conflicts
  go.mod
  go.sum
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/common/helper.go
Due: cdc

fix make cdc
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_test_helper.go
  cdc/kv/utils.go
  pkg/filter/filter_test_helper.go
Due: cdc

fix make
  dm/pkg/schema/tracker.go
  dm/syncer/ddl.go
  dm/syncer/schema.go
  dm/syncer/syncer.go
  engine/jobmaster/dm/ddl_coordinator.go
Due: dm, engine

address comment
  dm/pkg/election/election_test.go
Due: dm

update
  dm/pkg/election/election.go
Due: dm

dm: fix leader did not retire after delete the key
  dm/pkg/election/election.go
  dm/pkg/election/election_test.go
Due: dm

fix
  dm/pkg/election/election.go
  dm/pkg/election/election_test.go
Due: dm

fix make
  dm/pkg/schema/tracker.go
  dm/syncer/ddl.go
  dm/syncer/schema.go
  engine/jobmaster/dm/ddl_coordinator.go
Due: dm, engine

fix make
  pkg/diff/diff.go
Due: cdc

fix make
  cdc/entry/mounter_test.go
  cdc/puller/ddl_puller_test.go
  cdc/sink/dmlsink/txn/mysql/mysql_test.go
  dm/pkg/schema/tracker_test.go
  dm/syncer/checkpoint_test.go
  dm/syncer/expr_filter_group_test.go
  pkg/sqlmodel/where_handle_test.go
Due: cdc, dm

fix make
  cdc/entry/schema_storage_test.go
  dm/syncer/checkpoint_test.go
  dm/syncer/expr_filter_group_test.go
  pkg/sqlmodel/row_change_test.go
Due: cdc, dm

fix ut
  cdc/entry/schema_test.go
Due: cdc

mounter(ticdc): calculate raw bytes checksum by using handle (#11720) (#11731)
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_storage_test.go
  cdc/entry/schema_test.go
  cdc/entry/schema_test_helper.go
  cdc/kv/utils.go
  cdc/puller/ddl_puller_test.go
  cdc/sink/dmlsink/txn/mysql/mysql_test.go
  dm/pkg/schema/tracker.go
  dm/pkg/schema/tracker_test.go
  dm/syncer/checkpoint_test.go
  dm/syncer/ddl.go
  dm/syncer/expr_filter_group_test.go
  dm/syncer/schema.go
  dm/syncer/syncer.go
  engine/jobmaster/dm/ddl_coordinator.go
  go.mod
  go.sum
  pkg/diff/diff.go
  pkg/filter/filter_test_helper.go
  pkg/sqlmodel/row_change_test.go
  pkg/sqlmodel/where_handle_test.go
Due: cdc, dm, engine

ddl_puller.go: fix DDLs are ignored when schema versions are out of order
  cdc/puller/ddl_puller.go
Due: cdc

update unicode
  pkg/sink/codec/common/helper.go
  pkg/sink/codec/debezium/codec.go
Due: cdc

update unicode decode
  pkg/sink/codec/common/helper.go
  pkg/sink/codec/debezium/codec.go
Due: cdc

mounter(ticdc): calculate raw bytes checksum by using handle (#11720) (#11730)
  cdc/entry/mounter.go
  cdc/puller/ddl_puller_test.go
  go.mod
  go.sum
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/common/helper.go
Due: cdc

add dump and load&sync task
  README_TiCDC.md
  dm/tests/_utils/run_dm_ctl_with_retry
  dm/tests/openapi/client/openapi_task_check
  dm/tests/openapi/run.sh
Due: dm

revert
  README_TiCDC.md
Due: none

fix ddl sql test
  tests/integration_tests/debezium/sql/ddl.sql
Due: none

remove retry
  dm/tests/openapi/run.sh
Due: dm

run gofumpt
  dm/openapi/gen.client.go
  dm/openapi/gen.server.go
Due: dm

update
  tests/integration_tests/debezium/sql/ddl.sql
Due: none

fix
  pkg/sink/codec/debezium/helper.go
Due: cdc

fix
  tests/integration_tests/debezium/sql/ddl.sql
Due: none

remove ttl ddl
  pkg/sink/codec/debezium/codec.go
  tests/integration_tests/debezium/sql/ddl.sql
Due: cdc

.
  tests/integration_tests/debezium/sql/ddl.sql
Due: none

fix
  pkg/sink/codec/debezium/codec.go
  tests/integration_tests/debezium/sql/ddl.sql
Due: cdc

update
  pkg/sink/codec/common/helper.go
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/helper.go
  tests/integration_tests/debezium/sql/ddl.sql
  tests/integration_tests/debezium/sql/debezium/connector_test_ro.sql
  tests/integration_tests/debezium/sql/debezium/multitable_dbz_871.sql
  tests/integration_tests/debezium/sql/dml.sql
Due: cdc

fix
  pkg/sink/codec/common/helper.go
  tests/integration_tests/debezium/sql/debezium/default_value.sql
  tests/integration_tests/debezium/sql/dml.sql
Due: cdc

Update cdc package test
  cdc/http_test.go
Due: cdc
