Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

Reapply "sink-to-mysql(cdc) simplify conflict detector, prevent workload skew issue (#10376)"
  pkg/causality/conflict_detector.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots_test.go
Due: cdc

remove assignToAny
  pkg/causality/internal/node.go
Due: cdc

update
  dm/syncer/expr_filter_group.go
  go.mod
  go.sum
  pkg/filter/expr_filter.go
Due: cdc, dm

codec(ticdc): simple protocol encode index for the enum and set type (#10662)
  pkg/sink/codec/canal/canal_json_decoder.go
  pkg/sink/codec/common/helper.go
  pkg/sink/codec/common/verify_checksum.go
  pkg/sink/codec/simple/avro.go
  pkg/sink/codec/simple/decoder.go
  pkg/sink/codec/simple/marshaller.go
  pkg/sink/codec/simple/message.go
  pkg/sink/codec/simple/message_test.go
Due: cdc

consumer(ticdc): kafka consumer support specify the consumer group id (#10665)
  cdc/sink/ddlsink/mysql/mysql_ddl_sink.go
  cmd/kafka-consumer/main.go
Due: cdc

add mtls authentication integration test case for pulsar sink
  tests/integration_tests/charset_gbk/run.sh
  tests/integration_tests/run_group.sh
Due: none

fix
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
Due: cdc

add mtls authentication integration test case for pulsar sink
  tests/integration_tests/charset_gbk/run.sh
Due: none

fix
  cdc/entry/mounter.go
Due: cdc

add mtls authentication integration test case for pulsar sink
  tests/integration_tests/charset_gbk/run.sh
  tests/integration_tests/common_1/run.sh
  tests/integration_tests/region_merge/run.sh
  tests/integration_tests/run_group.sh
  tests/integration_tests/tiflash/run.sh
Due: none

binlog-filter: log error instead of return it (#10380) (#10384)
  dm/tests/all_mode/conf/dm-task.yaml
  go.mod
  go.sum
Due: dm

update
  dm/pkg/utils/common.go
  go.mod
  go.sum
Due: dm

update
  dm/pkg/utils/common.go
  go.sum
Due: dm

dm: set enable cluster index to off for downstream tracker (#10346) (#10632)
  dm/pkg/schema/tracker.go
  dm/pkg/schema/tracker_test.go
Due: dm

sql-mode(ticdc): dealing with SQL Mode more correctly (#10644)
  cdc/api/v2/model.go
  cdc/api/v2/model_test.go
  cdc/model/changefeed.go
  cdc/model/sink.go
  cdc/owner/ddl_sink.go
  cdc/sink/ddlsink/mysql/mysql_ddl_sink_test.go
  cdc/sink/dmlsink/txn/mysql/mysql_test.go
  dm/pkg/utils/common.go
  dm/syncer/expr_filter_group.go
  go.mod
  go.sum
  pkg/applier/redo_test.go
  pkg/config/config_test_data.go
  pkg/config/replica_config.go
  pkg/filter/expr_filter.go
  pkg/filter/expr_filter_bench_test.go
  pkg/filter/expr_filter_test.go
  pkg/filter/filter.go
  pkg/orchestrator/reactor_state_test.go
  pkg/sink/mysql/config_test.go
  pkg/sink/mysql/db_helper.go
  pkg/sink/mysql/mock_db.go
  pkg/sink/observer/observer_test.go
  tests/integration_tests/run_group.sh
  tests/integration_tests/sql_mode/run.sh
Due: cdc, dm

disable pulsar in cli_tls_with_auth
  tests/integration_tests/cli_tls_with_auth/run.sh
Due: none

remove unnecessary log
  cdc/owner/ddl_manager.go
  cdc/sink/dmlsink/cloudstorage/cloud_storage_dml_sink.go
  cdc/sink/dmlsink/cloudstorage/defragmenter.go
  cdc/sink/dmlsink/cloudstorage/dml_worker.go
  pkg/sink/cloudstorage/path.go
  pkg/sink/cloudstorage/table_definition.go
Due: cdc

replace seahash with a valid github repo
  go.mod
  go.sum
Due: none

cli(ticdc): support configure credentials and tls certificate via cli (#10617)
  pkg/cmd/cli/cli.go
  pkg/cmd/cli/cli_changefeed_helper.go
  pkg/cmd/cli/cli_changefeed_update.go
  pkg/cmd/cli/cli_configure_credentials.go
  pkg/cmd/cli/cli_unsafe.go
  pkg/cmd/factory/factory.go
  pkg/cmd/factory/factory_impl.go
  pkg/upstream/upstream.go
  tests/integration_tests/_utils/run_cdc_cli_tso_query
  tests/integration_tests/cli_tls_with_auth/run.sh
  tests/integration_tests/run_group.sh
  tests/integration_tests/tidb_mysql_test/t/bigint.test
Due: cdc

add ErrBadDB to ddl error black list
  pkg/errorutil/util.go
  pkg/errorutil/util_test.go
Due: cdc

This is an automated cherry-pick of #10585
  cdc/kv/client.go
  cdc/kv/client_test.go
  cdc/kv/region_worker.go
  pkg/config/config_test_data.go
  pkg/config/debug.go
  pkg/config/server_config.go
Due: cdc

try fix
  cdc/owner/ddl_manager.go
Due: cdc

consumer do not append bootstrap ddl event.
  cmd/kafka-consumer/main.go
Due: cdc

fix java example license issue
  examples/java/pom.xml
Due: none

simple protocol decoder support cache message and return delayed events.
  cmd/kafka-consumer/main.go
  pkg/sink/codec/simple/decoder.go
Due: cdc

add comment.
  pkg/sink/codec/simple/decoder.go
Due: cdc

Add one more case.
  cdc/entry/mounter_test.go
Due: cdc

go.mod: upgrade tidb version to v7.6.0
  go.mod
  go.sum
Due: none

check whether the store is nil
  pkg/version/check.go
Due: cdc

ticdc:Fix too much unnecessary log for lastSyncedTs (#10667)
  cdc/owner/changefeed.go
Due: cdc

update
  cdc/owner/changefeed.go
Due: cdc

dm: make DM schema tracker compatible with pingcap/tidb#50039
  dm/pkg/schema/tracker.go
Due: dm

async close pulsar client and producer
  cdc/sink/ddlsink/mq/ddlproducer/pulsar_ddl_producer.go
  cdc/sink/dmlsink/mq/dmlproducer/pulsar_dml_producer.go
  pkg/sink/pulsar/factory.go
Due: cdc

revert unrelated changes
  pkg/sink/codec/bootstraper.go
Due: cdc

fix simple rename table ddl handle error
  pkg/sink/codec/bootstraper.go
  pkg/sink/codec/bootstraper_test.go
Due: cdc

add some log
  pkg/version/check.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
