Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

ticdc(redo, sink): return correct error in redo writer & fix default retryer (#11747) (#11760)
  cdc/redo/writer/memory/encoding_worker.go
  cdc/redo/writer/memory/mem_log_writer_test.go
  pkg/redo/config.go
  pkg/sink/kafka/claimcheck/claim_check.go
  pkg/util/external_storage.go
Due: cdc

ticdc(redo, sink): return correct error in redo writer & fix default retryer (#11747) (#11762)
  cdc/redo/writer/memory/encoding_worker.go
  cdc/redo/writer/memory/mem_log_writer_test.go
  pkg/redo/config.go
  pkg/util/external_storage.go
Due: cdc

ticdc(redo, sink): return correct error in redo writer & fix default retryer (#11747) (#11761)
  cdc/redo/writer/memory/encoding_worker.go
  cdc/redo/writer/memory/mem_log_writer_test.go
  pkg/redo/config.go
  pkg/util/external_storage.go
Due: cdc

ticdc(redo, sink): return correct error in redo writer & fix default retryer (#11747)
  cdc/redo/writer/memory/encoding_worker.go
  cdc/redo/writer/memory/mem_log_writer_test.go
  pkg/redo/config.go
  pkg/sink/kafka/claimcheck/claim_check.go
  pkg/util/external_storage.go
Due: cdc

fix proto comment and regenerate protobuf
  dm/pb/dmworker.pb.go
  dm/proto/dmworker.proto
Due: dm

ticdc(redo, sink): return correct error in redo writer & fix default retryer (#11747) (#11763)
  cdc/redo/writer/memory/encoding_worker.go
  cdc/redo/writer/memory/mem_log_writer_test.go
  pkg/redo/config.go
  pkg/sink/kafka/claimcheck/claim_check.go
  pkg/util/external_storage.go
Due: cdc

validate io counter fields in openapi
  dm/tests/openapi/client/openapi_task_check
  dm/tests/openapi/run.sh
Due: dm

integration tests: temporarily disable `default_value` integration test due to known logic issue
  tests/integration_tests/run_group.sh
Due: none

integration tests: temporarily disable `default_value` integration test in default_value/run.sh due to known logic issue
  tests/integration_tests/default_value/run.sh
  tests/integration_tests/run_group.sh
Due: none

fix test
  dm/tests/openapi/client/openapi_task_check
Due: dm

f
  dm/tests/openapi/client/openapi_task_check
Due: dm

ticdc: update package manager for building ticdc docker image after base image change
  deployments/ticdc/docker/Dockerfile
Due: none

ticdc: update building ticdc docker image
  deployments/ticdc/docker/Dockerfile
Due: none

engine: delete a typo
  deployments/engine/docker/Dockerfile
Due: none

fix resign owner api not processed by owner node bug
  cdc/api/v2/api.go
Due: cdc

*: bump check tools and update codes by `make check`
  cdc/api/v1/api.go
  cdc/api/v2/changefeed.go
  cdc/kv/client.go
  cdc/sink/codec/avro/schema_registry.go
  dm/ctl/master/check_task.go
  dm/ctl/master/handle_error.go
  dm/ctl/master/list_member.go
  dm/ctl/master/offline_member.go
  dm/ctl/master/operate_source.go
  dm/ctl/master/purge_relay.go
  dm/ctl/master/query_status.go
  dm/ctl/master/show_ddl_locks.go
  dm/ctl/master/start_stop_relay.go
  dm/ctl/master/start_task.go
  dm/ctl/master/transfer_source.go
  dm/ctl/master/unlock_ddl_lock.go
  dm/pkg/ha/source.go
  engine/framework/internal/master/worker_creator.go
  tests/integration_tests/move_table/main.go
  tools/check/go.mod
  tools/check/go.sum
Due: cdc, dm, engine

retry when curl command get not zero
  dm/tests/_utils/run_downstream_cluster
Due: dm

add log
  dm/tests/_utils/run_downstream_cluster
Due: dm

ticdc: remove cdc_state_checker
  .gitignore
  tests/integration_tests/_utils/start_tidb_cluster_impl
  tests/integration_tests/_utils/start_tls_tidb_cluster_impl
  tests/integration_tests/_utils/stop_tidb_cluster
  tests/utils/cdc_state_checker/cdc_monitor.go
  tests/utils/cdc_state_checker/main.go
  tests/utils/cdc_state_checker/reactor.go
  tests/utils/cdc_state_checker/state.go
Due: none

add log
  dm/tests/tls/run.sh
Due: dm

*: modify by following make check
  .golangci.yml
  cdc/capture/capture_test.go
  cdc/kv/client_test.go
  cdc/model/kv.go
  cdc/processor/sourcemanager/engine/engine.go
  cdc/scheduler/internal/v3/coordinator_test.go
  cdc/sink/codec/builder/codec_test.go
  cdc/sink/mq/dispatcher/topic/expression.go
  cdc/sinkv2/metrics/txn/metrics.go
  cdc/verification/checker.go
  engine/framework/internal/eventloop/runner.go
  engine/jobmaster/dm/dm_jobmaster.go
  engine/pkg/externalresource/internal/local/file_manager.go
  engine/pkg/externalresource/manager/service.go
  engine/pkg/meta/mock/simple_mockclient.go
  engine/pkg/meta/model/common.go
  engine/pkg/meta/model/config.go
  engine/test/e2e/e2e_dm_test.go
  pkg/causality/internal/node.go
  pkg/causality/tests/driver.go
  pkg/causality/tests/workload.go
  pkg/cmd/cli/cli_changefeed_create.go
  pkg/cmd/server/server.go
  pkg/config/consistent.go
  pkg/config/db.go
  pkg/config/debug.go
  pkg/config/filter.go
  pkg/config/main_test.go
  pkg/config/messages.go
  pkg/config/messages_test.go
  pkg/config/replica_config.go
  pkg/config/replica_config_test.go
  pkg/config/server_config.go
  pkg/config/server_config_test.go
  pkg/config/sink.go
  pkg/fsutil/filelock.go
  pkg/p2p/server.go
Due: cdc, engine

engine: disable race and goleak
  Makefile
  engine/executor/main_test.go
  engine/framework/internal/master/main_test.go
  engine/framework/internal/worker/main_test.go
  engine/framework/metadata/main_test.go
  engine/framework/registry/main_test.go
  engine/framework/statusutil/main_test.go
  engine/jobmaster/dm/checkpoint/main_test.go
  engine/jobmaster/dm/config/main_test.go
  engine/jobmaster/dm/metadata/main_test.go
  engine/jobmaster/dm/runtime/main_test.go
  engine/pkg/externalresource/broker/main_test.go
  engine/pkg/meta/internal/etcdkv/main_test.go
  engine/pkg/meta/model/main_test.go
  engine/pkg/orm/main_test.go
Due: engine

debug
  dm/tests/tls/run.sh
Due: dm

engine: disable goleak
  engine/executor/server/main_test.go
  engine/pkg/meta/internal/etcdkv/namespace/main_test.go
  engine/pkg/meta/internal/main_test.go
  engine/pkg/meta/main_test.go
  engine/pkg/meta/mock/main_test.go
Due: engine

ticdc(redo, sink): return correct error in redo writer & fix default retryer (#11747) (#11764)
  cdc/redo/writer/memory/encoding_worker.go
  cdc/redo/writer/memory/mem_log_writer_test.go
  pkg/redo/config.go
  pkg/sink/kafka/claimcheck/claim_check.go
  pkg/util/external_storage.go
Due: cdc

ddl_puller.go(ticdc): fix DDLs are ignored when schema versions are out of order (#11733) (#11755)
  cdc/puller/ddl_puller.go
Due: cdc

dm: fix empty `addr`
  dm/master/scheduler/scheduler_test.go
Due: dm

dm: add test
  dm/pkg/dumpling/utils_test.go
  dm/tests/mariadb_master_down_and_up/docker-compose.yml
Due: dm

dm: add test
  dm/tests/mariadb_master_down_and_up/docker-compose.yml
Due: dm

add test
  tests/integration_tests/availability/owner.sh
Due: none

fix leak
  cdc/redo/main_test.go
  cdc/server/server_test.go
  pkg/leakutil/leak_helper.go
Due: cdc

fix TestCampaignLiveness
  cdc/capture/capture_test.go
  cdc/redo/main_test.go
Due: cdc

Fix TLS generation script to use RSA keys instead of EC keys
  dm/tests/tls/conf/ca.pem
  dm/tests/tls/conf/dm.key
  dm/tests/tls/conf/dm.pem
  dm/tests/tls/conf/generate_tls.sh
  dm/tests/tls/conf/other.key
  dm/tests/tls/conf/other.pem
  dm/tests/tls/run.sh
Due: dm

puller: fix a bug that may cause error when replicate truncate table ddl
  cdc/puller/ddl_puller.go
  cdc/puller/ddl_puller_test.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
