Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

This is an automated cherry-pick of #11112
  dm/config/subtask.go
  dm/config/task.go
  dm/config/task_converters.go
  dm/syncer/syncer_test.go
  engine/jobmaster/dm/config/config.go
  pkg/column-mapping/column.go
  pkg/column-mapping/column_test.go
Due: cdc, dm, engine

disable lint
  pkg/cmd/redo/apply.go
Due: cdc

This is an automated cherry-pick of #11122
  cmd/tiflow/main.go
  dm/ctl/common/util.go
  dm/master/election.go
  dm/master/etcd.go
  dm/master/metrics/metrics.go
  dm/master/server.go
  dm/master/server_test.go
  dm/master/workerrpc/rawgrpc.go
  dm/pkg/checker/mysql_server.go
  dm/pkg/checker/utils.go
  dm/pkg/utils/common.go
  dm/tests/_dmctl_tools/check_master_http_apis.go
  dm/tests/_dmctl_tools/check_master_online.go
  dm/tests/_dmctl_tools/check_master_online_http.go
  dm/tests/_dmctl_tools/check_worker_online.go
  dm/tests/many_tables/run.sh
  dm/worker/join.go
  dm/worker/metrics.go
  dm/worker/server.go
  engine/jobmaster/dm/checkpoint/agent.go
  go.mod
  go.sum
  pkg/errors/helper.go
  pkg/errors/helper_test.go
Due: cdc, dm, engine

redo(ticdc): return internal error in redo writer (#11011)
  cdc/redo/writer/memory/encoding_worker.go
  cdc/redo/writer/memory/file_worker.go
  cdc/redo/writer/memory/mem_log_writer_test.go
Due: cdc

*(ticdc): split old update kv entry after restarting changefeed (#10919) (#11030)
  cdc/model/kv.go
  cdc/model/sink.go
  cdc/model/sink_test.go
  cdc/processor/processor.go
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sourcemanager/manager.go
  cdc/processor/sourcemanager/puller/dummy_puller_wrapper.go
  cdc/processor/sourcemanager/puller/multiplexing_puller_wrapper.go
  cdc/processor/sourcemanager/puller/puller_wrapper.go
  cdc/sink/dmlsink/factory/factory.go
  cdc/sink/dmlsink/txn/mysql/mysql.go
  cdc/sink/dmlsink/txn/mysql/mysql_test.go
  cmd/kafka-consumer/main.go
  cmd/pulsar-consumer/main.go
  cmd/storage-consumer/main.go
  errors.toml
  pkg/applier/redo.go
  pkg/applier/redo_test.go
  pkg/errors/cdc_errors.go
  pkg/errors/helper.go
  pkg/sink/codec/open/open_protocol_decoder.go
  tests/integration_tests/_utils/run_pulsar_consumer
  tests/integration_tests/changefeed_dup_error_restart/conf/diff_config.toml
  tests/integration_tests/changefeed_dup_error_restart/conf/workload
  tests/integration_tests/changefeed_dup_error_restart/run.sh
  tests/integration_tests/force_replicate_table/run.sh
  tests/integration_tests/kafka_simple_handle_key_only_avro/conf/diff_config.toml
  tests/integration_tests/run_group.sh
Due: cdc

update
  cdc/redo/reader/reader_test.go
  pkg/applier/redo.go
Due: cdc

update
  cdc/redo/reader/reader.go
Due: cdc

add test
  cdc/redo/reader/reader_test.go
Due: cdc

add 2 lines code.
  cdc/sink/dmlsink/mq/dispatcher/partition/index_value_test.go
  cmd/kafka-consumer/main.go
Due: cdc

test(ticdc): enable sequence test (#11023) (#11039)
  scripts/download-integration-test-binaries.sh
Due: none

Add more test.
  cdc/sink/dmlsink/mq/dispatcher/partition/index_value_test.go
Due: cdc

fix test.
  pkg/sink/codec/common/verify_checksum.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
  pkg/util/tz.go
Due: cdc

codec(ticdc): simple protocol introduce mock marshaller to improve ut coverage (#11098) (#11110)
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
  pkg/sink/codec/simple/mock/marshaller.go
  scripts/generate-mock.sh
Due: cdc

*: move binlog-filter package to tiflow (#11094) (#11102)
  cdc/api/v2/model.go
  cdc/api/v2/model_test.go
  cmd/dm-syncer/config.go
  dm/config/source_config.go
  dm/config/source_config_test.go
  dm/config/subtask.go
  dm/config/task.go
  dm/config/task_converters.go
  dm/config/task_converters_test.go
  dm/config/task_test.go
  dm/master/bootstrap_test.go
  dm/syncer/ddl.go
  dm/syncer/filter.go
  dm/syncer/filter_test.go
  dm/syncer/syncer.go
  dm/syncer/syncer_test.go
  dm/worker/source_worker.go
  engine/jobmaster/dm/config/config.go
  pkg/binlog-filter/filter.go
  pkg/binlog-filter/filter_test.go
  pkg/binlog-filter/util.go
  pkg/config/filter.go
  pkg/filter/filter_test.go
  pkg/filter/sql_event_filter.go
  pkg/filter/sql_event_filter_test.go
  pkg/filter/utils.go
  pkg/filter/utils_test.go
Due: cdc, dm, engine

*(ticdc): Cp 10832 to release 7.5 (#10961)
  cdc/api/middleware/middleware.go
  cdc/api/v1/api.go
  cdc/async/async_initializer.go
  cdc/async/async_initializer_test.go
  cdc/capture/capture.go
  cdc/owner/changefeed.go
  cdc/owner/changefeed_test.go
  cdc/processor/processor.go
  cdc/processor/processor_test.go
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sinkmanager/manager_test_helper.go
  cdc/scheduler/internal/v3/coordinator.go
  cdc/scheduler/internal/v3/coordinator_test.go
  pkg/config/replica_config.go
  pkg/context/context.go
  pkg/pdutil/utils.go
  pkg/sink/mysql/config.go
  tests/integration_tests/http_api/run.sh
  tests/integration_tests/http_api/util/test_case.py
  tests/integration_tests/http_api_tls/util/test_case.py
Due: cdc

update
  cdc/redo/reader/reader_test.go
Due: cdc

fix some conflicts.
  dm/config/subtask.go
  dm/config/task.go
  dm/config/task_converters.go
  dm/syncer/syncer_test.go
  engine/jobmaster/dm/config/config.go
Due: dm, engine

[skip ci] Update OWNERS file
  OWNERS
Due: none

return invalid topic expression in ErrKafkaInvalidTopicExpression
  cdc/sink/dmlsink/mq/dispatcher/topic/expression.go
  cdc/sink/dmlsink/mq/dispatcher/topic/expression_test.go
  pkg/errors/cdc_errors.go
Due: cdc

deps: replace 'sourcegraph.com/sourcegraph/appdash*' in go.mod
  go.mod
  go.sum
Due: none

puller(ticdc): fix resolvedTs get stuck when region split and merge (#10488) (#10493)
  cdc/puller/frontier/frontier.go
  cdc/puller/frontier/frontier_test.go
Due: cdc

syncpoint (ticdc): make syncpoint support base64 encoded password
  cdc/sink/mysql/mysql_syncpoint_store.go
Due: cdc

tests (ticdc): add integration test case
  tests/integration_tests/syncpoint/run.sh
Due: none

tests (ticdc): add integration test case
  tests/integration_tests/syncpoint/data/prepare.sql
Due: none

tests (ticdc): fix error
  tests/integration_tests/syncpoint/run.sh
Due: none

move diff to the package.
  dm/chaos/cases/diff.go
  dm/pkg/conn/db.go
  engine/chaos/cases/dm/case.go
  go.mod
  go.sum
  pkg/diff/README.md
  pkg/diff/checkpoint.go
  pkg/diff/checkpoint_test.go
  pkg/diff/chunk.go
  pkg/diff/chunk_test.go
  pkg/diff/conn.go
  pkg/diff/diff.go
  pkg/diff/diff_test.go
  pkg/diff/merge.go
  pkg/diff/merge_test.go
  pkg/diff/spliter_test.go
  pkg/diff/util.go
  pkg/diff/util_test.go
  pkg/importer/config.go
  pkg/importer/data.go
  pkg/importer/db.go
  pkg/importer/importer.go
  pkg/importer/job.go
  pkg/importer/parser.go
  pkg/importer/rand.go
  tests/integration_tests/util/db.go
Due: cdc, dm, engine

move diff to the package.
  pkg/diff/chunk.go
  pkg/diff/chunk_test.go
  pkg/diff/conn.go
Due: cdc

sink (ticdc): fix sourceID error (#11021) (#11034)
  cdc/owner/changefeed.go
  cdc/processor/processor.go
  pkg/pdutil/utils.go
Due: cdc

check http request context in api helper
  cdc/api/v2/api_helpers.go
  cdc/api/v2/api_helpers_mock.go
  cdc/api/v2/changefeed.go
  cdc/api/v2/changefeed_test.go
Due: cdc

format file.
  pkg/diff/diff.go
  pkg/diff/diff_test.go
  pkg/diff/merge_test.go
  pkg/diff/spliter_test.go
Due: cdc

fix kafka metrics
  pkg/sink/kafka/metrics_collector.go
Due: cdc

make fmt
  pkg/diff/checkpoint.go
  pkg/diff/checkpoint_test.go
  pkg/diff/chunk.go
  pkg/diff/diff.go
Due: cdc

redo(ticdc): return internal error in redo writer (#11011) (#11090)
  cdc/redo/writer/memory/encoding_worker.go
  cdc/redo/writer/memory/file_worker.go
  cdc/redo/writer/memory/mem_log_writer_test.go
Due: cdc

fix line too long.
  pkg/diff/checkpoint.go
  pkg/diff/chunk.go
  pkg/diff/diff.go
  pkg/diff/util.go
Due: cdc

dep(dm): move column-mapping from tidb-tools to tiflow repo (#11112) (#11153)
  dm/config/subtask.go
  dm/config/task.go
  dm/config/task_converters.go
  dm/syncer/syncer_test.go
  engine/jobmaster/dm/config/config.go
  pkg/column-mapping/column.go
  pkg/column-mapping/column_test.go
Due: cdc, dm, engine

(redo)ticdc: fix the event orderliness in redo log (#11117) (#11155)
  cdc/redo/reader/reader.go
  cdc/redo/reader/reader_test.go
  pkg/applier/redo.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
