Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

fmt
  tests/integration_tests/open_protocol_claim_check/run.sh
Due: none

snapshot(ticdc): fix the data race when log set to debug caused by print logs (#11830)
  cdc/entry/schema/snapshot.go
Due: cdc

make fmt
  cdc/entry/schema/snapshot.go
Due: cdc

fix the data race
  cdc/entry/schema/snapshot.go
Due: cdc

Revert "ticdc: Support `create table` ddl only appear in tidb_ddl_history instead of tidb_ddl_job table (#10907)"
  cdc/entry/mounter.go
  cdc/puller/ddl_puller.go
  pkg/spanz/span.go
Due: cdc

use different tls config
  dm/config/task.go
  dm/config/task_converters.go
  dm/loader/lightning.go
Due: dm

debug(ticdc): add more logs to the kafka sink and enable sarama log (#11815)
  cdc/sink/dmlsink/mq/dmlproducer/kafka_dml_producer.go
  cmd/kafka-consumer/main.go
  dm/tests/download-integration-test-binaries.sh
  go.mod
  go.sum
  pkg/logutil/log.go
  pkg/sink/codec/canal/canal_json_row_event_encoder.go
  pkg/sink/codec/common/message.go
  pkg/sink/codec/open/open_protocol_encoder.go
  pkg/sink/codec/open/open_protocol_encoder_test.go
  pkg/sink/kafka/factory.go
  pkg/sink/kafka/mock_factory.go
  pkg/sink/kafka/v2/factory.go
  pkg/sink/kafka/v2/factory_test.go
  scripts/download-integration-test-binaries.sh
  tests/integration_tests/_utils/test_prepare
Due: cdc, dm

consumer(ticdc): modify kafka consumer (#11819)
  cmd/kafka-consumer/consumer.go
  cmd/kafka-consumer/main.go
Due: cdc

add test
  .github/workflows/dm_upstream_switch.yaml
Due: none

add test
  dm/tests/upstream_switch/docker-compose.yml
Due: dm

Revert debug changes.
  dm/tests/openapi/run.sh
Due: dm

add ca2 tls key
  dm/tests/tls/conf/ca2.pem
  dm/tests/tls/conf/generate_tls.sh
  dm/tests/tls/conf/tidb.key
  dm/tests/tls/conf/tidb.pem
Due: dm

add one more log
  cmd/kafka-consumer/writer.go
Due: cdc

filter the duplicate messages
  cmd/kafka-consumer/event_group.go
  cmd/kafka-consumer/writer.go
Due: cdc

fix check old message
  cmd/kafka-consumer/event_group.go
  cmd/kafka-consumer/writer.go
Due: cdc

update ts in resolveTs
  cmd/kafka-consumer/writer.go
Due: cdc

adjust the consumer
  cmd/kafka-consumer/event_group.go
  cmd/kafka-consumer/writer.go
Due: cdc

pass the resolved
  cmd/kafka-consumer/writer.go
Due: cdc

Load TLS Context after validating config
  dm/ctl/master/start_task.go
Due: dm

Add test case
  dm/tests/tls/conf/dm-task-3.yaml
  dm/tests/tls/run.sh
Due: dm

set the memory limit
  cmd/kafka-consumer/main.go
Due: cdc

change
  go.mod
  go.sum
Due: none

set the memory limit
  cmd/kafka-consumer/event_group.go
  cmd/kafka-consumer/writer.go
Due: cdc

*: upgrade tidb to include fix (#11776) (#11821)
  dm/pkg/parser/common_test.go
  go.mod
  go.sum
Due: dm

add more log.
  cmd/kafka-consumer/event_group.go
  cmd/kafka-consumer/writer.go
Due: cdc

adjust the log for simple protocol cached event.
  cmd/kafka-consumer/writer.go
Due: cdc

add comment and fix
  dm/config/task.go
  dm/loader/lightning.go
Due: dm

add test
  dm/config/task_test.go
Due: dm

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
