Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

add test
  .github/workflows/dm_upstream_switch.yaml
Due: none

replace exportloopref by copyloopvar.
  .golangci.yml
  cdc/sink/tablesink/state/state_test.go
  cdc/sink/util/helper_test.go
  dm/.golangci.yml
  engine/chaos/cases/cases.go
  engine/framework/internal/master/worker_manager.go
  engine/framework/model/master_test.go
  engine/servermaster/http_test.go
  pkg/etcd/etcd_test.go
  pkg/filter/sql_event_filter_test.go
  pkg/label/label_test.go
  pkg/label/selector_test.go
  pkg/notify/notify_test.go
  pkg/orchestrator/batch_test.go
  pkg/orchestrator/etcd_worker_bank_test.go
  pkg/p2p/server_test.go
  pkg/security/sasl_test.go
  pkg/sink/kafka/sarama_test.go
Due: cdc, dm, engine

use table id
  pkg/sink/codec/canal/canal_json_row_event_encoder.go
Due: cdc

Dont check the Running stage for load.
  dm/tests/openapi/run.sh
Due: dm

add test
  dm/tests/upstream_switch/docker-compose.yml
Due: dm

use canal-json
  tests/integration_tests/cdc/run.sh
Due: none

bump version to v7.5.4
  dm/tests/download-integration-test-binaries.sh
  scripts/download-integration-test-binaries.sh
Due: dm

use canal-json
  tests/integration_tests/default_value/run.sh
Due: none

update KAFKA_VERSION
  tests/integration_tests/_utils/test_prepare
Due: none

revert cdc test case
  tests/integration_tests/cdc/run.sh
Due: none

remove order events
  cmd/kafka-consumer/main.go
Due: cdc

add partition memo
  pkg/sink/kafka/factory.go
Due: cdc

bump to v7.5.4
  dm/tests/download-integration-test-binaries.sh
  scripts/download-integration-test-binaries.sh
Due: dm

Update run.sh
  tests/integration_tests/default_value/run.sh
Due: none

Dont do routings over target.
  dm/tests/openapi/client/openapi_task_check
  dm/tests/openapi/conf/diff_config_no_shard_one_source.toml
Due: dm

revert test
  tests/integration_tests/default_value/run.sh
Due: none

puller: fix a bug that may cause error when replicate truncate table ddl (#11772)
  cdc/owner/ddl_manager.go
  cdc/puller/ddl_puller.go
  cdc/puller/ddl_puller_test.go
Due: cdc

Update download-integration-test-binaries.sh
  scripts/download-integration-test-binaries.sh
Due: none

remove order events
  cmd/kafka-consumer/consumer.go
  cmd/kafka-consumer/event_group.go
Due: cdc

fix the data race
  cdc/entry/schema/snapshot.go
Due: cdc

make fmt
  cdc/entry/schema/snapshot.go
Due: cdc

consumer(ticdc): remove order events (#11828)
  cmd/kafka-consumer/consumer.go
  cmd/kafka-consumer/event_group.go
Due: cdc

message size larger since add headers for debug
  tests/integration_tests/open_protocol_handle_key_only/run.sh
Due: none

fix the case
  tests/integration_tests/open_protocol_claim_check/run.sh
  tests/integration_tests/open_protocol_handle_key_only/run.sh
Due: none

fix the case
  tests/integration_tests/open_protocol_claim_check/run.sh
Due: none

add kafka header length
  pkg/sink/codec/common/message.go
  pkg/sink/codec/open/open_protocol_encoder.go
  pkg/sink/kafka/factory.go
Due: cdc

fix open protocol length
  pkg/sink/codec/open/open_protocol_encoder.go
Due: cdc

update open protocol
  pkg/sink/codec/open/open_protocol_encoder.go
Due: cdc

fix header length
  pkg/sink/codec/common/message.go
Due: cdc

Remove running check from dump step as well, and add openapi part.
  dm/tests/openapi/run.sh
Due: dm

generate api client and server
  dm/openapi/gen.server.go
  dm/openapi/gen.types.go
  dm/openapi/spec/dm.yaml
Due: dm

fix comment
  pkg/sink/codec/common/message.go
Due: cdc

fmt
  pkg/sink/kafka/factory.go
Due: cdc

Change task name for api check.
  dm/tests/openapi/run.sh
Due: dm

fix unit test
  pkg/sink/codec/open/open_protocol_encoder_test.go
Due: cdc

Update run.sh
  tests/integration_tests/open_protocol_claim_check/run.sh
Due: none

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
