Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

add tests
  tests/integration_tests/_utils/run_cdc_cli_tso_query
  tests/integration_tests/cli_tls_with_auth/run.sh
Due: none

update
  pkg/cmd/cli/cli_configure_credentials.go
Due: cdc

add configure credential
  pkg/cmd/cli/cli.go
  pkg/cmd/cli/cli_changefeed_helper.go
  pkg/cmd/cli/cli_changefeed_update.go
  pkg/cmd/cli/cli_configure_credentials.go
  pkg/cmd/cli/cli_unsafe.go
  pkg/cmd/factory/factory.go
Due: cdc

add more log
  pkg/upstream/upstream.go
  pkg/upstream/upstream_test.go
Due: cdc

fix comment
  pkg/cmd/cli/cli_configure_credentials.go
Due: cdc

use preferred tls config
  pkg/upstream/upstream.go
  pkg/upstream/upstream_test.go
Due: cdc

metrics(ticdc): fix slowest table metrics in scheduler (#10484) (#10501)
  cdc/owner/changefeed.go
  cdc/scheduler/internal/v3/replication/replication_manager.go
  metrics/alertmanager/ticdc.rules.yml
Due: cdc

fix default server address
  pkg/cmd/factory/factory_impl.go
  tests/integration_tests/run_group.sh
Due: cdc

chore: make project coverage status informational
  .codecov.yml
Due: none

Revert "sink-to-mysql(cdc) simplify conflict detector, prevent workload skew issue (#10376)"
  pkg/causality/conflict_detector.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots_test.go
Due: cdc

add pulsar integration test docker file
  deployments/ticdc/docker/pulsar-integration-test.Dockerfile
Due: none

fix make check
  cdc/entry/mounter_test.go
Due: cdc

init
  cdc/processor/sourcemanager/sorter/metrics.go
  cdc/processor/sourcemanager/sorter/pebble/event_sorter.go
Due: cdc

api(ticdc): only update upstreamInfo that has changed (#10422) (#10451)
  cdc/api/v1/api.go
  cdc/api/v2/changefeed.go
  cdc/api/v2/changefeed_test.go
  errors.toml
  pkg/errors/cdc_errors.go
  pkg/etcd/client_test.go
  pkg/etcd/etcd.go
  pkg/etcd/etcd_test.go
  pkg/etcd/etcdkey_test.go
  pkg/etcd/mock/etcd_client_mock.go
  pkg/etcd/util_test.go
Due: cdc

fix build.
  pkg/causality/internal/node.go
Due: cdc

add test
  tests/integration_tests/sql_mode/run.sh
Due: none

fix test.
  cdc/entry/mounter_test.go
Due: cdc

fix
  cdc/processor/sinkmanager/redo_log_worker.go
  cdc/processor/sinkmanager/table_sink_worker.go
  cdc/processor/sourcemanager/sorter/pebble/event_sorter.go
Due: cdc

compile(*): support go 1.22 (#10648)
  go.mod
  go.sum
Due: none

fix the group id.
  cmd/kafka-consumer/main.go
Due: cdc

add run mtls pulsar cluster shell script
  tests/integration_tests/_utils/run_pulsar_cluster
Due: none

test(ticdc): add pulsar integration test docker file (#10640)
  deployments/ticdc/docker/pulsar-integration-test.Dockerfile
Due: none

sorter(cdc): correct stale table range cleaning and metric it (#10652)
  cdc/processor/sinkmanager/redo_log_worker.go
  cdc/processor/sinkmanager/table_sink_worker.go
  cdc/processor/sourcemanager/sorter/metrics.go
  cdc/processor/sourcemanager/sorter/pebble/event_sorter.go
Due: cdc

fix tls
  tests/integration_tests/cli_tls_with_auth/run.sh
Due: none

fix cli
  tests/integration_tests/_utils/run_cdc_cli_tso_query
  tests/integration_tests/cli_tls_with_auth/run.sh
Due: none

update
  tests/integration_tests/sql_mode/run.sh
Due: none

test: fix upstream database switch (#10593)
  dm/tests/upstream_switch/Dockerfile
Due: dm

update logs.
  cdc/sink/ddlsink/mysql/mysql_ddl_sink.go
  cmd/kafka-consumer/main.go
  pkg/sink/codec/simple/decoder.go
Due: cdc

mysql(ticdc): fix the data race in the conflict detector (#10630) (#10643)
  pkg/causality/internal/node.go
Due: cdc

pulsar consumer support oauth and mtls auth
  cmd/pulsar-consumer/main.go
Due: cdc

add some log
  cdc/sink/dmlsink/cloudstorage/cloud_storage_dml_sink.go
  pkg/sink/cloudstorage/path.go
Due: cdc

sorter(ticdc): optimize sorter and fix corner case of updating resolvedTs (#10618)
  cdc/owner/changefeed.go
  cdc/processor/sourcemanager/sorter/pebble/event_sorter.go
Due: cdc

adjust the code.
  cmd/kafka-consumer/main.go
Due: cdc

add more logs to debug
  cmd/kafka-consumer/main.go
Due: cdc

logs all tables to be replicated when changefeed initialized
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_storage.go
  cdc/entry/schema_storage_test.go
  cdc/entry/validator.go
Due: cdc
