Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

add integration tests
  cdc/model/mounter.go
  tests/integration_tests/event_filter/conf/cf.toml
  tests/integration_tests/event_filter/data/test.sql
  tests/integration_tests/event_filter/run.sh
Due: cdc

fix tests
  dm/pkg/utils/common.go
  pkg/filter/expr_filter_test.go
  tests/integration_tests/syncpoint/run.sh
Due: cdc, dm

alpha version
  cdc/model/mounter.go
  cdc/model/schema_storage.go
  pkg/filter/expr_filter.go
Due: cdc

fix test scripts
  tests/integration_tests/event_filter/data/test.sql
Due: none

fix tests
  dm/pkg/utils/common.go
  pkg/filter/expr_filter.go
  pkg/filter/expr_filter_test.go
Due: cdc, dm

add unit test
  cdc/model/mounter.go
  cdc/model/mounter_test.go
Due: cdc

fix format
  tests/integration_tests/event_filter/run.sh
Due: none

small fix
  tests/integration_tests/event_filter/conf/cf.toml
Due: none

add unit tests
  pkg/filter/expr_filter_test.go
Due: cdc

add integration tests
  tests/integration_tests/event_filter/conf/cf.toml
  tests/integration_tests/event_filter/data/test.sql
  tests/integration_tests/event_filter/run.sh
Due: none

This is an automated cherry-pick of #12211
  cdc/model/mounter.go
  cdc/model/mounter_test.go
  cdc/model/schema_storage.go
  cdc/model/schema_storage_test.go
  pkg/filter/expr_filter.go
  pkg/filter/expr_filter_test.go
  tests/integration_tests/event_filter/conf/cf.toml
  tests/integration_tests/event_filter/data/test.sql
  tests/integration_tests/event_filter/run.sh
  tests/integration_tests/syncpoint/run.sh
Due: cdc

update
  cdc/scheduler/internal/v3/keyspan/mock.go
  cdc/scheduler/internal/v3/keyspan/splitter_region_count.go
Due: cdc

update
  cdc/scheduler/internal/v3/keyspan/splitter_region_count.go
Due: cdc

fix build
  pkg/filter/expr_filter.go
  pkg/filter/expr_filter_test.go
Due: cdc

fix conflict
  cdc/model/schema_storage.go
  pkg/filter/expr_filter.go
  pkg/filter/expr_filter_test.go
Due: cdc

small fix
  pkg/filter/expr_filter_test.go
Due: cdc

remove incorrect query execution plan
  tests/integration_tests/tidb_mysql_test/r/date_formats.result
  tests/integration_tests/tidb_mysql_test/t/date_formats.test
Due: none

scheduler: Speed ​​up region scanning before table splitting (#12222)
  cdc/scheduler/internal/v3/keyspan/mock.go
  cdc/scheduler/internal/v3/keyspan/splitter_region_count.go
Due: cdc

fix
  pkg/filter/expr_filter.go
Due: cdc

simplify calculation
  pkg/filter/expr_filter.go
Due: cdc

fix format
  cdc/model/schema_storage.go
Due: cdc

remove unnecessary log
  pkg/filter/expr_filter.go
Due: cdc

fix conflict
  cdc/model/schema_storage.go
  cdc/model/schema_storage_test.go
  pkg/filter/expr_filter.go
  pkg/filter/expr_filter_test.go
Due: cdc

add test
  cdc/model/schema_storage_test.go
Due: cdc

fix conflict
  cdc/model/mounter_test.go
  cdc/model/schema_storage.go
  cdc/model/schema_storage_test.go
  go.mod
  pkg/filter/expr_filter.go
  pkg/filter/expr_filter_test.go
Due: cdc

fix build
  cdc/model/mounter_test.go
  pkg/filter/expr_filter.go
  pkg/filter/expr_filter_test.go
Due: cdc

fix go mod
  go.mod
Due: none
