Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

add err doc
  errors.toml
Due: none

upgrade tidb
  go.mod
  go.sum
Due: none

update
  dm/loader/lightning.go
Due: dm

make pulsar producer closing async
  cdc/sink/ddlsink/mq/ddlproducer/pulsar_ddl_producer.go
  cdc/sink/dmlsink/mq/dmlproducer/pulsar_dml_producer.go
Due: cdc

add certs for pulsar ssl
  tests/integration_tests/_certificates/pulsar_certs/ca/ca.cert.pem
  tests/integration_tests/_certificates/pulsar_certs/client/client.cert.pem
  tests/integration_tests/_certificates/pulsar_certs/client/client.key-pk8.pem
  tests/integration_tests/_certificates/pulsar_certs/server/broker.cert.pem
  tests/integration_tests/_certificates/pulsar_certs/server/broker.key-pk8.pem
Due: none

add api test
  tests/integration_tests/run_group.sh
Due: none

filter (ticdc): fix synpoint table is replicated in BDR mode (#10587) (#10607)
  cdc/syncpointstore/mysql_syncpoint_store.go
  pkg/filter/filter.go
  pkg/filter/filter_test.go
  pkg/filter/utils.go
  pkg/filter/utils_test.go
  tests/integration_tests/bdr_mode/conf/cf.toml
  tests/integration_tests/bdr_mode/conf/down.toml
  tests/integration_tests/bdr_mode/conf/up.toml
  tests/integration_tests/bdr_mode/run.sh
Due: cdc

fix ut
  pkg/config/config_test_data.go
  pkg/sink/mysql/db_helper.go
  pkg/upstream/upstream_test.go
Due: cdc

dm : fix tiup upgrade case (#10594)
  .github/workflows/upgrade_dm_via_tiup.yaml
  dm/tests/tiup/conf/topo.yaml
  dm/tests/tiup/lib.sh
  dm/tests/tiup/upgrade-from-v2.sh
Due: dm

fix leak
  dm/pkg/schema/tracker.go
  engine/jobmaster/dm/checkpoint/agent_test.go
Due: dm, engine

fix precheck
  dm/pkg/checker/lightning.go
Due: dm

fix build
  dm/pkg/checker/lightning.go
Due: dm

config(ticdc): remove useless config variables (#10610)
  pkg/cmd/server/server_test.go
  pkg/cmd/util/helper_test.go
  pkg/config/config_test_data.go
  pkg/config/server_config.go
  pkg/config/sorter.go
  tests/integration_tests/server_config_compatibility/conf/server.toml
Due: cdc

eanble pulsar consumer support tls
  cmd/pulsar-consumer/main.go
  pkg/config/sink.go
  tests/integration_tests/_utils/run_pulsar_consumer
Due: cdc

fix expr_filter
  dm/pkg/utils/common.go
Due: dm

make pulsar integration test ddl_manager use ssl
  tests/integration_tests/ddl_manager/run.sh
Due: none

fix ut
  dm/pkg/conn/mockdb.go
Due: dm

fix error
  tests/integration_tests/ddl_manager/run.sh
Due: none

fix error 2
  tests/integration_tests/ddl_manager/conf/pulsar_test.toml
Due: none

fix error 3
  tests/integration_tests/ddl_manager/conf/pulsar_test.toml
  tests/integration_tests/ddl_manager/run.sh
Due: none

kvclient(ticdc): fix the workerpool data race (#10196) (#10201)
  cdc/kv/region_worker.go
  cdc/server/server.go
Due: cdc

try to debug.
  pkg/sink/codec/simple/encoder_test.go
Due: cdc

add unsigned int type.
  pkg/sink/codec/simple/message.go
Due: cdc

fix all unit tests.
  pkg/sink/codec/common/verify_checksum.go
  pkg/sink/codec/simple/decoder.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
  pkg/sink/codec/simple/message.json
Due: cdc

fix schema
  pkg/sink/codec/simple/message.json
Due: cdc

pulsar (ticdc): fix tls encryption and oauth2.0 (#10611)
  cdc/sink/dmlsink/factory/factory.go
  errors.toml
  pkg/config/sink.go
  pkg/errors/cdc_errors.go
  pkg/sink/pulsar/factory.go
Due: cdc

remove some sql from the ci test.
  tests/integration_tests/kafka_simple_basic_avro/data/data.sql
Due: none

fix error 4
  tests/integration_tests/ddl_manager/run.sh
Due: none

fix pulsar tls and oauth2.0 funcation
  cdc/sink/dmlsink/factory/factory.go
  pkg/config/sink.go
  pkg/errors/cdc_errors.go
  pkg/sink/pulsar/factory.go
Due: cdc

pulsar/logger: ensure the .With*() fields are logged
  cmd/pulsar-consumer/main.go
  pkg/sink/pulsar/factory.go
  pkg/sink/pulsar/logger.go
  pkg/sink/pulsar/logger_test.go
Due: cdc

Add one unit test.
  cdc/entry/mounter_test.go
Due: cdc

fix the tests.
  dm/pkg/checker/lightning.go
  tests/integration_tests/kafka_simple_basic/run.sh
Due: dm

fix the tests.
  pkg/sink/codec/common/verify_checksum.go
Due: cdc

pulsar (ticdc): fix tls encryption and oauth2.0 (#10611) (#10614)
  cdc/sink/dmlsink/factory/factory.go
  cmd/pulsar-consumer/main.go
  errors.toml
  pkg/config/sink.go
  pkg/errors/cdc_errors.go
  pkg/sink/pulsar/factory.go
  pkg/sink/pulsar/logger.go
  pkg/sink/pulsar/logger_test.go
Due: cdc

This is an automated cherry-pick of #10346
  dm/pkg/schema/tracker.go
  dm/pkg/schema/tracker_test.go
Due: dm

update handle events
  cdc/processor/sourcemanager/sorter/pebble/event_sorter.go
Due: cdc

update
  cdc/processor/sourcemanager/sorter/pebble/event_sorter.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
