Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

fix barrier
  cdc/kv/shared_client.go
  cdc/processor/sinkmanager/table_sink_wrapper.go
  cdc/redo/manager.go
  pkg/util/atomic.go
Due: cdc

sink(ticdc): adjust lag bucket and add metrics for sink flush lag (#10596) (#10730)
  cdc/metrics/metrics.go
  cdc/metrics/metrics_test.go
  cdc/owner/metrics.go
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sinkmanager/table_sink_wrapper_test.go
  cdc/sink/dmlsink/factory/factory.go
  cdc/sink/dmlsink/factory/factory_test.go
  cdc/sink/metrics/tablesink/metrics.go
  cdc/sink/tablesink/table_sink_impl.go
  cdc/sink/tablesink/table_sink_impl_test.go
  cmd/kafka-consumer/main.go
  cmd/pulsar-consumer/main.go
  cmd/storage-consumer/main.go
  metrics/grafana/ticdc.json
  pkg/applier/redo.go
Due: cdc

test
  dm/tests/upstream_switch/case.sh
Due: dm

update
  cdc/processor/sourcemanager/sorter/pebble/event_sorter.go
Due: cdc

fix build error
  cdc/redo/manager.go
  cdc/redo/meta_manager.go
Due: cdc

updarte
  cdc/processor/sourcemanager/sorter/pebble/event_sorter.go
Due: cdc

test
  dm/tests/upstream_switch_mariadb/lib.sh
Due: dm

test 10.1
  dm/tests/upstream_switch_mariadb/docker-compose.yml
  dm/tests/upstream_switch_mariadb/lib.sh
Due: dm

test no gtid-strict-mode
  dm/tests/upstream_switch_mariadb/docker-compose.yml
Due: dm

test 10.2
  dm/tests/upstream_switch_mariadb/docker-compose.yml
Due: dm

test 10.2 gtid-strict-mode=ON
  dm/tests/upstream_switch_mariadb/docker-compose.yml
Due: dm

add run mtls pulsar cluster shell script
  tests/integration_tests/big_txn/run.sh
Due: none

encode raw kv checksum
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
Due: cdc

Remove Slack notifications from workflow files
  .github/workflows/dm_binlog_999999.yaml
  .github/workflows/dm_chaos.yaml
  .github/workflows/dm_upstream_switch.yaml
  .github/workflows/upgrade_dm_via_tiup.yaml
Due: none

Update dm/tests/upstream_switch_mariadb/docker-compose.yml
  dm/tests/upstream_switch_mariadb/docker-compose.yml
Due: dm

test 10.1.9 with gtid-strict-mode=off
  dm/tests/upstream_switch_mariadb/docker-compose.yml
Due: dm

Update MySQL version in docker-compose.yml
  dm/tests/upstream_switch_mariadb/docker-compose.yml
Due: dm

add mariadb_master_down_and_up
  .github/workflows/dm_mariadb_master_down_and_up.yaml
  dm/tests/mariadb_master_down_and_up/case.sh
  dm/tests/mariadb_master_down_and_up/conf/diff_config.toml
  dm/tests/mariadb_master_down_and_up/conf/dm-master.toml
  dm/tests/mariadb_master_down_and_up/conf/dm-worker1.toml
  dm/tests/mariadb_master_down_and_up/conf/source1.yaml
  dm/tests/mariadb_master_down_and_up/conf/task-pessimistic.yaml
  dm/tests/mariadb_master_down_and_up/docker-compose.yml
  dm/tests/mariadb_master_down_and_up/lib.sh
Due: dm

add method to verify raw bytes.
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
  go.mod
  go.sum
Due: cdc

add tests
  cdc/processor/sinkmanager/table_sink_wrapper.go
  cdc/redo/manager.go
  pkg/util/atomic.go
  pkg/util/atomic_test.go
Due: cdc

do not abuse use rowcolinfo.
  pkg/sink/codec/canal/type_test.go
Due: cdc

do not abuse use rowcolinfo.
  cdc/model/schema_storage.go
Due: cdc

fix storage timeout
  pkg/redo/config.go
Due: cdc

fix
  cdc/entry/mounter.go
Due: cdc

server, config(ticdc): disable client auth for release 8.0 (#10694)
  pkg/config/server_config.go
  tests/integration_tests/cli_tls_with_auth/run.sh
  tests/integration_tests/http_api_tls_with_user_auth/run.sh
Due: cdc

*(ticdc): bump tidb versino to fix objprefix of gcs and azure (#10732)
  go.mod
  go.sum
Due: none

try to encode back columns to datum
  cdc/entry/mounter.go
Due: cdc

codec(ticdc): do not abuse rowcodec.ColInfo to fetch the column id (#10744)
  cdc/model/schema_storage.go
  pkg/sink/codec/canal/type_test.go
Due: cdc

add more tests
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
Due: cdc

Revert "sink-to-mysql(cdc) simplify conflict detector, prevent workload skew issue (#10376)"
  pkg/causality/conflict_detector.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots_test.go
Due: cdc

fix
  pkg/causality/internal/node.go
Due: cdc

update integration-test-binaries download
  Makefile
  scripts/download-integration-test-binaries.sh
  tests/integration_tests/README.md
Due: none

fix
  cdc/kv/shared_client.go
  cdc/processor/sinkmanager/table_sink_wrapper.go
  cdc/redo/manager.go
  pkg/util/atomic.go
  pkg/util/atomic_test.go
Due: cdc

sinkManger(ticdc): update barrierTs when starting table (#10740)
  cdc/kv/shared_client.go
  cdc/processor/sinkmanager/table_sink_wrapper.go
  cdc/redo/manager.go
  cdc/redo/meta_manager.go
  pkg/util/atomic.go
  pkg/util/atomic_test.go
Due: cdc

ticdc: Fix CPU surge problem in sorter (#10739)
  cdc/processor/sourcemanager/sorter/pebble/event_sorter.go
Due: cdc

fix.
  pkg/sink/codec/simple/message.go
Due: cdc

do not check if the expected checksum is 0
  pkg/sink/codec/common/verify_checksum.go
Due: cdc

simplify decode.
  pkg/sink/codec/avro/decoder.go
  pkg/sink/codec/common/verify_checksum.go
  pkg/sink/codec/simple/message.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
