Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

enable the sarama log
  pkg/logutil/log.go
Due: cdc

fix make fmt
  pkg/logutil/log.go
Due: cdc

set the sarama producer retry to 0
  pkg/sink/kafka/sarama.go
Due: cdc

dm: openapi support multi TLS security config for downstream db and cluster (#11844)
  dm/checker/checker.go
  dm/config/security/security.go
  dm/config/security_test.go
  dm/config/task.go
  dm/config/task_converters.go
  dm/config/task_converters_test.go
  dm/config/task_test.go
  dm/loader/lightning.go
  dm/loader/lightning_test.go
  dm/master/openapi_controller_test.go
  dm/openapi/fixtures/task.go
  dm/openapi/gen.server.go
  dm/openapi/gen.types.go
  dm/openapi/spec/dm.yaml
  dm/tests/_utils/run_downstream_cluster_with_tls
  dm/tests/openapi/client/openapi_source_check
  dm/tests/openapi/client/openapi_task_check
  dm/tests/openapi/run.sh
  dm/tests/openapi/tls_conf/ca2.pem
  dm/tests/openapi/tls_conf/tidb.key
  dm/tests/openapi/tls_conf/tidb.pem
  dm/tests/tls/conf/generate_tls.sh
Due: dm

update test
  tests/integration_tests/event_filter/conf/cf.toml
  tests/integration_tests/event_filter/data/test_rename.sql
  tests/integration_tests/event_filter/run.sh
Due: none

fix close
  cdc/processor/processor.go
  cdc/puller/ddl_puller.go
Due: cdc

fmt
  dm/openapi/gen.server.go
  dm/openapi/gen.types.go
  dm/openapi/spec/dm.yaml
Due: dm

try fix
  cdc/model/sink.go
Due: cdc

fix
  cdc/processor/sourcemanager/manager.go
Due: cdc

add test
  tests/integration_tests/ddl_manager/data/prepare.sql
Due: none

add some log
  cdc/entry/schema/snapshot.go
Due: cdc

add more comment
  cdc/entry/schema/snapshot.go
  cdc/model/sink.go
Due: cdc

update test
  tests/integration_tests/event_filter/conf/cf.toml
  tests/integration_tests/event_filter/conf/diff_config.toml
  tests/integration_tests/event_filter/data/test.sql
  tests/integration_tests/event_filter/data/test_rename.sql
  tests/integration_tests/event_filter/run.sh
Due: none

This is an automated cherry-pick of #11649
  cdc/model/sink.go
  pkg/sink/codec/avro/avro.go
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/common/helper.go
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/codec_test.go
  pkg/sink/codec/debezium/debezium_test.go
  pkg/sink/codec/debezium/encoder.go
  pkg/sink/codec/debezium/testdata/datatype.dbz.key.json
  tests/integration_tests/debezium/README.md
  tests/integration_tests/debezium/run.sh
  tests/integration_tests/debezium/sql/debezium/real_test.sql
  tests/integration_tests/debezium/src/test_cases.go
Due: cdc

ddl(ticdc): ignore ddl with schemaversion 0 (#11856) (#11922)
  cdc/entry/schema_storage.go
  cdc/puller/ddl_puller.go
  tests/integration_tests/ddl_with_exists/conf/diff_config.toml
  tests/integration_tests/ddl_with_exists/run.sh
  tests/integration_tests/ddl_with_exists/test.go
  tests/integration_tests/run_group.sh
Due: cdc

Update pkg/filter/sql_event_filter.go
  pkg/filter/sql_event_filter.go
Due: cdc

fix test
  dm/config/task_converters.go
  dm/config/task_converters_test.go
Due: dm

tests(ticdc): fix bank test (#11407) (#11809)
  cdc/owner/ddl_manager.go
  tests/integration_tests/bank/case.go
  tests/integration_tests/bank/run.sh
Due: cdc

filter(ticdc): fix incorrect event filter with "rename" DDLs (#11956)
  pkg/filter/sql_event_filter.go
  pkg/filter/sql_event_filter_test.go
  tests/integration_tests/event_filter/conf/cf.toml
  tests/integration_tests/event_filter/conf/diff_config.toml
  tests/integration_tests/event_filter/data/test.sql
  tests/integration_tests/event_filter/data/test_rename.sql
  tests/integration_tests/event_filter/run.sh
Due: cdc

This is an automated cherry-pick of #11956
  pkg/filter/sql_event_filter.go
  pkg/filter/sql_event_filter_test.go
  tests/integration_tests/event_filter/conf/cf.toml
  tests/integration_tests/event_filter/conf/diff_config.toml
  tests/integration_tests/event_filter/data/test.sql
  tests/integration_tests/event_filter/data/test_rename.sql
  tests/integration_tests/event_filter/run.sh
Due: cdc

fix
  tests/integration_tests/event_filter/conf/diff_config.toml
Due: none

fix
  tests/integration_tests/event_filter/conf/diff_config.toml
  tests/integration_tests/event_filter/data/test_rename.sql
Due: none

add integration test
  tests/integration_tests/event_filter/conf/cf.toml
  tests/integration_tests/event_filter/data/test.sql
  tests/integration_tests/event_filter/data/test_rename.sql
  tests/integration_tests/event_filter/run.sh
Due: none

fix
  pkg/filter/sql_event_filter.go
  pkg/filter/sql_event_filter_test.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
