Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

event filter: fix panic when evaluate expressions for table with virtual columns (#12211) (#12220)
  cdc/model/mounter.go
  cdc/model/mounter_test.go
  cdc/model/schema_storage.go
  cdc/model/schema_storage_test.go
  pkg/filter/expr_filter.go
  pkg/filter/expr_filter_test.go
  tests/integration_tests/event_filter/conf/cf.toml
  tests/integration_tests/event_filter/data/test.sql
  tests/integration_tests/event_filter/run.sh
  tests/integration_tests/syncpoint/run.sh
Due: cdc

update
  go.mod
  go.sum
Due: none

init
  cdc/model/schema_storage.go
  cdc/model/schema_storage_test.go
  cdc/sink/dmlsink/mq/dispatcher/event_router.go
  cdc/sink/dmlsink/mq/dispatcher/partition/columns.go
  cdc/sink/dmlsink/mq/dispatcher/partition/columns_test.go
Due: cdc

event filter: fix panic when evaluate expressions for table with virtual columns (#12252)
  cdc/model/mounter.go
  cdc/model/mounter_test.go
  cdc/model/schema_storage.go
  cdc/model/schema_storage_test.go
  pkg/filter/expr_filter.go
  pkg/filter/expr_filter_test.go
  tests/integration_tests/event_filter/conf/cf.toml
  tests/integration_tests/event_filter/data/test.sql
  tests/integration_tests/event_filter/run.sh
  tests/integration_tests/syncpoint/run.sh
Due: cdc

cloudstorage: fix a bug that may cause storage sink get stuck (#12142… (#12251)
  cdc/sinkv2/ddlsink/cloudstorage/cloud_storage_ddl_sink.go
  cdc/sinkv2/eventsink/cloudstorage/cloud_storage_dml_sink.go
  pkg/util/external_storage.go
  pkg/util/external_storage_test.go
Due: cdc

update
  cdc/owner/changefeed.go
Due: cdc

update
  cdc/model/schema_storage.go
  cdc/model/schema_storage_test.go
  cdc/sink/dmlsink/mq/dispatcher/partition/columns.go
  cdc/sink/dmlsink/mq/dispatcher/partition/columns_test.go
  cdc/sink/dmlsink/mq/dispatcher/partition/index_value.go
  cdc/sink/dmlsink/mq/dispatcher/partition/index_value_test.go
Due: cdc

update
  pkg/sink/codec/canal/canal_json_message.go
Due: cdc

fix
  cdc/sink/dmlsink/mq/dispatcher/partition/index_value_test.go
Due: cdc

update
  cdc/processor/manager.go
  pkg/chann/chann.go
  pkg/chann/chann_test.go
Due: cdc

fix
  cdc/processor/processor.go
Due: cdc

fix data race
  cdc/owner/changefeed.go
  cdc/processor/manager.go
Due: cdc

sink(ticdc): Treat column and index names as case insensitive (#12132) (#12233)
  cdc/model/schema_storage.go
  cdc/model/schema_storage_test.go
  cdc/sink/dmlsink/mq/dispatcher/partition/columns.go
  cdc/sink/dmlsink/mq/dispatcher/partition/columns_test.go
  cdc/sink/dmlsink/mq/dispatcher/partition/index_value_test.go
  pkg/sink/codec/canal/canal_json_message.go
  tests/integration_tests/mq_sink_dispatcher/conf/changefeed.toml
  tests/integration_tests/mq_sink_dispatcher/conf/diff_config.toml
  tests/integration_tests/mq_sink_dispatcher/conf/new_changefeed.toml
  tests/integration_tests/mq_sink_dispatcher/run.sh
Due: cdc

update
  cdc/owner/changefeed.go
  cdc/owner/changefeed_test.go
  cdc/owner/ddl_manager_test.go
  cdc/owner/owner_test.go
  cdc/processor/manager.go
Due: cdc

chore
  cdc/owner/changefeed_test.go
Due: cdc

.
  cdc/owner/changefeed_test.go
Due: cdc

sink(ticdc): check virtual columns in column dispatcher (#12254)
  cdc/model/schema_storage.go
  cdc/model/schema_storage_test.go
  cdc/sink/dmlsink/mq/dispatcher/event_router.go
  cdc/sink/dmlsink/mq/dispatcher/partition/columns.go
  cdc/sink/dmlsink/mq/dispatcher/partition/columns_test.go
Due: cdc

init
  cdc/api/v2/api_helpers.go
  cdc/api/v2/api_helpers_test.go
  cdc/api/v2/api_test.go
  pkg/errors/cdc_errors.go
Due: cdc

*: bump jwt and jose2go (#12250)
  go.mod
  go.sum
Due: none

add more tests
  cdc/api/v2/api_helpers.go
  tests/integration_tests/api_v2/cases.go
  tests/integration_tests/api_v2/model.go
  tests/integration_tests/http_api/util/test_case.py
  tests/integration_tests/http_api_tls/util/test_case.py
  tests/integration_tests/http_api_tls_with_user_auth/util/test_case.py
Due: cdc

update errors
  errors.toml
Due: none

fix test
  cdc/api/v2/api_helpers_test.go
  tests/integration_tests/api_v2/cases.go
  tests/integration_tests/api_v2/run.sh
  tests/integration_tests/http_api/run.sh
  tests/integration_tests/http_api/util/test_case.py
  tests/integration_tests/http_api_tls/run.sh
  tests/integration_tests/http_api_tls/util/test_case.py
  tests/integration_tests/http_api_tls_with_user_auth/run.sh
  tests/integration_tests/http_api_tls_with_user_auth/util/test_case.py
Due: cdc

fix
  cdc/owner/changefeed_test.go
  cdc/owner/ddl_manager_test.go
  cdc/owner/owner_test.go
Due: cdc

fix
  tests/integration_tests/http_api_tls/run.sh
  tests/integration_tests/http_api_tls/util/test_case.py
  tests/integration_tests/http_api_tls_with_user_auth/run.sh
  tests/integration_tests/http_api_tls_with_user_auth/util/test_case.py
Due: none

fix
  tests/integration_tests/http_api_tls_with_user_auth/util/test_case.py
Due: none

This is an automated cherry-pick of #12169
  dm/pkg/utils/db.go
  dm/pkg/utils/db_test.go
Due: dm

event filter: fix panic when evaluate expressions for table with virtual columns (#12211) (#12217)
  cdc/model/mounter.go
  cdc/model/mounter_test.go
  cdc/model/schema_storage.go
  cdc/model/schema_storage_test.go
  pkg/filter/expr_filter.go
  pkg/filter/expr_filter_test.go
  tests/integration_tests/event_filter/conf/cf.toml
  tests/integration_tests/event_filter/data/test.sql
  tests/integration_tests/event_filter/run.sh
  tests/integration_tests/syncpoint/run.sh
Due: cdc

cloudstorage: fix a bug that may cause storage sink get stuck (#12142) (#12148)
  cdc/sink/ddlsink/cloudstorage/cloud_storage_ddl_sink.go
  cdc/sink/dmlsink/cloudstorage/cloud_storage_dml_sink.go
  pkg/util/external_storage.go
  pkg/util/external_storage_test.go
Due: cdc

event filter: fix panic when evaluate expressions for table with virtual columns (#12211) (#12217) (#12258)
  cdc/model/mounter.go
  cdc/model/mounter_test.go
  cdc/model/schema_storage.go
  cdc/model/schema_storage_test.go
  pkg/filter/expr_filter.go
  pkg/filter/expr_filter_test.go
  tests/integration_tests/event_filter/conf/cf.toml
  tests/integration_tests/event_filter/data/test.sql
  tests/integration_tests/event_filter/run.sh
  tests/integration_tests/syncpoint/run.sh
Due: cdc

cloudstorage: fix a bug that may cause storage sink get stuck (#12142) (#12148) (#12259)
  cdc/sink/ddlsink/cloudstorage/cloud_storage_ddl_sink.go
  cdc/sink/dmlsink/cloudstorage/cloud_storage_dml_sink.go
  pkg/util/external_storage.go
  pkg/util/external_storage_test.go
Due: cdc

chann(ticdc): fix a panic that send on closed channel (#12245)
  cdc/owner/changefeed.go
  cdc/owner/changefeed_test.go
  cdc/processor/processor.go
Due: cdc

This is an automated cherry-pick of #12245
  cdc/owner/changefeed.go
  cdc/owner/changefeed_test.go
  cdc/processor/processor.go
Due: cdc

This is an automated cherry-pick of #12250
  go.mod
  go.sum
Due: none

Update chann.go
  pkg/chann/chann.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
