Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

try fix
  tests/integration_tests/safe_mode/data/create_table.sql
  tests/integration_tests/safe_mode/data/insert.sql
  tests/integration_tests/safe_mode/data/update.sql
Due: none

try fix
  tests/integration_tests/safe_mode/conf/workload
  tests/integration_tests/safe_mode/data/insert.sql
  tests/integration_tests/safe_mode/data/update.sql
Due: none

small fix
  tests/integration_tests/safe_mode/run.sh
Due: none

fix comment
  tests/integration_tests/safe_mode/run.sh
Due: none

remove unnecessary file
  tests/integration_tests/safe_mode/conf/workload
Due: none

small fix
  tests/integration_tests/safe_mode/data/create_table.sql
  tests/integration_tests/safe_mode/data/insert.sql
  tests/integration_tests/safe_mode/data/update.sql
Due: none

fix(import_v10x): fix DM `import_v10x` test failure due to TiDB int type display change
  dm/tests/import_v10x/run.sh
Due: dm

Update dm/tests/import_v10x/run.sh
  dm/tests/import_v10x/run.sh
Due: dm

*(ticdc): add integration test for safe mode (#11678)
  tests/integration_tests/run_group.sh
  tests/integration_tests/safe_mode/conf/diff_config.toml
  tests/integration_tests/safe_mode/data/create_table.sql
  tests/integration_tests/safe_mode/data/insert.sql
  tests/integration_tests/safe_mode/data/update.sql
  tests/integration_tests/safe_mode/run.sh
Due: none

This is an automated cherry-pick of #11678
  tests/integration_tests/run_group.sh
  tests/integration_tests/safe_mode/conf/diff_config.toml
  tests/integration_tests/safe_mode/data/create_table.sql
  tests/integration_tests/safe_mode/data/insert.sql
  tests/integration_tests/safe_mode/data/update.sql
  tests/integration_tests/safe_mode/run.sh
Due: none

Update run_group.sh
  tests/integration_tests/run_group.sh
Due: none

*(ticdc): add integration test for safe mode (#11678) (#11683)
  tests/integration_tests/run_group.sh
  tests/integration_tests/safe_mode/conf/diff_config.toml
  tests/integration_tests/safe_mode/data/create_table.sql
  tests/integration_tests/safe_mode/data/insert.sql
  tests/integration_tests/safe_mode/data/update.sql
  tests/integration_tests/safe_mode/run.sh
Due: none

*(ticdc): add integration test for safe mode (#11678) (#11685)
  tests/integration_tests/run_group.sh
  tests/integration_tests/safe_mode/conf/diff_config.toml
  tests/integration_tests/safe_mode/data/create_table.sql
  tests/integration_tests/safe_mode/data/insert.sql
  tests/integration_tests/safe_mode/data/update.sql
  tests/integration_tests/safe_mode/run.sh
Due: none

*(ticdc): add integration test for safe mode (#11678) (#11684)
  tests/integration_tests/run_group.sh
  tests/integration_tests/safe_mode/conf/diff_config.toml
  tests/integration_tests/safe_mode/data/create_table.sql
  tests/integration_tests/safe_mode/data/insert.sql
  tests/integration_tests/safe_mode/data/update.sql
  tests/integration_tests/safe_mode/run.sh
Due: none

*(ticdc): add integration test for safe mode (#11678) (#11682)
  tests/integration_tests/run_group.sh
  tests/integration_tests/safe_mode/conf/diff_config.toml
  tests/integration_tests/safe_mode/data/create_table.sql
  tests/integration_tests/safe_mode/data/insert.sql
  tests/integration_tests/safe_mode/data/update.sql
  tests/integration_tests/safe_mode/run.sh
Due: none

ci(dm): Fix DM `import_v10x` Test Failure Due to TiDB int Type Display Change (#11681)
  dm/tests/import_v10x/run.sh
Due: dm

Revert "fix(config_test_data.go): add the `experimental` field in UT"
  pkg/config/config_test_data.go
Due: cdc

Revert "rafactor(config): add `experimental` option to server config"
  pkg/config/server_config.go
Due: cdc

cmd(ticdc): Export All cdc Subcommands (#11677)
  pkg/cmd/cmd.go
Due: cdc

update
  errors.toml
  pkg/sink/codec/common/helper.go
  pkg/sink/codec/craft/message_decoder.go
  pkg/sink/codec/craft/message_encoder.go
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/helper.go
  pkg/sink/codec/internal/java.go
  tests/integration_tests/debezium/sql/debezium/boolean_test.sql
  tests/integration_tests/debezium/sql/debezium/default_value.sql
  tests/integration_tests/debezium/sql/debezium/mysql-dbz-142.ddl
  tests/integration_tests/debezium/sql/debezium/mysql-test-init-5.6.ddl
  tests/integration_tests/debezium/sql/debezium/mysql-test-init-5.7.ddl
  tests/integration_tests/debezium/sql/debezium/nationalized_character_test.sql
Due: cdc

update
  .github/workflows/dm_chaos.yaml
Due: none

fix log
  .github/workflows/dataflow_engine_chaos.yaml
  .github/workflows/dm_binlog_999999.yaml
  .github/workflows/dm_chaos.yaml
  .github/workflows/dm_mariadb_master_down_and_up.yaml
  .github/workflows/dm_upstream_switch.yaml
  .github/workflows/upgrade_dm_via_tiup.yaml
Due: none

update
  .github/workflows/dm_chaos.yaml
  dm/chaos/manifests/dm-master.yaml
Due: dm

update
  .github/workflows/dm_chaos.yaml
  dm/chaos/manifests/cases.yaml
  dm/chaos/scripts/check-case.sh
Due: dm

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
