Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

This is an automated cherry-pick of #11845
  cdc/entry/schema_test_helper.go
  cdc/model/sink.go
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/canal/canal_json_row_event_encoder_test.go
  pkg/sink/codec/open/open_protocol_encoder_test.go
  pkg/sink/codec/simple/avro.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
Due: cdc

debug: add some logs in IterTables
  cdc/entry/schema/snapshot.go
Due: cdc

Update run.sh
  tests/integration_tests/batch_add_table/run.sh
Due: none

Update run.sh
  tests/integration_tests/region_merge/run.sh
Due: none

Update pd_config.toml
  tests/integration_tests/region_merge/conf/pd_config.toml
Due: none

fix conflicts.
  cdc/model/sink.go
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/simple/avro.go
Due: cdc

fmt
  tests/integration_tests/region_merge/run.sh
Due: none

support set ssl by file path
  dm/config/task_converters.go
  dm/loader/lightning.go
  dm/openapi/fixtures/task.go
  dm/openapi/gen.server.go
  dm/openapi/gen.types.go
  dm/openapi/spec/dm.yaml
  dm/tests/_utils/run_downstream_cluster_with_tls
  dm/tests/openapi/client/openapi_task_check
  dm/tests/openapi/run.sh
Due: dm

fmt
  dm/tests/openapi/client/openapi_task_check
Due: dm

Add test case
  dm/tests/tls/conf/dm-task-3.yaml
  dm/tests/tls/run.sh
Due: dm

Load TLS Context after validating config
  dm/ctl/master/start_task.go
Due: dm

remove stale comment.
  pkg/sink/codec/canal/canal_json_row_event_encoder_test.go
Due: cdc

fix test
  dm/config/task_converters.go
  dm/openapi/fixtures/task.go
  dm/openapi/gen.server.go
  dm/openapi/gen.types.go
  dm/openapi/spec/dm.yaml
Due: dm

fix test
  dm/openapi/fixtures/source.go
  dm/tests/openapi/client/openapi_task_check
Due: dm

fix the build
  cdc/model/sink.go
  pkg/sink/codec/open/open_protocol_encoder_test.go
Due: cdc

update
  cdc/redo/writer/memory/mem_log_writer_test.go
Due: cdc

debug: add logs in DumpToString
  cdc/entry/schema/snapshot.go
Due: cdc

consumer(ticdc): add more logs to the consumer (#11841)
  cmd/kafka-consumer/event_group.go
  cmd/kafka-consumer/main.go
  cmd/kafka-consumer/option.go
  cmd/kafka-consumer/writer.go
  deployments/ticdc/docker/kafka-consumer.Dockerfile
Due: cdc

debug: resolve dead lock in DumpToString
  cdc/entry/schema/snapshot.go
Due: cdc

update
  tests/integration_tests/region_merge/conf/pd_config.toml
  tests/integration_tests/region_merge/run.sh
Due: none

codec(ticdc): simple protocol set table id by using the physical table id (#11845) (#11878)
  cdc/entry/schema_test_helper.go
  cdc/model/sink.go
  pkg/sink/codec/canal/canal_json_row_event_encoder_test.go
  pkg/sink/codec/open/open_protocol_encoder_test.go
  pkg/sink/codec/simple/avro.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
Due: cdc

snapshot: fix ddl puller and ddl manager stuck caused by two dead lock
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_storage.go
Due: cdc

fix test
  dm/config/task_converters.go
  dm/config/task_converters_test.go
  dm/loader/lightning_test.go
  dm/loader/tls_conf/ca.pem
  dm/loader/tls_conf/ca2.pem
  dm/loader/tls_conf/dm.key
  dm/loader/tls_conf/dm.pem
  dm/loader/tls_conf/tidb.key
  dm/loader/tls_conf/tidb.pem
  dm/openapi/fixtures/task.go
  dm/tests/_utils/run_downstream_cluster_with_tls
  dm/tests/openapi/client/openapi_source_check
  dm/tests/openapi/client/openapi_task_check
  dm/tests/openapi/run.sh
  dm/tests/tls/run.sh
Due: dm

fix test
  dm/loader/lightning_test.go
  dm/openapi/fixtures/task.go
  dm/tests/openapi/client/openapi_source_check
  dm/tests/openapi/run.sh
Due: dm

revert
  dm/config/task_converters_test.go
Due: dm

snapshot: revert copy lock removal in Copy
  cdc/entry/schema/snapshot.go
Due: cdc

snapshot(ticdc): fix ddl puller and ddl manager stuck caused by two dead lock (#11886)
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_storage.go
Due: cdc

fmt
  dm/tests/openapi/run.sh
Due: dm

fix test
  dm/tests/dmctl_basic/conf/get_task.yaml
  dm/tests/import_v10x/conf/task.yaml
Due: dm

fix test
  dm/config/task_converters_test.go
Due: dm

fix test
  dm/tests/openapi/client/openapi_task_check
Due: dm
