Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

try fix
  cmd/cdc/main.go
Due: cdc

disable some tests
  dm/pkg/schema/tracker_test.go
  pkg/filter/expr_filter.go
Due: cdc, dm

fix
  dm/pkg/schema/tracker_test.go
Due: dm

fix
  cmd/dm-worker/main.go
Due: cdc

fix
  dm/pkg/schema/tracker.go
Due: dm

fix
  cdc/processor/sourcemanager/sorter/factory/factory.go
  cdc/processor/sourcemanager/sorter/factory/pebble.go
  cdc/processor/sourcemanager/sorter/pebble/event_sorter.go
Due: cdc

revert something
  cmd/cdc/main.go
Due: cdc

fix more tests
  pkg/sqlmodel/row_change_test.go
Due: cdc

fix
  pkg/migrate/migrate_test.go
  pkg/pdutil/api_client_test.go
Due: cdc

fix
  dm/syncer/validator_cond_test.go
Due: dm

fix
  dm/syncer/expr_filter_group.go
  go.sum
  pkg/filter/expr_filter.go
Due: cdc, dm

sink(ticdc): limit the number of transactions cached in a mysql worker (#10892)
  cdc/sinkv2/eventsink/txn/txn_sink.go
  cdc/sinkv2/eventsink/txn/worker.go
  pkg/causality/conflict_detector.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots.go
  pkg/causality/internal/slots_test.go
  pkg/causality/tests/driver.go
  pkg/causality/tests/worker.go
  pkg/causality/txn_cache.go
  pkg/causality/txn_cache_test.go
  pkg/causality/worker.go
Due: cdc

sink(ticdc): limit the number of transactions cached in a mysql worker (#10892)
  cdc/sink/dmlsink/txn/txn_dml_sink.go
  cdc/sink/dmlsink/txn/worker.go
  pkg/causality/conflict_detector.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots.go
  pkg/causality/internal/slots_test.go
  pkg/causality/tests/driver.go
  pkg/causality/tests/worker.go
  pkg/causality/txn_cache.go
  pkg/causality/txn_cache_test.go
  pkg/causality/worker.go
Due: cdc

mounter(ticdc): timezone fill default value should also consider tz. (#10932) (#10947)
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
Due: cdc

fix potential typos.
  dm/tests/incompatible_ddl_changes/run.sh
Due: dm

fmt
  cmd/kafka-consumer/kafkago_consumer.go
Due: cdc

mounter(ticdc): timezone fill default value should also consider tz. (#10932) (#10948)
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
Due: cdc

fix tests.
  dm/tests/incompatible_ddl_changes/conf/dm-task1.yaml
  dm/tests/incompatible_ddl_changes/run.sh
Due: dm

lint
  cmd/kafka-consumer/confluent_consumer.go
  cmd/kafka-consumer/consumer.go
  cmd/kafka-consumer/event_group.go
  cmd/kafka-consumer/kafkago_consumer.go
  cmd/kafka-consumer/option.go
  cmd/kafka-consumer/saram_consumer.go
  cmd/kafka-consumer/writer.go
Due: cdc

fmt
  cmd/kafka-consumer/writer.go
Due: cdc

redo(ticdc): enable pprof and set memory limit for redo applier (#10904)
  cdc/redo/reader/reader.go
  pkg/cmd/redo/apply.go
  pkg/util/memory.go
Due: cdc

config (ticdc): correct the incorrect setting of TiDB sourceID when data races occur. (#10929) (#10943)
  cdc/owner/changefeed.go
  cdc/processor/processor.go
  cdc/sink/ddlsink/mysql/mysql_ddl_sink_test.go
  pkg/config/replica_config.go
  pkg/config/sink.go
  pkg/pdutil/utils.go
  pkg/sink/mysql/config.go
Due: cdc

fix lint
  pkg/cmd/redo/apply.go
Due: cdc

fix memory check
  cdc/redo/reader/reader.go
  pkg/cmd/redo/apply.go
  pkg/util/memory.go
Due: cdc

remove wwait
  cdc/redo/reader/reader.go
Due: cdc

enable pprof for redo applier
  pkg/cmd/redo/apply.go
Due: cdc

processor(ticdc): fix processor not return error bug (#10957)
  cdc/async/async_initializer.go
  cdc/async/async_initializer_test.go
  cdc/owner/changefeed.go
  cdc/processor/processor.go
  cdc/processor/processor_test.go
Due: cdc

remove big txn integration test cases
  tests/integration_tests/big_txn/conf/diff_config.toml
  tests/integration_tests/big_txn/conf/workload
  tests/integration_tests/big_txn/run.sh
  tests/integration_tests/kafka_big_txn_v2/conf/changefeed.toml
  tests/integration_tests/kafka_big_txn_v2/conf/diff_config.toml
  tests/integration_tests/kafka_big_txn_v2/conf/workload
  tests/integration_tests/kafka_big_txn_v2/run.sh
  tests/integration_tests/run_group.sh
Due: none

fix lint err
  pkg/causality/tests/worker.go
Due: cdc

ddl_puller (ticdc): handle dorp pk/uk ddl correctly (#10965) (#10984)
  cdc/owner/ddl_manager.go
  cdc/puller/ddl_puller.go
  cdc/puller/ddl_puller_test.go
Due: cdc

processor(ticdc): Fix processor panic issue (#10922)
  cdc/processor/processor.go
  cdc/processor/processor_test.go
Due: cdc

processor(ticdc): Initialize the processor before tick it (#10928)
  cdc/processor/processor.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
