Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

address comments
  cdc/puller/ddl_puller.go
Due: cdc

fix make check
  cdc/puller/ddl_puller.go
Due: cdc

simple (ticdc): reduce map access and memory allocation to save some cpu (#10942)
  cdc/model/schema_storage.go
  cdc/model/sink.go
  cmd/kafka-consumer/main.go
  pkg/sink/codec/canal/type_test.go
  pkg/sink/codec/simple/avro.go
  pkg/sink/codec/simple/decoder.go
  pkg/sink/codec/simple/marshaller_bench_test.go
  tests/integration_tests/kafka_simple_basic/run.sh
  tests/integration_tests/kafka_simple_basic_avro/run.sh
  tests/integration_tests/kafka_simple_claim_check/run.sh
  tests/integration_tests/kafka_simple_claim_check_avro/run.sh
  tests/integration_tests/kafka_simple_handle_key_only/run.sh
  tests/integration_tests/kafka_simple_handle_key_only_avro/run.sh
Due: cdc

fix fmt
  pkg/sink/codec/common/config.go
Due: cdc

fix ut
  cdc/processor/processor_test.go
Due: cdc

ddl_puller (ticdc): handle dorp pk/uk ddl correctly (#10965)
  cdc/owner/ddl_manager.go
  cdc/puller/ddl_puller.go
  cdc/puller/ddl_puller_test.go
Due: cdc

This is an automated cherry-pick of #10965
  cdc/owner/ddl_manager.go
  cdc/puller/ddl_puller.go
  cdc/puller/ddl_puller_test.go
Due: cdc

ddl_puller (ticdc): add unit test
  cdc/puller/ddl_puller_test.go
Due: cdc

ddl_puller (ticdc): handle dorp pk/uk ddl correctly
  cdc/owner/ddl_manager.go
  cdc/puller/ddl_puller.go
Due: cdc

ddl_puller (ticdc): fix make check
  cdc/puller/ddl_puller_test.go
Due: cdc

ddl_puller (ticdc): fix failed unit tests
  cdc/puller/ddl_puller.go
  cdc/puller/ddl_puller_test.go
Due: cdc

fix ut
  pkg/sink/codec/open/open_protocol_encoder_test.go
Due: cdc

*(ticdc): Initialize changefeed/processor asynchronously (#10832)
  cdc/async/async_initializer.go
  cdc/async/async_initializer_test.go
  cdc/capture/capture.go
  cdc/owner/changefeed.go
  cdc/owner/changefeed_test.go
  cdc/processor/processor.go
  cdc/processor/processor_test.go
  cdc/scheduler/internal/v3/coordinator.go
  cdc/scheduler/internal/v3/coordinator_test.go
  cdc/vars/vars.go
Due: cdc

fix lightning bug, by bump the tidb version.
  dm/pkg/utils/common.go
  go.mod
  go.sum
Due: dm

Revert "ticdc: Fix data race problem in Node (#10761)"
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/tests/integration_test.go
Due: cdc

Revert "sink-to-mysql(cdc) simplify conflict detector, prevent workload skew issue (#10376)"
  pkg/causality/conflict_detector.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots_test.go
Due: cdc

This is an automated cherry-pick of #10897
  pkg/causality/conflict_detector.go
Due: cdc

change to v2.
  dm/tests/lightning_mode/run.sh
Due: dm

set new collation enable for test to false in the dm worker
  cmd/dm-worker/main.go
Due: cdc

fix conflicts.
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
Due: cdc

fix dm integration test.
  dm/tests/incompatible_ddl_changes/run.sh
Due: dm

address comments
  pkg/causality/internal/node.go
Due: cdc

update
  dm/tests/incompatible_ddl_changes/conf/dm-task1.yaml
  dm/tests/incompatible_ddl_changes/run.sh
Due: dm

update
  dm/tests/incompatible_ddl_changes/conf/dm-task1.yaml
Due: dm

update kafka consumer
  Makefile
  cmd/kafka-consumer/confluent_consumer.go
  cmd/kafka-consumer/consumer.go
  cmd/kafka-consumer/event_group.go
  cmd/kafka-consumer/kafkago_consumer.go
  cmd/kafka-consumer/main.go
  cmd/kafka-consumer/option.go
  cmd/kafka-consumer/saram_consumer.go
  cmd/kafka-consumer/writer.go
Due: cdc

update kafka consumer
  cmd/kafka-consumer/kafkago_consumer.go
Due: cdc

fix mounter.
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
Due: cdc

fix lint
  pkg/cmd/redo/apply.go
Due: cdc

remove wwait
  cdc/redo/reader/reader.go
Due: cdc

fix memory check
  cdc/redo/reader/reader.go
  pkg/cmd/redo/apply.go
  pkg/util/memory.go
Due: cdc

enable pprof for redo applier
  pkg/cmd/redo/apply.go
Due: cdc

fix
  go.mod
  go.sum
Due: none

init
  cdc/processor/sourcemanager/sorter/factory/pebble.go
  cdc/processor/sourcemanager/sorter/pebble/db.go
  dm/checker/checker.go
  dm/config/task.go
  dm/docs/RFCS/20220308_support_dump_files_store_in_s3.md
  dm/loader/lightning.go
  dm/loader/lightning_test.go
  dm/pkg/checker/lightning.go
  dm/pkg/checker/lightning_test.go
  dm/pkg/checker/table_structure.go
  dm/pkg/log/log.go
  dm/pkg/log/log_test.go
  dm/pkg/utils/common.go
  dm/syncer/ddl.go
  dm/syncer/expr_filter_group.go
  dm/unit/unit_test.go
  go.mod
  go.sum
  pkg/filter/expr_filter.go
  pkg/pdutil/api_client.go
  pkg/sink/codec/csv/csv_decoder.go
Due: cdc, dm

make check
  cdc/model/schema_storage_test.go
  cdc/processor/sourcemanager/sorter/factory/pebble.go
  cdc/processor/sourcemanager/sorter/pebble/db.go
  dm/checker/checker.go
  dm/loader/lightning.go
  dm/loader/lightning_test.go
Due: cdc, dm

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
