Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

*(dm): retry statement execution on invalid connections in some scenarios (#12078)
  dm/_utils/terror_gen/errors_release.txt
  dm/errors.toml
  dm/pkg/conn/baseconn.go
  dm/pkg/conn/baseconn_test.go
  dm/pkg/retry/errors.go
  dm/pkg/retry/strategy.go
  dm/pkg/terror/errcode_string.go
  dm/pkg/terror/error_list.go
  dm/syncer/dbconn/db.go
  dm/tests/all_mode/run.sh
  dm/tests/many_tables/run.sh
Due: dm

fix flaky test
  sync_diff_inspector/source/chunks_iter.go
  sync_diff_inspector/source/source_test.go
Due: none

change test name
  sync_diff_inspector/source/source_test.go
Due: none

This is an automated cherry-pick of #12078
  dm/_utils/terror_gen/errors_release.txt
  dm/errors.toml
  dm/pkg/conn/baseconn.go
  dm/pkg/conn/baseconn_test.go
  dm/pkg/retry/errors.go
  dm/pkg/retry/strategy.go
  dm/pkg/terror/errcode_string.go
  dm/pkg/terror/error_list.go
  dm/syncer/dbconn/db.go
  dm/tests/all_mode/run.sh
  dm/tests/many_tables/run.sh
Due: dm

update
  sync_diff_inspector/source/chunks_iter.go
Due: none

Add labels into templating just in case of label absence.
  metrics/grafana/DM-Monitor-Professional.json
  metrics/grafana/DM-Monitor-Standard.json
Due: none

replace some of the mock query with failpoint
  sync_diff_inspector/source/source_test.go
  sync_diff_inspector/splitter/limit.go
  sync_diff_inspector/splitter/random.go
  sync_diff_inspector/splitter/splitter_test.go
Due: none

fix comment
  sync_diff_inspector/splitter/random.go
Due: none

cloudstorage: fix a bug that may cause storage sink get stuck (#12142) (#12145)
  cdc/sink/ddlsink/cloudstorage/cloud_storage_ddl_sink.go
  cdc/sink/dmlsink/cloudstorage/cloud_storage_dml_sink.go
  pkg/util/external_storage.go
  pkg/util/external_storage_test.go
Due: cdc

cloudstorage: fix a bug that may cause storage sink get stuck (#12142) (#12147)
  cdc/sink/ddlsink/cloudstorage/cloud_storage_ddl_sink.go
  cdc/sink/dmlsink/cloudstorage/cloud_storage_dml_sink.go
  pkg/util/external_storage.go
  pkg/util/external_storage_test.go
Due: cdc

Include more exprs with this addtional label support.
  metrics/grafana/DM-Monitor-Professional.json
  metrics/grafana/DM-Monitor-Standard.json
Due: none

DM: Add $k8s_cluster and $tidb_cluster as potential filter to Grafana panels. (#12154)
  metrics/grafana/DM-Monitor-Professional.json
  metrics/grafana/DM-Monitor-Standard.json
Due: none

cloudstorage: fix a bug that may cause storage sink get stuck (#12142) (#12146)
  cdc/sinkv2/ddlsink/cloudstorage/cloud_storage_ddl_sink.go
  cdc/sinkv2/eventsink/cloudstorage/cloud_storage_dml_sink.go
  pkg/util/external_storage.go
  pkg/util/external_storage_test.go
Due: cdc

puller: add ut
  cdc/model/sink.go
  cdc/puller/ddl_puller.go
  cdc/puller/ddl_puller_test.go
Due: cdc

puller: add ut 2
  cdc/puller/ddl_puller_test.go
Due: cdc

syncer(dm): add option for explicit auto-id-cache handling in create table DDLs
  dm/config/task.go
  dm/config/task_converters.go
  dm/config/task_test.go
  dm/openapi/gen.server.go
  dm/openapi/gen.types.go
  dm/openapi/spec/dm.yaml
  dm/syncer/ddl.go
  dm/syncer/ddl_test.go
  dm/tests/dmctl_basic/conf/get_task.yaml
  dm/tests/import_v10x/conf/task.yaml
Due: dm

fix openapi test
  dm/openapi/fixtures/task.go
Due: dm

Revert "*: bump tidb 8.5 (#12140)"
  cdc/puller/ddl_puller.go
  go.mod
  go.sum
Due: cdc

update test
  sync_diff_inspector/splitter/splitter_test.go
Due: none

cdc: set sarama idempotent
  pkg/sink/kafka/sarama.go
Due: cdc

address comment
  sync_diff_inspector/source/source_test.go
  sync_diff_inspector/splitter/random.go
  sync_diff_inspector/splitter/splitter_test.go
Due: none

sarama: set retry
  pkg/sink/kafka/sarama.go
Due: cdc

sync_diff_inspector: fix flaky test TestMysqlRouter (#12159)
  sync_diff_inspector/source/chunks_iter.go
  sync_diff_inspector/source/source_test.go
  sync_diff_inspector/splitter/limit.go
  sync_diff_inspector/splitter/random.go
  sync_diff_inspector/splitter/splitter_test.go
Due: none

Use lower case for sysvar just in case upstream databases (such as txsql) are case sensitive.
  dm/pkg/conn/db.go
Due: dm

Add unit test for gtid_mode in lower case.
  dm/pkg/conn/db_test.go
Due: dm

Remove unnecessary comments.
  dm/pkg/conn/db_test.go
Due: dm

Update function comment accordingly.
  dm/pkg/conn/db.go
Due: dm

A better unit test using sqlmock.
  dm/pkg/conn/db_test.go
Due: dm

Update test.
  dm/pkg/conn/db_test.go
Due: dm

DM: Use lower case for Sysvar 'gtid_mode' for better upstream compatibility. (#12169)
  dm/pkg/conn/db.go
  dm/pkg/conn/db_test.go
Due: dm

try to InvalidateCachedRegion if meet get store failed error
  cdc/kv/shared_client.go
  cdc/kv/shared_stream.go
  pkg/version/check.go
Due: cdc

try to fix the error
  cdc/kv/shared_stream.go
  pkg/version/check.go
Due: cdc

invalid the cached region
  cdc/kv/shared_client.go
Due: cdc

try to use the store id
  cdc/kv/shared_client.go
Due: cdc

always fetch all stores
  pkg/version/check.go
Due: cdc

owner check tikv stores version on each tikv
  cdc/owner/owner.go
  pkg/upstream/upstream.go
  pkg/version/check.go
Due: cdc

remove get store error
  cdc/kv/shared_client.go
  cdc/kv/shared_stream.go
Due: cdc

remove store id
  cdc/kv/shared_client.go
  cdc/kv/shared_stream.go
Due: cdc

save
  cdc/kv/shared_client.go
Due: cdc
