Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

test(ticdc): Add pulsar oauth2 integration test (#10759)
  tests/integration_tests/_utils/run_pulsar_cluster
  tests/integration_tests/_utils/stop_tidb_cluster
  tests/integration_tests/cdc/run.sh
  tests/integration_tests/kv_client_stream_reconnect/run.sh
  tests/integration_tests/run_group.sh
  tests/integration_tests/split_region/run.sh
Due: none

fix comment
  dm/pkg/binlog/event/common.go
  dm/pkg/binlog/event/common_test.go
  dm/pkg/binlog/event/event.go
  dm/pkg/binlog/event/event_test.go
Due: dm

metric(cdc): make cpu usage metric more intuitive (#10766)
  metrics/grafana/TiCDC-Monitor-Summary.json
  metrics/grafana/ticdc.json
Due: none

DM/mariadb: sync the gtid executed in slave during master-slave replication (#10753)
  .github/workflows/dm_mariadb_master_down_and_up.yaml
  dm/pkg/binlog/event/common.go
  dm/pkg/binlog/event/common_test.go
  dm/pkg/binlog/event/event.go
  dm/pkg/binlog/event/event_test.go
  dm/pkg/binlog/event/generator.go
  dm/relay/local_reader.go
  dm/tests/mariadb_master_down_and_up/case.sh
  dm/tests/mariadb_master_down_and_up/conf/diff_config.toml
  dm/tests/mariadb_master_down_and_up/conf/dm-master.toml
  dm/tests/mariadb_master_down_and_up/conf/dm-worker1.toml
  dm/tests/mariadb_master_down_and_up/conf/source1.yaml
  dm/tests/mariadb_master_down_and_up/conf/source1_relay.yaml
  dm/tests/mariadb_master_down_and_up/conf/task-pessimistic.yaml
  dm/tests/mariadb_master_down_and_up/docker-compose.yml
  dm/tests/mariadb_master_down_and_up/lib.sh
  go.mod
  go.sum
Due: dm

add tests
  cdc/processor/sinkmanager/table_sink_wrapper.go
  cdc/redo/manager.go
  pkg/util/atomic.go
  pkg/util/atomic_test.go
Due: cdc

fix build error
  cdc/redo/manager.go
  cdc/redo/meta_manager.go
Due: cdc

fix barrier
  cdc/kv/shared_client.go
  cdc/processor/sinkmanager/table_sink_wrapper.go
  cdc/redo/manager.go
  pkg/util/atomic.go
Due: cdc

fix
  cdc/kv/shared_client.go
  cdc/processor/sinkmanager/table_sink_wrapper.go
  cdc/redo/manager.go
  pkg/util/atomic.go
  pkg/util/atomic_test.go
Due: cdc

redo(ticdc): return ErrStorageInitialize if the external storage initialization fails (#10745)
  pkg/redo/config.go
Due: cdc

fix format-makefiles
  .github/workflows/check_and_build.yaml
  Makefile
  cdc/scheduler/internal/v3/replication/replication_manager.go
  dm/tests/run_group.sh
  engine/test/integration_tests/run_group.sh
  tests/integration_tests/run_group.sh
Due: cdc, dm, engine

*(ticdc): make the test script compatible with older versions of bash (#10765)
  .github/workflows/check_and_build.yaml
  Makefile
  cdc/scheduler/internal/v3/replication/replication_manager.go
  dm/tests/run_group.sh
  engine/test/integration_tests/run_group.sh
  tests/integration_tests/run_group.sh
Due: cdc, dm, engine

Update go.mod
  go.mod
Due: none

sink(ticdc): adjust lag bucket and add metrics for sink flush lag (#10596) (#10729)
  cdc/metrics/metrics.go
  cdc/metrics/metrics_test.go
  cdc/owner/metrics.go
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sinkmanager/table_sink_wrapper_test.go
  cdc/sink/dmlsink/factory/factory.go
  cdc/sink/dmlsink/factory/factory_test.go
  cdc/sink/metrics/tablesink/metrics.go
  cdc/sink/tablesink/table_sink_impl.go
  cdc/sink/tablesink/table_sink_impl_test.go
  cmd/kafka-consumer/main.go
  cmd/storage-consumer/main.go
  metrics/grafana/ticdc.json
  pkg/applier/redo.go
Due: cdc

Update tracker.go
  dm/pkg/schema/tracker.go
Due: dm

fix
  Makefile
  dm/pkg/schema/tracker.go
  go.mod
Due: dm

chore: test trigger
  dm/tests/run.sh
  tests/integration_tests/run.sh
Due: dm

update metrics
  metrics/alertmanager/ticdc.rules.yml
  metrics/grafana/ticdc.json
Due: none

also consider column data type.
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
Due: cdc

remove default from the unit test.
  cdc/entry/mounter_test.go
  cdc/entry/schema_test.go
Due: cdc

fix version check
  pkg/version/check.go
  pkg/version/check_test.go
Due: cdc

fix mounter unit test.
  cdc/entry/mounter_test.go
Due: cdc

fmt
  cdc/capture/capture.go
Due: cdc

pkg/version(ticdc): bump max version (#10806)
  pkg/version/check.go
  pkg/version/check_test.go
Due: cdc

ticdc: make UT TestServerTLSWithCommonNameAndRotate more stable (#10784)
  cdc/server/server_test.go
Due: cdc

api(ticdc): add swagger gen back (#10791)
  Makefile
  docs/swagger/docs.go
  docs/swagger/swagger.json
  docs/swagger/swagger.yaml
Due: none

fix tests.
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
Due: cdc

fix version
  pkg/version/check.go
  pkg/version/check_test.go
Due: cdc

pkg/version(ticdc): bump max version (#10806) (#10808)
  pkg/version/check.go
  pkg/version/check_test.go
Due: cdc

add swagger gen back
  Makefile
  docs/swagger/docs.go
  docs/swagger/swagger.json
  docs/swagger/swagger.yaml
Due: none

api(ticdc): add swagger gen back (#10791) (#10813)
  Makefile
  docs/swagger/docs.go
  docs/swagger/swagger.json
  docs/swagger/swagger.yaml
Due: none

fix unstable test
  cdc/sink/ddlsink/cloudstorage/cloud_storage_ddl_sink.go
  pkg/sink/cloudstorage/path.go
  pkg/sink/cloudstorage/path_test.go
Due: cdc

small fix
  cdc/sink/ddlsink/cloudstorage/cloud_storage_ddl_sink.go
  pkg/sink/cloudstorage/path.go
Due: cdc

api(ticdc): fix resign owner cause capture restart bug (#10782)
  cdc/capture/capture.go
Due: cdc

fix resign owner cause capture restart bug
  cdc/capture/capture.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
