Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

simplify some line of code
  cmd/kafka-consumer/writer.go
Due: cdc

adjust update watermark logic
  cmd/kafka-consumer/writer.go
Due: cdc

enable the sarama log
  pkg/logutil/log.go
Due: cdc

update
  cdc/redo/writer/memory/mem_log_writer_test.go
Due: cdc

Revert "update"
  cdc/redo/writer/memory/encoding_worker.go
Due: cdc

update ut
  cdc/redo/writer/memory/mem_log_writer_test.go
Due: cdc

update
  cdc/redo/writer/memory/encoding_worker.go
Due: cdc

fix nil map
  cmd/kafka-consumer/writer.go
Due: cdc

This is an automated cherry-pick of #11853
  cdc/redo/writer/memory/mem_log_writer_test.go
Due: cdc

fix update watermark
  cmd/kafka-consumer/writer.go
Due: cdc

This is an automated cherry-pick of #9894
  cdc/sinkv2/eventsink/mq/mq_dml_sink.go
Due: cdc

[skip ci] Update OWNERS file
  OWNERS
Due: none

ddl(ticdc): process only `JobStateDone` DDL jobs and remove the need to capture the `tidb_ddl_history` (#11836) (#11915)
  cdc/entry/mounter.go
  cdc/puller/ddl_puller.go
  pkg/spanz/span.go
Due: cdc

dm: fix MariaDB up down test (#11750)
  .github/workflows/dm_mariadb_master_down_and_up.yaml
  dm/tests/mariadb_master_down_and_up/case.sh
  dm/tests/mariadb_master_down_and_up/docker-compose.yml
Due: dm

OWNERS: Auto Sync OWNERS files from community membership (#11943)
  OWNERS
Due: none

download docker-compose in github action
  .github/workflows/dm_mariadb_master_down_and_up.yaml
Due: none

redo(ticdc): Fix RedoLogWriter unit test (#11853) (#11940)
  cdc/redo/writer/memory/mem_log_writer_test.go
Due: cdc

redo(ticdc): Fix RedoLogWriter unit test (#11853) (#11937)
  cdc/redo/writer/memory/mem_log_writer_test.go
Due: cdc

redo(ticdc): Fix RedoLogWriter unit test (#11853) (#11936)
  cdc/redo/writer/memory/mem_log_writer_test.go
Due: cdc
