Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

fix
  .github/workflows/dm_binlog_999999.yaml
Due: none

WIP: *: bump tidb and tidb/parser to release-6.5-20241101-v6.5.7
  go.mod
  go.sum
Due: none

fix test
  cdc/redo/writer/memory/mem_log_writer_test.go
Due: cdc

Primary work to add a stand-alone load mode to DM. Load&Sync mode might not be needed anymore and could be depreciated in the future.
  dm/config/helper.go
  dm/config/helper_test.go
  dm/config/subtask.go
  dm/config/task.go
  dm/pkg/terror/error_list.go
  dm/worker/subtask.go
  engine/executor/dm/worker.go
  engine/jobmaster/dm/task_manager.go
  engine/jobmaster/dm/worker_manager.go
Due: dm, engine

Update error.txt
  dm/_utils/terror_gen/errors_release.txt
  dm/errors.toml
Due: dm

Fix format.
  engine/jobmaster/dm/task_manager.go
Due: engine

Add stand-alone load mode into openapi.
  dm/openapi/gen.client.go
  dm/openapi/gen.server.go
  dm/openapi/gen.types.go
  dm/openapi/spec/dm.yaml
Due: dm

Fix fmt issue with gen.go's.
  dm/openapi/gen.client.go
  dm/openapi/gen.server.go
Due: dm

Fix openapi test case.
  dm/tests/openapi/client/openapi_task_check
Due: dm

Rewrite load testing based on what we have already with dump.
  dm/tests/openapi/client/openapi_task_check
  dm/tests/openapi/run.sh
Due: dm

One source for openapi test is enough.
  dm/tests/openapi/client/openapi_task_check
Due: dm

Typo fix.
  dm/tests/openapi/client/openapi_task_check
Due: dm

Regen the openapi.
  dm/openapi/gen.server.go
Due: dm

fix azure
  pkg/util/external_storage.go
Due: cdc

add comment
  dm/config/subtask.go
  dm/pb/dmworker.pb.go
  dm/proto/dmworker.proto
Due: dm

fix test
  dm/config/subtask_test.go
Due: dm

abstract InitIOCounters
  dm/config/subtask.go
  dm/config/task_converters.go
Due: dm

fix
  dm/master/openapi_controller.go
Due: dm

fix
  dm/syncer/status.go
Due: dm

integration test: simplify integration-test.Dockerfile
  deployments/ticdc/docker/integration-test.Dockerfile
Due: none

engine: ignore the race in the UTs of engine
  Makefile
Due: none

ddl_puller.go(ticdc): fix DDLs are ignored when schema versions are out of order (#11733)
  cdc/puller/ddl_puller.go
Due: cdc

ddl_puller.go: deprecate the `schemaVersion` field in `ddlJobPullerImpl`
  cdc/puller/ddl_puller.go
Due: cdc

ddl_puller.go: fix DDLs are ignored when schema versions are out of order
  cdc/puller/ddl_puller.go
Due: cdc

ddl_puller.go: delete the unused field `schemaVersion` in `ddlJobPullerImpl`
  cdc/puller/ddl_puller.go
Due: cdc

DDLPuller: add a UT for handling out-of-order schema versions
  cdc/puller/ddl_puller_test.go
Due: cdc

Revert "DDLPuller: add a UT for handling out-of-order schema versions"
  cdc/puller/ddl_puller_test.go
Due: cdc

This is an automated cherry-pick of #11733
  cdc/puller/ddl_puller.go
Due: cdc

ticdc(redo, sink): return correct error in redo writer & fix default retryer (#11747)
  cdc/redo/writer/memory/encoding_worker.go
  cdc/redo/writer/memory/mem_log_writer_test.go
  pkg/redo/config.go
  pkg/sink/kafka/claimcheck/claim_check.go
  pkg/util/external_storage.go
Due: cdc

fix redo writer meet context cancel
  cdc/redo/writer/memory/encoding_worker.go
Due: cdc

fix
  pkg/redo/config.go
  pkg/sink/kafka/claimcheck/claim_check.go
  pkg/util/external_storage.go
Due: cdc

ticdc(redo, sink): return correct error in redo writer & fix default retryer (#11747)
  cdc/redo/writer/memory/encoding_worker.go
  cdc/redo/writer/memory/mem_log_writer_test.go
  pkg/redo/config.go
  pkg/util/external_storage.go
Due: cdc
