Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

ci: add prow OWNERS for dm and engine modules
  OWNERS_ALIASES
  cmd/dm-ctl/OWNERS
  cmd/dm-master/OWNERS
  cmd/dm-syncer/OWNERS
  cmd/dm-worker/OWNERS
  dm/OWNERS
  engine/OWNERS
Due: cdc, dm, engine

*: move binlog-filter package to tiflow (#11094)
  cdc/api/v2/model.go
  cdc/api/v2/model_test.go
  cmd/dm-syncer/config.go
  dm/config/source_config.go
  dm/config/source_config_test.go
  dm/config/subtask.go
  dm/config/task.go
  dm/config/task_converters.go
  dm/config/task_converters_test.go
  dm/config/task_test.go
  dm/master/bootstrap_test.go
  dm/syncer/ddl.go
  dm/syncer/filter.go
  dm/syncer/filter_test.go
  dm/syncer/syncer.go
  dm/syncer/syncer_test.go
  dm/worker/source_worker.go
  engine/jobmaster/dm/config/config.go
  pkg/binlog-filter/filter.go
  pkg/binlog-filter/filter_test.go
  pkg/binlog-filter/util.go
  pkg/config/filter.go
  pkg/filter/filter.go
  pkg/filter/filter_test.go
  pkg/filter/sql_event_filter.go
  pkg/filter/sql_event_filter_test.go
  pkg/filter/utils.go
Due: cdc, dm, engine

This is an automated cherry-pick of #11094
  cdc/api/v2/model.go
  cdc/api/v2/model_test.go
  cmd/dm-syncer/config.go
  dm/config/source_config.go
  dm/config/source_config_test.go
  dm/config/subtask.go
  dm/config/task.go
  dm/config/task_converters.go
  dm/config/task_converters_test.go
  dm/config/task_test.go
  dm/master/bootstrap_test.go
  dm/syncer/ddl.go
  dm/syncer/filter.go
  dm/syncer/filter_test.go
  dm/syncer/syncer.go
  dm/syncer/syncer_test.go
  dm/worker/source_worker.go
  engine/jobmaster/dm/config/config.go
  pkg/binlog-filter/filter.go
  pkg/binlog-filter/filter_test.go
  pkg/binlog-filter/util.go
  pkg/config/filter.go
  pkg/filter/filter.go
  pkg/filter/filter_test.go
  pkg/filter/sql_event_filter.go
  pkg/filter/sql_event_filter_test.go
  pkg/filter/utils.go
Due: cdc, dm, engine

fix the table id issue.
  cmd/kafka-consumer/main.go
Due: cdc

avoid exit when the broker down
  cmd/kafka-consumer/confluent_consumer.go
  cmd/kafka-consumer/kafkago_consumer.go
  cmd/kafka-consumer/main.go
  cmd/kafka-consumer/sarama_consumer.go
Due: cdc

update consumer, panic if the resolved ts does not meet expectation.
  cmd/kafka-consumer/main.go
Due: cdc

fix some conflicts.
  cdc/api/v2/model.go
  cdc/api/v2/model_test.go
  dm/config/source_config_test.go
  dm/config/task_test.go
  pkg/config/filter.go
  pkg/filter/filter.go
  pkg/filter/sql_event_filter.go
  pkg/filter/sql_event_filter_test.go
  pkg/filter/utils.go
  pkg/filter/utils_test.go
Due: cdc, dm

allow ddl event commit ts equal the resolved ts.
  cmd/kafka-consumer/main.go
Due: cdc

ci: add prow OWNERS for dm and engine modules (#11101)
  OWNERS_ALIASES
  cmd/dm-ctl/OWNERS
  cmd/dm-master/OWNERS
  cmd/dm-syncer/OWNERS
  cmd/dm-worker/OWNERS
  dm/OWNERS
  engine/OWNERS
Due: cdc, dm, engine

This is an automated cherry-pick of #11101
  OWNERS_ALIASES
  cmd/dm-ctl/OWNERS
  cmd/dm-master/OWNERS
  cmd/dm-syncer/OWNERS
  cmd/dm-worker/OWNERS
  dm/OWNERS
  engine/OWNERS
Due: cdc, dm, engine

panic if the resolved ts fallback, this should not happens.
  cmd/kafka-consumer/main.go
Due: cdc

add offset field to the log.
  cmd/kafka-consumer/main.go
Due: cdc

fix make fmt
  cdc/api/v2/model_test.go
Due: cdc

add lock
  cmd/kafka-consumer/sarama_consumer.go
Due: cdc

fix make fmt
  cmd/kafka-consumer/main.go
Due: cdc

codec(ticdc): simple protocol introduce mock marshaller to improve ut coverage (#11098)
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
  pkg/sink/codec/simple/mock/marshaller.go
  scripts/generate-mock.sh
Due: cdc

This is an automated cherry-pick of #11098
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
  pkg/sink/codec/simple/mock/marshaller.go
  scripts/generate-mock.sh
Due: cdc

update
  pkg/applier/redo.go
Due: cdc

pkg/causality(cdc): refactor and simplify conflict detector (#10954)
  cdc/sink/dmlsink/txn/event.go
  cdc/sink/dmlsink/txn/event_test.go
  pkg/causality/conflict_detector.go
  pkg/causality/internal/main_test.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots.go
  pkg/causality/internal/slots_test.go
  pkg/causality/tests/integration_test.go
  pkg/causality/tests/worker.go
  pkg/causality/txn_cache.go
  pkg/causality/txn_cache_test.go
Due: cdc

remove lock
  cmd/kafka-consumer/confluent_consumer.go
  cmd/kafka-consumer/kafkago_consumer.go
  cmd/kafka-consumer/sarama_consumer.go
  cmd/kafka-consumer/writer.go
Due: cdc

dep(dm): move column-mapping from tidb-tools to tiflow repo
  dm/config/subtask.go
  dm/config/task.go
  dm/config/task_converters.go
  dm/syncer/syncer_test.go
  engine/jobmaster/dm/config/config.go
  pkg/column-mapping/column.go
  pkg/column-mapping/column_test.go
Due: cdc, dm, engine

update
  dm/tests/openapi/run.sh
Due: dm

fix panic of openapi operate-schema
  dm/tests/openapi/run.sh
  dm/worker/subtask.go
Due: dm

fix
  dm/worker/subtask.go
Due: dm

address comment
  dm/worker/subtask.go
Due: dm

update
  dm/worker/subtask.go
Due: dm

use testify
  pkg/column-mapping/column.go
  pkg/column-mapping/column_test.go
Due: cdc

fix lint
  pkg/column-mapping/column_test.go
Due: cdc

add more instructions
  dm/pkg/checker/binlog.go
Due: dm

public one more function
  dm/pkg/dumpling/utils.go
Due: dm

support lightning table not empty precheck
  dm/checker/check_test.go
  dm/checker/checker.go
  dm/config/checking_item.go
  dm/pkg/checker/lightning.go
  dm/pkg/checker/lightning_test.go
Due: dm

fix checker error
  dm/checker/checker.go
Due: dm

dm: fix panic of openapi operate-schema (#11087) (#11113)
  dm/tests/openapi/run.sh
  dm/worker/subtask.go
Due: dm

set log level to info
  cmd/kafka-consumer/main.go
Due: cdc

fix
  pkg/config/db.go
  pkg/config/server_config.go
Due: cdc

update
  cdc/redo/reader/reader.go
Due: cdc

security: support mtls configuration (#10084)
  pkg/cmd/util/ticdc.toml
  pkg/config/config_test_data.go
  pkg/security/credential.go
  pkg/tcpserver/tcp_server.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
