Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

codec(ticdc): canal-json unit test embrace schema test helper (#10911)
  pkg/sink/codec/canal/canal_encoder_test.go
  pkg/sink/codec/canal/canal_entry_test.go
  pkg/sink/codec/canal/canal_json_txn_event_encoder_test.go
Due: cdc

fix unit test
  pkg/filter/expr_filter_test.go
Due: cdc

mounter(ticdc): timezone fill default value should also consider tz. (#10932) (#10963)
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
Due: cdc

fix data reace
  cdc/owner/changefeed.go
  cdc/owner/owner.go
Due: cdc

ddl_puller (ticdc): handle dorp pk/uk ddl correctly
  cdc/owner/ddl_manager.go
  cdc/puller/ddl_puller.go
Due: cdc

fix tests
  cdc/processor/sinkmanager/tasks.go
  cdc/processor/sinkmanager/tasks_test.go
  cdc/processor/sourcemanager/sorter/engine.go
  cdc/processor/sourcemanager/sorter/pebble/encoding/key.go
  cdc/processor/sourcemanager/sorter/pebble/event_sorter.go
  cdc/processor/sourcemanager/sorter/pebble/event_sorter_test.go
Due: cdc

ddl_puller (ticdc): add unit test
  cdc/puller/ddl_puller_test.go
Due: cdc

fix dm integration test.
  dm/pkg/checker/binlog.go
  dm/pkg/conn/basedb.go
  dm/relay/relay.go
  dm/syncer/util.go
  engine/pkg/meta/model/config.go
Due: dm, engine

fix ut
  pkg/sink/codec/open/open_protocol_encoder_test.go
Due: cdc

remove checksum related changes.
  cdc/entry/mounter.go
Due: cdc

fix some tests.
  cdc/entry/mounter.go
Due: cdc

remove useless generic
  pkg/causality/conflict_detector.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots.go
  pkg/causality/internal/slots_test.go
Due: cdc

revert some changes.
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
Due: cdc

remove free chann
  pkg/causality/conflict_detector.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots.go
  pkg/causality/internal/slots_test.go
Due: cdc

fix ut
  pkg/causality/internal/main_test.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots_test.go
  pkg/causality/txn_cache.go
  pkg/causality/txn_cache_test.go
Due: cdc

rename
  pkg/causality/conflict_detector.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots.go
  pkg/causality/internal/slots_test.go
Due: cdc

remove unused code
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots.go
Due: cdc

This is an automated cherry-pick of #10915
  cdc/api/v2/model.go
  cdc/api/v2/model_test.go
  docs/swagger/docs.go
  docs/swagger/swagger.json
  docs/swagger/swagger.yaml
  pkg/cmd/util/helper_test.go
  pkg/config/config_test_data.go
  pkg/config/replica_config.go
  pkg/config/replica_config_test.go
  pkg/config/sink.go
  pkg/orchestrator/reactor_state_test.go
  pkg/sink/codec/common/config.go
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/codec_test.go
  pkg/sink/codec/open/open_protocol_encoder_test.go
  pkg/sink/codec/open/open_protocol_message.go
  tests/integration_tests/api_v2/cases.go
  tests/integration_tests/api_v2/model.go
Due: cdc

test(dm): set tidb_enable_dist_task = 0
  dm/tests/_utils/run_tidb_server
Due: dm

try to debug tracker test.
  dm/pkg/schema/tracker.go
Due: dm

schematracker(dm): ensure no MockStore in future
  dm/pkg/schema/tracker.go
  dm/pkg/schema/tracker_test.go
Due: dm

remove tracker use mock store.
  dm/pkg/schema/tracker.go
Due: dm

test(dm): set tidb_enable_dist_task = 0 (#10976)
  dm/tests/_utils/run_tidb_server
Due: dm

remove more
  dm/pkg/schema/tracker.go
Due: dm

update
  dm/pkg/schema/tracker.go
Due: dm

test: enable tls test for DM (#10414)
  dm/master/config.go
  dm/tests/tls/run.sh
Due: dm

fix lint
  cdc/owner/changefeed.go
Due: cdc

schematracker(dm): ensure no MockStore in future (#10977)
  dm/pkg/schema/tracker.go
  dm/pkg/schema/tracker_test.go
Due: dm

This is an automated cherry-pick of #10977
  dm/pkg/schema/tracker.go
  dm/pkg/schema/tracker_test.go
Due: dm

fix panic
  cdc/async/async_initializer.go
  cdc/async/async_initializer_test.go
  cdc/owner/changefeed.go
  cdc/processor/processor.go
Due: cdc

fix panic
  cdc/owner/changefeed.go
  cdc/owner/owner.go
Due: cdc

fix panic
  cdc/owner/changefeed.go
Due: cdc

fix conflict
  cdc/api/v2/model.go
  docs/swagger/docs.go
  docs/swagger/swagger.json
  docs/swagger/swagger.yaml
  pkg/config/replica_config.go
  pkg/config/sink.go
  pkg/sink/codec/common/config.go
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/codec_test.go
  pkg/sink/codec/open/open_protocol_message.go
  tests/integration_tests/api_v2/cases.go
  tests/integration_tests/api_v2/model.go
Due: cdc

ddl_puller (ticdc): fix failed unit tests
  cdc/puller/ddl_puller.go
  cdc/puller/ddl_puller_test.go
Due: cdc

fix conflict
  cdc/api/v2/model_test.go
  pkg/cmd/util/helper_test.go
  pkg/config/config_test_data.go
  pkg/config/replica_config_test.go
  pkg/orchestrator/reactor_state_test.go
  pkg/sink/codec/common/config.go
Due: cdc

ddl_puller (ticdc): fix make check
  cdc/puller/ddl_puller_test.go
Due: cdc

Makefile: bump version to v8.2.0-master (#10893)
  Makefile
Due: none

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
