Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

update
  tests/integration_tests/debezium/docker-compose.yml
  tests/integration_tests/debezium/run.sh
  tests/integration_tests/debezium/src/main.go
Due: none

fix
  tests/integration_tests/_utils/start_upstream_tidb_cluster
  tests/integration_tests/_utils/start_upstream_tidb_cluster_impl
  tests/integration_tests/_utils/stop_upstream_tidb_cluster
Due: none

change
  dm/config/source_config.go
  dm/config/task.go
  dm/ctl/master/config.go
  dm/master/server.go
  dm/pb/dmmaster.pb.go
  dm/pkg/utils/encrypt.go
  dm/proto/dmmaster.proto
Due: dm

specify tidb commit
  scripts/download-integration-test-binaries.sh
Due: none

change
  dm/ctl/ctl.go
Due: dm

updte
  tests/integration_tests/debezium/README.md
Due: none

tests: specify tidb commit (#10589)
  scripts/download-integration-test-binaries.sh
Due: none

update
  tests/integration_tests/run_group.sh
Due: none

update
  tests/integration_tests/debezium/run.sh
  tests/integration_tests/run_group.sh
Due: none

test
  dm/config/source_config_test.go
  dm/config/task.go
  dm/config/task_test.go
  dm/ctl/master/handle_error.go
  dm/ctl/master/transfer_source.go
Due: dm

resolve comments
  cdc/syncpointstore/mysql_syncpoint_store.go
  pkg/filter/filter.go
  pkg/filter/filter_test.go
  pkg/filter/utils.go
Due: cdc

add integration test
  tests/integration_tests/bdr_mode/conf/cf.toml
  tests/integration_tests/bdr_mode/run.sh
Due: none

add integration test
  tests/integration_tests/bdr_mode/conf/down.toml
  tests/integration_tests/bdr_mode/conf/up.toml
Due: none

address comment
  cdc/entry/mounter_test.go
Due: cdc

change
  dm/ctl/ctl.go
  dm/master/server.go
  dm/pb/dmmaster.pb.go
  dm/proto/dmmaster.proto
  dm/tests/dmctl_basic/check_list/config.sh
  dm/tests/dmctl_basic/run.sh
Due: dm

fix upstream-switch ci
  dm/tests/upstream_switch/Dockerfile
Due: dm

test
  dm/tests/dmctl_command/run.sh
  dm/tests/new_relay/run.sh
Due: dm

change
  dm/tests/dmctl_basic/run.sh
Due: dm

Add apt-key command to Dockerfile
  dm/tests/upstream_switch/Dockerfile
Due: dm

lint
  dm/master/server.go
Due: dm

mock
  dm/pbmock/dmmaster.go
Due: dm

update
  tests/integration_tests/debezium/run.sh
  tests/integration_tests/debezium/src/main.go
Due: none

Update dm/config/source_config.go
  dm/config/source_config.go
Due: dm

tests: correct pd binary for tests (#10530)
  scripts/download-integration-test-binaries.sh
Due: none

fix some lock usage
  cdc/processor/sinkmanager/manager_test.go
  cdc/processor/sinkmanager/table_sink_wrapper.go
Due: cdc

resolve comments
  pkg/filter/utils_test.go
Due: cdc

disable integrity-check-level for avro basic
  tests/integration_tests/avro_basic/conf/changefeed.toml
  tests/integration_tests/avro_basic/run.sh
Due: none

filter (ticdc): fix synpoint table is replicated in BDR mode (#10587)
  cdc/syncpointstore/mysql_syncpoint_store.go
  pkg/filter/filter.go
  pkg/filter/filter_test.go
  pkg/filter/utils.go
  pkg/filter/utils_test.go
  tests/integration_tests/bdr_mode/conf/cf.toml
  tests/integration_tests/bdr_mode/conf/down.toml
  tests/integration_tests/bdr_mode/conf/up.toml
  tests/integration_tests/bdr_mode/run.sh
Due: cdc

update
  tests/integration_tests/debezium/run.sh
Due: none

remove some useless log.
  cmd/kafka-consumer/main.go
Due: cdc

update
  tests/integration_tests/_utils/start_tidb_cluster_impl
Due: none

filter (ticdc): enhance event filter (#10509)
  dm/syncer/ddl.go
  dm/tests/incompatible_ddl_changes/conf/dm-task1.yaml
  dm/tests/incompatible_ddl_changes/run.sh
  go.mod
  go.sum
  pkg/filter/expr_filter.go
  pkg/filter/filter.go
  pkg/filter/filter_test.go
  pkg/filter/sql_event_filter.go
  pkg/filter/sql_event_filter_test.go
  pkg/filter/utils.go
  pkg/filter/utils_test.go
Due: cdc, dm

fix
  dm/tests/upstream_switch/Dockerfile
Due: dm

manually cherrypick #10559 and #10585
  cdc/entry/schema_test_helper.go
  cdc/kv/client.go
  cdc/kv/region_worker.go
  cdc/kv/region_worker_test.go
  pkg/config/debug.go
  pkg/config/server_config.go
Due: cdc

fix ut
  cdc/kv/client.go
  pkg/config/config_test_data.go
Due: cdc

sink(ticdc): add total write bytes counter to sink (#10040) (#10569)
  cdc/sink/dmlsink/cloudstorage/dml_worker.go
  cdc/sink/dmlsink/mq/worker.go
  cdc/sink/dmlsink/txn/mysql/mysql.go
  cdc/sink/metrics/metrics.go
  cdc/sink/metrics/statistics.go
  tests/integration_tests/avro_basic/conf/changefeed.toml
  tests/integration_tests/avro_basic/run.sh
Due: cdc
