Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

fix build
  cdc/sink/dmlsink/txn/mysql/mysql_test.go
Due: cdc

fix(DDL Sink): fix the unit test failure of `TestIsRetryableDDLError`
  pkg/errorutil/util_test.go
Due: cdc

fix async ddl
  cdc/sink/ddlsink/mysql/async_ddl.go
  cdc/sink/ddlsink/mysql/async_ddl_test.go
  pkg/version/check.go
Due: cdc

This is an automated cherry-pick of #11410
  dm/pkg/schema/tracker.go
  dm/syncer/expr_filter_group.go
  dm/syncer/expr_filter_group_test.go
  go.mod
  go.sum
Due: dm

fix lint
  dm/pkg/parser/common_test.go
Due: dm

parser(dm): support ALTER DATABASE default database
  dm/pkg/parser/common.go
  dm/pkg/parser/common_test.go
Due: dm

update metrics
  metrics/grafana/ticdc.json
Due: none

fix
  cdc/sink/dmlsink/txn/mysql/mysql.go
Due: cdc

refactor(test_prepare): modify `TLS_TIDB_PORT` from 3307 to 3406
  tests/integration_tests/_utils/test_prepare
Due: none

parser(dm): support ALTER DATABASE default database (#11504) (#11543)
  dm/pkg/parser/common.go
  dm/pkg/parser/common_test.go
Due: dm

kafka(ticdc): make kafka metrics more robust (#11533)
  cdc/entry/mounter_group.go
  cdc/processor/memquota/mem_quota.go
  cdc/sink/ddlsink/cloudstorage/cloud_storage_ddl_sink.go
  cdc/sink/ddlsink/mq/kafka_ddl_sink.go
  cdc/sink/ddlsink/mq/mq_ddl_sink.go
  cdc/sink/ddlsink/mq/pulsar_ddl_sink.go
  cdc/sink/ddlsink/mysql/mysql_ddl_sink.go
  cdc/sink/dmlsink/cloudstorage/cloud_storage_dml_sink.go
  cdc/sink/dmlsink/cloudstorage/dml_worker_test.go
  cdc/sink/dmlsink/mq/mq_dml_sink.go
  cdc/sink/dmlsink/mq/worker.go
  cdc/sink/dmlsink/mq/worker_test.go
  cdc/sink/dmlsink/txn/mysql/mysql_test.go
  cdc/sink/dmlsink/txn/txn_dml_sink.go
  cdc/sink/metrics/statistics.go
  metrics/grafana/ticdc.json
  pkg/sink/codec/encoder_group.go
  pkg/sink/codec/metrics.go
  pkg/sink/kafka/metrics.go
  pkg/sink/kafka/metrics_collector.go
Due: cdc

return corrupted or not directly
  cdc/entry/mounter.go
Due: cdc

refactor(DDL Sink): remove leftover TODO tag
  cdc/owner/ddl_sink.go
Due: cdc

fix panic
  cdc/sink/ddlsink/mysql/async_ddl.go
Due: cdc

add test
  cdc/sink/dmlsink/txn/mysql/mysql_test.go
Due: cdc

upgrade tidb
  go.mod
  go.sum
Due: none

gomod version
  go.mod
Due: none

fix compile
  dm/pkg/schema/tracker.go
  dm/syncer/expr_filter_group_test.go
Due: dm

use go1.19 to tidy
  go.sum
Due: none

upgrade
  go.mod
  go.sum
Due: none

fix
  go.mod
  go.sum
Due: none

try to fix
  go.mod
  go.sum
Due: none

revert to release-6.5
  go.mod
  go.sum
Due: none

manually cp
  dm/syncer/expr_filter_group.go
  go.mod
  go.sum
Due: dm

F!
  go.mod
  go.sum
Due: none

upgrade parser
  go.mod
  go.sum
Due: none

dep(*): update tidb to include DM SchemaTracker fix (#11410) (#11545)
  dm/syncer/expr_filter_group.go
  go.mod
  go.sum
Due: dm

Update check.go
  pkg/version/check.go
Due: cdc

This is an automated cherry-pick of #11465
  dm/pkg/schema/tracker.go
  dm/pkg/schema/tracker_test.go
Due: dm

address comment
  cdc/sink/ddlsink/mysql/async_ddl.go
  cdc/sink/ddlsink/mysql/async_ddl_test.go
Due: cdc

fix conflict
  dm/pkg/schema/tracker.go
Due: dm

schematracker(dm): Increase max-index-length config for dm schema tracker (#11465) (#11546)
  dm/pkg/schema/tracker.go
  dm/pkg/schema/tracker_test.go
Due: dm

remove some db sorter metrics
  metrics/grafana/ticdc.json
Due: none

sink(ticdc): use admin statement to query async ddl status (#11535)
  cdc/sink/ddlsink/mysql/async_ddl.go
  cdc/sink/ddlsink/mysql/async_ddl_test.go
Due: cdc

refactor config.
  pkg/config/db.go
  pkg/config/debug.go
  pkg/config/kvclient.go
  pkg/config/server_config.go
Due: cdc

fix pebble next
  cdc/processor/sourcemanager/engine/pebble/event_sorter.go
Due: cdc

fix a bug that will cause processor Tick get stuck when downstream is Kafka
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sinkmanager/manager_test.go
  cdc/processor/sinkmanager/table_sink_wrapper.go
  cdc/processor/sinkmanager/table_sink_wrapper_test.go
  pkg/config/sink.go
  tests/integration_tests/hang_sink_suicide/conf/changefeed.toml
  tests/integration_tests/hang_sink_suicide/conf/diff_config.toml
  tests/integration_tests/hang_sink_suicide/run.sh
  tests/integration_tests/run_group.sh
Due: cdc

This is an automated cherry-pick of #10899
  cdc/processor/sourcemanager/engine/factory/factory.go
  cdc/processor/sourcemanager/engine/factory/pebble.go
  cdc/processor/sourcemanager/engine/pebble/db.go
  cdc/processor/sourcemanager/sorter/pebble/event_sorter.go
  cdc/sink/codec/csv/csv_decoder.go
  cmd/dm-worker/main.go
  dm/checker/checker.go
  dm/config/task.go
  dm/docs/RFCS/20220308_support_dump_files_store_in_s3.md
  dm/loader/lightning.go
  dm/loader/lightning_test.go
  dm/pkg/checker/lightning.go
  dm/pkg/checker/lightning_test.go
  dm/pkg/checker/table_structure.go
  dm/pkg/log/log.go
  dm/pkg/log/log_test.go
  dm/pkg/schema/tracker.go
  dm/pkg/utils/common.go
  dm/syncer/expr_filter_group.go
  dm/syncer/validator_cond_test.go
  dm/tests/_utils/run_tidb_server
  dm/unit/unit_test.go
  go.mod
  go.sum
  pkg/filter/expr_filter.go
  pkg/migrate/migrate_test.go
  pkg/pdutil/api_client.go
  pkg/pdutil/api_client_test.go
  pkg/sqlmodel/row_change_test.go
Due: cdc, dm

This is an automated cherry-pick of #10899
  cdc/processor/sourcemanager/engine/factory/factory.go
  cdc/processor/sourcemanager/engine/factory/pebble.go
  cdc/processor/sourcemanager/engine/pebble/db.go
  cdc/processor/sourcemanager/engine/pebble/event_sorter.go
  cmd/dm-worker/main.go
  dm/checker/checker.go
  dm/config/task.go
  dm/docs/RFCS/20220308_support_dump_files_store_in_s3.md
  dm/loader/lightning.go
  dm/loader/lightning_test.go
  dm/pkg/checker/lightning.go
  dm/pkg/checker/lightning_test.go
  dm/pkg/checker/table_structure.go
  dm/pkg/log/log.go
  dm/pkg/log/log_test.go
  dm/pkg/schema/tracker.go
  dm/pkg/utils/common.go
  dm/syncer/expr_filter_group.go
  dm/syncer/validator_cond_test.go
  dm/tests/_utils/run_tidb_server
  dm/unit/unit_test.go
  go.mod
  go.sum
  pkg/filter/expr_filter.go
  pkg/migrate/migrate_test.go
  pkg/pdutil/api_client.go
  pkg/pdutil/api_client_test.go
  pkg/sink/codec/csv/csv_decoder.go
  pkg/sqlmodel/row_change_test.go
Due: cdc, dm

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
