Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

CI: Upgrade to actions/cache@v4 (#12120)
  .github/workflows/check_and_build.yaml
  .github/workflows/dataflow_engine_chaos.yaml
  .github/workflows/dm_binlog_999999.yaml
  .github/workflows/dm_chaos.yaml
  .github/workflows/dm_mariadb_master_down_and_up.yaml
  .github/workflows/dm_upstream_switch.yaml
Due: none

config AutoSyncInterval to etcd client (#11996) (#12000)
  pkg/etcd/client.go
Due: cdc

schemaStorage(ticdc): remove `schemaVersion` in `schemaStorage` (#11869) (#11920)
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_storage.go
Due: cdc

add one change
  pkg/sink/codec/internal/column.go
Due: cdc

update index dispatcher
  cdc/sink/dmlsink/mq/dispatcher/partition/index_value.go
  cdc/sink/dmlsink/mq/dispatcher/partition/index_value_test.go
Due: cdc

replace ibm sarama by the pingcap/sarama
  go.mod
  go.sum
Due: none

remove useless changes
  pkg/sink/codec/internal/column.go
Due: cdc

ddl(ticdc): ignore ddl with schemaversion 0 (#11856) (#12127)
  cdc/entry/schema_storage.go
  cdc/puller/ddl_puller.go
  tests/integration_tests/ddl_with_exists/conf/diff_config.toml
  tests/integration_tests/ddl_with_exists/run.sh
  tests/integration_tests/ddl_with_exists/test.go
  tests/integration_tests/run_group.sh
Due: cdc

wip: *: bump tidb and parser
  cdc/entry/schema/snapshot_test.go
  cdc/entry/schema_storage_test.go
  cdc/entry/schema_test.go
  cdc/entry/schema_test_helper.go
  cdc/model/schema_storage_test.go
  cdc/model/sink.go
  cdc/model/sink_test.go
  cdc/owner/ddl_manager_test.go
  cdc/sink/ddlsink/cloudstorage/cloud_storage_ddl_sink_test.go
  cdc/sink/dmlsink/cloudstorage/cloud_storage_dml_sink_test.go
  cdc/sink/dmlsink/cloudstorage/defragmenter_test.go
  cdc/sink/dmlsink/cloudstorage/dml_worker_test.go
  cdc/sink/dmlsink/cloudstorage/encoding_worker_test.go
  cdc/sink/dmlsink/mq/dispatcher/partition/columns_test.go
  cdc/sink/dmlsink/mq/dispatcher/partition/index_value_test.go
  dm/pkg/parser/common.go
  dm/pkg/schema/tracker.go
  dm/pkg/schema/visitor.go
  dm/simulator/sqlgen/impl.go
  dm/syncer/online-ddl-tools/online_ddl.go
  dm/syncer/schema.go
  dm/syncer/syncer.go
  dm/syncer/util_test.go
  go.mod
  go.sum
  pkg/diff/util_test.go
  pkg/sink/cloudstorage/path_test.go
  pkg/sink/cloudstorage/table_definition.go
  pkg/sink/cloudstorage/table_definition_test.go
  pkg/sink/codec/canal/canal_json_decoder.go
  pkg/sink/codec/canal/canal_json_message.go
  pkg/sink/codec/common/message_test.go
  pkg/sink/codec/debezium/decoder.go
  pkg/sink/codec/debezium/helper.go
  pkg/sink/codec/debezium/helper_test.go
  pkg/sink/codec/simple/message.go
  pkg/sqlmodel/utils_test.go
  pkg/sqlmodel/where_handle.go
  sync_diff_inspector/utils/table.go
Due: cdc, dm

kafka(ticdc): bump sarama fix kafka stuck (#12134)
  go.mod
  go.sum
Due: none

This is an automated cherry-pick of #12134
  go.mod
  go.sum
Due: none

fix conflicts
  go.mod
  go.sum
Due: none

dm: fix start task check when both shard-mode and TLS are configured (#11843) (#11863)
  dm/ctl/master/start_task.go
  dm/tests/tls/conf/dm-task-3.yaml
  dm/tests/tls/run.sh
Due: dm

*: bump tidb 8.5
  cdc/puller/ddl_puller.go
  go.mod
  go.sum
Due: cdc

*: bump tidb 8.5 (#12140)
  cdc/puller/ddl_puller.go
  go.mod
  go.sum
Due: cdc

kafka(ticdc): bump sarama fix kafka stuck (#12134) (#12138)
  go.mod
  go.sum
Due: none

dm: upgrade go-mysql to v1.12.0 (#12118)
  go.mod
  go.sum
Due: none

cloudstorage: add timeout when WriteFile
  cdc/sink/ddlsink/cloudstorage/cloud_storage_ddl_sink.go
  cdc/sink/dmlsink/cloudstorage/cloud_storage_dml_sink.go
  pkg/util/external_storage.go
Due: cdc

cloudstorage: add unit test
  pkg/util/external_storage_test.go
Due: cdc

kafka: support GSSAPI auth with custom SPN
  pkg/config/replica_config_test.go
  pkg/config/sink.go
  pkg/security/sasl.go
  pkg/sink/kafka/options.go
  pkg/sink/kafka/options_test.go
  pkg/sink/kafka/sarama.go
  pkg/sink/kafka/v2/factory.go
  pkg/sink/kafka/v2/gssapi.go
Due: cdc

fix
  tests/integration_tests/mq_sink_dispatcher/run.sh
Due: none

update
  tests/integration_tests/ddl_wait/run.sh
Due: none

sink(ticdc): Treat column and index names as case insensitive (#12132)
  cdc/model/schema_storage.go
  cdc/model/schema_storage_test.go
  cdc/sink/dmlsink/mq/dispatcher/partition/columns.go
  cdc/sink/dmlsink/mq/dispatcher/partition/columns_test.go
  cdc/sink/dmlsink/mq/dispatcher/partition/index_value.go
  cdc/sink/dmlsink/mq/dispatcher/partition/index_value_test.go
  tests/integration_tests/mq_sink_dispatcher/conf/changefeed.toml
  tests/integration_tests/mq_sink_dispatcher/conf/diff_config.toml
  tests/integration_tests/mq_sink_dispatcher/conf/new_changefeed.toml
  tests/integration_tests/mq_sink_dispatcher/run.sh
Due: cdc

add ut
  pkg/util/external_storage.go
  pkg/util/external_storage_test.go
Due: cdc

remove useless ut
  pkg/util/external_storage_test.go
Due: cdc

cloudstorage: fix a bug that may cause storage sink get stuck (#12142)
  cdc/sink/ddlsink/cloudstorage/cloud_storage_ddl_sink.go
  cdc/sink/dmlsink/cloudstorage/cloud_storage_dml_sink.go
  pkg/util/external_storage.go
  pkg/util/external_storage_test.go
Due: cdc
