Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

small fix
  tests/integration_tests/bdr_mode/conf/diff_config.toml
Due: none

small fix
  tests/integration_tests/changefeed_dup_error_restart/conf/workload
  tests/integration_tests/ci_collation_compatibility/conf/workload
Due: none

add some log
  cdc/entry/mounter.go
Due: cdc

change test
  tests/integration_tests/ci_collation_compatibility/conf/diff_config.toml
  tests/integration_tests/ci_collation_compatibility/conf/workload
  tests/integration_tests/ci_collation_compatibility/data/test.sql
  tests/integration_tests/ci_collation_compatibility/run.sh
Due: none

small fix
  tests/integration_tests/ci_collation_compatibility/run.sh
Due: none

small fix
  tests/integration_tests/ci_collation_compatibility/data/test.sql
Due: none

remove unnecessary code
  cdc/entry/mounter.go
  tests/integration_tests/changefeed_dup_error_restart/conf/workload
Due: cdc

fix CI
  dm/pkg/utils/util.go
  dm/syncer/binlogstream/streamer_controller.go
Due: dm

fix collation and add tests
  cmd/cdc/main.go
  tests/integration_tests/ci_collation_compatibility/conf/diff_config.toml
  tests/integration_tests/ci_collation_compatibility/conf/tidb_config.toml
  tests/integration_tests/ci_collation_compatibility/conf/workload
  tests/integration_tests/ci_collation_compatibility/run.sh
  tests/integration_tests/run_group.sh
Due: cdc

fix tests
  tests/integration_tests/bdr_mode/conf/diff_config.toml
  tests/integration_tests/ci_collation_compatibility/conf/diff_config.toml
  tests/integration_tests/ci_collation_compatibility/conf/workload
  tests/integration_tests/ci_collation_compatibility/data/test.sql
  tests/integration_tests/ci_collation_compatibility/run.sh
Due: none

add comment about row changed event commit ts fall back.
  cmd/kafka-consumer/writer.go
Due: cdc

adjust logs.
  cmd/kafka-consumer/consumer.go
  cmd/kafka-consumer/writer.go
  pkg/sink/codec/simple/decoder.go
Due: cdc

add more comment
  cmd/cdc/main.go
Due: cdc

fix syncpoint
  cdc/owner/ddl_sink.go
  cdc/syncpointstore/mysql_syncpoint_store.go
  cdc/syncpointstore/syncpoint_store.go
Due: cdc

disable bdr it
  tests/integration_tests/bdr_mode/run.sh
Due: none

fix make
  tests/integration_tests/bdr_mode/run.sh
Due: none

mounter(ticdc): decode bytes-level checksum and encode columns-level checksum (#10706)
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
  dm/pkg/schema/tracker.go
  go.mod
  go.sum
  tests/integration_tests/bdr_mode/run.sh
  tests/integration_tests/kafka_simple_basic_avro/data/data.sql
Due: cdc, dm

mounter(ticdc): fix decoding when upstream doesn't enable new collation (#11370)
  cmd/cdc/main.go
  tests/integration_tests/bdr_mode/conf/diff_config.toml
  tests/integration_tests/ci_collation_compatibility/conf/diff_config.toml
  tests/integration_tests/ci_collation_compatibility/conf/tidb_config.toml
  tests/integration_tests/ci_collation_compatibility/data/test.sql
  tests/integration_tests/ci_collation_compatibility/run.sh
  tests/integration_tests/run_group.sh
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
