Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

dm: upgrade go-mysql library (#11043) (#11187)
  dm/pkg/binlog/common/replication.go
  go.mod
  go.sum
Due: dm

*: copy seahash from blainsmith.com/go/seahash (#11193) (#11201)
  cdc/kv/shared_client.go
  go.mod
  go.sum
  pkg/spanz/hash_map.go
  pkg/util/seahash/LICENSE.md
  pkg/util/seahash/seahash.go
  pkg/util/seahash/seahash_test.go
  scripts/check-copyright.sh
Due: cdc

loader(dm): remove unused functions
  dm/loader/util.go
  dm/loader/util_test.go
Due: dm

fix git conflict
  dm/pkg/schema/tracker.go
  dm/pkg/utils/common.go
  go.mod
  go.sum
Due: dm

do not alloca slice for the column
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
Due: cdc

syncer(dm): Ignore SET statement for MariaDB (#10207) (#11440)
  dm/syncer/syncer.go
Due: dm

reduce client memory usage
  cdc/kv/shared_client.go
Due: cdc

add more test
  cdc/entry/mounter_test.go
Due: cdc

*: tidy go mod (#11204) (#11209)
  go.mod
Due: none

reduce etcd worker memory usage
  pkg/orchestrator/etcd_worker.go
Due: cdc

Correctly set GOVERSION
  Makefile
Due: none

Improve Go version reporting
  Makefile
  pkg/version/version.go
Due: cdc

This is an automated cherry-pick of #10706
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
  dm/pkg/schema/tracker.go
  go.mod
  go.sum
  tests/integration_tests/bdr_mode/run.sh
  tests/integration_tests/kafka_simple_basic_avro/data/data.sql
Due: cdc, dm

This is an automated cherry-pick of #11112
  dm/config/subtask.go
  dm/config/task.go
  dm/config/task_converters.go
  dm/syncer/syncer_test.go
  engine/jobmaster/dm/config/config.go
  pkg/column-mapping/column.go
  pkg/column-mapping/column_test.go
Due: cdc, dm, engine

loader(dm): remove unused functions (#11444)
  dm/loader/util.go
  dm/loader/util_test.go
Due: dm

refactor(sink): refactor the error handing in SinkConfig.applyParameterBySinkURI()
  pkg/config/sink.go
Due: cdc

sorter(cdc): fix a bug that Pebble sorter can be stucked when closing a processor (#11279) (#11438)
  cdc/processor/sourcemanager/sorter/pebble/event_sorter.go
Due: cdc

sink(ticdc): support debezium avro format
  cmd/kafka-consumer/writer.go
  pkg/config/sink.go
  pkg/errors/cdc_errors.go
  pkg/sink/codec/avro/avro.go
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/avro/codec.go
  pkg/sink/codec/avro/confluent_schema_registry_test.go
  pkg/sink/codec/avro/decoder.go
  pkg/sink/codec/avro/mock_schema_registry.go
  pkg/sink/codec/avro/schema_manager.go
  pkg/sink/codec/builder/encoder_builder.go
  pkg/sink/codec/common/config.go
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/codec_test.go
  pkg/sink/codec/debezium/debezium_test.go
  pkg/sink/codec/debezium/encoder.go
  pkg/sink/codec/encoder.go
Due: cdc

cdc: log slow conflict detect every 60s (#11251) (#11286)
  cdc/sink/dmlsink/txn/worker.go
Due: cdc

dep(*): use release-8.1 tidb package
  go.mod
  go.sum
Due: none

update chann package
  pkg/chann/chann.go
  pkg/deque/deque.go
  pkg/deque/deque_test.go
  pkg/list/list.go
Due: cdc

reduce buffer size
  cdc/puller/multiplexing_puller.go
Due: cdc

loader(dm): remove unused functions (#11444) (#11460)
  dm/loader/util.go
  dm/loader/util_test.go
Due: dm

adjust batch_add_table test script
  tests/integration_tests/batch_add_table/run.sh
Due: none

fix make format
  tests/integration_tests/batch_add_table/run.sh
Due: none

refactor(APIV2HelpersImpl): remove the impossible condition in APIV2HelpersImpl.verifyCreateChangefeedConfig()
  cdc/api/v2/api_helpers.go
Due: cdc

add kv clinet debug log
  cdc/kv/shared_client.go
Due: cdc

replace to test CI
  go.mod
  go.sum
Due: none

remove verbose log
  cdc/kv/shared_client.go
Due: cdc

sink(ticdc): add some comments to public struct/method
  pkg/sink/codec/avro/codec.go
  pkg/sink/codec/avro/decoder.go
  pkg/sink/codec/avro/mock_schema_registry.go
  pkg/sink/codec/avro/schema_manager.go
  pkg/sink/codec/common/config.go
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/debezium_test.go
  pkg/sink/codec/debezium/encoder.go
  pkg/sink/codec/encoder.go
Due: cdc

fix conflict.
  pkg/sink/codec/simple/decoder.go
  pkg/sink/codec/simple/message.go
Due: cdc

fix conflict.
  pkg/sink/codec/simple/message.go
Due: cdc

metrics(ticdc): Fix kafka compress ratio issue (#11313) (#11327)
  metrics/grafana/ticdc.json
  pkg/sink/codec/common/compress.go
  pkg/sink/kafka/metrics_collector.go
Due: cdc

metrics(ticdc): add kafka compression ratio description for grafana (#11348) (#11352)
  metrics/grafana/ticdc.json
Due: none

s3(ticdc): do not report unretryable error when initializing s3 storage (#11312) (#11319)
  pkg/redo/config.go
Due: cdc

remove replace
  go.mod
  go.sum
Due: none

change max-index-length config for dm schema tracker
  dm/pkg/schema/tracker.go
  dm/pkg/schema/tracker_test.go
Due: dm

dep(*): use release-8.1 tidb package (#11456)
  go.mod
  go.sum
Due: none

fix conflict
  tests/integration_tests/run_group.sh
Due: none
