Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

fix build
  pkg/sink/codec/utils/field_types.go
Due: cdc

fix build
  pkg/sink/codec/canal/canal_json_decoder.go
Due: cdc

fix build
  pkg/sink/codec/canal/canal_json_message.go
Due: cdc

This is an automated cherry-pick of #11122
  cmd/tiflow/main.go
  dm/ctl/common/util.go
  dm/master/election.go
  dm/master/etcd.go
  dm/master/metrics/metrics.go
  dm/master/server.go
  dm/master/server_test.go
  dm/master/workerrpc/rawgrpc.go
  dm/pkg/checker/mysql_server.go
  dm/pkg/checker/utils.go
  dm/pkg/utils/common.go
  dm/tests/_dmctl_tools/check_master_http_apis.go
  dm/tests/_dmctl_tools/check_master_online.go
  dm/tests/_dmctl_tools/check_master_online_http.go
  dm/tests/_dmctl_tools/check_worker_online.go
  dm/tests/many_tables/run.sh
  dm/worker/join.go
  dm/worker/metrics.go
  dm/worker/server.go
  engine/jobmaster/dm/checkpoint/agent.go
  go.mod
  go.sum
  pkg/errors/helper.go
  pkg/errors/helper_test.go
Due: cdc, dm, engine

This is an automated cherry-pick of #11198
  dm/checker/checker.go
  dm/checker/cmd.go
  dm/tests/check_task/run.sh
  go.mod
  go.sum
Due: dm

codec(ticdc): canal-json support compatible content by output detailed mysql type information (#10014) (#11415)
  cdc/api/v2/model.go
  cdc/api/v2/model_test.go
  cdc/model/changefeed.go
  cdc/model/schema_storage.go
  cdc/model/sink.go
  cdc/sink/dmlsink/mq/mq_dml_sink_test.go
  cdc/sink/dmlsink/mq/worker_test.go
  pkg/cmd/util/helper_test.go
  pkg/config/config_test_data.go
  pkg/config/replica_config.go
  pkg/config/replica_config_test.go
  pkg/config/sink.go
  pkg/orchestrator/reactor_state_test.go
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/canal/canal_encoder.go
  pkg/sink/codec/canal/canal_encoder_test.go
  pkg/sink/codec/canal/canal_entry.go
  pkg/sink/codec/canal/canal_entry_test.go
  pkg/sink/codec/canal/canal_json_decoder_test.go
  pkg/sink/codec/canal/canal_json_message.go
  pkg/sink/codec/canal/canal_json_row_event_encoder.go
  pkg/sink/codec/canal/canal_json_row_event_encoder_test.go
  pkg/sink/codec/canal/canal_json_txn_event_encoder.go
  pkg/sink/codec/canal/canal_json_txn_event_encoder_test.go
  pkg/sink/codec/canal/canal_test_util.go
  pkg/sink/codec/canal/type_test.go
  pkg/sink/codec/common/config.go
  pkg/sink/codec/common/config_test.go
  pkg/sink/codec/internal/java.go
  pkg/sink/codec/utils/field_types.go
  pkg/sink/codec/utils/mysql_types.go
  tests/integration_tests/canal_json_content_compatible/conf/diff_config.toml
  tests/integration_tests/canal_json_content_compatible/data/data.sql
  tests/integration_tests/canal_json_content_compatible/data/data_gbk.sql
  tests/integration_tests/canal_json_content_compatible/run.sh
  tests/integration_tests/run_group.sh
Due: cdc

add ut
  pkg/sink/kafka/claimcheck/claim_check_test.go
Due: cdc

This is an automated cherry-pick of #11164
  .golangci.yml
  dm/chaos/cases/diff.go
  dm/pkg/conn/db.go
  engine/chaos/cases/dm/case.go
  go.mod
  go.sum
  pkg/diff/README.md
  pkg/diff/checkpoint.go
  pkg/diff/checkpoint_test.go
  pkg/diff/chunk.go
  pkg/diff/chunk_test.go
  pkg/diff/diff.go
  pkg/diff/diff_test.go
  pkg/diff/merge.go
  pkg/diff/merge_test.go
  pkg/diff/spliter_test.go
  pkg/diff/util.go
  pkg/diff/util_test.go
  pkg/importer/config.go
  pkg/importer/data.go
  pkg/importer/db.go
  pkg/importer/importer.go
  pkg/importer/job.go
  pkg/importer/parser.go
  pkg/importer/rand.go
  tests/integration_tests/util/db.go
Due: cdc, dm, engine

fix the test.
  cdc/entry/schema_storage_test.go
  cdc/model/schema_storage.go
Due: cdc

This is an automated cherry-pick of #11098
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
  pkg/sink/codec/simple/mock/marshaller.go
  scripts/generate-mock.sh
Due: cdc

update
  cdc/sink/ddlsink/mysql/mysql_ddl_sink.go
  cdc/sink/dmlsink/txn/mysql/mysql.go
  cdc/syncpointstore/mysql_syncpoint_store.go
Due: cdc

fix conflict.
  pkg/sink/codec/simple/encoder_test.go
Due: cdc

fix ut
  pkg/sink/codec/simple/decoder.go
Due: cdc

schema(ticdc): query the primary key column names in an easier way (#11064) (#11421)
  cdc/entry/schema_storage_test.go
  cdc/model/schema_storage.go
Due: cdc

fix
  cdc/api/status/status.go
  cdc/api/util.go
  cmd/oauth2-server/main.go
  pkg/api/internal/rest/client_test.go
  pkg/httputil/httputil_test.go
  pkg/migrate/migrate_test.go
  pkg/pdutil/api_client_test.go
Due: cdc

lint
  cmd/oauth2-server/main.go
  pkg/api/internal/rest/client_test.go
  pkg/httputil/httputil_test.go
  pkg/migrate/migrate_test.go
  pkg/pdutil/api_client_test.go
Due: cdc

lint
  cdc/api/util.go
Due: cdc

codec(ticdc): simple protocol introduce mock marshaller to improve ut coverage (#11098) (#11422)
  pkg/sink/codec/simple/decoder.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
  pkg/sink/codec/simple/mock/marshaller.go
  scripts/generate-mock.sh
Due: cdc

log(ticdc): Add more error query information to the returned error to facilitate users to know the cause of the failure (#10945) (#11423)
  cdc/sink/ddlsink/mysql/mysql_ddl_sink.go
  cdc/sink/dmlsink/txn/mysql/mysql.go
  cdc/syncpointstore/mysql_syncpoint_store.go
Due: cdc

consumer(ticdc): partition resolved ts fallback ignore caused by read offset message (#11412)
  cmd/kafka-consumer/writer.go
Due: cdc

tiny adjust
  cdc/entry/mounter.go
Due: cdc

add one more log
  cdc/entry/mounter.go
Due: cdc

init
  cdc/processor/sourcemanager/sorter/pebble/event_sorter.go
Due: cdc

fix unit test error
  cdc/api/v2/model_test.go
  cdc/owner/changefeed_test.go
  cdc/owner/ddl_manager_test.go
  pkg/cmd/util/helper_test.go
  pkg/config/config_test_data.go
  pkg/config/replica_config.go
Due: cdc

add unit test case
  cdc/entry/schema_test_helper.go
  cdc/owner/changefeed_test.go
  cdc/owner/ddl_manager_test.go
  pkg/config/sink.go
Due: cdc

add config send-all-bootstrap-at-start
  cdc/api/v2/model.go
  cdc/owner/changefeed.go
  cdc/owner/ddl_manager.go
  cdc/owner/ddl_sink.go
  pkg/config/sink.go
  pkg/config/sink_test.go
Due: cdc

resolve comments 2
  cdc/owner/ddl_manager.go
  cdc/owner/ddl_manager_test.go
  cdc/owner/ddl_sink.go
Due: cdc

fix ut
  pkg/orchestrator/reactor_state_test.go
Due: cdc

fix make check
  pkg/config/sink.go
Due: cdc

resolve comments
  cdc/owner/changefeed.go
  cdc/owner/changefeed_test.go
  cdc/owner/ddl_manager.go
  cdc/owner/ddl_manager_test.go
  cdc/owner/ddl_sink.go
Due: cdc

add config to integretion test
  cdc/owner/ddl_manager_test.go
  tests/integration_tests/kafka_simple_basic/conf/changefeed.toml
Due: cdc

check bootstrap sending in ddlManager'c tick
  cdc/owner/ddl_manager.go
  pkg/config/sink.go
Due: cdc

fix host
  cmd/kafka-consumer/main.go
  cmd/storage-consumer/main.go
  pkg/cmd/redo/apply.go
Due: cdc

Update dm/syncer/syncer.go
  dm/syncer/syncer.go
Due: dm

Ignore SET statement
  dm/pkg/schema/tracker.go
  dm/syncer/syncer.go
Due: dm

Add statement details
  dm/syncer/syncer.go
Due: dm

Update based on review
  dm/pkg/schema/tracker.go
  dm/syncer/syncer.go
Due: dm

This is an automated cherry-pick of #11410
  dm/pkg/schema/tracker.go
  dm/syncer/expr_filter_group.go
  dm/syncer/expr_filter_group_test.go
  go.mod
  go.sum
Due: dm

fix
  cdc/sink/ddlsink/mysql/mysql_ddl_sink.go
  cdc/sink/dmlsink/txn/mysql/mysql.go
  engine/pkg/meta/util.go
  examples/golang/canal-json-handle-key-only/main.go
  pkg/diff/checkpoint.go
  pkg/election/storage_sql.go
  pkg/sink/codec/common/helper.go
  pkg/sink/mysql/db_helper.go
Due: cdc, engine
