Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

pulsar (ticdc): limit the time consumption of pulsar client and producer close method (#10686)
  cdc/sink/ddlsink/mq/ddlproducer/pulsar_ddl_producer.go
  cdc/sink/dmlsink/mq/dmlproducer/pulsar_dml_producer.go
  pkg/config/sink.go
  pkg/sink/pulsar/factory.go
Due: cdc

fix IT
  engine/test/integration_tests/dm_lightning_checkpoint/run.sh
Due: engine

engine: fix wrong SQL concat with LIKE ?% (#10834)
  engine/pkg/meta/internal/sqlkv/sql_impl.go
  engine/pkg/meta/internal/sqlkv/sql_impl_test.go
  engine/test/integration_tests/dm_lightning_checkpoint/run.sh
Due: engine

update comment
  pkg/sink/cloudstorage/path.go
Due: cdc

update
  pkg/sink/cloudstorage/path.go
Due: cdc

ticdc: fix unstable test TestRemoveExpiredFilesWithoutPartition (#10814)
  pkg/sink/cloudstorage/path.go
  pkg/sink/cloudstorage/path_test.go
Due: cdc

fix case cannot passed on the local.
  cdc/kv/client_test.go
Due: cdc

minor fix
  Makefile
  cdc/http.go
Due: cdc

remove some code.
  cdc/kv/client_test.go
  cdc/kv/sharedconn/conn_and_client_test.go
Due: cdc

drain the channel.
  cdc/kv/shared_stream.go
Due: cdc

add one test to cover close the client.
  cdc/kv/shared_client_test.go
Due: cdc

fix scheduler
  cdc/scheduler/internal/v3/agent/agent.go
  cdc/scheduler/internal/v3/coordinator.go
  cdc/scheduler/internal/v3/member/capture_manager.go
  cdc/scheduler/internal/v3/member/capture_manager_test.go
  cdc/scheduler/internal/v3/replication/replication_manager.go
  cdc/scheduler/internal/v3/scheduler/scheduler_balance.go
  cdc/scheduler/internal/v3/scheduler/scheduler_balance_test.go
  cdc/scheduler/internal/v3/scheduler/scheduler_manager.go
Due: cdc

fix log in reactor state
  cdc/capture/capture.go
  pkg/orchestrator/reactor_state.go
Due: cdc

fix mysql sink
  cdc/sink/metrics/metrics.go
  cdc/sink/mysql/mysql.go
Due: cdc

add one integration test.
  cdc/kv/client_mock_test.go
  cdc/kv/shared_client_test.go
Due: cdc

big txn integration test, set check times to 120.
  tests/integration_tests/big_txn/run.sh
Due: none

fix make fmt.
  tests/integration_tests/big_txn/run.sh
Due: none

minor fix
  cdc/scheduler/internal/v3/scheduler/scheduler_basic.go
Due: cdc

fix ut
  cdc/processor/processor_test.go
Due: cdc

makefile, api(ticdc): remove gsed and fix config api (#10835)
  Makefile
  cdc/http.go
Due: cdc

add warn log.
  pkg/sink/codec/simple/message.go
Due: cdc

ticdc: Fix unstable test TestRetry (#10772)
  pkg/etcd/client_test.go
Due: cdc

add some comments.
  cdc/kv/shared_stream.go
Due: cdc

[skip ci] Update OWNERS file
  OWNERS
Due: none

ticdc: make UT TestRemoveChangefeed more stable (#10786)
  cdc/owner/changefeed_test.go
Due: cdc

OWNERS: Auto Sync OWNERS files from community membership (#10840)
  OWNERS
Due: none

add date time to the shell.
  tests/integration_tests/_utils/check_table_exists
  tests/integration_tests/_utils/run_kafka_consumer
  tests/integration_tests/big_txn/run.sh
Due: none

This is an automated cherry-pick of #10546
  cdc/api/v2/api_helpers.go
  cdc/api/v2/api_helpers_mock.go
  cdc/api/v2/changefeed.go
  cdc/api/v2/changefeed_test.go
Due: cdc

This is an automated cherry-pick of #10553
  cdc/server/metrics.go
  metrics/grafana/ticdc.json
  pkg/txnutil/gc/gc_manager.go
  pkg/txnutil/gc/metrics.go
Due: cdc

fix storage timeout
  pkg/redo/config.go
Due: cdc

add date time to the shell.
  tests/integration_tests/_utils/check_table_exists
  tests/integration_tests/_utils/run_kafka_consumer
Due: none

fix conflicts.
  cdc/owner/schema_test.go
Due: cdc

fix ut
  cdc/processor/processor_test.go
  pkg/context/context.go
Due: cdc

fix timezone.
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
Due: cdc

fix ut
  cdc/capture/capture.go
  pkg/config/config_test_data.go
  pkg/config/debug.go
  pkg/config/server_config.go
Due: cdc

*(ticdc): always print changefeed id in scheduler and etcd worker (#10836)
  cdc/capture/capture.go
  cdc/scheduler/internal/v3/agent/agent.go
  cdc/scheduler/internal/v3/coordinator.go
  cdc/scheduler/internal/v3/member/capture_manager.go
  cdc/scheduler/internal/v3/member/capture_manager_test.go
  cdc/scheduler/internal/v3/replication/replication_manager.go
  cdc/scheduler/internal/v3/scheduler/scheduler_balance.go
  cdc/scheduler/internal/v3/scheduler/scheduler_balance_test.go
  cdc/scheduler/internal/v3/scheduler/scheduler_basic.go
  cdc/scheduler/internal/v3/scheduler/scheduler_manager.go
  pkg/orchestrator/reactor_state.go
Due: cdc

fix data race in gc manager
  pkg/txnutil/gc/gc_manager.go
  pkg/txnutil/gc/gc_manager_test.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
