Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

Update dm/common/config/config.go
  dm/common/config/config.go
Due: dm

sink(ticdc): use pd clock in storage sink (#10351)
  cdc/api/v1/validator.go
  cdc/api/v2/api_helpers.go
  cdc/processor/sinkmanager/manager.go
  cdc/sink/dmlsink/cloudstorage/cloud_storage_dml_sink.go
  cdc/sink/dmlsink/cloudstorage/cloud_storage_dml_sink_test.go
  cdc/sink/dmlsink/cloudstorage/dml_worker.go
  cdc/sink/dmlsink/cloudstorage/dml_worker_test.go
  cdc/sink/dmlsink/factory/factory.go
  cdc/sink/validator/validator.go
  cdc/sink/validator/validator_test.go
  cmd/kafka-consumer/main.go
  cmd/pulsar-consumer/main.go
  cmd/storage-consumer/main.go
  errors.toml
  pkg/applier/redo.go
  pkg/errors/cdc_errors.go
  pkg/pdutil/clock.go
  pkg/sink/cloudstorage/path.go
  pkg/sink/cloudstorage/path_test.go
Due: cdc

fix puller
  cdc/kv/shared_client.go
  cdc/kv/shared_region_worker.go
Due: cdc

puller(ticdc): fix resolvedTs get stuck when region split and merge (#10488) (#10493)
  cdc/puller/frontier/frontier.go
  cdc/puller/frontier/frontier_test.go
Due: cdc

add one log to help debug kafka consumer.
  cmd/kafka-consumer/main.go
Due: cdc

revert time
  tests/integration_tests/synced_status/conf/changefeed-redo.toml
  tests/integration_tests/synced_status/conf/changefeed.toml
  tests/integration_tests/synced_status/run.sh
Due: none

try to fix pd
  scripts/download-integration-test-binaries.sh
Due: none

test
  tests/integration_tests/synced_status/run.sh
Due: none

fix more tests
  cdc/model/schema_storage_test.go
  cdc/model/sink_test.go
  cdc/processor/sinkmanager/redo_log_worker_test.go
  cdc/processor/sinkmanager/table_sink_worker_test.go
  cdc/redo/manager_test.go
  cdc/redo/reader/reader.go
  cdc/redo/writer/file/file_log_writer_test.go
  cdc/redo/writer/memory/mem_log_writer_test.go
  cdc/sink/dmlsink/cloudstorage/encoding_worker_test.go
  cdc/sink/dmlsink/txn/mysql/mysql.go
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/internal/batch_tester.go
Due: cdc

disable region detail logs in kv-client by default (#10487)
  cdc/kv/client.go
  cdc/kv/client_test.go
  cdc/kv/region_worker.go
  cdc/kv/shared_client.go
  cdc/kv/shared_client_test.go
  cdc/kv/shared_region_worker.go
  cdc/kv/shared_region_worker_test.go
  cdc/kv/shared_stream.go
  cdc/puller/multiplexing_puller_test.go
  pkg/config/config_test_data.go
  pkg/config/debug.go
  pkg/config/server_config.go
  scripts/download-integration-test-binaries.sh
Due: cdc

TiCDC support checking if data is entirely replicated to Downstream (#10133) (#10336)
  cdc/api/v1/api_test.go
  cdc/api/v2/api.go
  cdc/api/v2/api_test.go
  cdc/api/v2/changefeed.go
  cdc/api/v2/changefeed_test.go
  cdc/api/v2/model.go
  cdc/api/v2/model_test.go
  cdc/model/changefeed.go
  cdc/owner/changefeed.go
  cdc/owner/changefeed_test.go
  cdc/owner/mock/status_provider_mock.go
  cdc/owner/owner.go
  cdc/owner/status_provider.go
  cdc/processor/processor.go
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sinkmanager/manager_test.go
  cdc/processor/sinkmanager/table_sink_wrapper.go
  cdc/processor/tablepb/table.pb.go
  cdc/processor/tablepb/table.proto
  cdc/scheduler/internal/scheduler.go
  cdc/scheduler/internal/v3/coordinator.go
  cdc/scheduler/internal/v3/coordinator_test.go
  cdc/scheduler/internal/v3/replication/replication_manager.go
  cdc/scheduler/internal/v3/replication/replication_manager_test.go
  cdc/scheduler/internal/v3/replication/replication_set.go
  cdc/scheduler/schedulepb/watermark.go
  cdc/sinkv2/tablesink/table_sink.go
  cdc/sinkv2/tablesink/table_sink_impl.go
  cdc/sinkv2/tablesink/table_sink_impl_test.go
  pkg/config/config_test_data.go
  pkg/config/replica_config.go
  pkg/config/synced_status_config.go
  pkg/orchestrator/reactor_state_test.go
  tests/integration_tests/run_group.sh
  tests/integration_tests/synced_status/conf/changefeed-redo.toml
  tests/integration_tests/synced_status/conf/changefeed.toml
  tests/integration_tests/synced_status/run.sh
Due: cdc

large transactions don't block watermark advancing
  docs/design/2024-01-22-ticdc-large-txn-not-block-wm.md
  docs/media/large-txn-no-block-wm-1.png
  docs/media/large-txn-no-block-wm-2.png
  docs/media/large-txn-no-block-wm-3.png
  docs/media/large-txn-no-block-wm-4.png
  docs/media/large-txn-no-block-wm-5.png
  docs/media/large-txn-no-block-wm-6.png
  docs/media/large-txn-no-block-wm-7.png
  docs/media/large-txn-no-block-wm-8.png
Due: none

dispaly image
  docs/design/2024-01-22-ticdc-large-txn-not-block-wm.md
Due: none

format design doc by lint
  docs/design/2024-01-22-ticdc-large-txn-not-block-wm.md
Due: none

fix tiflash ci fail
  tests/integration_tests/_utils/tiflash-users.toml
Due: none

remove changes
  tests/integration_tests/run.sh
Due: none

add png for test
  tests/integration_tests/test.png
Due: none

fix truncate table partition cause mounter failed issue
  cdc/entry/schema/snapshot.go
  cdc/entry/schema/snapshot_test.go
Due: cdc

adjust kafka consumer watermark update logic.
  cmd/kafka-consumer/main.go
Due: cdc

extra blank line
  tests/integration_tests/_utils/tiflash-users.toml
Due: none

useless
  tests/integration_tests/_utils/tiflash-users.toml
Due: none

fix truncate table partition cause mounter failed issue
  cdc/entry/mounter.go
Due: cdc

correct pd binary for tests
  scripts/download-integration-test-binaries.sh
Due: none

*: fix tiflash ci failure (#10527)
  tests/integration_tests/_utils/tiflash-users.toml
Due: none

a little fix
  cdc/kv/regionlock/region_range_lock.go
  cdc/kv/regionlock/region_range_lock_test.go
  cdc/kv/shared_region_worker.go
Due: cdc

remove integer and boolean from the schema
  pkg/sink/codec/simple/message.json
Due: cdc

upgrade pd client to fix panic issue
  go.mod
  go.sum
Due: none

filter(ticdc): Remove useless code about MySQLReplicationRules (#10507)
  cdc/api/v2/model.go
  cdc/api/v2/model_test.go
  cdc/model/changefeed_test.go
  pkg/cmd/cli/cli_changefeed_create_test.go
  pkg/config/filter.go
  pkg/filter/utils.go
  pkg/migrate/migrate_test.go
  tests/integration_tests/api_v2/cases.go
  tests/integration_tests/api_v2/model.go
Due: cdc

a little fix
  cdc/kv/regionlock/region_range_lock_test.go
  cdc/kv/shared_region_worker_test.go
Due: cdc

upgrade pd client to fix panic issue
  go.sum
Due: none

enable the checksum
  pkg/sink/codec/simple/encoder_test.go
Due: cdc

execute ddl before dml.
  cmd/kafka-consumer/main.go
Due: cdc

mounter(ticdc): fix truncate table partition cause mounter failed issue (#10528)
  cdc/entry/mounter.go
  cdc/entry/schema/snapshot.go
  cdc/entry/schema/snapshot_test.go
Due: cdc

fix test
  dm/common/config/config_test.go
Due: dm

This is an automated cherry-pick of #10528
  cdc/entry/mounter.go
  cdc/entry/schema/snapshot.go
  cdc/entry/schema/snapshot_test.go
Due: cdc
