Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

use env_var set mysql cli password
  dm/tests/_utils/run_sql
Due: dm

debug
  dm/tests/_utils/run_downstream_cluster
Due: dm

fix
  dm/tests/_utils/run_downstream_cluster
Due: dm

fmt
  dm/tests/_utils/run_downstream_cluster
Due: dm

revert
  dm/tests/openapi/run.sh
Due: dm

adjus logs
  cdc/kv/shared_client.go
  cdc/kv/shared_stream.go
  cdc/puller/multiplexing_puller.go
Due: cdc

dm: handle the query in metadata from binlog (#11743)
  dm/pkg/dumpling/utils.go
  dm/pkg/dumpling/utils_test.go
Due: dm

add log
  dm/tests/_utils/run_downstream_cluster
Due: dm

fix type
  dm/tests/openapi/client/openapi_task_check
Due: dm

fmt
  dm/tests/openapi/run.sh
Due: dm

Update encoder_group.go
  pkg/sink/codec/encoder_group.go
Due: cdc

add table id to span
  pkg/spanz/span.go
Due: cdc

ignore check running dump task in running stage
  dm/tests/openapi/run.sh
Due: dm

fix
  dm/tests/openapi/run.sh
Due: dm

Add e2e test for different phases.
  engine/test/e2e/e2e_dm_test.go
Due: engine

fix
  dm/tests/openapi/client/openapi_task_check
  dm/tests/openapi/run.sh
Due: dm

add test
  dm/tests/_utils/run_downstream_cluster
  dm/tests/openapi/client/openapi_task_check
  dm/tests/openapi/run.sh
Due: dm

fix
  dm/tests/openapi/client/openapi_task_check
Due: dm

add test
  dm/openapi/gen.server.go
  dm/openapi/gen.types.go
  dm/openapi/spec/dm.yaml
  dm/tests/openapi/client/openapi_task_check
  dm/tests/openapi/run.sh
Due: dm

adjust the log
  cdc/puller/multiplexing_puller.go
Due: cdc

fix test
  dm/tests/openapi/run.sh
Due: dm

regenerate openapi
  dm/openapi/gen.server.go
Due: dm

adjust the log
  cdc/kv/shared_stream.go
Due: cdc

debug
  scripts/download-integration-test-binaries.sh
Due: none

adjust the log
  cdc/entry/schema_storage.go
  cdc/kv/shared_client.go
  cdc/owner/ddl_manager.go
  cdc/puller/ddl_puller.go
  cdc/puller/multiplexing_puller.go
  cdc/scheduler/internal/v3/member/capture_manager.go
Due: cdc

Update tests/integration_tests/partition_table/data/prepare.sql
  tests/integration_tests/partition_table/data/prepare.sql
Due: none
