Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

fix(multi_down_addresses): fix the wrong SQL of duplicate entry for a primary key error
  tests/integration_tests/multi_down_addresses/run.sh
Due: none

fix(start_downstream_tidb_instances): fix the idempotence of `CREATE USER`
  tests/integration_tests/_utils/start_downstream_tidb_instances
Due: none

chore(connector): add the copyright information for the new files
  pkg/sink/mysql/mysql_connector.go
  pkg/sink/mysql/mysql_connector_test.go
Due: cdc

chore(integration test): add the `multi_down_addresses` integration test to the `run_group.sh`
  tests/integration_tests/run_group.sh
Due: none

chore(integration test): format the new files by `make check`
  tests/integration_tests/_utils/start_downstream_tidb_instances
  tests/integration_tests/multi_down_addresses/run.sh
Due: none

docs(connector): add and modify some comments by following the rule of `make check`
  pkg/retry/options.go
  pkg/sink/mysql/mysql_connector.go
  pkg/sink/mysql/mysql_connector_test.go
Due: cdc

refactor(connector): rename `MySQLDBConnector` to `DBConnector` by the suggestion of `make check`
  cdc/sink/ddlsink/mysql/mysql_ddl_sink.go
  cdc/sink/dmlsink/txn/mysql/mysql.go
  cdc/syncpointstore/mysql_syncpoint_store.go
  pkg/sink/mysql/mysql_connector.go
  pkg/sink/mysql/mysql_connector_test.go
  pkg/sink/observer/observer.go
  pkg/sink/observer/tidb.go
  pkg/sink/observer/tidb_test.go
Due: cdc

refactor(connector): rename the function `SwitchToAvailableMySQLDB` to `SwitchToAnAvailableDB`
  cdc/sink/ddlsink/mysql/mysql_ddl_sink.go
  cdc/sink/dmlsink/txn/mysql/mysql.go
  cdc/syncpointstore/mysql_syncpoint_store.go
  pkg/sink/mysql/mysql_connector.go
  pkg/sink/mysql/mysql_connector_test.go
  pkg/sink/observer/tidb.go
Due: cdc

test(multi_down_addresses): add `cdc cli changefeed update` integration test
  tests/integration_tests/multi_down_addresses/conf/diff_config_1.toml
  tests/integration_tests/multi_down_addresses/conf/diff_config_2.toml
  tests/integration_tests/multi_down_addresses/conf/diff_config_3.toml
  tests/integration_tests/multi_down_addresses/data/prepare.sql
  tests/integration_tests/multi_down_addresses/run.sh
Due: none

fix(multi_down_addresses): modify the `changefeed-id` according to the naming convention for changefeed-id
  tests/integration_tests/multi_down_addresses/run.sh
Due: none

fix(multi_down_addresses): fix a naming error of tables
  tests/integration_tests/multi_down_addresses/data/prepare.sql
  tests/integration_tests/multi_down_addresses/run.sh
Due: none

test merge ci for release-7.5
  cdc/http_test.go
  dm/master/server_test.go
Due: cdc, dm

fix kafka metrics
  cdc/sink/dmlsink/mq/worker.go
  pkg/sink/codec/encoder_group.go
  pkg/sink/codec/metrics.go
  pkg/sink/kafka/metrics.go
  pkg/sink/kafka/metrics_collector.go
Due: cdc

test merge ci
  cdc/http_test.go
  dm/master/server_test.go
Due: cdc, dm

update metrics panel
  metrics/grafana/ticdc.json
Due: none

test(multi_down_addresses): add DDL SQL into `multi_down_addresses` integration test for testing DDL Sink when handling connection error
  tests/integration_tests/multi_down_addresses/run.sh
Due: none

fix(multi_down_addresses): fix a wrong SQL by duplicate entry for one key
  tests/integration_tests/multi_down_addresses/run.sh
Due: none

use avg_over_time on the gauge
  metrics/grafana/ticdc.json
  pkg/sink/kafka/metrics_collector.go
Due: cdc

revert change in the async ddl
  cdc/sink/ddlsink/mysql/async_ddl.go
Due: cdc

update
  cdc/sink/ddlsink/mysql/format_ddl_test.go
  cdc/sink/ddlsink/mysql/mysql_ddl_sink.go
  cdc/sink/dmlsink/txn/mysql/dml.go
  cdc/sink/dmlsink/txn/mysql/mysql.go
  go.mod
  go.sum
  pkg/sink/codec/avro/avro.go
  pkg/sink/codec/canal/canal_json_message.go
  pkg/sink/codec/csv/csv_message.go
  pkg/sink/codec/internal/column.go
  tests/integration_tests/vector/conf/diff_config.toml
  tests/integration_tests/vector/data/data.sql
  tests/integration_tests/vector/run.sh
Due: cdc

pkg/causality(cdc): refactor and simplify conflict detector (#10954) (#11272)
  cdc/sinkv2/eventsink/txn/event.go
  cdc/sinkv2/eventsink/txn/event_test.go
  pkg/causality/conflict_detector.go
  pkg/causality/internal/main_test.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots.go
  pkg/causality/internal/slots_test.go
  pkg/causality/tests/integration_test.go
  pkg/causality/tests/worker.go
  pkg/causality/txn_cache.go
  pkg/causality/txn_cache_test.go
  tests/integration_tests/bank/case.go
  tests/integration_tests/bank/run.sh
Due: cdc

fmt
  cdc/sink/ddlsink/mysql/mysql_ddl_sink.go
  cdc/sink/dmlsink/txn/mysql/mysql_test.go
  pkg/sink/codec/internal/java.go
Due: cdc

test chunk
  cdc/entry/mounter.go
  cdc/entry/schema_test_helper.go
Due: cdc

test chunk
  cdc/entry/chunk.go
  cdc/entry/chunk_bench_test.go
  cdc/entry/chunk_test.go
Due: cdc

update metrics
  metrics/grafana/ticdc.json
Due: none

update metrics
  cdc/entry/mounter_group.go
Due: cdc

fix(DDL Sink): fix `IsRetryableDDLError` function to allow DDL to be retryable when encounter network error
  pkg/errorutil/util.go
  pkg/sink/mysql/db_helper.go
  pkg/sink/mysql/mysql_connector.go
Due: cdc

Update sink.go
  cdc/model/sink.go
Due: cdc

feat(connector): add log output
  pkg/sink/mysql/mysql_connector.go
Due: cdc

refactor(connector): modify the log output of `DBConnctor`
  pkg/sink/mysql/mysql_connector.go
Due: cdc

refactor(multi_down_addresses): modify `multi_down_addresses` integration test
  tests/integration_tests/multi_down_addresses/run.sh
Due: none

add benchmark test cases
  cdc/entry/chunk.go
  cdc/entry/chunk_bench_test.go
  cdc/entry/chunk_test.go
  cdc/model/schema_storage.go
  cdc/model/sink.go
Due: cdc

delete memor quota metrics
  cdc/processor/memquota/mem_quota.go
Due: cdc

fix the code
  cdc/sink/ddlsink/cloudstorage/cloud_storage_ddl_sink.go
  cdc/sink/ddlsink/mq/kafka_ddl_sink.go
  cdc/sink/ddlsink/mq/mq_ddl_sink.go
  cdc/sink/ddlsink/mq/pulsar_ddl_sink.go
  cdc/sink/ddlsink/mysql/mysql_ddl_sink.go
  cdc/sink/dmlsink/cloudstorage/cloud_storage_dml_sink.go
  cdc/sink/dmlsink/cloudstorage/dml_worker_test.go
  cdc/sink/dmlsink/mq/mq_dml_sink.go
  cdc/sink/dmlsink/mq/worker.go
  cdc/sink/dmlsink/mq/worker_test.go
  cdc/sink/metrics/statistics.go
Due: cdc

fix build
  cdc/sink/dmlsink/mq/worker.go
  cdc/sink/dmlsink/txn/txn_dml_sink.go
Due: cdc

Disable gosec check for net/http/pprof, we do want to expose it.
  pkg/cmd/redo/apply.go
Due: cdc

fix build
  cdc/sink/dmlsink/txn/mysql/mysql_test.go
Due: cdc
