Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

fix retry logic when check store version failed
  cdc/kv/shared_client.go
  cdc/kv/shared_stream.go
Due: cdc

test wip
  cdc/kv/client_mock_test.go
  cdc/kv/shared_client_test.go
Due: cdc

test wip
  cdc/kv/shared_client_test.go
Due: cdc

add test
  cdc/kv/client_mock_test.go
  cdc/kv/shared_client_test.go
  pkg/version/check.go
Due: cdc

fix the canal-json decoder
  pkg/sink/codec/canal/canal_json_decoder.go
Due: cdc

build table info from the dml events
  pkg/sink/codec/canal/canal_json_decoder.go
Due: cdc

use nightly tidb instead of latest
  dm/tests/mariadb_master_down_and_up/docker-compose.yml
  dm/tests/upstream_switch/docker-compose.yml
Due: dm

*: upgrade tidb
  go.mod
  go.sum
Due: none

test(ticdc): fix region_merge test case (#11881)
  tests/integration_tests/region_merge/run.sh
Due: none

*: upgrade tidb parser
  go.mod
  go.sum
Due: none

ddl_puller.go: resolve conflicts
  cdc/puller/ddl_puller.go
Due: cdc

dm: update checker.go
  dm/checker/checker.go
Due: dm

try to build table schema from the dml message
  pkg/sink/codec/canal/canal_json_decoder.go
  pkg/sink/codec/canal/canal_json_message.go
Due: cdc

try to build table schema from the dml message
  pkg/sink/codec/canal/canal_json_decoder.go
Due: cdc

use flag pointer, instead of copy
  cdc/model/schema_storage.go
Due: cdc

query table info
  cdc/model/schema_storage.go
  pkg/sink/codec/canal/canal_json_message.go
Due: cdc

write certificate files
  dm/config/security/security.go
  dm/config/task_converters.go
  dm/loader/lightning.go
  dm/tests/openapi/client/openapi_task_check
  dm/tests/openapi/run.sh
Due: dm

add comment
  dm/loader/lightning.go
Due: dm

*: prompt k8s.io/api version (#11866) (#11899)
  go.mod
  go.sum
Due: none

refactor the signature
  pkg/sink/codec/canal/canal_json_decoder.go
  pkg/sink/codec/canal/canal_json_message.go
Due: cdc

fix the make fmt
  pkg/sink/codec/canal/canal_json_decoder.go
  pkg/sink/codec/canal/canal_json_message.go
Due: cdc

fix the make fmt
  pkg/sink/codec/canal/canal_json_decoder.go
Due: cdc

revert the test
  scripts/download-integration-test-binaries.sh
  tests/integration_tests/cdc/dailytest/dailytest.go
Due: none

reduce memory cost
  pkg/sink/codec/simple/message.go
Due: cdc

fix
  cdc/entry/schema_storage.go
  cdc/puller/ddl_puller.go
  tests/integration_tests/ddl_with_exists/conf/diff_config.toml
  tests/integration_tests/ddl_with_exists/run.sh
  tests/integration_tests/ddl_with_exists/test.go
Due: cdc

enable new test
  tests/integration_tests/run_group.sh
Due: none

add copyright
  tests/integration_tests/ddl_with_exists/test.go
Due: none

fix the case
  pkg/sink/codec/canal/canal_json_message.go
Due: cdc

fix the unit test
  pkg/sink/codec/canal/canal_json_row_event_encoder_test.go
  pkg/sink/codec/common/config.go
  pkg/sink/codec/encoder.go
Due: cdc

redo(ticdc): Fix RedoLogWriter unit test (#11853)
  cdc/redo/writer/memory/mem_log_writer_test.go
Due: cdc

fix the unit test
  pkg/sink/codec/encoder.go
Due: cdc

comment out deregister
  cdc/kv/shared_stream.go
Due: cdc

wip
  cdc/kv/shared_stream.go
Due: cdc

check
  cdc/kv/shared_stream.go
Due: cdc

add more log
  cdc/kv/shared_stream.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
