Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

Update tracker.go
  dm/pkg/schema/tracker.go
Due: dm

add comment
  dm/pkg/schema/tracker.go
Due: dm

api (ticdc): check http request context in api helper (#11165) (#11398)
  cdc/api/v2/api_helpers.go
  cdc/api/v2/api_helpers_mock.go
  cdc/api/v2/changefeed.go
  cdc/api/v2/changefeed_test.go
Due: cdc

simple (ticdc): support send all tables bootstrap message at changefeed start (#11239) (#11439)
  cdc/api/v2/model.go
  cdc/api/v2/model_test.go
  cdc/entry/schema_test_helper.go
  cdc/owner/changefeed.go
  cdc/owner/changefeed_test.go
  cdc/owner/ddl_manager.go
  cdc/owner/ddl_manager_test.go
  cdc/owner/ddl_sink.go
  pkg/cmd/util/helper_test.go
  pkg/config/config_test_data.go
  pkg/config/replica_config.go
  pkg/config/sink.go
  pkg/config/sink_test.go
  pkg/orchestrator/reactor_state_test.go
  tests/integration_tests/kafka_simple_basic/conf/changefeed.toml
Due: cdc

schematracker(dm): Increase max-index-length config for dm schema tracker (#11465)
  dm/pkg/schema/tracker.go
  dm/pkg/schema/tracker_test.go
Due: dm

codec(ticdc): simple decoder set column flag incorrectly since miss index id (#11235) (#11243)
  pkg/sink/codec/simple/decoder.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
Due: cdc

fix conflict.
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/open/open_protocol_encoder_test.go
Due: cdc

change max-index-length config for dm schema tracker
  dm/pkg/schema/tracker.go
  dm/pkg/schema/tracker_test.go
Due: dm

schematracker(dm): Increase max-index-length config for dm schema tracker (#11465) (#11466)
  dm/pkg/schema/tracker.go
  dm/pkg/schema/tracker_test.go
Due: dm

fix ut
  pkg/sink/codec/avro/avro_test.go
Due: cdc

encoder(ticdc): fix simple decoder set index column offset incorrect (#11222) (#11229)
  pkg/sink/codec/open/open_protocol_encoder_test.go
  pkg/sink/codec/simple/avro.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/utils/test_utils.go
Due: cdc

kafka(ticdc): claim check support large message raw value format (#11395)
  cdc/api/v2/model.go
  pkg/config/config_test_data.go
  pkg/config/large_message.go
  pkg/config/large_message_test.go
  pkg/sink/codec/canal/canal_json_decoder.go
  pkg/sink/codec/canal/canal_json_row_event_encoder.go
  pkg/sink/codec/canal/canal_json_row_event_encoder_test.go
  pkg/sink/codec/open/open_protocol_encoder.go
  pkg/sink/codec/simple/decoder.go
  pkg/sink/codec/simple/encoder.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/kafka/claimcheck/claim_check.go
  pkg/sink/kafka/claimcheck/claim_check_test.go
Due: cdc

pkg/causality(cdc): refactor and simplify conflict detector (#10954) (#11275)
  cdc/sink/dmlsink/txn/event.go
  cdc/sink/dmlsink/txn/event_test.go
  pkg/causality/conflict_detector.go
  pkg/causality/internal/main_test.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots.go
  pkg/causality/internal/slots_test.go
  pkg/causality/tests/integration_test.go
  pkg/causality/tests/worker.go
  pkg/causality/txn_cache.go
  pkg/causality/txn_cache_test.go
Due: cdc

resolve conflict
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_test.go
  cdc/entry/validator.go
  tests/integration_tests/http_api_tls/run.sh
Due: cdc

resolve conflict 2
  go.mod
  go.sum
Due: none

entry (ticdc): speed up schema snapshot initialization (#11217) (#11437)
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_test.go
  cdc/entry/validator.go
  go.mod
  go.sum
  tests/integration_tests/http_api_tls/run.sh
Due: cdc

pkg/version(*): Improve Go version reporting (#11452)
  Makefile
  pkg/version/version.go
Due: cdc

skip verification on the v1 old value.
  cdc/entry/mounter.go
Due: cdc

processor: fix a bug that will cause processor Tick get stuck when downstream is Kafka (#11339) (#11390)
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sinkmanager/manager_test.go
  cdc/processor/sinkmanager/table_sink_wrapper.go
  cdc/processor/sinkmanager/table_sink_wrapper_test.go
  pkg/config/sink.go
  pkg/sink/kafka/sarama_factory.go
  tests/integration_tests/hang_sink_suicide/conf/changefeed.toml
  tests/integration_tests/hang_sink_suicide/conf/diff_config.toml
  tests/integration_tests/hang_sink_suicide/run.sh
  tests/integration_tests/run_group.sh
Due: cdc

update
  cdc/api/v2/api.go
  cdc/api/v2/api_helpers.go
  cdc/api/v2/api_helpers_mock.go
  cdc/api/v2/model.go
  cdc/api/v2/safe_point_test.go
  cdc/api/v2/safepoint.go
  pkg/api/v2/api_client.go
  pkg/api/v2/safepoint.go
  pkg/cmd/cli/cli.go
  pkg/cmd/cli/cli_safepoint.go
  pkg/cmd/cli/cli_safepoint_delete.go
  pkg/cmd/cli/cli_safepoint_query.go
  pkg/cmd/cli/cli_safepoint_set.go
  pkg/errors/cdc_errors.go
Due: cdc

ticdc: fix cleartext Transmission (#11442)
  cmd/kafka-consumer/main.go
  cmd/storage-consumer/main.go
  pkg/cmd/redo/apply.go
Due: cdc

update
  cdc/api/v2/api_helpers.go
  cdc/api/v2/api_helpers_mock.go
  cdc/api/v2/safe_point_test.go
  cdc/api/v2/safepoint.go
  pkg/cmd/cli/cli_safepoint_query.go
Due: cdc

mounter(ticdc): do not report error is verify old value checksum v1 failed (#11469)
  cdc/entry/mounter.go
Due: cdc

fmt
  cdc/api/v2/safepoint.go
  pkg/cmd/cli/cli_safepoint_delete.go
  pkg/cmd/cli/cli_safepoint_set.go
Due: cdc

update
  metrics/alertmanager/ticdc.rules.yml
Due: none

update
  cdc/api/v2/api_helpers.go
  cdc/api/v2/model.go
  cdc/api/v2/safe_point_test.go
  cdc/api/v2/safepoint.go
Due: cdc

update
  cdc/api/v2/model.go
  cdc/api/v2/safe_point_test.go
  cdc/api/v2/safepoint.go
  pkg/api/v2/api_client.go
  pkg/api/v2/safepoint.go
  pkg/cmd/cli/cli_safepoint_delete.go
  pkg/cmd/cli/cli_safepoint_query.go
  pkg/cmd/cli/cli_safepoint_set.go
Due: cdc

alter(ticdc): fix alter calculation for cdc_multiple_owners and cdc_no_owners (#11472)
  metrics/alertmanager/ticdc.rules.yml
Due: none

fmt
  cdc/api/v2/safepoint.go
Due: cdc

add more logs
  cdc/kv/shared_stream.go
Due: cdc

add more logs
  cdc/kv/shared_client.go
  cdc/kv/shared_stream.go
Due: cdc

adjust logs
  cdc/kv/shared_stream.go
Due: cdc

syncpoint(ticdc): set write source before creating SyncTable (#11377)
  cdc/owner/ddl_sink.go
  cdc/syncpointstore/mysql_syncpoint_store.go
  cdc/syncpointstore/syncpoint_store.go
  tests/integration_tests/bdr_mode/conf/down.toml
  tests/integration_tests/bdr_mode/run.sh
Due: cdc

update
  metrics/grafana/ticdc.json
Due: none

metrics(ticdc): fix metrics calculation for Ownership history (#11474)
  metrics/grafana/ticdc.json
Due: none

update
  cdc/api/v2/safepoint.go
  errors.toml
  pkg/errors/cdc_errors.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
