Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

redo(ticdc): Fix RedoLogWriter unit test (#11853) (#11939)
  cdc/redo/writer/memory/mem_log_writer_test.go
Due: cdc

adjust log field name
  cmd/kafka-consumer/event_group.go
Due: cdc

ignore events
  cmd/kafka-consumer/writer.go
Due: cdc

dm: download docker-compose in github action (#11944)
  .github/workflows/dm_mariadb_master_down_and_up.yaml
Due: none

Update run.sh
  tests/integration_tests/ddl_with_exists/run.sh
Due: none

fix checker only with `LightningTableEmptyChecking`
  dm/checker/checker.go
Due: dm

set the cache length to 1024
  cmd/kafka-consumer/event_group.go
Due: cdc

ddl(ticdc): support restoring add index statements with pre-split option (#11926)
  cdc/owner/ddl_sink_test.go
  go.mod
  go.sum
Due: cdc

Update log.go
  dm/tests/utils/log.go
Due: dm

add more sarama log
  go.mod
Due: none

.
  go.sum
Due: none

add sarama send msg log
  pkg/sink/kafka/factory.go
Due: cdc

add headers
  pkg/sink/codec/common/message.go
  pkg/sink/kafka/factory.go
Due: cdc

remove check sorted or not
  cmd/kafka-consumer/event_group.go
Due: cdc

fix
  dm/config/task.go
Due: dm

Update OWNERS file
  OWNERS
Due: none

puller: fix retry logic when check store version failed (#11903) (#11931)
  cdc/kv/shared_client.go
  cdc/kv/shared_client_test.go
  cdc/kv/shared_stream.go
  pkg/version/check.go
Due: cdc

fix test
  dm/tests/dmctl_basic/conf/get_task.yaml
  dm/tests/import_v10x/conf/task.yaml
Due: dm

fix test
  dm/master/openapi_controller_test.go
Due: dm

add table
  pkg/sink/codec/common/message.go
  pkg/sink/kafka/factory.go
Due: cdc

fix
  pkg/filter/sql_event_filter.go
  pkg/filter/sql_event_filter_test.go
Due: cdc

fix
  cdc/processor/sourcemanager/manager.go
  cdc/puller/multiplexing_puller.go
Due: cdc

add integration test
  tests/integration_tests/event_filter/conf/cf.toml
  tests/integration_tests/event_filter/data/test.sql
  tests/integration_tests/event_filter/data/test_rename.sql
  tests/integration_tests/event_filter/run.sh
Due: none

fix make fmt
  pkg/logutil/log.go
Due: cdc

fix
  cdc/puller/ddl_puller.go
Due: cdc

fix
  tests/integration_tests/event_filter/conf/diff_config.toml
  tests/integration_tests/event_filter/data/test_rename.sql
Due: none

consumer(ticdc): do not sort to detect out of order events (#11934)
  cmd/kafka-consumer/event_group.go
  cmd/kafka-consumer/writer.go
Due: cdc

fix
  cdc/processor/processor.go
  cdc/processor/sourcemanager/manager.go
  cdc/puller/ddl_puller.go
  cdc/puller/multiplexing_puller.go
Due: cdc

fix tests
  cdc/puller/multiplexing_puller.go
Due: cdc

kafka(ticdc): sarama do not retry if produce message failed to prevent out of order (#11870)
  pkg/logutil/log.go
  pkg/sink/kafka/sarama.go
Due: cdc

fix
  tests/integration_tests/event_filter/conf/diff_config.toml
Due: none

update comment
  dm/loader/lightning.go
Due: dm

update test use github.com/stretchr/testify/require
  dm/config/security_test.go
Due: dm

update
  cdc/sink/dmlsink/factory/factory.go
  cmd/kafka-consumer/writer.go
  cmd/pulsar-consumer/main.go
  cmd/storage-consumer/main.go
Due: cdc

redo(ticdc): Fix RedoLogWriter unit test (#11853) (#11938)
  cdc/redo/writer/memory/mem_log_writer_test.go
Due: cdc
