Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

update
  cdc/owner/changefeed.go
Due: cdc

Update chann.go
  pkg/chann/chann.go
Due: cdc

update
  cdc/owner/changefeed.go
  cdc/owner/changefeed_test.go
  cdc/owner/ddl_manager_test.go
  cdc/owner/owner_test.go
  cdc/processor/manager.go
Due: cdc

update
  cdc/processor/manager.go
  pkg/chann/chann.go
  pkg/chann/chann_test.go
Due: cdc

.
  cdc/owner/changefeed_test.go
Due: cdc

chore
  cdc/owner/changefeed_test.go
Due: cdc

Update chann_test.go
  pkg/chann/chann_test.go
Due: cdc

fix
  cdc/processor/processor.go
Due: cdc

fix
  cdc/owner/changefeed_test.go
  cdc/owner/ddl_manager_test.go
  cdc/owner/owner_test.go
Due: cdc

fix
  go.mod
  go.sum
Due: none

update deps
  go.mod
  go.sum
Due: none

update
  go.mod
  go.sum
Due: none

update
  cdc/owner/changefeed_test.go
Due: cdc

Release-testing: v7.5.7 tiflow repo CI trigger
  dm/checker/check_test.go
Due: dm

Update cases.go
  dm/chaos/cases/cases.go
Due: dm

*: bump jwt and jose2go (#12250) (#12264)
  go.mod
  go.sum
Due: none

sync_diff_inspector: Use TLS by default
  sync_diff_inspector/config/config.go
  sync_diff_inspector/config/config_test.go
Due: none

Update sync_diff_inspector/config/config.go
  sync_diff_inspector/config/config.go
Due: none

Fix uuid testing
  sync_diff_inspector/config/config.go
  sync_diff_inspector/config/config_test.go
Due: none

Fix formatting
  sync_diff_inspector/config/config.go
Due: none

Ignore this InsecureSkipVerify issue
  sync_diff_inspector/config/config.go
Due: none

implement log redaction
  cdc/api/middleware/middleware.go
  cdc/entry/mounter.go
  cdc/entry/schema_storage.go
  cdc/kv/regionlock/region_range_lock.go
  cdc/puller/ddl_puller.go
  cdc/scheduler/internal/v3/keyspan/splitter_region_count.go
  cmd/dm-worker/main.go
  dm/pkg/conn/baseconn.go
  dm/pkg/conn/basedb.go
  dm/pkg/log/log.go
  dm/syncer/dbconn/db.go
  dm/worker/config.go
  docs/log-redaction.md
  engine/executor/fakejob/worker.go
  engine/pkg/httputil/job_client.go
  engine/pkg/orm/log.go
  pkg/cmd/server/server.go
  pkg/config/server_config.go
  pkg/logutil/integration_test.go
  pkg/logutil/log.go
  pkg/logutil/log_redact_test.go
  pkg/logutil/redact/redact.go
  pkg/logutil/redact/redact_test.go
  pkg/logutil/redact_type.go
  pkg/logutil/redact_type_test.go
  pkg/logutil/unified_redaction_test.go
  pkg/sink/codec/avro/confluent_schema_registry.go
Due: cdc, dm, engine

Add unit test for gtid_mode in lower case.
  dm/pkg/conn/db_test.go
Due: dm

Use lower case for sysvar just in case upstream databases (such as txsql) are case sensitive.
  dm/pkg/conn/db.go
Due: dm

Update function comment accordingly.
  dm/pkg/conn/db.go
Due: dm

A better unit test using sqlmock.
  dm/pkg/conn/db_test.go
Due: dm

Remove unnecessary comments.
  dm/pkg/conn/db_test.go
Due: dm

Update test.
  dm/pkg/conn/db_test.go
Due: dm

This is an automated cherry-pick of #12169
  dm/pkg/utils/db.go
  dm/pkg/utils/db_test.go
Due: dm

Manually resolve conflicts.
  dm/pkg/utils/db.go
  dm/pkg/utils/db_test.go
Due: dm

DM: Use lower case for Sysvar 'gtid_mode' for better upstream compatibility. (#12169) (#12273)
  dm/pkg/utils/db.go
  dm/pkg/utils/db_test.go
Due: dm

DM: Use lower case for Sysvar 'gtid_mode' for better upstream compatibility. (#12169) (#12272)
  dm/pkg/conn/db.go
  dm/pkg/conn/db_test.go
Due: dm

cloudstorage: fix a bug causing context cancelled errors and stuck sink
  pkg/util/external_storage.go
  pkg/util/external_storage_test.go
Due: cdc

address review comment
  pkg/util/external_storage.go
Due: cdc

api(ticdc): add more verification for changefeed config (#12256)
  cdc/api/v2/api_helpers.go
  cdc/api/v2/api_helpers_test.go
  cdc/api/v2/api_test.go
  errors.toml
  pkg/errors/cdc_errors.go
  tests/integration_tests/api_v2/cases.go
  tests/integration_tests/api_v2/model.go
  tests/integration_tests/api_v2/run.sh
  tests/integration_tests/http_api/run.sh
  tests/integration_tests/http_api/util/test_case.py
  tests/integration_tests/http_api_tls/run.sh
  tests/integration_tests/http_api_tls/util/test_case.py
  tests/integration_tests/http_api_tls_with_user_auth/run.sh
  tests/integration_tests/http_api_tls_with_user_auth/util/test_case.py
Due: cdc

docs(ticdc): update command for downloading test binaries in README
  tests/integration_tests/README.md
Due: none

cloudstorage: fix a bug causing context cancelled errors and stuck sink (#12276)
  pkg/util/external_storage.go
  pkg/util/external_storage_test.go
Due: cdc

This is an automated cherry-pick of #12276
  pkg/util/external_storage.go
  pkg/util/external_storage_test.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
