Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

chore: Support downloading dependencies from a specified branch
  dm/tests/download-compatibility-test-binaries.sh
  dm/tests/download-integration-test-binaries.sh
Due: dm

add changefeed level unit test to cover send bootstrap message failed.
  cdc/owner/changefeed_test.go
  cdc/owner/ddl_manager_test.go
Due: cdc

fix some metrics
  metrics/grafana/ticdc.json
Due: none

fix make fmt
  pkg/config/db.go
  pkg/config/debug.go
  pkg/config/kvclient.go
Due: cdc

fix the typo
  cdc/owner/ddl_manager.go
Due: cdc

tiny adjust log
  cdc/owner/ddl_manager.go
Due: cdc

rename bootstrap to bootstrapState
  cdc/owner/ddl_manager.go
Due: cdc

metrics(ticdc): fix some missing db sorter related metrics (#11547)
  cdc/scheduler/internal/v3/agent/agent.go
  cdc/scheduler/internal/v3/replication/replication_manager.go
  metrics/grafana/ticdc.json
  pkg/config/db.go
  pkg/config/debug.go
  pkg/config/kvclient.go
  pkg/config/server_config.go
Due: cdc

fix test
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
  cdc/entry/schema_storage_test.go
  cdc/entry/schema_test_helper.go
  cdc/sink/dmlsink/txn/mysql/mysql_test.go
  dm/pkg/conn/mockdb.go
  pkg/election/storage_orm_test.go
  pkg/filter/filter_test_helper.go
  pkg/sink/codec/avro/avro.go
  pkg/sink/codec/canal/canal_entry_test.go
  pkg/sink/codec/canal/canal_json_row_event_encoder_test.go
  pkg/sink/codec/common/verify_checksum.go
  pkg/sink/codec/open/open_protocol_encoder_test.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
  pkg/sink/codec/utils/test_utils.go
  tests/integration_tests/vector/run.sh
Due: cdc, dm

chore
  cdc/sink/ddlsink/mysql/format_ddl.go
  cdc/sink/ddlsink/mysql/mysql_ddl_sink.go
Due: cdc

fix
  engine/pkg/meta/internal/sqlkv/sql_impl_test.go
  engine/pkg/orm/client_test.go
  engine/pkg/orm/model/logic_epoch_test.go
Due: engine

.
  dm/syncer/expr_filter_group_test.go
Due: dm

lint
  cdc/sink/ddlsink/mysql/format_ddl_test.go
  cdc/sink/util/vector.go
Due: cdc

sink(ticdc): use admin statement to query async ddl status (#11535)
  cdc/sinkv2/ddlsink/mysql/async_ddl.go
  cdc/sinkv2/ddlsink/mysql/async_ddl_test.go
Due: cdc

sink(ticdc): use admin statement to query async ddl status (#11535)
  cdc/sink/ddlsink/mysql/async_ddl.go
  cdc/sink/ddlsink/mysql/async_ddl_test.go
Due: cdc

sink(ticdc): use admin statement to query async ddl status (#11535) (#11549)
  cdc/sink/ddlsink/mysql/async_ddl.go
  cdc/sink/ddlsink/mysql/async_ddl_test.go
Due: cdc

debug
  go.mod
  go.sum
Due: none

sink(ticdc): use admin statement to query async ddl status (#11535) (#11550)
  cdc/sinkv2/ddlsink/mysql/async_ddl.go
  cdc/sinkv2/ddlsink/mysql/async_ddl_test.go
Due: cdc

revert
  cdc/entry/mounter_test.go
  cdc/entry/schema_storage_test.go
  cdc/entry/schema_test_helper.go
  engine/pkg/meta/internal/sqlkv/sql_impl_test.go
  engine/pkg/orm/client_test.go
  engine/pkg/orm/model/logic_epoch_test.go
  pkg/election/storage_orm_test.go
Due: cdc, engine

ci: udpate OWNERS_ALIASES file (#11571)
  OWNERS_ALIASES
Due: none

revert
  engine/pkg/orm/client_test.go
  pkg/filter/filter_test_helper.go
Due: cdc, engine

sink(ticdc): use admin statement to query async ddl status (#11535) (#11552)
  cdc/sink/ddlsink/mysql/async_ddl.go
  cdc/sink/ddlsink/mysql/async_ddl_test.go
Due: cdc

sink(ticdc): use admin statement to query async ddl status (#11535) (#11551)
  cdc/sink/ddlsink/mysql/async_ddl.go
  cdc/sink/ddlsink/mysql/async_ddl_test.go
Due: cdc

init
  cdc/processor/sourcemanager/sorter/pebble/event_sorter.go
Due: cdc

add congested error.
  cdc/kv/shared_client.go
  go.mod
  go.sum
Due: cdc

refactor(puller): add error handling when the `job_meta` from tidb is unexpected
  cdc/puller/ddl_puller.go
  pkg/errors/cdc_errors.go
Due: cdc

chore(errors): modify errors.toml by `make check`
  errors.toml
Due: none

refactor(ddl): modify a error message
  cdc/puller/ddl_puller.go
Due: cdc

sorter: correct wrong metric about next duration (#11577)
  cdc/processor/sourcemanager/sorter/pebble/event_sorter.go
Due: cdc

This is an automated cherry-pick of #11577
  cdc/processor/sourcemanager/engine/pebble/event_sorter.go
Due: cdc

fix conflicts
  cdc/processor/sourcemanager/engine/pebble/event_sorter.go
Due: cdc

update
  tests/integration_tests/kafka_simple_basic/data/data.sql
  tests/integration_tests/kafka_simple_basic_avro/data/data.sql
Due: none

changefeed(ticdc): send bootstrap message asynchronously to prevent block other changefeeds (#11573)
  cdc/owner/changefeed.go
  cdc/owner/changefeed_test.go
  cdc/owner/ddl_manager.go
  cdc/owner/ddl_manager_test.go
Due: cdc

update go mod
  go.mod
  go.sum
Due: none

fix the build
  cdc/kv/shared_client.go
Due: cdc

Release-testing: v6.5.11 tiflow repo CI trigger
  cdc/doc.go
Due: cdc
