Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

small fix
  tests/integration_tests/ci_collation_compatibility/data/test.sql
Due: none

fix collation and add tests
  cmd/cdc/main.go
  tests/integration_tests/ci_collation_compatibility/conf/diff_config.toml
  tests/integration_tests/ci_collation_compatibility/conf/tidb_config.toml
  tests/integration_tests/ci_collation_compatibility/conf/workload
  tests/integration_tests/ci_collation_compatibility/run.sh
  tests/integration_tests/run_group.sh
Due: cdc

small fix
  tests/integration_tests/ci_collation_compatibility/run.sh
Due: none

mounter(ticdc): fix decoding when upstream doesn't enable new collation (#11370) (#11378)
  cmd/cdc/main.go
  tests/integration_tests/bdr_mode/conf/diff_config.toml
  tests/integration_tests/ci_collation_compatibility/conf/diff_config.toml
  tests/integration_tests/ci_collation_compatibility/conf/tidb_config.toml
  tests/integration_tests/ci_collation_compatibility/data/test.sql
  tests/integration_tests/ci_collation_compatibility/run.sh
  tests/integration_tests/run_group.sh
Due: cdc

mounter(ticdc): decode bytes-level checksum and encode columns-level checksum (#10706)
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
  dm/pkg/schema/tracker.go
  go.mod
  go.sum
  tests/integration_tests/bdr_mode/run.sh
  tests/integration_tests/kafka_simple_basic_avro/data/data.sql
Due: cdc, dm

mounter(ticdc): fix decoding when upstream doesn't enable new collation (#11370) (#11379)
  cmd/cdc/main.go
  tests/integration_tests/bdr_mode/conf/diff_config.toml
  tests/integration_tests/ci_collation_compatibility/conf/diff_config.toml
  tests/integration_tests/ci_collation_compatibility/conf/tidb_config.toml
  tests/integration_tests/ci_collation_compatibility/data/test.sql
  tests/integration_tests/ci_collation_compatibility/run.sh
  tests/integration_tests/run_group.sh
Due: cdc

consumer(ticdc): enlarge s3 retry to make consumer more robust to the external storage failure (#11364)
  cmd/kafka-consumer/consumer.go
  cmd/kafka-consumer/event_group.go
  cmd/kafka-consumer/writer.go
  pkg/sink/codec/canal/canal_json_decoder.go
  pkg/sink/codec/open/open_protocol_decoder.go
  pkg/sink/codec/simple/decoder.go
  pkg/util/external_storage.go
Due: cdc

add more unit test dml
  tests/integration_tests/kafka_simple_basic_avro/data/data.sql
Due: none

remove some comment.
  cdc/entry/mounter.go
Due: cdc

also check offset.
  cmd/kafka-consumer/writer.go
Due: cdc

fix
  cmd/kafka-consumer/writer.go
Due: cdc

add one comment.
  cmd/kafka-consumer/writer.go
Due: cdc

fix log
  cmd/kafka-consumer/writer.go
Due: cdc

processor: fix a bug that will cause processor Tick get stuck when downstream is Kafka (#11339)
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sinkmanager/manager_test.go
  cdc/processor/sinkmanager/table_sink_wrapper.go
  cdc/processor/sinkmanager/table_sink_wrapper_test.go
  pkg/config/sink.go
  pkg/sink/kafka/sarama_factory.go
  tests/integration_tests/hang_sink_suicide/conf/changefeed.toml
  tests/integration_tests/hang_sink_suicide/conf/diff_config.toml
  tests/integration_tests/hang_sink_suicide/run.sh
  tests/integration_tests/run_group.sh
Due: cdc

This is an automated cherry-pick of #11339
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sinkmanager/manager_test.go
  cdc/processor/sinkmanager/table_sink_wrapper.go
  cdc/processor/sinkmanager/table_sink_wrapper_test.go
  pkg/config/sink.go
  pkg/sink/kafka/sarama_factory.go
  tests/integration_tests/hang_sink_suicide/conf/changefeed.toml
  tests/integration_tests/hang_sink_suicide/conf/diff_config.toml
  tests/integration_tests/hang_sink_suicide/run.sh
  tests/integration_tests/run_group.sh
Due: cdc

consumer(ticdc): do not panic the consumer if read previous offset message (#11385)
  cmd/kafka-consumer/writer.go
Due: cdc

disable clustered index
  tests/integration_tests/kafka_simple_basic/data/data.sql
  tests/integration_tests/kafka_simple_basic/run.sh
Due: none

add more test.
  tests/integration_tests/kafka_simple_basic/data/data.sql
  tests/integration_tests/kafka_simple_basic_avro/data/data.sql
Due: none

union pk case.
  tests/integration_tests/kafka_simple_basic/data/data.sql
  tests/integration_tests/kafka_simple_basic_avro/data/data.sql
Due: none

fix sql.
  tests/integration_tests/kafka_simple_basic/data/data.sql
Due: none

fix sql.
  tests/integration_tests/kafka_simple_basic_avro/data/data.sql
Due: none

test(ticdc): add more integration test dml to cover checksum (#11382)
  cdc/entry/mounter.go
  tests/integration_tests/kafka_simple_basic/data/data.sql
  tests/integration_tests/kafka_simple_basic/run.sh
  tests/integration_tests/kafka_simple_basic_avro/data/data.sql
Due: cdc

fix errdoc
  errors.toml
Due: none

return invalid topic expression in ErrKafkaInvalidTopicExpression
  cdc/sink/dmlsink/mq/dispatcher/topic/expression.go
  cdc/sink/dmlsink/mq/dispatcher/topic/expression_test.go
  pkg/errors/cdc_errors.go
Due: cdc

add it
  tests/integration_tests/bdr_mode/conf/down.toml
  tests/integration_tests/bdr_mode/run.sh
Due: none

fix run
  tests/integration_tests/run_group.sh
Due: none

fix test
  tests/integration_tests/mq_split_by_partition_key_normal/conf/changefeed-columns-b-fail.toml
  tests/integration_tests/mq_split_by_partition_key_normal/data/data.sql
  tests/integration_tests/mq_split_by_partition_key_normal/run.sh
  tests/integration_tests/mq_split_by_partition_key_uk/run.sh
Due: none

add more test
  tests/integration_tests/mq_split_by_partition_key/conf/changefeed-kafka.toml
  tests/integration_tests/mq_split_by_partition_key/conf/diff_config.toml
  tests/integration_tests/mq_split_by_partition_key/run.sh
Due: none

add more test
  tests/integration_tests/mq_split_by_partition_key/conf/changefeed-index-default-config.toml
  tests/integration_tests/mq_split_by_partition_key/conf/changefeed-index-fail.toml
  tests/integration_tests/mq_split_by_partition_key/conf/changefeed-index-succ.toml
Due: none

fix it
  tests/integration_tests/_utils/run_kafka_consumer
  tests/integration_tests/mq_split_by_partition_key_normal/conf/changefeed-columns-b-default-config.toml
  tests/integration_tests/mq_split_by_partition_key_normal/conf/changefeed-columns-b-fail.toml
  tests/integration_tests/mq_split_by_partition_key_normal/conf/changefeed-columns-b-succ.toml
  tests/integration_tests/mq_split_by_partition_key_normal/conf/diff_config.toml
  tests/integration_tests/mq_split_by_partition_key_normal/data/data.sql
  tests/integration_tests/mq_split_by_partition_key_normal/run.sh
  tests/integration_tests/mq_split_by_partition_key_uk/conf/changefeed-columns-default-config.toml
  tests/integration_tests/mq_split_by_partition_key_uk/conf/changefeed-columns-fail.toml
  tests/integration_tests/mq_split_by_partition_key_uk/conf/changefeed-columns-succ.toml
  tests/integration_tests/mq_split_by_partition_key_uk/conf/changefeed-index-default-config.toml
  tests/integration_tests/mq_split_by_partition_key_uk/conf/changefeed-index-fail.toml
  tests/integration_tests/mq_split_by_partition_key_uk/conf/changefeed-index-succ.toml
  tests/integration_tests/mq_split_by_partition_key_uk/conf/diff_config.toml
  tests/integration_tests/mq_split_by_partition_key_uk/data/data.sql
  tests/integration_tests/mq_split_by_partition_key_uk/run.sh
  tests/integration_tests/run_group.sh
Due: none

add more test
  tests/integration_tests/mq_split_by_partition_key/conf/changefeed-columns-default-config.toml
  tests/integration_tests/mq_split_by_partition_key/conf/changefeed-columns-fail.toml
  tests/integration_tests/mq_split_by_partition_key/conf/changefeed-columns-succ.toml
Due: none

fix
  Makefile
  cdc/sink/dmlsink/mq/dispatcher/partition/index_value.go
  cdc/sink/dmlsink/mq/mq_dml_sink.go
  tests/integration_tests/mq_split_by_partition_key/conf/changefeed-kafka.toml
  tests/integration_tests/mq_split_by_partition_key/conf/diff_config.toml
  tests/integration_tests/mq_split_by_partition_key/data/data.sql
  tests/integration_tests/mq_split_by_partition_key/run.sh
Due: cdc
