Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

remove some logs.
  pkg/sink/codec/simple/message.go
Due: cdc

fix code.
  pkg/sink/codec/common/verify_checksum.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
Due: cdc

Reapply "sink-to-mysql(cdc) simplify conflict detector, prevent workload skew issue (#10376)"
  pkg/causality/conflict_detector.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots_test.go
Due: cdc

fix code.
  pkg/causality/internal/node.go
Due: cdc

add one comment.
  examples/golang/avro-checksum-verification/main.go
Due: none

add an oauth2 server
  Makefile
  cmd/oauth2-server/main.go
  go.mod
  go.sum
Due: cdc

fix decoder.
  cmd/kafka-consumer/main.go
  pkg/sink/codec/avro/decoder.go
  pkg/sink/codec/avro/decoder_test.go
Due: cdc

go mod tidy
  go.mod
  go.sum
Due: none

gc(ticdc): add min service gc safe point metrics (#10553)
  cdc/server/metrics.go
  metrics/grafana/ticdc.json
  pkg/txnutil/gc/gc_manager.go
  pkg/txnutil/gc/metrics.go
Due: cdc

This is an automated cherry-pick of #10553
  cdc/server/metrics.go
  metrics/grafana/ticdc.json
  pkg/txnutil/gc/gc_manager.go
  pkg/txnutil/gc/metrics.go
Due: cdc

fix linter.
  cdc/entry/mounter_test.go
Due: cdc

add test_master_down_and_up case
  dm/tests/mariadb_master_down_and_up/case.sh
  dm/tests/mariadb_master_down_and_up/conf/diff_config.toml
  dm/tests/mariadb_master_down_and_up/conf/source1.yaml
  dm/tests/mariadb_master_down_and_up/conf/task-pessimistic.yaml
  dm/tests/mariadb_master_down_and_up/docker-compose.yml
  dm/tests/mariadb_master_down_and_up/lib.sh
Due: dm

update go-mysql&&fix update
  dm/pkg/binlog/event/common.go
  dm/pkg/binlog/event/event.go
  dm/pkg/binlog/event/event_test.go
  dm/pkg/binlog/event/generator.go
  dm/tests/mariadb_master_down_and_up/docker-compose.yml
  go.mod
  go.sum
Due: dm

set timezone on mysql db.
  pkg/sink/codec/simple/decoder.go
Due: cdc

set timezone on mysql db.
  pkg/sink/codec/canal/canal_json_decoder.go
  pkg/sink/codec/open/open_protocol_decoder.go
Due: cdc

set timezone on mysql db.
  pkg/sink/codec/simple/message.go
Due: cdc

Revert "sink-to-mysql(cdc) simplify conflict detector, prevent workload skew issue (#10376)"
  pkg/causality/conflict_detector.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots_test.go
Due: cdc

revert to build image.
  pkg/causality/internal/node.go
Due: cdc

add tz to the docker image.
  deployments/ticdc/docker/kafka-consumer.Dockerfile
Due: none

revert dm_upstream_switch
  .github/workflows/dm_upstream_switch.yaml
  dm/tests/upstream_switch/Dockerfile
  dm/tests/upstream_switch/case.sh
  dm/tests/upstream_switch/lib.sh
  dm/tests/upstream_switch_mariadb/Dockerfile
  dm/tests/upstream_switch_mariadb/case.sh
  dm/tests/upstream_switch_mariadb/chk_mysql.sh
  dm/tests/upstream_switch_mariadb/conf/diff_config.toml
  dm/tests/upstream_switch_mariadb/conf/dm-master.toml
  dm/tests/upstream_switch_mariadb/conf/dm-worker1.toml
  dm/tests/upstream_switch_mariadb/conf/dm-worker2.toml
  dm/tests/upstream_switch_mariadb/conf/source1.yaml
  dm/tests/upstream_switch_mariadb/conf/source2.yaml
  dm/tests/upstream_switch_mariadb/conf/task-pessimistic.yaml
  dm/tests/upstream_switch_mariadb/docker-compose.yml
  dm/tests/upstream_switch_mariadb/init.sh
  dm/tests/upstream_switch_mariadb/lib.sh
  dm/tests/upstream_switch_mariadb/mysql57_master/keepalive.conf
  dm/tests/upstream_switch_mariadb/mysql57_slave/keepalive.conf
  dm/tests/upstream_switch_mariadb/mysql8_master/keepalive.conf
  dm/tests/upstream_switch_mariadb/mysql8_slave/keepalive.conf
Due: dm

Fix installation of sync_diff in mariadb_master_down_and_up test case
  dm/tests/mariadb_master_down_and_up/case.sh
Due: dm

fix ci
  dm/tests/mariadb_master_down_and_up/case.sh
  dm/tests/mariadb_master_down_and_up/lib.sh
Due: dm

fix ci
  dm/tests/mariadb_master_down_and_up/lib.sh
Due: dm

Update dm/tests/mariadb_master_down_and_up/docker-compose.yml
  dm/tests/mariadb_master_down_and_up/docker-compose.yml
Due: dm

ticdc: fix update calls to runtime.fastrand to use cheaprand for compatibility with Go 1.22
  cdc/puller/frontier/list.go
  cdc/puller/frontier/runtime.go
  cdc/puller/frontier/runtime_1.22.go
Due: cdc

fix region_merge integration test
  tests/integration_tests/region_merge/run.sh
Due: none

update
  scripts/generate-protobuf.sh
Due: none

test(ticdc): add pulsar mtls integration test (#10671)
  tests/integration_tests/charset_gbk/run.sh
  tests/integration_tests/common_1/run.sh
  tests/integration_tests/region_merge/run.sh
  tests/integration_tests/run_group.sh
  tests/integration_tests/tiflash/run.sh
Due: none

fix lint
  dm/tests/mariadb_master_down_and_up/case.sh
  dm/tests/mariadb_master_down_and_up/lib.sh
Due: dm

do not set conn.
  pkg/sink/codec/canal/canal_json_decoder.go
  pkg/sink/codec/open/open_protocol_decoder.go
  pkg/sink/codec/simple/decoder.go
Due: cdc

barrier(ticdc): fix wrong barrier ts under frequent ddl scenario (#10669) (#10726)
  cdc/owner/ddl_manager.go
Due: cdc

ticdc: Fix generate-protobuf.sh to make it works in various basic os envs (#10757)
  scripts/generate-protobuf.sh
Due: none

fix parse timestamp without correct fsp issue.
  cmd/kafka-consumer/main.go
  pkg/sink/codec/simple/message.go
  pkg/sink/codec/utils/test_utils.go
Due: cdc

add pulsar oauth2 integration tests
  tests/integration_tests/_utils/run_pulsar_cluster
  tests/integration_tests/_utils/stop_tidb_cluster
  tests/integration_tests/kv_client_stream_reconnect/run.sh
  tests/integration_tests/run_group.sh
Due: none

add pulsar oauth2 integration tests
  cmd/oauth2-server/main.go
Due: cdc

fix nil event.
  cmd/kafka-consumer/main.go
Due: cdc

fix logs.
  pkg/sink/codec/simple/decoder.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
Due: cdc

add pulsar oauth2 integration tests
  tests/integration_tests/_utils/run_pulsar_cluster
  tests/integration_tests/kv_client_stream_reconnect/run.sh
Due: none

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
