Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

add test
  cdc/redo/reader/reader_test.go
Due: cdc

update
  cdc/redo/reader/reader.go
Due: cdc

Update OWNERS_ALIASES
  OWNERS_ALIASES
Due: none

Update cmd/dm-ctl/OWNERS
  cmd/dm-ctl/OWNERS
Due: cdc

api, cli, upstream(ticdc): support basic authentication via upstream tidb (#10583)
  cdc/api/middleware/middleware.go
  cdc/api/owner/owner.go
  cdc/api/status/status.go
  cdc/api/util.go
  cdc/api/v1/api.go
  cdc/api/v2/api.go
  cdc/api/v2/changefeed.go
  cdc/api/v2/processor.go
  errors.toml
  go.mod
  go.sum
  pkg/api/internal/rest/client.go
  pkg/api/internal/rest/config.go
  pkg/api/internal/rest/request.go
  pkg/api/internal/rest/request_test.go
  pkg/api/v2/api_client.go
  pkg/cmd/cli/cli.go
  pkg/cmd/factory/factory.go
  pkg/cmd/factory/factory_impl.go
  pkg/cmd/factory/factory_impl_test.go
  pkg/cmd/factory/mock/factory_mock.go
  pkg/cmd/util/helper.go
  pkg/config/config_test_data.go
  pkg/config/server_config.go
  pkg/errors/cdc_errors.go
  pkg/errorutil/util.go
  pkg/security/credential.go
  pkg/upstream/topo.go
  pkg/upstream/upstream.go
  pkg/upstream/upstream_test.go
  tests/integration_tests/_utils/run_cdc_server
  tests/integration_tests/http_api_tls_with_user_auth/run.sh
  tests/integration_tests/http_api_tls_with_user_auth/util/test_case.py
  tests/integration_tests/run_group.sh
Due: cdc

fix comment and ci
  dm/checker/checker.go
  dm/config/checking_item_test.go
Due: dm

upstream, api(ticdc): support topology and config (#10549)
  cdc/api/v2/unsafe_test.go
  cdc/capture/capture.go
  cdc/http.go
  cdc/server/server.go
  pkg/api/v1/api_client.go
  pkg/cmd/factory/factory.go
  pkg/cmd/factory/factory_impl.go
  pkg/etcd/client.go
  pkg/security/credential.go
  pkg/upstream/main_test.go
  pkg/upstream/manager.go
  pkg/upstream/manager_test.go
  pkg/upstream/upstream.go
  pkg/upstream/upstream_test.go
Due: cdc

use confluent as default
  cmd/kafka-consumer/main.go
  cmd/kafka-consumer/sarama_consumer.go
  cmd/kafka-consumer/writer.go
  deployments/ticdc/docker/kafka-consumer.Dockerfile
Due: cdc

cli(ticdc): support configure credentials and tls certificate via cli (#10617)
  pkg/cmd/cli/cli.go
  pkg/cmd/cli/cli_changefeed_helper.go
  pkg/cmd/cli/cli_changefeed_update.go
  pkg/cmd/cli/cli_configure_credentials.go
  pkg/cmd/cli/cli_unsafe.go
  pkg/cmd/factory/factory.go
  pkg/cmd/factory/factory_impl.go
  pkg/upstream/upstream.go
  tests/integration_tests/_utils/run_cdc_cli_tso_query
  tests/integration_tests/cli_tls_with_auth/run.sh
  tests/integration_tests/run_group.sh
  tests/integration_tests/tidb_mysql_test/t/bigint.test
Due: cdc

dep(dm): move column-mapping from tidb-tools to tiflow repo (#11112)
  dm/config/subtask.go
  dm/config/task.go
  dm/config/task_converters.go
  dm/syncer/syncer_test.go
  engine/jobmaster/dm/config/config.go
  pkg/column-mapping/column.go
  pkg/column-mapping/column_test.go
Due: cdc, dm, engine

fix ci
  dm/pkg/checker/lightning.go
Due: dm

fix no available brokers
  pkg/sink/kafka/sarama.go
Due: cdc

fix typo
  pkg/sink/kafka/sarama.go
Due: cdc

modify func and code style
  pkg/sink/kafka/sarama.go
Due: cdc

update
  pkg/sink/kafka/sarama.go
Due: cdc

update test
  pkg/sink/kafka/options_test.go
  pkg/sink/kafka/sarama_factory_test.go
  pkg/sink/kafka/sarama_test.go
Due: cdc

feat: add kafka version check
  pkg/sink/kafka/options.go
  pkg/sink/kafka/sarama.go
Due: cdc

fix unused param check
  pkg/sink/kafka/sarama.go
Due: cdc

update
  cdc/redo/reader/reader_test.go
  pkg/applier/redo.go
Due: cdc

*: remove usage of tidb-tools/pkg/{dbutil, utils}
  dm/ctl/common/util.go
  dm/master/election.go
  dm/master/etcd.go
  dm/master/metrics/metrics.go
  dm/master/server.go
  dm/master/server_test.go
  dm/master/workerrpc/rawgrpc.go
  dm/pkg/checker/mysql_server.go
  dm/pkg/checker/utils.go
  dm/tests/_dmctl_tools/check_master_http_apis.go
  dm/tests/_dmctl_tools/check_master_online.go
  dm/tests/_dmctl_tools/check_master_online_http.go
  dm/tests/_dmctl_tools/check_worker_online.go
  dm/worker/join.go
  dm/worker/metrics.go
  dm/worker/server.go
  engine/jobmaster/dm/checkpoint/agent.go
  pkg/errors/helper.go
  pkg/errors/helper_test.go
Due: cdc, dm, engine

fix mod
  go.sum
Due: none

fix side effect of dbutil
  cmd/tiflow/main.go
Due: cdc

dm: support empty check for physical mode (#11116)
  dm/checker/check_test.go
  dm/checker/checker.go
  dm/config/checking_item.go
  dm/config/checking_item_test.go
  dm/pkg/checker/binlog.go
  dm/pkg/checker/lightning.go
  dm/pkg/checker/lightning_test.go
  dm/pkg/dumpling/utils.go
Due: dm

ticdc: support detecting the Kafka cluster version automatically (#10854) (#11120)
  pkg/sink/kafka/options.go
  pkg/sink/kafka/options_test.go
  pkg/sink/kafka/sarama.go
  pkg/sink/kafka/sarama_factory_test.go
  pkg/sink/kafka/sarama_test.go
Due: cdc

snapshot (ticdc): remove verbose logs
  cdc/entry/schema/snapshot.go
Due: cdc

snapshot (ticdc): reduce list tables time consumption (#11095)
  cdc/entry/schema/snapshot.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
