Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

fix test
  dm/config/task_converters.go
  dm/config/task_converters_test.go
  dm/openapi/fixtures/task.go
Due: dm

fix test
  dm/tests/openapi/run.sh
Due: dm

snapshot: revert copy lock removal in Copy
  cdc/entry/schema/snapshot.go
Due: cdc

snapshot: fix ddl puller and ddl manager stuck caused by two dead lock
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_storage.go
Due: cdc

Revert "puller(ticdc): always split update kv entries in sink safe mode (#11224) (#11656)"
  cdc/processor/processor.go
  cdc/processor/processor_test.go
  cdc/processor/sourcemanager/manager.go
  pkg/sink/mysql/config.go
Due: cdc

snapshot(ticdc): fix ddl puller and ddl manager stuck caused by dead lock (#11886) (#11888)
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_storage.go
Due: cdc

snapshot(ticdc): fix ddl puller and ddl manager stuck caused by dead lock (#11886) (#11889)
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_storage.go
Due: cdc

fix test
  dm/config/task_converters.go
  dm/tests/_utils/run_downstream_cluster_with_tls
  dm/tests/openapi/run.sh
Due: dm

fmt
  dm/tests/openapi/run.sh
Due: dm

fix test
  dm/config/security/security.go
  dm/config/security_test.go
  dm/openapi/fixtures/task.go
  dm/tests/_utils/run_downstream_cluster_with_tls
  dm/tests/openapi/client/openapi_task_check
Due: dm

fmt
  dm/openapi/fixtures/task.go
Due: dm

remove some useless code.
  tests/integration_tests/cdc/cdc.go
  tests/integration_tests/util/db.go
Due: none

only run the simple cases
  tests/integration_tests/cdc/dailytest/dailytest.go
Due: none

update
  cdc/redo/writer/memory/mem_log_writer_test.go
Due: cdc

also add the finish mark
  tests/integration_tests/cdc/dailytest/case.go
Due: none

add tests
  tests/integration_tests/default_value/main.go
Due: none

hard code the tikv commit-hash to 8b006a5bdfae691c7286933ed8ab3b7063a2b76d
  scripts/download-integration-test-binaries.sh
Due: none

use tls content
  dm/config/security/security.go
  dm/config/security_test.go
  dm/config/task_converters.go
  dm/config/task_converters_test.go
  dm/loader/lightning.go
  dm/openapi/fixtures/source.go
  dm/openapi/fixtures/task.go
  dm/openapi/gen.server.go
  dm/openapi/gen.types.go
  dm/openapi/spec/dm.yaml
  dm/tests/openapi/client/openapi_task_check
  dm/tests/openapi/run.sh
Due: dm

cache the table info, to avoid create new memory on each incoming message
  pkg/sink/codec/canal/canal_json_decoder.go
  pkg/sink/codec/canal/canal_json_message.go
Due: cdc

all partition share the same decoder, since only the first one partition can receive the ddl message
  cmd/kafka-consumer/writer.go
Due: cdc

use 7.5.4 tikv
  scripts/download-integration-test-binaries.sh
Due: none

new the table info cache
  pkg/sink/codec/canal/canal_json_decoder.go
Due: cdc

snapshot(ticdc): fix ddl puller and ddl manager stuck caused by dead lock (#11886) (#11887)
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_storage.go
Due: cdc

This is an automated cherry-pick of #11886
  cdc/entry/schema_storage.go
Due: cdc

uncomment one more case
  tests/integration_tests/cdc/dailytest/dailytest.go
Due: none

*: prompt k8s.io/api version (#11866)
  cdc/puller/ddl_puller.go
  dm/checker/checker.go
  go.mod
  go.sum
Due: cdc, dm

This is an automated cherry-pick of #11866
  cdc/puller/ddl_puller.go
  dm/checker/checker.go
  go.mod
  go.sum
Due: cdc, dm

Update doc.go
  cdc/doc.go
Due: cdc

Update ctl.go
  dm/ctl/ctl.go
Due: dm

add test
  dm/tests/mariadb_master_down_and_up/case.sh
  dm/tests/mariadb_master_down_and_up/docker-compose.yml
Due: dm

add test
  dm/tests/mariadb_master_down_and_up/docker-compose.yml
Due: dm
