Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

add test
  cdc/kv/client_mock_test.go
  cdc/kv/shared_client_test.go
  pkg/version/check.go
Due: cdc

fix retry logic when check store version failed
  cdc/kv/shared_client.go
  cdc/kv/shared_stream.go
Due: cdc

distiguish error return by checkStoreVersion
  cdc/kv/shared_stream.go
Due: cdc

refactor
  cdc/kv/shared_stream.go
Due: cdc

test wip
  cdc/kv/shared_client_test.go
Due: cdc

small fix
  cdc/kv/shared_stream.go
Due: cdc

test wip
  cdc/kv/client_mock_test.go
  cdc/kv/shared_client_test.go
Due: cdc

fix conflict
  cdc/kv/client.go
  cdc/kv/shared_client.go
  cdc/kv/shared_stream.go
Due: cdc

fix build
  cdc/kv/client.go
  cdc/kv/shared_client.go
Due: cdc

Revert "upgrade sqlsmith"
  go.mod
  go.sum
Due: none

fix
  dm/loader/lightning.go
  dm/tests/_utils/run_downstream_cluster_with_tls
  dm/tests/openapi/client/openapi_task_check
  dm/tests/openapi/run.sh
  dm/tests/openapi/tls_conf/ca2.pem
  dm/tests/openapi/tls_conf/tidb.key
  dm/tests/openapi/tls_conf/tidb.pem
Due: dm

use condition to query old rows
  pkg/sink/codec/canal/canal_json_decoder.go
Due: cdc

puller: fix retry logic when check store version failed (#11903) (#11932)
  cdc/kv/shared_client.go
  cdc/kv/shared_client_test.go
  cdc/kv/shared_stream.go
  pkg/version/check.go
Due: cdc

add test
  dm/loader/lightning.go
  dm/loader/lightning_test.go
Due: dm

fmt
  dm/openapi/fixtures/task.go
Due: dm

codec(ticdc): reduce canal-json decode memory consumption by using buffered json decoder (#11911)
  cmd/storage-consumer/main.go
  pkg/sink/codec/canal/canal_json_decoder.go
  pkg/sink/codec/canal/canal_json_row_event_encoder_test.go
  pkg/sink/codec/canal/canal_json_txn_event_decoder.go
  pkg/sink/codec/canal/canal_json_txn_event_decoder_test.go
Due: cdc

add test
  dm/config/security/security.go
  dm/config/security_test.go
  dm/loader/lightning.go
Due: dm

fix test
  cdc/kv/shared_client.go
  cdc/kv/shared_client_test.go
Due: cdc

fix the test
  pkg/sink/codec/canal/canal_json_message.go
  pkg/sink/codec/canal/canal_json_txn_event_decoder.go
  pkg/sink/codec/canal/canal_json_txn_event_decoder_test.go
Due: cdc

fmt
  dm/config/security/security.go
Due: dm

snapshot.go: resolve conflicts
  cdc/entry/schema/snapshot.go
Due: cdc

schema storage: resolve conflicts
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_storage.go
Due: cdc

puller: fix retry logic when check store version failed (#11903) (#11930)
  cdc/kv/client.go
  cdc/kv/shared_client.go
  cdc/kv/shared_client_test.go
  cdc/kv/shared_stream.go
  pkg/version/check.go
Due: cdc

fix comment
  dm/config/security/security.go
  dm/loader/lightning.go
Due: dm

refactor TableMigrateRule
  dm/config/task_converters.go
  dm/config/task_converters_test.go
  dm/openapi/gen.server.go
  dm/openapi/gen.types.go
  dm/openapi/spec/dm.yaml
Due: dm

refactor source
  dm/config/task_converters.go
Due: dm

codec(ticdc): canal-json encode table id (#11875)
  pkg/sink/codec/canal/canal_json_message.go
  pkg/sink/codec/canal/canal_json_row_event_encoder.go
  pkg/sink/codec/canal/canal_json_row_event_encoder_test.go
  pkg/sink/codec/canal/canal_json_txn_event_decoder.go
  pkg/sink/codec/canal/canal_json_txn_event_decoder_test.go
Due: cdc

wip
  cdc/kv/client.go
  cdc/kv/client_test.go
  cdc/kv/shared_client.go
  cdc/kv/shared_client_test.go
  cdc/kv/shared_stream.go
Due: cdc

upgrade sqlsmith
  go.mod
  go.sum
Due: none

consumer no sort
  cmd/kafka-consumer/event_group.go
  cmd/kafka-consumer/writer.go
Due: cdc

no need sync map
  cmd/kafka-consumer/writer.go
Due: cdc

dm: use nightly tidb instead of latest to fix table not exist error (#11904)
  dm/tests/mariadb_master_down_and_up/docker-compose.yml
  dm/tests/upstream_switch/docker-compose.yml
Due: dm

do not pass the event group as argument
  cmd/kafka-consumer/writer.go
Due: cdc

simplify new group logic
  cmd/kafka-consumer/writer.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
