Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

*: bump pd version to 7179657 (#10881)
  cmd/oauth2-server/main.go
  go.mod
  go.sum
Due: cdc

add async initializer
  cdc/async/async_initializer.go
  cdc/owner/changefeed.go
  cdc/processor/processor.go
Due: cdc

add ut
  cdc/async/async_initializer.go
  cdc/async/async_initializer_test.go
  cdc/owner/changefeed.go
  cdc/processor/processor.go
  cdc/vars/vars.go
Due: cdc

remove error
  pkg/errors/cdc_errors.go
Due: cdc

add comment
  cdc/async/async_initializer.go
Due: cdc

test(ticdc): remove ChangefeedVars (#10885)
  cdc/owner/changefeed_test.go
  cdc/owner/feed_state_manager_test.go
  cdc/processor/processor_test.go
  cdc/puller/ddl_puller_test.go
  cdc/vars/vars.go
Due: cdc

[skip ci] Update OWNERS file
  OWNERS
Due: none

fix lint
  cdc/async/async_initializer_test.go
Due: cdc

OWNERS: Auto Sync OWNERS files from community membership (#10886)
  OWNERS
Due: none

update tidb
  cdc/model/schema_storage_test.go
  dm/loader/lightning.go
  dm/syncer/ddl.go
  go.mod
  go.sum
Due: cdc, dm

update go mod
  go.mod
  go.sum
Due: none

fix lint
  cdc/vars/vars.go
Due: cdc

fix lint
  dm/loader/lightning.go
Due: dm

all mounter checksum unit test passed.
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
Due: cdc

no need filter out datum on the mounter side.
  cdc/entry/mounter.go
Due: cdc

ignore null value.
  cdc/entry/mounter.go
Due: cdc

entry (ticdc): fix make error and failed unit test
  cdc/entry/mounter_test.go
  cdc/entry/schema_storage_test.go
  cdc/entry/schema_test.go
  cdc/entry/validator.go
  cdc/owner/changefeed.go
  cdc/owner/ddl_manager.go
  cdc/owner/ddl_manager_test.go
  cdc/processor/processor.go
  cdc/puller/ddl_puller.go
  cdc/puller/ddl_puller_test.go
  cdc/sink/dmlsink/mq/transformer/columnselector/column_selector.go
  pkg/sink/codec/avro/decoder.go
  pkg/sink/codec/canal/canal_json_decoder.go
  pkg/sink/codec/open/open_protocol_decoder.go
  scripts/generate-mock.sh
Due: cdc

update go dependency
  go.mod
  go.sum
Due: none

kv (ticdc): resolve comments
  cdc/kv/region_state.go
  cdc/kv/shared_client.go
  cdc/kv/shared_stream.go
Due: cdc

fix dead lock
  cdc/sinkv2/eventsink/txn/worker.go
  pkg/causality/conflict_detector.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
Due: cdc

update test
  pkg/sink/kafka/options_test.go
  pkg/sink/kafka/sarama_factory_test.go
  pkg/sink/kafka/sarama_test.go
Due: cdc

fix ut
  cdc/processor/processor_test.go
Due: cdc

fix ut
  pkg/causality/internal/node_test.go
Due: cdc

refactor worker
  cdc/sinkv2/eventsink/txn/txn_sink.go
  cdc/sinkv2/eventsink/txn/worker.go
  pkg/causality/conflict_detector.go
  pkg/causality/tests/driver.go
  pkg/causality/worker.go
Due: cdc

fix
  cdc/sinkv2/eventsink/txn/worker.go
Due: cdc

add comments
  pkg/causality/worker.go
Due: cdc

use block worker
  cdc/sinkv2/eventsink/txn/txn_sink.go
Due: cdc

kv, puller (ticdc): eliminating unnecessary goroutines, streamlining the kvClient's operation, and reducing code complexity. (#10878)
  cdc/kv/region_state.go
  cdc/kv/region_state_bench_test.go
  cdc/kv/regionlock/region.go
  cdc/kv/shared_client.go
  cdc/kv/shared_client_test.go
  cdc/kv/shared_region_worker.go
  cdc/kv/shared_region_worker_test.go
  cdc/kv/shared_stream.go
  cdc/processor/sourcemanager/manager.go
  cdc/processor/sourcemanager/sorter/engine.go
  cdc/puller/ddl_puller.go
  cdc/puller/multiplexing_puller.go
  cdc/puller/multiplexing_puller_test.go
Due: cdc

debug: test trigger on release-8.1
  dm/tests/run.sh
  tests/integration_tests/run.sh
Due: dm

Revert "ticdc: Fix data race problem in Node (#10761)"
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/tests/integration_test.go
Due: cdc

Revert "sink-to-mysql(cdc) simplify conflict detector, prevent workload skew issue (#10376)"
  pkg/causality/conflict_detector.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots_test.go
Due: cdc

fix ci
  pkg/sink/codec/simple/encoder_test.go
Due: cdc

chore: bump master version
  Makefile
Due: none

fix ut
  cdc/async/async_initializer.go
Due: cdc

fix ut
  cdc/async/async_initializer.go
  cdc/async/async_initializer_test.go
Due: cdc

chore(cdc,dm): add prow OWNERS files to controal approving for critial files
  OWNERS_ALIASES
  cdc/api/v2/OWNERS
  dm/config/OWNERS
  dm/master/OWNERS
  dm/worker/OWNERS
  pkg/cmd/util/OWNERS
Due: cdc, dm

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
