Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

f
  tests/integration_tests/force_replicate_table/run.sh
Due: none

fix
  tests/integration_tests/force_replicate_table/run.sh
Due: none

fix bit test
  pkg/sink/codec/open/open_protocol_decoder.go
Due: cdc

fix test again
  pkg/sink/codec/open/open_protocol_decoder.go
Due: cdc

only split update event when handle changed
  cdc/model/sink.go
  pkg/applier/redo.go
Due: cdc

fix tests
  pkg/applier/redo_test.go
  tests/integration_tests/kafka_simple_handle_key_only_avro/conf/diff_config.toml
Due: cdc

enable sequence test
  scripts/download-integration-test-binaries.sh
  tests/integration_tests/sequence/run.sh
Due: none

sink (ticdc): fix sourceID error
  cdc/processor/processor.go
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sinkmanager/manager_test_helper.go
  pkg/sink/mysql/config.go
Due: cdc

fix
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sinkmanager/redo_log_worker.go
  cdc/processor/sinkmanager/table_sink_worker.go
  cdc/processor/sourcemanager/manager.go
  cdc/processor/sourcemanager/sorter/pebble/encoding/key.go
Due: cdc

fix
  cdc/processor/sinkmanager/tasks_test.go
  cdc/processor/sourcemanager/manager.go
  cdc/processor/sourcemanager/sorter/mock/engine_mock.go
  cdc/processor/sourcemanager/sorter/pebble/encoding/key.go
Due: cdc

fix
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sinkmanager/table_sink_worker.go
  cdc/processor/sinkmanager/table_sink_wrapper.go
Due: cdc

fix
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sourcemanager/sorter/pebble/encoding/key.go
  cdc/processor/sourcemanager/sorter/pebble/event_sorter.go
  cdc/processor/sourcemanager/sorter/pebble/event_sorter_test.go
Due: cdc

fix
  scripts/download-integration-test-binaries.sh
Due: none

*(ticdc): split old update kv entry after restarting changefeed (#10919)
  cdc/model/kv.go
  cdc/model/sink.go
  cdc/model/sink_test.go
  cdc/processor/processor.go
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sourcemanager/manager.go
  cdc/redo/reader/reader.go
  cdc/sink/dmlsink/factory/factory.go
  cdc/sink/dmlsink/txn/mysql/mysql.go
  cdc/sink/dmlsink/txn/mysql/mysql_test.go
  cmd/kafka-consumer/main.go
  cmd/pulsar-consumer/main.go
  cmd/storage-consumer/main.go
  errors.toml
  pkg/applier/redo.go
  pkg/applier/redo_test.go
  pkg/errors/cdc_errors.go
  pkg/errors/helper.go
  pkg/sink/codec/open/open_protocol_decoder.go
  tests/integration_tests/changefeed_dup_error_restart/conf/diff_config.toml
  tests/integration_tests/changefeed_dup_error_restart/conf/workload
  tests/integration_tests/changefeed_dup_error_restart/run.sh
  tests/integration_tests/force_replicate_table/run.sh
  tests/integration_tests/kafka_simple_handle_key_only_avro/conf/diff_config.toml
  tests/integration_tests/run_group.sh
Due: cdc

kafka(ticdc): Fix java example license issue (#11024)
  examples/java/pom.xml
Due: none

fix java example license issue
  examples/java/pom.xml
Due: none

kafka(ticdc): Fix java example license issue (#11024) (#11026)
  examples/java/pom.xml
Due: none

schematracker(dm): ensure no MockStore in future (#10977) (#10979)
  dm/pkg/schema/tracker.go
  dm/pkg/schema/tracker_test.go
Due: dm

fix typo
  cmd/kafka-consumer/main.go
  cmd/kafka-consumer/sarama_consumer.go
Due: cdc

add a log
  cdc/processor/sourcemanager/manager.go
Due: cdc

alpha version
  cdc/sink/dmlsink/txn/mysql/mysql.go
  cdc/sink/tablesink/table_sink_impl.go
Due: cdc

split update event
  cdc/processor/sourcemanager/manager.go
Due: cdc

fix error code
  cdc/sink/dmlsink/txn/mysql/mysql.go
Due: cdc

fix fmt
  pkg/applier/redo.go
Due: cdc

only split update kv entries for mysql sink
  cdc/processor/processor.go
  cdc/processor/sourcemanager/manager.go
  cdc/sink/dmlsink/factory/factory.go
Due: cdc

f
  cdc/sink/dmlsink/txn/mysql/mysql.go
Due: cdc

fix test
  tests/integration_tests/changefeed_dup_error_restart/run.sh
Due: none

fix
  cmd/pulsar-consumer/main.go
  cmd/storage-consumer/main.go
Due: cdc

try fix errors.toml
  errors.toml
Due: none

add teset and fix test
  cdc/model/sink.go
  cdc/model/sink_test.go
  cdc/sink/tablesink/table_sink_impl.go
Due: cdc

try fix
  cmd/kafka-consumer/main.go
Due: cdc

restart changefeed instead of sink
  cdc/sink/dmlsink/txn/mysql/mysql.go
  pkg/errors/cdc_errors.go
  pkg/errors/helper.go
Due: cdc

split update event when apply redo log
  pkg/applier/redo.go
  pkg/applier/redo_test.go
Due: cdc

fix format
  cdc/model/sink.go
  pkg/applier/redo.go
Due: cdc
