Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

dm: add test
  .github/workflows/dm_upstream_switch.yaml
Due: none

Fix format.
  engine/jobmaster/dm/task_manager.go
Due: engine

Update error.txt
  dm/_utils/terror_gen/errors_release.txt
  dm/errors.toml
Due: dm

dm: add test
  dm/tests/upstream_switch/case.sh
Due: dm

add log
  dm/tests/many_tables/run.sh
Due: dm

add unit test
  dm/pkg/dumpling/utils_test.go
Due: dm

remove json tag for uuid
  dm/config/subtask.go
Due: dm

dm: add test
  .github/workflows/dataflow_engine_chaos.yaml
Due: none

remove tmate
  .github/workflows/dm_upstream_switch.yaml
Due: none

manual clone atomic.Uint64 and add test
  dm/config/subtask.go
  dm/config/subtask_test.go
Due: dm

fix test
  dm/config/subtask_test.go
Due: dm

dm: support dump task mode in openapi (#11729)
  dm/openapi/gen.server.go
  dm/openapi/gen.types.go
  dm/openapi/spec/dm.yaml
  dm/tests/_utils/run_dm_ctl_with_retry
  dm/tests/openapi/client/openapi_task_check
  dm/tests/openapi/run.sh
Due: dm

fix nil pointer...
  dm/config/subtask.go
Due: dm

fix build
  dm/config/subtask_test.go
Due: dm

fix nil
  dm/config/task_converters.go
  dm/syncer/status.go
Due: dm

fix ut
  dm/config/task_test.go
Due: dm

Add load mode to openapi.
  dm/openapi/gen.client.go
  dm/openapi/gen.server.go
  dm/openapi/gen.types.go
  dm/openapi/spec/dm.yaml
Due: dm

dm: add test
  .github/workflows/dm_mariadb_master_down_and_up.yaml
  .github/workflows/dm_upstream_switch.yaml
Due: none

skip compare atomic value
  dm/config/subtask.go
  dm/syncer/syncer.go
Due: dm

fix redo writer meet context cancel
  cdc/redo/writer/memory/encoding_worker.go
Due: cdc

fix
  pkg/redo/config.go
  pkg/sink/kafka/claimcheck/claim_check.go
  pkg/util/external_storage.go
Due: cdc

ddl_puller.go: deprecate the `schemaVersion` field in `ddlJobPullerImpl`
  cdc/puller/ddl_puller.go
Due: cdc

DDLPuller: add a UT for handling out-of-order schema versions
  cdc/puller/ddl_puller_test.go
Due: cdc

add dependency for validate IP addresses with SANs
  dm/tests/requirements.txt
Due: dm

ddl_puller.go: delete the unused field `schemaVersion` in `ddlJobPullerImpl`
  cdc/puller/ddl_puller.go
Due: cdc

setup docker
  .github/workflows/dm_binlog_999999.yaml
Due: none

fix
  .github/workflows/dm_binlog_999999.yaml
Due: none

Revert "DDLPuller: add a UT for handling out-of-order schema versions"
  cdc/puller/ddl_puller_test.go
Due: cdc

debug
  .github/workflows/dm_binlog_999999.yaml
Due: none

f
  .github/workflows/dm_binlog_999999.yaml
Due: none
