Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

cloudstorage: add timeout when WriteFile
  cdc/sinkv2/ddlsink/cloudstorage/cloud_storage_ddl_sink.go
  cdc/sinkv2/eventsink/cloudstorage/cloud_storage_dml_sink.go
  pkg/util/external_storage.go
Due: cdc

remove useless ut
  pkg/util/external_storage_test.go
Due: cdc

cloudstorage: add timeout when WriteFile
  cdc/sink/ddlsink/cloudstorage/cloud_storage_ddl_sink.go
  cdc/sink/dmlsink/cloudstorage/cloud_storage_dml_sink.go
  pkg/util/external_storage.go
Due: cdc

add ut
  pkg/util/external_storage.go
  pkg/util/external_storage_test.go
Due: cdc

cloudstorage: add unit test
  pkg/util/external_storage_test.go
Due: cdc

Update OWNERS_ALIASES
  OWNERS_ALIASES
Due: none

update
  cdc/entry/mounter.go
Due: cdc

sink(ticdc): waiting the asynchronous ddl to synchronize (#12123)
  cdc/owner/ddl_sink.go
  cdc/owner/ddl_sink_test.go
  cdc/sink/ddlsink/mysql/async_ddl.go
  cdc/sink/ddlsink/mysql/async_ddl_test.go
  cdc/sink/ddlsink/mysql/mysql_ddl_sink.go
  errors.toml
  pkg/errors/cdc_errors.go
  tests/integration_tests/ddl_wait/conf/diff_config.toml
  tests/integration_tests/ddl_wait/run.sh
  tests/integration_tests/ddl_wait/test.go
  tests/integration_tests/run_group.sh
Due: cdc

Fix lint error
  dm/pkg/log/log.go
Due: dm

*: bump tidb, parser, pd, go-sqlsmith
  cdc/api/v2/api_helpers.go
  cdc/owner/owner_test.go
  cdc/server/server.go
  cdc/sink/dmlsink/txn/mysql/mysql.go
  dm/pkg/parser/common.go
  dm/pkg/schema/tracker.go
  dm/pkg/schema/visitor.go
  dm/simulator/sqlgen/impl.go
  dm/syncer/online-ddl-tools/online_ddl.go
  dm/syncer/schema.go
  dm/syncer/syncer.go
  dm/syncer/util_test.go
  go.mod
  go.sum
  pkg/cmd/factory/factory_impl.go
  pkg/migrate/migrate.go
  pkg/pdutil/api_client.go
  pkg/sink/codec/csv/csv_decoder.go
  pkg/txnutil/gc/testing.go
  pkg/upstream/upstream.go
  pkg/version/check.go
  pkg/version/check_test.go
  sync_diff_inspector/utils/pd.go
  tests/integration_tests/resolve_lock/main.go
Due: cdc, dm

Reprt ERROR message when meet unexcept key prefix in mounter (#12131) (#12150)
  cdc/entry/mounter.go
Due: cdc

remove undefined panel
  metrics/grafana/tiflow.json
Due: none

fix error
  metrics/grafana/tiflow.json
Due: none

Add $k8s_cluster and $tidb_cluster as potential filter to meet the varaible filters on TiDBCloud.
  metrics/grafana/DM-Monitor-Professional.json
  metrics/grafana/DM-Monitor-Standard.json
Due: none

remove undefined panel (#12151)
  metrics/grafana/tiflow.json
Due: none

remove undefined panel (#12151) (#12155)
  metrics/grafana/tiflow.json
Due: none

cloudstorage: fix a bug that may cause storage sink get stuck (#12142) (#12148)
  cdc/sink/ddlsink/cloudstorage/cloud_storage_ddl_sink.go
  cdc/sink/dmlsink/cloudstorage/cloud_storage_dml_sink.go
  pkg/util/external_storage.go
  pkg/util/external_storage_test.go
Due: cdc

Retry statement execution on invalid connections in some scenarios
  dm/pkg/retry/errors.go
  dm/pkg/retry/strategy.go
  dm/syncer/dbconn/db.go
Due: dm

address comments
  dm/pkg/conn/baseconn.go
  dm/pkg/retry/errors.go
  dm/pkg/terror/error_list.go
  dm/syncer/dbconn/db.go
Due: dm

Remove unrelated change
  dm/syncer/dbconn/db.go
Due: dm

make terror_check
  dm/_utils/terror_gen/errors_release.txt
  dm/errors.toml
Due: dm

add back deleted clause
  dm/syncer/dbconn/db.go
Due: dm

reformat
  dm/pkg/retry/errors.go
  dm/pkg/retry/strategy.go
  dm/pkg/terror/errcode_string.go
  dm/syncer/dbconn/db.go
Due: dm

fix unit test
  dm/pkg/conn/baseconn_test.go
Due: dm

Change int test timing
  dm/tests/many_tables/run.sh
Due: dm

Extend another timeout to give 30seconds for conn refused retry
  dm/tests/all_mode/run.sh
Due: dm
