Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

more changes
  cdc/sink/dmlsink/txn/mysql/dml.go
Due: cdc

schedul region request, no need to visit pd, when memory qupta exceeded.
  cdc/kv/shared_client.go
Due: cdc

add one new barrier none.
  cdc/owner/changefeed.go
Due: cdc

add one new barrier none.
  cdc/owner/barrier.go
  cdc/owner/changefeed.go
Due: cdc

kv(ticdc): kv client should handle region congested error explicitly (#11579)
  cdc/kv/shared_client.go
  go.mod
  go.sum
Due: cdc

changefeed(ticdc): fix barrier ts set incorrectly cause monitor become year (#11560) (#11598)
  cdc/owner/changefeed.go
Due: cdc

changefeed(ticdc): fix barrier ts set incorrectly cause monitor become year (#11560) (#11597)
  cdc/owner/changefeed.go
Due: cdc

sink(ticdc): reduce log print when using CDC sync data to Kafka with nil values in column (#11541)
  cdc/model/sink.go
Due: cdc

init
  pkg/errors/cdc_errors.go
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/codec_test.go
  pkg/sink/codec/debezium/decoder.go
  pkg/sink/codec/debezium/encoder.go
  pkg/sink/codec/debezium/message.go
  tests/integration_tests/debezium/src/test_cases.go
Due: cdc

Update consumer.go
  cmd/kafka-consumer/consumer.go
Due: cdc

Update open_protocol_message.go
  pkg/sink/codec/open/open_protocol_message.go
Due: cdc

update
  pkg/sink/codec/debezium/codec.go
  tests/integration_tests/debezium/src/test_cases.go
Due: cdc

update
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/encoder.go
Due: cdc

fix
  tests/integration_tests/debezium/src/test_cases.go
Due: none

dm: fix leader did not retire after delete the key
  dm/pkg/election/election.go
  dm/pkg/election/election_test.go
Due: dm

fix
  dm/pkg/election/election.go
  dm/pkg/election/election_test.go
Due: dm

fix
  pkg/sink/codec/debezium/codec.go
  tests/integration_tests/debezium/src/test_cases.go
Due: cdc

update the kind of change
  pkg/sink/codec/debezium/codec.go
Due: cdc

stage
  pkg/sink/codec/canal/canal_json_row_event_encoder.go
  pkg/sink/codec/internal/column.go
  pkg/sink/codec/open/open_protocol_message.go
Due: cdc

update
  pkg/sink/codec/debezium/codec.go
  tests/integration_tests/debezium/docker-compose.yml
  tests/integration_tests/debezium/src/test_cases.go
Due: cdc

update
  dm/pkg/election/election.go
Due: dm

Revert "update the kind of change"
  pkg/sink/codec/debezium/codec.go
  tests/integration_tests/debezium/docker-compose.yml
  tests/integration_tests/debezium/src/test_cases.go
Due: cdc

.
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/codec_test.go
Due: cdc

address comment
  dm/pkg/election/election_test.go
Due: dm

debug
  tests/integration_tests/debezium/src/test_cases.go
Due: none

init
  cdc/model/sink.go
  cdc/sink/dmlsink/txn/event.go
  cdc/sink/dmlsink/txn/mysql/dml.go
  cdc/sink/dmlsink/txn/mysql/mysql.go
  pkg/sink/codec/avro/avro.go
  pkg/sink/codec/canal/canal_entry.go
  pkg/sink/codec/canal/canal_json_row_event_encoder.go
  pkg/sink/codec/internal/column.go
  pkg/sink/codec/open/open_protocol_message.go
  pkg/util/bitflag.go
Due: cdc

upgrade go to 1.23
  .github/workflows/check_and_build.yaml
  .github/workflows/dataflow_engine_chaos.yaml
  .github/workflows/dm_binlog_999999.yaml
  .github/workflows/dm_chaos.yaml
  .github/workflows/dm_mariadb_master_down_and_up.yaml
  .github/workflows/dm_upstream_switch.yaml
  .github/workflows/upgrade_dm_via_tiup.yaml
  .golangci.yml
  CONTRIBUTING.md
  README_DM.md
  README_TiCDC.md
  deployments/engine/docker/Dockerfile
  deployments/engine/docker/dind.Dockerfile
  deployments/ticdc/docker/Dockerfile
  deployments/ticdc/docker/dev.Dockerfile
  deployments/ticdc/docker/integration-test.Dockerfile
  deployments/ticdc/docker/kafka-consumer.Dockerfile
  deployments/ticdc/docker/pulsar-integration-test.Dockerfile
  deployments/ticdc/docker/storage-consumer.Dockerfile
  dm/Dockerfile
  examples/golang/avro-checksum-verification/go.mod
  examples/golang/canal-json-handle-key-only/go.mod
  go.mod
  tests/integration_tests/debezium/go.mod
  tools/check/go.mod
Due: dm

Update go.mod
  go.mod
Due: none

change
  engine/pkg/meta/internal/sqlkv/sql_impl_test.go
  engine/pkg/orm/client_test.go
  engine/pkg/orm/model/logic_epoch_test.go
  go.mod
  go.sum
Due: engine

Revert "sink(ticdc): use admin statement to query async ddl status (#11535)"
  cdc/sink/ddlsink/mysql/async_ddl.go
  cdc/sink/ddlsink/mysql/async_ddl_test.go
Due: cdc

remove unused code
  cdc/sink/util/vector.go
Due: cdc
