Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

update
  cdc/processor/sourcemanager/sorter/pebble/event_sorter.go
Due: cdc

resolve conflicts
  go.mod
  go.sum
Due: none

fix test
  tests/integration_tests/_utils/run_cdc_server
  tests/integration_tests/http_api_tls_with_user_auth/util/test_case.py
Due: none

update
  pkg/config/server_config.go
Due: cdc

resolve conflicts
  dm/pkg/schema/tracker.go
Due: dm

fix script
  tests/integration_tests/http_api_tls_with_user_auth/util/test_case.py
Due: none

make bdr integration test stable
  tests/integration_tests/bdr_mode/data/up.sql
Due: none

update avro checksum case.
  examples/golang/avro-checksum-verification/go.mod
  examples/golang/avro-checksum-verification/go.sum
Due: none

update avro checksum case.
  examples/golang/avro-checksum-verification/main.go
Due: none

fix integration tests
  cdc/api/middleware/middleware.go
  tests/integration_tests/http_api_tls_with_user_auth/run.sh
  tests/integration_tests/http_api_tls_with_user_auth/util/test_case.py
Due: cdc

use the latest tidb
  scripts/download-integration-test-binaries.sh
Due: none

fix unit test.
  pkg/sink/codec/simple/message.go
Due: cdc

simplify decode timestamp value.
  examples/golang/avro-checksum-verification/main.go
  pkg/sink/codec/common/verify_checksum.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
Due: cdc

add oauth2 config
  tests/integration_tests/ddl_manager/conf/pulsar_test.toml
  tests/integration_tests/ddl_manager/run.sh
Due: none

add oauth2 config 2
  tests/integration_tests/_certificates/pulsar_certs/client_credentials.json
Due: none

fix test
  cdc/redo/reader/reader.go
Due: cdc

dm: set enable cluster index to off for downstream tracker (#10346) (#10616)
  dm/pkg/schema/tracker.go
  dm/pkg/schema/tracker_test.go
Due: dm

add oauth2 test
  cmd/pulsar-consumer/main.go
  tests/integration_tests/_utils/run_pulsar_consumer
  tests/integration_tests/batch_add_table/run.sh
  tests/integration_tests/big_txn/run.sh
  tests/integration_tests/canal_json_basic/run.sh
  tests/integration_tests/cdc_server_tips/run.sh
  tests/integration_tests/changefeed_finish/run.sh
  tests/integration_tests/ddl_manager/conf/pulsar_test.toml
Due: cdc

add other test cases
  tests/integration_tests/big_txn/run.sh
  tests/integration_tests/cdc_server_tips/run.sh
  tests/integration_tests/changefeed_pause_resume/run.sh
  tests/integration_tests/charset_gbk/run.sh
Due: none

fix error
  tests/integration_tests/canal_json_basic/run.sh
Due: none

add more test cases
  tests/integration_tests/changefeed_finish/run.sh
  tests/integration_tests/ddl_only_block_related_table/run.sh
  tests/integration_tests/drop_many_tables/run.sh
  tests/integration_tests/multi_capture/run.sh
Due: none

fix error 5
  tests/integration_tests/cdc_server_tips/conf
  tests/integration_tests/changefeed_finish/run.sh
Due: none

fix error 6
  tests/integration_tests/changefeed_finish/run.sh
Due: none

This is an automated cherry-pick of #10585
  cdc/kv/client.go
  cdc/kv/client_test.go
  cdc/kv/region_worker.go
  cdc/kv/region_worker_test.go
  pkg/config/config_test_data.go
  pkg/config/debug.go
  pkg/config/server_config.go
Due: cdc

This is an automated cherry-pick of #10546
  cdc/api/v2/api_helpers.go
  cdc/api/v2/api_helpers_mock.go
  cdc/api/v2/changefeed.go
  cdc/api/v2/changefeed_test.go
Due: cdc

add integration test
  tests/integration_tests/bdr_mode/conf/down.toml
  tests/integration_tests/bdr_mode/conf/up.toml
Due: none

resolve comments
  pkg/filter/utils_test.go
Due: cdc

fix synpoint table being replicated in BDR mode
  pkg/filter/utils.go
  pkg/filter/utils_test.go
Due: cdc

resolve comments
  cdc/syncpointstore/mysql_syncpoint_store.go
  pkg/filter/filter.go
  pkg/filter/filter_test.go
  pkg/filter/utils.go
Due: cdc

add integration test
  tests/integration_tests/bdr_mode/conf/cf.toml
  tests/integration_tests/bdr_mode/run.sh
Due: none

This is an automated cherry-pick of #10587
  cdc/sink/mysql/mysql_syncpoint_store.go
  pkg/filter/filter.go
  pkg/filter/filter_test.go
  pkg/filter/utils.go
  pkg/filter/utils_test.go
  tests/integration_tests/bdr_mode/conf/cf.toml
  tests/integration_tests/bdr_mode/conf/down.toml
  tests/integration_tests/bdr_mode/conf/up.toml
  tests/integration_tests/bdr_mode/run.sh
Due: cdc

fix error 7
  tests/integration_tests/changefeed_finish/run.sh
Due: none

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
