Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

fix test
  dm/config/security/security.go
  dm/config/security_test.go
  dm/config/task_converters.go
  dm/loader/lightning.go
  dm/loader/lightning_test.go
  dm/loader/tls_conf/ca.pem
  dm/loader/tls_conf/ca2.pem
  dm/loader/tls_conf/dm.key
  dm/loader/tls_conf/dm.pem
  dm/loader/tls_conf/tidb.key
  dm/loader/tls_conf/tidb.pem
  dm/tests/openapi/run.sh
Due: dm

fmt
  dm/loader/lightning_test.go
Due: dm

debug
  dm/config/task_converters.go
  dm/loader/lightning.go
  dm/tests/openapi/run.sh
Due: dm

check
  cdc/kv/shared_stream.go
Due: cdc

check log
  cdc/kv/shared_client.go
Due: cdc

fix the fmt
  scripts/download-integration-test-binaries.sh
Due: none

consumer(ticdc): canal-json decoder cache table info for each message to avoid allocate memory on each new message (#11895)
  cmd/kafka-consumer/writer.go
  pkg/sink/codec/canal/canal_json_decoder.go
  pkg/sink/codec/canal/canal_json_message.go
  pkg/sink/codec/canal/canal_json_row_event_encoder_test.go
  pkg/sink/codec/common/config.go
  pkg/sink/codec/encoder.go
  pkg/sink/codec/simple/message.go
Due: cdc

use standard json encoder
  pkg/sink/codec/canal/canal_json_decoder.go
Due: cdc

fix test
  dm/tests/openapi/run.sh
Due: dm

reuse the msg interface
  pkg/sink/codec/canal/canal_json_decoder.go
Due: cdc

introduce buffered json decoder
  pkg/sink/codec/canal/canal_json_decoder.go
Due: cdc

fix test
  dm/config/security/security.go
  dm/config/security_test.go
  dm/loader/lightning.go
  dm/loader/lightning_test.go
Due: dm

reuse the gojson
  pkg/sink/codec/canal/canal_json_decoder.go
Due: cdc

add canal json txn decoder
  pkg/sink/codec/canal/canal_json_decoder.go
  pkg/sink/codec/canal/canal_json_row_event_encoder_test.go
  pkg/sink/codec/canal/canal_json_txn_event_decoder.go
  pkg/sink/codec/canal/canal_json_txn_event_decoder_test.go
Due: cdc

fix the decoder
  pkg/sink/codec/canal/canal_json_txn_event_decoder.go
  pkg/sink/codec/canal/canal_json_txn_event_decoder_test.go
Due: cdc

fix the fmt
  pkg/sink/codec/canal/canal_json_txn_event_decoder.go
  pkg/sink/codec/canal/canal_json_txn_event_decoder_test.go
Due: cdc

remove data field
  pkg/sink/codec/canal/canal_json_decoder.go
Due: cdc

*: upgrade tidb to a878e1f
  go.mod
  go.sum
Due: none

*: prompt k8s.io/api version (#11866) (#11900)
  go.mod
  go.sum
Due: none

fix
  dm/config/security/security.go
Due: dm

make fmt
  pkg/sink/codec/canal/canal_json_txn_event_decoder.go
Due: cdc

fix
  dm/loader/lightning.go
Due: dm

delete file ignore blob not exist
  dm/pkg/storage/utils.go
  go.mod
Due: dm

add comment to the method
  pkg/sink/codec/canal/canal_json_txn_event_decoder.go
Due: cdc

ignore error by backend type
  dm/pkg/storage/utils.go
Due: dm

fix
  dm/pkg/storage/utils.go
Due: dm

fix the case
  pkg/sink/codec/canal/canal_json_decoder.go
Due: cdc

storage consumer use canal txn decoder
  cmd/storage-consumer/main.go
  pkg/sink/codec/canal/canal_json_txn_event_decoder.go
Due: cdc

avoid nil pointer
  dm/pkg/storage/utils.go
Due: dm

fix
  dm/config/task_converters.go
  dm/loader/lightning.go
Due: dm

dm: delete file ignore blob file not exist (#11913)
  dm/pkg/storage/utils.go
  go.mod
Due: dm

ddl(ticdc): process only `JobStateDone` DDL jobs and remove the need to capture the `tidb_ddl_history` (#11836)
  cdc/entry/mounter.go
  cdc/puller/ddl_puller.go
  pkg/spanz/span.go
Due: cdc

Revert "ticdc: Support `create table` ddl only appear in tidb_ddl_history instead of tidb_ddl_job table (#10907)"
  cdc/entry/mounter.go
  cdc/puller/ddl_puller.go
  pkg/spanz/span.go
Due: cdc

schemaStorage(ticdc): remove `schemaVersion` in `schemaStorage` (#11869)
  cdc/entry/schema/snapshot.go
  cdc/entry/schema_storage.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
