Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

fix
  pkg/errorutil/util_test.go
Due: cdc

*(cdc): accept access denied error when query tidb_version (#11129) (#11141)
  cdc/sink/dmlsink/txn/mysql/mysql_test.go
  pkg/sink/mysql/db_helper.go
Due: cdc

fix test
  pkg/applier/redo_test.go
Due: cdc

sink(ticdc): quick fail on create table error without primary key when downstream sql_require_primary_key is set (#11144) (#11148)
  pkg/errorutil/util.go
  pkg/errorutil/util_test.go
Due: cdc

try fix some conflict
  cdc/model/sink.go
  cdc/model/sink_test.go
  cdc/processor/processor.go
  cdc/processor/sourcemanager/manager.go
  cdc/processor/sourcemanager/puller/dummy_puller_wrapper.go
  cdc/processor/sourcemanager/puller/puller_wrapper.go
  cdc/redo/reader/reader.go
  cdc/sink/dmlsink/factory/factory.go
  cdc/sink/dmlsink/txn/mysql/mysql.go
  cdc/sink/dmlsink/txn/mysql/mysql_test.go
  cmd/kafka-consumer/main.go
  cmd/pulsar-consumer/main.go
  pkg/applier/redo.go
  pkg/applier/redo_test.go
  pkg/sink/codec/open/open_protocol_decoder.go
  pkg/sink/sink_type.go
  tests/integration_tests/force_replicate_table/run.sh
  tests/integration_tests/run_group.sh
Due: cdc

fix
  cdc/processor/processor.go
Due: cdc

sink(ticdc): only enable batch dml for more than one row (#10971) (#11055)
  cdc/sink/dmlsink/txn/mysql/dml.go
  cdc/sink/dmlsink/txn/mysql/dml_test.go
  cdc/sink/dmlsink/txn/mysql/mysql.go
  cdc/sink/dmlsink/txn/mysql/mysql_test.go
  pkg/applier/redo_test.go
Due: cdc

fix ut
  cdc/api/v1/api_test.go
Due: cdc

disable sequence test
  tests/integration_tests/sequence/run.sh
Due: none

puller(ticdc): fix resolvedTs get stuck when region split and merge (hotfix) (#11159)
  cdc/puller/frontier/frontier.go
  cdc/puller/frontier/frontier_test.go
  scripts/download-integration-test-binaries.sh
  tests/integration_tests/sequence/run.sh
Due: cdc

fix ut
  cdc/api/v1/api_test.go
  cdc/api/v2/api_helpers_test.go
  cdc/api/v2/api_test.go
  cdc/api/v2/capture_test.go
  cdc/api/v2/changefeed_test.go
  cdc/api/v2/health_test.go
  cdc/api/v2/owner_test.go
  cdc/api/v2/processor_test.go
  cdc/api/v2/status_test.go
  cdc/api/v2/tso_test.go
  cdc/api/v2/unsafe_test.go
  cdc/owner/mock/status_provider_mock.go
  cdc/owner/owner.go
  cdc/owner/status_provider.go
Due: cdc

fix lint
  cdc/api/v2/api_helpers_test.go
  cdc/api/v2/capture_test.go
  cdc/api/v2/changefeed_test.go
  cdc/api/v2/owner_test.go
Due: cdc

fix test
  cdc/api/v1/api.go
  cdc/owner/owner.go
Due: cdc

fix test
  cdc/api/v2/api.go
Due: cdc

adjust the decoder.
  pkg/sink/codec/simple/decoder.go
Due: cdc

simplify the build ddl event method
  pkg/sink/codec/simple/message.go
Due: cdc

adjust 2 logs.
  cmd/kafka-consumer/main.go
  pkg/sink/codec/simple/decoder.go
Due: cdc

fix rename table ddl error
  pkg/sink/codec/bootstraper.go
Due: cdc

fix make check error
  cdc/sink/ddlsink/mq/ddlproducer/pulsar_ddl_producer.go
Due: cdc

revert unrelated changes
  pkg/sink/codec/bootstraper.go
Due: cdc

async close pulsar client and producer
  cdc/sink/ddlsink/mq/ddlproducer/pulsar_ddl_producer.go
  cdc/sink/dmlsink/mq/dmlproducer/pulsar_dml_producer.go
  pkg/sink/pulsar/factory.go
Due: cdc

use DefaultMaxReconnectToPulsarBroker to limit pulsar producer close cost time
  cdc/sink/ddlsink/mq/ddlproducer/pulsar_ddl_producer.go
  cdc/sink/dmlsink/mq/dmlproducer/pulsar_dml_producer.go
  pkg/config/sink.go
Due: cdc

fix swag
  docs/swagger/docs.go
  docs/swagger/swagger.json
  docs/swagger/swagger.yaml
Due: none

add one unit test.
  pkg/sink/codec/simple/encoder_test.go
Due: cdc

bump tidb to fix errors package issue.
  go.mod
  go.sum
Due: none

small fix
  cmd/storage-consumer/main.go
Due: cdc

format
  pkg/applier/redo_test.go
Due: cdc

fix
  cdc/processor/sinkmanager/redo_log_worker_test.go
  cdc/processor/sinkmanager/table_sink_worker_test.go
Due: cdc

fix go mod
  dm/checker/checker.go
  go.mod
  go.sum
Due: dm

update gomod
  go.mod
  go.sum
Due: none

first commit
  new_arch/downstreamadapter/event.go
  new_arch/downstreamadapter/event_dispatcher_manager.go
  new_arch/downstreamadapter/messages/message.proto
  new_arch/downstreamadapter/mounter.go
  new_arch/downstreamadapter/sink.go
  new_arch/downstreamadapter/state.go
  new_arch/downstreamadapter/table_event_dispatcher.go
  new_arch/downstreamadapter/table_trigger_event_dispatcher.go
  new_arch/downstreamadapter/worker.go
Due: none

remove tableinfo
  new_arch/downstreamadapter/table_event_dispatcher.go
Due: none

update gomod
  dm/pkg/conn/basedb.go
  dm/pkg/utils/time.go
  go.mod
  go.sum
  pkg/pdutil/api_client.go
  pkg/util/tz.go
Due: cdc, dm

fix test
  cmd/kafka-consumer/main.go
Due: cdc

fix conflict
  cdc/model/sink.go
  cdc/model/sink_test.go
  cdc/processor/processor.go
  cdc/processor/sourcemanager/manager.go
  cdc/processor/sourcemanager/puller/puller_wrapper.go
  cdc/redo/reader/reader.go
  cdc/sink/codec/open/open_protocol_decoder.go
  cdc/sinkv2/eventsink/factory/factory.go
  cdc/sinkv2/eventsink/txn/mysql/mysql.go
  cdc/sinkv2/eventsink/txn/mysql/mysql_test.go
  cmd/kafka-consumer/main.go
  cmd/pulsar-consumer/main.go
  cmd/storage-consumer/main.go
  dm/tests/load_interrupt/conf/diff_config.toml
  pkg/applier/redo_test.go
  tests/integration_tests/force_replicate_table/run.sh
  tests/integration_tests/run_group.sh
Due: cdc, dm

fix test
  cdc/sinkv2/tablesink/table_sink_impl.go
  pkg/applier/redo.go
  pkg/applier/redo_test.go
  pkg/sink/sink_type.go
Due: cdc

fix kafka test
  cmd/kafka-consumer/main.go
Due: cdc

add a test
  cdc/model/sink_test.go
Due: cdc

fix test
  cdc/processor/sinkmanager/manager_test.go
  cdc/processor/sinkmanager/table_sink_worker_test.go
Due: cdc

fix test
  cdc/model/sink_test.go
  cmd/kafka-consumer/main.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
