Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

update
  cdc/redo/reader/reader.go
Due: cdc

fix panic on the convert to string.
  cdc/entry/mounter.go
Due: cdc

add message pb go
  new_arch/downstreamadapter/event.go
  new_arch/downstreamadapter/event_dispatcher_manager.go
  new_arch/downstreamadapter/messages/message.pb.go
  new_arch/downstreamadapter/messages/message.proto
  new_arch/downstreamadapter/table_event_dispatcher.go
  new_arch/downstreamadapter/task.go
  new_arch/downstreamadapter/transport.go
  scripts/generate-protobuf.sh
Due: none

fix p2p config
  pkg/config/messages.go
Due: cdc

remove p80
  pkg/sink/kafka/metrics_collector.go
Due: cdc

fix panic on parser type string.
  pkg/util/tz.go
Due: cdc

revert e5999e3
  cdc/api/v2/model.go
  cdc/kv/client.go
  cdc/kv/client_bench_test.go
  cdc/kv/client_test.go
  cdc/kv/metrics.go
  cdc/kv/region_worker.go
  cdc/model/changefeed_test.go
  cdc/processor/pipeline/puller.go
  cdc/processor/processor.go
  cdc/processor/sinkmanager/manager_test.go
  cdc/processor/sinkmanager/table_sink_worker_test.go
  cdc/processor/sourcemanager/manager.go
  cdc/processor/sourcemanager/puller/puller_wrapper.go
  cdc/puller/ddl_puller.go
  cdc/puller/puller.go
  cdc/puller/puller_test.go
  pkg/config/config_test_data.go
  pkg/config/replica_config.go
Due: cdc

keep changefeed config unchange
  cdc/api/v2/model.go
  cdc/model/changefeed_test.go
  pkg/config/config_test_data.go
  pkg/config/replica_config.go
Due: cdc

fix pd client method.
  cdc/entry/mounter_test.go
  pkg/migrate/migrate_test.go
  pkg/pdutil/api_client_test.go
Due: cdc

fix a change
  dm/pkg/utils/common.go
Due: dm

fix IT
  dm/tests/lightning_mode/run.sh
Due: dm

update kvproto
  go.mod
  go.sum
Due: none

Update cmd/kafka-consumer/confluent_consumer.go
  cmd/kafka-consumer/confluent_consumer.go
Due: cdc

Update cmd/kafka-consumer/consumer.go
  cmd/kafka-consumer/consumer.go
Due: cdc

rename consumerOption to the option.
  cmd/kafka-consumer/confluent_consumer.go
  cmd/kafka-consumer/event_group.go
  cmd/kafka-consumer/option.go
  cmd/kafka-consumer/writer.go
Due: cdc

fix
  cdc/kv/matcher.go
  cdc/kv/matcher_test.go
Due: cdc

remove confluent from the consumer.
  cmd/kafka-consumer/confluent_consumer.go
  cmd/kafka-consumer/consumer.go
Due: cdc

adjust how to initialize the consumer
  cmd/kafka-consumer/consumer.go
  cmd/kafka-consumer/main.go
  cmd/kafka-consumer/option.go
  cmd/kafka-consumer/writer.go
Due: cdc

adjust how to initialize the writer
  cmd/kafka-consumer/consumer.go
  cmd/kafka-consumer/option.go
  cmd/kafka-consumer/writer.go
Due: cdc

read message no timeout.
  cmd/kafka-consumer/consumer.go
Due: cdc

chore: fix some typo about Changefeed (#11050)
  cdc/owner/feed_state.go
  cdc/owner/feed_state_manager.go
  cdc/owner/owner_test.go
  pkg/orchestrator/reactor_state.go
Due: cdc

fix format
  cmd/kafka-consumer/consumer.go
  cmd/kafka-consumer/option.go
  cmd/kafka-consumer/writer.go
Due: cdc

update
  cdc/redo/reader/reader_test.go
Due: cdc

remove unused cdcv2 package
  tests/integration_tests/api_v2/cases.go
Due: none

fix cancel
  cmd/kafka-consumer/writer.go
Due: cdc

adjust table id.
  cmd/kafka-consumer/writer.go
Due: cdc

schema(ticdc): remove the useless indices offset field from the table info (#11178)
  cdc/model/schema_storage.go
  cdc/model/schema_storage_test.go
Due: cdc

fix check
  cmd/kafka-consumer/writer.go
Due: cdc

dm: fix update dml loss if binary column is primary key (#10685) (#10691)
  dm/syncer/dml.go
  dm/tests/many_tables/run.sh
  dm/tests/shardddl1_1/conf/single-source-no-sharding.yaml
  dm/tests/shardddl1_1/run.sh
Due: dm

just panic immediately, no need to return error.
  cmd/kafka-consumer/consumer.go
  cmd/kafka-consumer/writer.go
Due: cdc

panic if new the consumer meet error.
  cmd/kafka-consumer/consumer.go
  cmd/kafka-consumer/writer.go
Due: cdc

change
  dm/pkg/binlog/common/replication.go
  go.mod
  go.sum
Due: dm

This is an automated cherry-pick of #11043
  dm/pkg/binlog/common/replication.go
  go.mod
  go.sum
Due: dm

panic all the way.
  cmd/kafka-consumer/consumer.go
  cmd/kafka-consumer/main.go
Due: cdc
