Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

This is an automated cherry-pick of #10899
  cdc/processor/sourcemanager/engine/factory/factory.go
  cdc/processor/sourcemanager/engine/factory/pebble.go
  cdc/processor/sourcemanager/engine/pebble/db.go
  cdc/processor/sourcemanager/engine/pebble/event_sorter.go
  cmd/dm-worker/main.go
  dm/checker/checker.go
  dm/config/task.go
  dm/docs/RFCS/20220308_support_dump_files_store_in_s3.md
  dm/loader/lightning.go
  dm/loader/lightning_test.go
  dm/pkg/checker/lightning.go
  dm/pkg/checker/lightning_test.go
  dm/pkg/checker/table_structure.go
  dm/pkg/log/log.go
  dm/pkg/log/log_test.go
  dm/pkg/schema/tracker.go
  dm/pkg/utils/common.go
  dm/syncer/expr_filter_group.go
  dm/syncer/validator_cond_test.go
  dm/tests/_utils/run_tidb_server
  dm/unit/unit_test.go
  go.mod
  go.sum
  pkg/filter/expr_filter.go
  pkg/migrate/migrate_test.go
  pkg/pdutil/api_client.go
  pkg/pdutil/api_client_test.go
  pkg/sink/codec/csv/csv_decoder.go
Due: cdc, dm

sorter: fix the bug that value can be corrupted when accessing sorter (#11548)
  cdc/processor/sourcemanager/engine/pebble/event_sorter.go
Due: cdc

fix pebble next
  cdc/processor/sourcemanager/engine/pebble/event_sorter.go
Due: cdc

sorter: fix the bug that value can be corrupted when accessing sorter (#11548) #11557
  cdc/processor/sourcemanager/engine/pebble/event_sorter.go
Due: cdc

Update config.go
  pkg/sink/mysql/config.go
Due: cdc

delete metrics in the scheduler
  cdc/scheduler/internal/v3/agent/agent.go
  cdc/scheduler/internal/v3/replication/replication_manager.go
Due: cdc

add one new barrier none.
  cdc/owner/barrier.go
  cdc/owner/changefeed.go
Due: cdc

update test
  tests/integration_tests/vector/data/data.sql
  tests/integration_tests/vector/run.sh
Due: none

add one new barrier none.
  cdc/owner/changefeed.go
Due: cdc

changefeed(ticdc): fix barrier ts set incorrectly cause monitor become year (#11560)
  cdc/owner/changefeed.go
Due: cdc

update
  dm/tests/download-integration-test-binaries.sh
  scripts/download-integration-test-binaries.sh
Due: dm

fix make check
  cdc/processor/sinkmanager/manager.go
Due: cdc

fix make fmt
  cdc/processor/sinkmanager/manager.go
Due: cdc

fmt
  dm/tests/download-integration-test-binaries.sh
  scripts/download-integration-test-binaries.sh
Due: dm

processor: fix a bug that will cause processor Tick get stuck when downstream is Kafka (#11339) (#11389)
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sinkmanager/manager_test.go
  cdc/processor/sinkmanager/table_sink_wrapper.go
  cdc/processor/sinkmanager/table_sink_wrapper_test.go
  pkg/config/sink.go
  tests/integration_tests/hang_sink_suicide/conf/changefeed.toml
  tests/integration_tests/hang_sink_suicide/conf/diff_config.toml
  tests/integration_tests/hang_sink_suicide/run.sh
  tests/integration_tests/run_group.sh
Due: cdc

update metrics
  metrics/grafana/ticdc.json
Due: none

update
  cdc/sink/ddlsink/mysql/mysql_ddl_sink.go
  cdc/sink/dmlsink/txn/mysql/dml.go
  cdc/sink/dmlsink/txn/mysql/mysql.go
  pkg/sink/mysql/config.go
Due: cdc

sink(ticdc): use admin statement to query async ddl status (#11535)
  cdc/sink/ddlsink/mysql/async_ddl.go
  cdc/sink/ddlsink/mysql/async_ddl_test.go
Due: cdc

test(ticdc,dm): modify download-integration-test-binaries script (#11564)
  dm/tests/download-integration-test-binaries.sh
  scripts/download-integration-test-binaries.sh
Due: dm

send bootstrap in a goroutine
  cdc/owner/ddl_manager.go
Due: cdc

Update replication_set.go
  cdc/scheduler/internal/v3/replication/replication_set.go
Due: cdc

sorter: fix the bug that value can be corrupted when accessing sorter (#11548) (#11568)
  cdc/processor/sourcemanager/engine/pebble/event_sorter.go
Due: cdc

update
  cdc/sink/util/vector.go
  pkg/sink/codec/canal/canal_entry.go
  pkg/sink/codec/debezium/codec.go
Due: cdc

chore
  pkg/sink/codec/simple/message.go
  tests/integration_tests/vector/run.sh
Due: cdc

update
  cdc/sink/dmlsink/txn/mysql/mysql.go
Due: cdc

.
  cdc/sink/dmlsink/txn/mysql/dml.go
  cdc/sink/dmlsink/txn/mysql/mysql.go
Due: cdc

update
  cdc/sink/dmlsink/txn/mysql/mysql.go
  dm/tests/download-compatibility-test-binaries.sh
Due: cdc, dm

scheduler(ticdc): modify scheduler monitoring (#11567)
  cdc/scheduler/internal/v3/replication/replication_set.go
Due: cdc

add test
  tests/integration_tests/run_group.sh
Due: none

ci: udpate OWNERS_ALIASES file
  OWNERS_ALIASES
Due: none

chore: lint and update cdc download script
  scripts/download-integration-test-binaries.sh
Due: none

Specify the branch for downloading dependencies through env var
  scripts/download-integration-test-binaries.sh
Due: none

fix send bootstrap message blocks other changefeed
  cdc/owner/changefeed.go
  cdc/owner/ddl_manager.go
  cdc/owner/ddl_manager_test.go
Due: cdc

format: shell script format
  scripts/download-integration-test-binaries.sh
Due: none

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
