Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

fix fmt
  tests/integration_tests/http_api_tls_with_user_auth/run.sh
Due: none

binlog-filter: log error instead of return it (#10380) (#10385)
  dm/tests/all_mode/conf/dm-task.yaml
  go.mod
  go.sum
Due: dm

add move table and owner resign cases
  tests/integration_tests/move_table/run.sh
  tests/integration_tests/owner_resign/run.sh
Due: none

fix syntax error
  tests/integration_tests/multi_capture/run.sh
  tests/integration_tests/owner_resign/run.sh
Due: none

fix syntax error
  tests/integration_tests/bdr_mode/data/up.sql
Due: none

tests (ticdc): make bdr_mode integration test more stable (#10620)
  tests/integration_tests/bdr_mode/data/up.sql
Due: none

fix integration test error
  tests/integration_tests/move_table/run.sh
  tests/integration_tests/multi_capture/run.sh
  tests/integration_tests/owner_resign/run.sh
Due: none

fix integration test error 2
  tests/integration_tests/move_table/run.sh
  tests/integration_tests/owner_resign/run.sh
Due: none

small refactor
  cdc/sink/tablesink/table_sink_impl.go
Due: cdc

fix the data race.
  pkg/causality/internal/node.go
Due: cdc

check min service gc safepoint when resuming changefeed
  cdc/api/v2/api_helpers.go
Due: cdc

test
  pkg/sqlmodel/multirow.go
Due: cdc

update
  cdc/owner/changefeed.go
Due: cdc

try to fix conflicts.
  cdc/sink/dmlsink/mq/dispatcher/event_router.go
  cdc/sink/dmlsink/mq/dispatcher/event_router_test.go
  cdc/sink/dmlsink/mq/dispatcher/topic/expression.go
Due: cdc

update
  cdc/processor/sourcemanager/sorter/pebble/event_sorter.go
Due: cdc

fix conflicts.
  cdc/sink/ddlsink/mq/kafka_ddl_sink.go
  cdc/sink/dmlsink/mq/dispatcher/event_router.go
  cdc/sink/dmlsink/mq/dispatcher/event_router_test.go
  cdc/sink/dmlsink/mq/kafka_dml_sink.go
Due: cdc

fix consumer
  cmd/kafka-consumer/main.go
Due: cdc

fix
  pkg/sqlmodel/multirow.go
Due: cdc

This is an automated cherry-pick of #10346
  dm/pkg/schema/tracker.go
  dm/pkg/schema/tracker_test.go
Due: dm

revert test change
  pkg/sqlmodel/multirow_test.go
  pkg/sqlmodel/row_change_test.go
Due: cdc

*: fix dm integration test failure (#10631)
  pkg/sqlmodel/multirow.go
  pkg/sqlmodel/multirow_test.go
  pkg/sqlmodel/row_change_test.go
Due: cdc

api, cli, upstream(ticdc): support basic authentication via upstream tidb (#10583)
  cdc/api/middleware/middleware.go
  cdc/api/owner/owner.go
  cdc/api/status/status.go
  cdc/api/util.go
  cdc/api/v1/api.go
  cdc/api/v2/api.go
  cdc/api/v2/changefeed.go
  cdc/api/v2/processor.go
  errors.toml
  go.mod
  go.sum
  pkg/api/internal/rest/client.go
  pkg/api/internal/rest/config.go
  pkg/api/internal/rest/request.go
  pkg/api/internal/rest/request_test.go
  pkg/api/v2/api_client.go
  pkg/cmd/cli/cli.go
  pkg/cmd/factory/factory.go
  pkg/cmd/factory/factory_impl.go
  pkg/cmd/factory/factory_impl_test.go
  pkg/cmd/factory/mock/factory_mock.go
  pkg/cmd/util/helper.go
  pkg/config/config_test_data.go
  pkg/config/server_config.go
  pkg/errors/cdc_errors.go
  pkg/errorutil/util.go
  pkg/security/credential.go
  pkg/upstream/topo.go
  pkg/upstream/upstream.go
  pkg/upstream/upstream_test.go
  tests/integration_tests/_utils/run_cdc_server
  tests/integration_tests/http_api_tls_with_user_auth/run.sh
  tests/integration_tests/http_api_tls_with_user_auth/util/test_case.py
  tests/integration_tests/run_group.sh
Due: cdc

kafka(ticdc): event router allow hard code topics and set the schema optional in the topic expression (#9755) (#10356)
  cdc/sink/ddlsink/mq/kafka_ddl_sink.go
  cdc/sink/dmlsink/mq/dispatcher/event_router.go
  cdc/sink/dmlsink/mq/dispatcher/event_router_test.go
  cdc/sink/dmlsink/mq/dispatcher/topic/dispatcher.go
  cdc/sink/dmlsink/mq/dispatcher/topic/dispatcher_test.go
  cdc/sink/dmlsink/mq/dispatcher/topic/expression.go
  cdc/sink/dmlsink/mq/dispatcher/topic/expression_test.go
  cdc/sink/dmlsink/mq/kafka_dml_sink.go
  cmd/kafka-consumer/main.go
  tests/integration_tests/multi_topics/conf/changefeed.toml
  tests/integration_tests/multi_topics/data/step1.sql
  tests/integration_tests/multi_topics/run.sh
Due: cdc

add an error to ddl error black list
  pkg/errorutil/util.go
Due: cdc

add unit test
  pkg/errorutil/util_test.go
Due: cdc

mysql(ticdc): fix the data race in the conflict detector (#10630)
  pkg/causality/internal/node.go
Due: cdc

mounter(ticdc): calculate row level checksum for timestmap by using UTC time zone (#10564)
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
  dm/checker/checker.go
  dm/dumpling/dumpling.go
  dm/loader/lightning.go
  dm/pkg/checker/binlog.go
  dm/pkg/checker/lightning.go
  dm/pkg/conn/basedb.go
  dm/pkg/conn/mockdb.go
  dm/pkg/schema/tracker.go
  dm/pkg/utils/common.go
  dm/relay/relay.go
  dm/syncer/expr_filter_group.go
  dm/syncer/util.go
  engine/jobmaster/dm/checkpoint/agent_test.go
  engine/pkg/meta/model/config.go
  examples/golang/avro-checksum-verification/go.mod
  examples/golang/avro-checksum-verification/go.sum
  examples/golang/avro-checksum-verification/main.go
  go.mod
  go.sum
  pkg/filter/expr_filter.go
  pkg/filter/expr_filter_test.go
  pkg/sink/codec/common/verify_checksum.go
  pkg/sink/codec/simple/avro.go
  pkg/sink/codec/simple/decoder.go
  pkg/sink/codec/simple/encoder.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/marshaller.go
  pkg/sink/codec/simple/message.go
  pkg/sink/codec/simple/message.json
  scripts/download-integration-test-binaries.sh
  tests/integration_tests/kafka_simple_basic/run.sh
Due: cdc, dm, engine

skip unstable test TestGenerateTableSinkTaskWithBarrierTs
  cdc/processor/sinkmanager/manager_test.go
Due: cdc

api(ticdc): Check min service gc safepoint when resume changefeed (#10546) (#10626)
  cdc/api/v2/api_helpers.go
  cdc/api/v2/api_helpers_mock.go
  cdc/api/v2/changefeed.go
  cdc/api/v2/changefeed_test.go
Due: cdc

add more unit test to cover ddl types.
  pkg/sink/codec/simple/decoder.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
Due: cdc

*: fix package sourcegraph/appdash not found (#10324) (#10329)
  cdc/processor/sinkmanager/manager_test.go
Due: cdc

refine sink code base
  cdc/model/mounter.go
  cdc/model/mounter_test.go
  cdc/processor/processor.go
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sinkmanager/manager_test.go
  cdc/processor/sinkmanager/redo_log_worker.go
  cdc/processor/sinkmanager/redo_log_worker_test.go
  cdc/processor/sinkmanager/table_progress_heap.go
  cdc/processor/sinkmanager/table_sink_worker.go
  cdc/processor/sinkmanager/table_sink_worker_test.go
  cdc/processor/sinkmanager/table_sink_wrapper.go
  cdc/processor/sinkmanager/table_sink_wrapper_test.go
Due: cdc

fix error
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sinkmanager/manager_test.go
  cdc/processor/sinkmanager/table_sink_wrapper.go
  cdc/processor/sinkmanager/table_sink_wrapper_test.go
Due: cdc

codec(ticdc): add more unit test to cover simple protocol functionality (#10597)
  cdc/sink/ddlsink/mq/mq_ddl_sink_test.go
  pkg/sink/codec/simple/decoder.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
Due: cdc

fix error 2
  cdc/processor/sinkmanager/table_sink_wrapper.go
Due: cdc

remove old kvClient and puller
  cdc/kv/client.go
  cdc/kv/client_bench_test.go
  cdc/kv/client_test.go
  cdc/kv/region_worker.go
  cdc/kv/region_worker_test.go
  cdc/kv/shared_client.go
  cdc/kv/shared_client_test.go
  cdc/kv/shared_region_worker.go
  cdc/processor/sourcemanager/manager.go
  cdc/processor/sourcemanager/puller/dummy_puller_wrapper.go
  cdc/processor/sourcemanager/puller/puller_wrapper.go
  cdc/puller/ddl_puller.go
  cdc/puller/ddl_puller_test.go
  cdc/puller/multiplexing_puller.go
  cdc/puller/puller.go
  cdc/puller/puller_test.go
  cdc/server/server.go
Due: cdc

add more tests
  pkg/sink/codec/simple/encoder_test.go
Due: cdc

codec(ticdc): add partition related ddl event unit test to the simple protocol (#10638)
  pkg/sink/codec/simple/encoder_test.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
