Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

add more logs to consumer to panic
  pkg/sink/codec/encoder_group.go
Due: cdc

fix error
  cdc/api/v2/api.go
Due: cdc

fix resign owner api not processed by owner node bug (#11770) (#11778)
  cdc/api/v2/api.go
  tests/integration_tests/availability/owner.sh
Due: cdc

fix the worker
  cdc/sink/dmlsink/mq/worker.go
  pkg/sink/codec/canal/canal_json_row_event_encoder.go
  pkg/sink/codec/common/message.go
Due: cdc

fix the worker
  cdc/sink/dmlsink/mq/worker.go
Due: cdc

dm: add TCP connection IO traffic statistics to sync stage status in OpenAPI response (#11742)
  cdc/processor/tablepb/table.pb.go
  dm/config/subtask.go
  dm/config/subtask_test.go
  dm/config/task_converters.go
  dm/config/task_converters_test.go
  dm/config/task_test.go
  dm/master/openapi_controller.go
  dm/master/openapi_view_test.go
  dm/openapi/gen.server.go
  dm/openapi/gen.types.go
  dm/openapi/spec/dm.yaml
  dm/pb/dmworker.pb.go
  dm/proto/dmworker.proto
  dm/syncer/status.go
  dm/syncer/syncer.go
  dm/tests/openapi/client/openapi_task_check
  dm/tests/openapi/run.sh
  engine/enginepb/datarw.pb.go
  engine/enginepb/executor.pb.go
  engine/enginepb/master.pb.go
  engine/enginepb/projects.pb.go
  engine/enginepb/resources.pb.go
  engine/enginepb/test.pb.go
  tools/check/go.mod
  tools/check/go.sum
Due: cdc, dm, engine

Update error.txt
  dm/_utils/terror_gen/errors_release.txt
  dm/errors.toml
Due: dm

Fix format.
  engine/jobmaster/dm/task_manager.go
Due: engine

Primary work to add a stand-alone load mode to DM. Load&Sync mode might not be needed anymore and could be depreciated in the future.
  dm/config/helper.go
  dm/config/helper_test.go
  dm/config/subtask.go
  dm/config/task.go
  dm/pkg/terror/error_list.go
  dm/worker/subtask.go
  engine/executor/dm/worker.go
  engine/jobmaster/dm/task_manager.go
  engine/jobmaster/dm/worker_manager.go
Due: dm, engine

Add stand-alone load mode into openapi.
  dm/openapi/gen.client.go
  dm/openapi/gen.server.go
  dm/openapi/gen.types.go
  dm/openapi/spec/dm.yaml
Due: dm

Rewrite load testing based on what we have already with dump.
  dm/tests/openapi/client/openapi_task_check
  dm/tests/openapi/run.sh
Due: dm

Fix openapi test case.
  dm/tests/openapi/client/openapi_task_check
Due: dm

Fix fmt issue with gen.go's.
  dm/openapi/gen.client.go
  dm/openapi/gen.server.go
Due: dm

Typo fix.
  dm/tests/openapi/client/openapi_task_check
Due: dm

load and load&sync should not use subtask adjust.
  dm/config/subtask.go
Due: dm

Revert changes done to engine for the moment.
  engine/jobmaster/dm/task_manager.go
  engine/jobmaster/dm/worker_manager.go
Due: engine

One source for openapi test is enough.
  dm/tests/openapi/client/openapi_task_check
Due: dm

Correct taskmanager cause sync mode never finish.
  engine/jobmaster/dm/task_manager.go
Due: engine

regen api.
  dm/openapi/gen.server.go
Due: dm

add more logs
  pkg/sink/kafka/factory.go
Due: cdc

update
  cdc/entry/mounter_group.go
  cdc/entry/mounter_group_test.go
  pkg/config/consistent.go
  pkg/config/consistent_test.go
  pkg/redo/config.go
  pkg/sink/codec/encoder_group_test.go
Due: cdc

update
  pkg/config/consistent.go
  pkg/config/consistent_test.go
Due: cdc

fix check
  cdc/sink/dmlsink/mq/worker.go
Due: cdc

dm: fix test
  .github/workflows/dm_mariadb_master_down_and_up.yaml
  dm/pkg/dumpling/utils_test.go
Due: dm

dm: fix test
  .github/workflows/dm_mariadb_master_down_and_up.yaml
  dm/tests/mariadb_master_down_and_up/docker-compose.yml
Due: dm

add table id to consumer log
  cmd/kafka-consumer/writer.go
Due: cdc

add partiton to log
  cmd/kafka-consumer/writer.go
Due: cdc

add more logs
  cdc/sink/dmlsink/mq/worker.go
  cmd/kafka-consumer/consumer.go
  cmd/kafka-consumer/writer.go
  pkg/sink/kafka/factory.go
Due: cdc

remove resolveTs
  cmd/kafka-consumer/event_group.go
  cmd/kafka-consumer/writer.go
Due: cdc

add more logs
  cdc/sink/dmlsink/mq/dmlproducer/kafka_dml_producer.go
  cdc/sink/dmlsink/mq/worker.go
  pkg/sink/codec/canal/canal_json_row_event_encoder.go
  pkg/sink/codec/common/message.go
  pkg/sink/codec/encoder_group.go
  pkg/sink/kafka/factory.go
  pkg/sink/kafka/mock_factory.go
  pkg/sink/kafka/v2/factory.go
Due: cdc

add more logs
  cdc/sink/dmlsink/mq/worker.go
Due: cdc

ddl: add UTs for `SplitQueries` function
  pkg/ddl/util_test.go
Due: cdc

fix commit ts
  cmd/kafka-consumer/writer.go
Due: cdc

add more
  cmd/kafka-consumer/writer.go
  pkg/sink/codec/canal/canal_json_message.go
Due: cdc

Update run.sh
  tests/integration_tests/ddl_attributes/run.sh
Due: none

test(ticdc): update the default value of ttl_job_interval (#11814)
  tests/integration_tests/ddl_attributes/run.sh
Due: none

adjust writer
  cmd/kafka-consumer/writer.go
Due: cdc

puller: handle create tables ddl properly
  cdc/owner/ddl_manager.go
  cdc/puller/ddl_puller.go
  cdc/puller/ddl_puller_test.go
Due: cdc

integration tests: test semicolon when `tidb_enable_fast_create_table=on`
  tests/integration_tests/batch_add_table/run.sh
Due: none

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
