Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

revet debug
  dm/tests/tls/run.sh
Due: dm

fix
  dm/tests/_utils/run_downstream_cluster
Due: dm

dm: fix tls
  go.mod
Due: none

Update encoder_group.go
  pkg/sink/codec/encoder_group.go
Due: cdc

revert
  dm/tests/tls/run.sh
Due: dm

dm: fix tls
  dm/tests/tls/run.sh
Due: dm

ddl puller: resolve merge conflicts
  cdc/puller/ddl_puller.go
Due: cdc

fix resign owner api not processed by owner node bug (#11770)
  cdc/api/v2/api.go
  tests/integration_tests/availability/owner.sh
Due: cdc

ddl_puller.go(ticdc): fix DDLs are ignored when schema versions are out of order (#11733) (#11757)
  cdc/puller/ddl_puller.go
Due: cdc

expose all dump and load task status fileds
  dm/openapi/gen.server.go
  dm/openapi/gen.types.go
  dm/openapi/spec/dm.yaml
Due: dm

change
  go.mod
  go.sum
Due: none

fix openapi spec and regenerate
  dm/master/openapi_controller.go
  dm/openapi/gen.server.go
  dm/openapi/gen.types.go
  dm/openapi/spec/dm.yaml
Due: dm

Revert "Fix TLS generation script to use RSA keys instead of EC keys"
  dm/tests/tls/conf/ca.pem
  dm/tests/tls/conf/dm.key
  dm/tests/tls/conf/dm.pem
  dm/tests/tls/conf/generate_tls.sh
  dm/tests/tls/conf/other.key
  dm/tests/tls/conf/other.pem
Due: dm

change
  dm/pkg/parser/common_test.go
Due: dm

*: upgrade tidb to include fix (#11776)
  dm/pkg/parser/common_test.go
  go.mod
  go.sum
Due: dm

debug
  dm/master/openapi_view_test.go
Due: dm

This is an automated cherry-pick of #11770
  cdc/api/v2/api.go
  tests/integration_tests/availability/owner.sh
Due: cdc

fix resign owner api not processed by owner node bug
  cdc/api/v2/api.go
Due: cdc

add test
  tests/integration_tests/availability/owner.sh
Due: none

add test validate dump status
  dm/master/openapi_view_test.go
Due: dm

f
  dm/master/openapi_view_test.go
  dm/tests/openapi/client/openapi_task_check
  dm/tests/openapi/run.sh
Due: dm

*: upgrade tidb to include fix (#11776) (#11777)
  dm/pkg/parser/common_test.go
  go.mod
  go.sum
Due: dm

Redact query arguments in dm log
  dm/syncer/dbconn/db.go
Due: dm

Redact query arguments in dm log (#11783)
  dm/syncer/dbconn/db.go
Due: dm

check curl get 200
  dm/tests/_utils/run_downstream_cluster
Due: dm

fmt
  dm/tests/_utils/run_downstream_cluster
Due: dm

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
