Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

fix format
  pkg/sink/sink_type.go
Due: cdc

ticdc: Improved UTs
  cdc/sink/ddlsink/mq/pulsar_ddl_sink_test.go
  cdc/sink/dmlsink/mq/dmlproducer/pulsar_dml_producer_test.go
  pkg/sink/pulsar/config.go
  pkg/sink/pulsar/config_test.go
Due: cdc

Revert "add logs to help debug"
  cdc/processor/processor.go
  cdc/processor/sinkmanager/manager.go
  cdc/scheduler/internal/v3/agent/agent.go
Due: cdc

unit test
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sinkmanager/manager_test.go
Due: cdc

remove MQ sink stuck check mechanism
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sinkmanager/manager_test.go
Due: cdc

remove useless test case
  pkg/config/sink.go
  tests/integration_tests/hang_sink_suicide/conf/changefeed.toml
  tests/integration_tests/hang_sink_suicide/conf/diff_config.toml
  tests/integration_tests/hang_sink_suicide/run.sh
Due: cdc

add comments
  cdc/processor/sinkmanager/manager.go
Due: cdc

fix failed tests
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sinkmanager/table_sink_wrapper.go
  cdc/processor/sinkmanager/table_sink_wrapper_test.go
  tests/integration_tests/run_group.sh
Due: cdc

ticdc:fix format
  cdc/sink/ddlsink/mq/pulsar_ddl_sink_test.go
  pkg/sink/pulsar/config.go
Due: cdc

ticdc: move defer out of loop for UTs
  cdc/sink/ddlsink/mq/pulsar_ddl_sink_test.go
  cdc/sink/dmlsink/mq/dmlproducer/pulsar_dml_producer_test.go
Due: cdc

resolve comments
  cdc/processor/sinkmanager/manager.go
Due: cdc

fix case.
  cdc/entry/mounter_test.go
  dm/pkg/schema/tracker.go
Due: cdc, dm

ticdc : http & https support in pulsar schema for pulsar downstream type changefeed creation. (#11338)
  cdc/sink/ddlsink/factory/factory.go
  cdc/sink/ddlsink/mq/pulsar_ddl_sink_test.go
  cdc/sink/dmlsink/factory/factory.go
  cdc/sink/dmlsink/mq/dmlproducer/pulsar_dml_producer_test.go
  pkg/config/sink.go
  pkg/sink/pulsar/config.go
  pkg/sink/pulsar/config_test.go
  pkg/sink/sink_type.go
Due: cdc

fix case.
  cdc/entry/mounter_test.go
Due: cdc

support query row checksum from the upstream tidb
  pkg/sink/codec/common/helper.go
Due: cdc

build: simply the release version composing step
  Makefile
Due: none

add kafka compression ratio description for grafana
  metrics/grafana/ticdc.json
Due: none

just for trigger
  dm/tests/run.sh
  tests/integration_tests/run.sh
Due: dm

fix conflict
  pkg/sink/kafka/metrics_collector.go
Due: cdc

fix conflict
  metrics/grafana/ticdc.json
  pkg/sink/codec/common/compress.go
  pkg/sink/kafka/metrics_collector.go
Due: cdc

fix conflict
  metrics/grafana/ticdc.json
Due: none

This is an automated cherry-pick of #11313
  cdc/sinkv2/metrics/mq/kafka/collector.go
  pkg/sink/codec/common/compress.go
Due: cdc

add several ddl to the simple avro case.
  tests/integration_tests/kafka_simple_basic_avro/data/data.sql
Due: none

metrics(ticdc): add kafka compression ratio description for grafana (#11348)
  metrics/grafana/ticdc.json
Due: none

do not panic the consumer
  cmd/kafka-consumer/consumer.go
  cmd/kafka-consumer/writer.go
Due: cdc

release-testing: v8.2.0 tiflow CI trigger
  README_Engine.md
Due: none

fix one ut
  cdc/entry/mounter_test.go
Due: cdc

add one more case.
  tests/integration_tests/kafka_simple_basic_avro/data/data.sql
Due: none

remove unused cdc-v2 configuration
  pkg/config/cdc_v2.go
  pkg/config/cdc_v2_test.go
  pkg/config/config_test_data.go
  pkg/config/debug.go
  pkg/config/server_config.go
Due: cdc

batch dispatch table message
  cdc/scheduler/internal/v3/agent/agent.go
  cdc/scheduler/internal/v3/agent/table.go
  cdc/scheduler/internal/v3/coordinator.go
  cdc/scheduler/schedulepb/table_schedule.pb.go
  cdc/scheduler/schedulepb/table_schedule.proto
Due: cdc

batch dispatch table message
  cdc/scheduler/internal/v3/agent/table.go
Due: cdc

fix ut
  pkg/cmd/server/server_test.go
Due: cdc

batch dispatch table message
  cdc/scheduler/internal/v3/agent/agent.go
  cdc/scheduler/internal/v3/agent/table.go
  cdc/scheduler/internal/v3/coordinator.go
Due: cdc

consumer(ticdc): do not panic the consumer if visit the kafka broker meet error (#11350)
  cmd/kafka-consumer/consumer.go
  cmd/kafka-consumer/writer.go
Due: cdc

update
  pkg/filter/filter.go
  pkg/filter/utils.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
