Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

* (ticdc): bump pd version to 7179657
  go.mod
  go.sum
Due: none

fix conflicts.
  pkg/sink/codec/avro/avro.go
  pkg/sink/codec/avro/decoder_test.go
Due: cdc

fix ut
  cdc/sink/dmlsink/txn/txn_dml_sink_test.go
Due: cdc

fix pulsar
  tests/integration_tests/cli_tls_with_auth/run.sh
Due: none

update
  cdc/model/sink.go
Due: cdc

more changes
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sinkmanager/manager_test.go
  cdc/processor/sinkmanager/redo_log_worker.go
  cdc/processor/sinkmanager/redo_log_worker_test.go
  cdc/processor/sinkmanager/table_sink_worker.go
  cdc/processor/sinkmanager/table_sink_worker_test.go
  cdc/processor/sinkmanager/table_sink_wrapper.go
  cdc/processor/sourcemanager/sorter/memory/event_sorter_test.go
  cdc/processor/sourcemanager/sorter/pebble/encoding/key.go
  cdc/processor/sourcemanager/sorter/pebble/event_sorter.go
Due: cdc

sink(ticdc): limit the number of transactions cached in a mysql worker (#10892) (#10940)
  cdc/sink/dmlsink/txn/txn_dml_sink.go
  cdc/sink/dmlsink/txn/worker.go
  pkg/causality/conflict_detector.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots.go
  pkg/causality/internal/slots_test.go
  pkg/causality/tests/driver.go
  pkg/causality/tests/worker.go
  pkg/causality/txn_cache.go
  pkg/causality/txn_cache_test.go
  pkg/causality/worker.go
Due: cdc

fix
  pkg/sink/codec/simple/encoder_test.go
Due: cdc

disable pulsar
  tests/integration_tests/cli_tls_with_auth/run.sh
Due: none

* (ticdc): fix make tiflow error
  go.mod
  go.sum
Due: none

remove some tests.
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/avro/avro_test_data.go
  pkg/sink/codec/avro/decoder_test.go
Due: cdc

report internal error of redo writer
  cdc/redo/writer/memory/encoding_worker.go
  cdc/redo/writer/memory/file_worker.go
Due: cdc

add tls
  cmd/kafka-consumer/kafkago_consumer.go
Due: cdc

add ut case for open protocol
  pkg/sink/codec/open/open_protocol_encoder_test.go
  pkg/sink/codec/open/open_protocol_message.go
Due: cdc

remove some tests.
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/avro/decoder_test.go
Due: cdc

remove some tests.
  pkg/sink/codec/avro/avro_test.go
Due: cdc

fmt
  Makefile
  cmd/kafka-consumer/kafkago_consumer.go
Due: cdc

update tls config
  cmd/kafka-consumer/kafkago_consumer.go
Due: cdc

* (ticdc): fix execute error
  Makefile
  go.mod
  go.sum
  pkg/sink/codec/maxwell/maxwell_message.go
Due: cdc

puller (ticdc): resolve conflict
  cdc/owner/ddl_manager.go
  cdc/puller/ddl_puller.go
  cdc/puller/ddl_puller_test.go
Due: cdc

disable sequence test
  tests/integration_tests/sequence/run.sh
Due: none

disable case sequence
  tests/integration_tests/sequence/run.sh
Due: none

disable sequence integration test
  tests/integration_tests/sequence/run.sh
Due: none

*: update dependencies tidb and pebbledb (#10899) (#10991)
  cdc/model/schema_storage_test.go
  cdc/processor/sourcemanager/sorter/factory/factory.go
  cdc/processor/sourcemanager/sorter/factory/pebble.go
  cdc/processor/sourcemanager/sorter/pebble/db.go
  cdc/processor/sourcemanager/sorter/pebble/event_sorter.go
  cmd/dm-worker/main.go
  dm/checker/checker.go
  dm/config/task.go
  dm/docs/RFCS/20220308_support_dump_files_store_in_s3.md
  dm/loader/lightning.go
  dm/loader/lightning_test.go
  dm/pkg/checker/lightning.go
  dm/pkg/checker/lightning_test.go
  dm/pkg/checker/table_structure.go
  dm/pkg/log/log.go
  dm/pkg/log/log_test.go
  dm/pkg/schema/tracker.go
  dm/pkg/utils/common.go
  dm/syncer/ddl.go
  dm/syncer/expr_filter_group.go
  dm/syncer/validator_cond_test.go
  dm/unit/unit_test.go
  go.mod
  go.sum
  pkg/filter/expr_filter.go
  pkg/migrate/migrate_test.go
  pkg/pdutil/api_client.go
  pkg/pdutil/api_client_test.go
  pkg/sink/codec/csv/csv_decoder.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sqlmodel/row_change_test.go
  tests/integration_tests/sequence/run.sh
Due: cdc, dm

cli(ticdc): allow client authentication to be enabled without tls (#11005)
  cdc/api/middleware/middleware.go
  pkg/config/server_config.go
  tests/integration_tests/_utils/run_cdc_server
  tests/integration_tests/cli_tls_with_auth/run.sh
  tests/integration_tests/cli_with_auth/run.sh
  tests/integration_tests/http_api_tls_with_user_auth/run.sh
  tests/integration_tests/run_group.sh
  tests/integration_tests/sequence/run.sh
Due: cdc

This is an automated cherry-pick of #11005
  cdc/api/middleware/middleware.go
  pkg/config/server_config.go
  tests/integration_tests/_utils/run_cdc_server
  tests/integration_tests/cli_tls_with_auth/run.sh
  tests/integration_tests/cli_with_auth/run.sh
  tests/integration_tests/http_api_tls_with_user_auth/run.sh
  tests/integration_tests/run_group.sh
  tests/integration_tests/sequence/run.sh
Due: cdc

Update run.sh
  tests/integration_tests/sequence/run.sh
Due: none

sink(ticdc): limit the number of transactions cached in a mysql worker (#10892)
  cdc/sink/dmlsink/txn/txn_dml_sink.go
  cdc/sink/dmlsink/txn/worker.go
  pkg/causality/conflict_detector.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots.go
  pkg/causality/internal/slots_test.go
  pkg/causality/tests/driver.go
  pkg/causality/tests/worker.go
  pkg/causality/txn_cache.go
  pkg/causality/txn_cache_test.go
  pkg/causality/worker.go
Due: cdc

sink(ticdc): Revert changes related to the conflict detector (#10897)
  pkg/causality/conflict_detector.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots_test.go
  pkg/causality/tests/integration_test.go
Due: cdc

remove wwait
  cdc/redo/reader/reader.go
Due: cdc

fix memory check
  cdc/redo/reader/reader.go
  pkg/cmd/redo/apply.go
  pkg/util/memory.go
Due: cdc

enable pprof for redo applier
  pkg/cmd/redo/apply.go
Due: cdc

fix lint
  pkg/cmd/redo/apply.go
Due: cdc

redo(ticdc): enable pprof and set memory limit for redo applier (#10904) (#10993)
  cdc/redo/reader/reader.go
  pkg/cmd/redo/apply.go
  pkg/util/memory.go
Due: cdc

sink(ticdc): limit the number of transactions cached in a mysql worker (#10892) (#10958)
  cdc/sink/dmlsink/txn/txn_dml_sink.go
  cdc/sink/dmlsink/txn/worker.go
  pkg/causality/conflict_detector.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots.go
  pkg/causality/internal/slots_test.go
  pkg/causality/tests/driver.go
  pkg/causality/tests/integration_test.go
  pkg/causality/tests/worker.go
  pkg/causality/txn_cache.go
  pkg/causality/txn_cache_test.go
  pkg/causality/worker.go
Due: cdc

cli(ticdc): allow client authentication to be enabled without tls (#11005) (#11016)
  cdc/api/middleware/middleware.go
  pkg/config/server_config.go
  tests/integration_tests/_utils/run_cdc_server
  tests/integration_tests/cli_tls_with_auth/run.sh
  tests/integration_tests/cli_with_auth/run.sh
  tests/integration_tests/http_api_tls_with_user_auth/run.sh
  tests/integration_tests/run_group.sh
Due: cdc

fix tests.
  pkg/sink/codec/avro/decoder_test.go
Due: cdc

codec(ticdc): add more logs to the avro encoding to help detect potential key encoding failed issure (#10901) (#11002)
  pkg/sink/codec/avro/avro.go
  pkg/sink/codec/avro/decoder_test.go
Due: cdc

*(ticdc): Initialize changefeed/processor asynchronously (#10832) (#10985)
  cdc/async/async_initializer.go
  cdc/async/async_initializer_test.go
  cdc/capture/capture.go
  cdc/owner/changefeed.go
  cdc/owner/changefeed_test.go
  cdc/processor/processor.go
  cdc/processor/processor_test.go
  cdc/scheduler/internal/v3/coordinator.go
  cdc/scheduler/internal/v3/coordinator_test.go
  cdc/vars/vars.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
