Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

dm: fix integration test in rocky8.9 (#11751)
  dm/tests/_utils/run_downstream_cluster
  dm/tests/_utils/run_sql
  dm/tests/many_tables/run.sh
  dm/tests/requirements.txt
  dm/tests/tls/run.sh
Due: dm

ddl_puller.go(ticdc): fix DDLs are ignored when schema versions are out of order (#11733) (#11758)
  cdc/puller/ddl_puller.go
Due: cdc

Update fetch version
  sync_diff_inspector/utils/pd.go
Due: none

tests(ticdc): fix bank test (#11407)
  cdc/owner/ddl_manager.go
  tests/integration_tests/bank/case.go
  tests/integration_tests/bank/run.sh
Due: cdc

ddl puller: add UTs for ddl schema version removal
  cdc/puller/ddl_puller_test.go
Due: cdc

This is an automated cherry-pick of #11776
  dm/pkg/parser/common_test.go
  go.mod
  go.sum
Due: dm

update
  cmd/kafka-consumer/consumer.go
Due: cdc

always enable sarama log
  cdc/sink/dmlsink/mq/worker.go
  pkg/logutil/log.go
  pkg/sink/codec/canal/canal_json_row_event_encoder.go
  pkg/sink/codec/common/message.go
  pkg/sink/kafka/factory.go
  pkg/sink/kafka/mock_factory.go
  pkg/sink/kafka/v2/factory.go
Due: cdc

remove some useless code.
  cdc/sink/dmlsink/mq/worker.go
  pkg/sink/codec/canal/canal_json_row_event_encoder.go
  pkg/sink/codec/encoder_group.go
Due: cdc

test: fix nil filter in `ddl_puller_test.go`
  cdc/puller/ddl_puller_test.go
Due: cdc

replace sarama, print more logs
  go.mod
  go.sum
Due: none

set retry to 100000
  pkg/sink/kafka/sarama.go
Due: cdc

fix timeout
  tests/integration_tests/bank/case.go
Due: none

.
  cmd/kafka-consumer/consumer.go
Due: cdc

set retry to 100000
  pkg/sink/kafka/factory.go
Due: cdc

set log level to warn, retry to 3
  pkg/sink/kafka/factory.go
  pkg/sink/kafka/sarama.go
Due: cdc

track by table.
  pkg/sink/kafka/factory.go
Due: cdc

fix
  tests/integration_tests/bank/case.go
Due: none

add more fields
  go.mod
  go.sum
Due: none

tests(ticdc): fix bank test (#11407) (#11807)
  cdc/owner/ddl_manager.go
  tests/integration_tests/bank/case.go
  tests/integration_tests/bank/run.sh
Due: cdc

ddl puller: resolve merge conflicts
  cdc/puller/ddl_puller.go
Due: cdc

This is an automated cherry-pick of #11733
  cdc/puller/ddl_puller.go
Due: cdc

ddl_puller.go(ticdc): fix DDLs are ignored when schema versions are out of order (#11733) (#11756)
  cdc/puller/ddl_puller.go
Due: cdc

update sarama
  go.mod
  go.sum
Due: none

Add stand-alone load mode into openapi.
  dm/openapi/gen.client.go
  dm/openapi/gen.server.go
  dm/openapi/gen.types.go
  dm/openapi/spec/dm.yaml
Due: dm

load and load&sync should not use subtask adjust.
  dm/config/subtask.go
Due: dm

Primary work to add a stand-alone load mode to DM. Load&Sync mode might not be needed anymore and could be depreciated in the future.
  dm/config/helper.go
  dm/config/helper_test.go
  dm/config/subtask.go
  dm/config/task.go
  dm/pkg/terror/error_list.go
  dm/worker/subtask.go
  engine/executor/dm/worker.go
  engine/jobmaster/dm/task_manager.go
  engine/jobmaster/dm/worker_manager.go
Due: dm, engine

Correct taskmanager cause sync mode never finish.
  engine/jobmaster/dm/task_manager.go
Due: engine

Fix fmt issue with gen.go's.
  dm/openapi/gen.client.go
  dm/openapi/gen.server.go
Due: dm

Fix format.
  engine/jobmaster/dm/task_manager.go
Due: engine

Update error.txt
  dm/_utils/terror_gen/errors_release.txt
  dm/errors.toml
Due: dm

Rewrite load testing based on what we have already with dump.
  dm/tests/openapi/client/openapi_task_check
  dm/tests/openapi/run.sh
Due: dm

Revert changes done to engine for the moment.
  engine/jobmaster/dm/task_manager.go
  engine/jobmaster/dm/worker_manager.go
Due: engine

Fix openapi test case.
  dm/tests/openapi/client/openapi_task_check
Due: dm

One source for openapi test is enough.
  dm/tests/openapi/client/openapi_task_check
Due: dm

Typo fix.
  dm/tests/openapi/client/openapi_task_check
Due: dm

regen api.
  dm/openapi/gen.server.go
Due: dm

Add sync diff check for dump load task, and remove redundant single dump task.
  dm/tests/openapi/conf/diff_config_no_shard_one_source.toml
  dm/tests/openapi/run.sh
Due: dm

add test
  .github/workflows/dm_upstream_switch.yaml
Due: none

fix format
  pkg/sink/kafka/factory.go
  pkg/sink/kafka/v2/factory_test.go
Due: cdc
