Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

sink, ddl(ticdc): support add index ddl in downstream (#11476) (#11480)
  cdc/owner/ddl_manager.go
  cdc/sink/ddlsink/mysql/async_ddl.go
  cdc/sink/ddlsink/mysql/async_ddl_test.go
  cdc/sink/ddlsink/mysql/mysql_ddl_sink.go
  cdc/sink/ddlsink/mysql/mysql_ddl_sink_test.go
  pkg/errors/reexport.go
Due: cdc

sink, ddl(ticdc): support add index ddl in downstream (#11476)
  cdc/sinkv2/ddlsink/factory/factory.go
  cdc/sinkv2/ddlsink/mysql/async_ddl.go
  cdc/sinkv2/ddlsink/mysql/async_ddl_test.go
  cdc/sinkv2/ddlsink/mysql/mysql_ddl_sink.go
  cdc/sinkv2/ddlsink/mysql/mysql_ddl_sink_test.go
  go.mod
  go.sum
Due: cdc

sink(ticdc): return invalid topic expression in ErrKafkaInvalidTopicExpression (#11161)
  cdc/sink/dmlsink/mq/dispatcher/topic/expression.go
  cdc/sink/dmlsink/mq/dispatcher/topic/expression_test.go
  errors.toml
  pkg/errors/cdc_errors.go
Due: cdc

chore: test trigger
  tests/integration_tests/run.sh
Due: none

fix go mod
  go.mod
Due: none

sink, ddl(ticdc): support add index ddl in downstream (#11476) (#11478)
  cdc/owner/ddl_manager.go
  cdc/sinkv2/ddlsink/factory/factory.go
  cdc/sinkv2/ddlsink/mysql/async_ddl.go
  cdc/sinkv2/ddlsink/mysql/async_ddl_test.go
  cdc/sinkv2/ddlsink/mysql/mysql_ddl_sink.go
  cdc/sinkv2/ddlsink/mysql/mysql_ddl_sink_test.go
  go.mod
  go.sum
  pkg/errors/reexport.go
Due: cdc

WIP
  cdc/sink/ddlsink/mysql/mysql_ddl_sink.go
  cdc/sink/dmlsink/txn/mysql/mysql.go
  cdc/sink/dmlsink/txn/mysql/mysql_test.go
  cdc/sink/dmlsink/txn/txn_dml_sink.go
  pkg/sink/mysql/db_helper.go
  pkg/sink/mysql/factory.go
  pkg/sink/observer/observer.go
Due: cdc

WIP
  cdc/sink/validator/validator.go
  pkg/sink/mysql/db_helper.go
  pkg/sink/mysql/mock_db.go
  pkg/sink/mysql/mysql_connector.go
  pkg/sink/observer/tidb_test.go
Due: cdc

Update sarama.go
  pkg/sink/kafka/sarama.go
Due: cdc

.
  cdc/sink/dmlsink/txn/mysql/mysql.go
Due: cdc

Update schema_storage.go
  cdc/model/schema_storage.go
Due: cdc

refactor(mysql sink): refactor db connection factory to interface
  cdc/sink/ddlsink/mysql/async_ddl_test.go
  cdc/sink/ddlsink/mysql/mysql_ddl_sink.go
  cdc/sink/ddlsink/mysql/mysql_ddl_sink_test.go
  cdc/sink/dmlsink/txn/mysql/mysql.go
  cdc/sink/dmlsink/txn/mysql/mysql_test.go
  cdc/sink/dmlsink/txn/txn_dml_sink.go
  pkg/applier/redo_test.go
  pkg/errors/cdc_errors.go
  pkg/sink/mysql/db_helper.go
  pkg/sink/mysql/factory.go
Due: cdc

chore(db factory): add comments for exported methods
  pkg/sink/mysql/factory.go
Due: cdc

chore(db factory): add comments for exported type ConnectionFactory
  pkg/sink/mysql/factory.go
Due: cdc

chore(errors): update errors.toml by `make check`
  errors.toml
Due: none

[skip ci] Update OWNERS file
  OWNERS
Due: none

OWNERS: Auto Sync OWNERS files from community membership (#11492)
  OWNERS
Due: none

Revert "kafka(ticdc): claim check support large message raw value format (#11395)"
  cdc/api/v2/model.go
  pkg/config/config_test_data.go
  pkg/config/large_message.go
  pkg/config/large_message_test.go
  pkg/sink/codec/canal/canal_json_decoder.go
  pkg/sink/codec/canal/canal_json_row_event_encoder.go
  pkg/sink/codec/canal/canal_json_row_event_encoder_test.go
  pkg/sink/codec/open/open_protocol_encoder.go
  pkg/sink/codec/simple/decoder.go
  pkg/sink/codec/simple/encoder.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/kafka/claimcheck/claim_check.go
  pkg/sink/kafka/claimcheck/claim_check_test.go
Due: cdc

docs(ticdc): delete an outdated sentence (#11393)
  README_TiCDC.md
Due: none

chore: update OWNERS_ALIASES
  OWNERS_ALIASES
Due: none

chore: update OWNERS_ALIASES (#11495)
  OWNERS_ALIASES
Due: none

This is an automated cherry-pick of #11495
  OWNERS_ALIASES
Due: none

chore: update OWNERS_ALIASES (#11496)
  OWNERS_ALIASES
Due: none

refactor(CreateMySQLDBConn): move CreateMySQLDBConn function from db_helper.go to factory.go
  pkg/sink/mysql/db_helper.go
  pkg/sink/mysql/factory.go
Due: cdc

refactor(DBConnectionFactoryForTest): add NewDBConnectionFactoryForTest constructor to simplify unit test setup
  cdc/sink/ddlsink/mysql/async_ddl_test.go
  cdc/sink/ddlsink/mysql/mysql_ddl_sink_test.go
  cdc/sink/dmlsink/txn/mysql/mysql_test.go
  pkg/applier/redo_test.go
  pkg/sink/mysql/factory.go
Due: cdc

kafka(ticdc): Revert "kafka(ticdc): claim check support large message raw value for… (#11494)
  cdc/api/v2/model.go
  pkg/config/config_test_data.go
  pkg/config/large_message.go
  pkg/config/large_message_test.go
  pkg/sink/codec/canal/canal_json_decoder.go
  pkg/sink/codec/canal/canal_json_row_event_encoder.go
  pkg/sink/codec/canal/canal_json_row_event_encoder_test.go
  pkg/sink/codec/open/open_protocol_encoder.go
  pkg/sink/codec/simple/decoder.go
  pkg/sink/codec/simple/encoder.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/kafka/claimcheck/claim_check.go
  pkg/sink/kafka/claimcheck/claim_check_test.go
Due: cdc

mysql sink(ticdc): Refactor DB Connection Creation to Facilitate Unit Testing (#11491)
  cdc/sink/ddlsink/mysql/async_ddl_test.go
  cdc/sink/ddlsink/mysql/mysql_ddl_sink.go
  cdc/sink/ddlsink/mysql/mysql_ddl_sink_test.go
  cdc/sink/dmlsink/txn/mysql/mysql.go
  cdc/sink/dmlsink/txn/mysql/mysql_test.go
  cdc/sink/dmlsink/txn/txn_dml_sink.go
  errors.toml
  pkg/applier/redo_test.go
  pkg/errors/cdc_errors.go
  pkg/sink/mysql/db_helper.go
  pkg/sink/mysql/factory.go
  pkg/sink/observer/observer.go
Due: cdc

update
  pkg/sink/kafka/factory.go
Due: cdc

test(MySQLDBConnector): add unit tests for `MySQLDBConnector`
  cdc/sink/ddlsink/mysql/async_ddl.go
  pkg/sink/mysql/db_helper.go
  pkg/sink/mysql/mock_db.go
  pkg/sink/mysql/mysql_connector.go
  pkg/sink/mysql/mysql_connector_test.go
  pkg/sink/observer/observer.go
  pkg/sink/observer/observer_test.go
  pkg/sink/observer/tidb_test.go
Due: cdc

debug
  pkg/sink/kafka/factory.go
Due: cdc

fix(TestGenerateDSNByConfig): fix missed `character_set_name` query
  pkg/sink/mysql/config_test.go
  pkg/sink/mysql/db_helper.go
  pkg/sink/mysql/mock_db.go
Due: cdc

fix(TestNewMySQLBackend): fix the idempotency of close mysql connector
  cdc/sink/dmlsink/txn/mysql/mysql.go
Due: cdc

parser(dm): support ALTER DATABASE default database
  dm/pkg/parser/common.go
  dm/pkg/parser/common_test.go
Due: dm

fix lint
  dm/pkg/parser/common_test.go
Due: dm

test(mysql connector): add TestConfigureDBWhenSwitch_NilConfigureFunction
  pkg/sink/mysql/mysql_connector_test.go
Due: cdc
