Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

This is an automated cherry-pick of #11649
  cdc/model/sink.go
  pkg/sink/codec/avro/avro.go
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/common/helper.go
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/codec_test.go
  pkg/sink/codec/debezium/debezium_test.go
  pkg/sink/codec/debezium/encoder.go
  pkg/sink/codec/debezium/testdata/datatype.dbz.key.json
  tests/integration_tests/debezium/README.md
  tests/integration_tests/debezium/run.sh
  tests/integration_tests/debezium/sql/debezium/real_test.sql
  tests/integration_tests/debezium/src/test_cases.go
Due: cdc

fix
  cdc/model/sink.go
  pkg/sink/codec/debezium/codec.go
Due: cdc

fix sanitize
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/common/helper.go
Due: cdc

fix binaries download
  dm/tests/download-integration-test-binaries.sh
  scripts/download-integration-test-binaries.sh
Due: dm

hack
  scripts/download-integration-test-binaries.sh
Due: none

fix
  tests/integration_tests/debezium/docker-compose.yml
Due: none

Update helper.go
  pkg/sink/codec/common/helper.go
Due: cdc

Update avro_test.go
  pkg/sink/codec/avro/avro_test.go
Due: cdc

Update schema_storage.go
  cdc/model/schema_storage.go
Due: cdc

Update docker-compose.yml
  tests/integration_tests/debezium/docker-compose.yml
Due: none

update
  cdc/model/schema_storage.go
  cdc/model/sink.go
  pkg/sink/cloudstorage/table_definition.go
  pkg/sink/codec/simple/avro.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
Due: cdc

resolve conflicts
  cdc/entry/schema_storage.go
  cdc/owner/schema.go
Due: cdc

fix
  pkg/sink/codec/debezium/helper_test.go
Due: cdc

snapshot(ticdc): fix ddl puller and ddl manager stuck caused by dead lock (#11886) (#11897)
  cdc/owner/schema.go
Due: cdc

sink(ticdc): fix incorrect sanitize (#12044)
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/common/helper.go
  tests/integration_tests/debezium/docker-compose.yml
Due: cdc

sink(ticdc): add event key output for debezium (#11649) (#11965) (#12043)
  dm/tests/download-integration-test-binaries.sh
  pkg/sink/codec/avro/avro.go
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/common/helper.go
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/codec_test.go
  pkg/sink/codec/debezium/debezium_test.go
  pkg/sink/codec/debezium/encoder.go
  pkg/sink/codec/debezium/testdata/datatype.dbz.key.json
  scripts/download-integration-test-binaries.sh
  tests/integration_tests/debezium/README.md
  tests/integration_tests/debezium/docker-compose.yml
  tests/integration_tests/debezium/run.sh
  tests/integration_tests/debezium/sql/debezium/real_test.sql
  tests/integration_tests/debezium/src/test_cases.go
Due: cdc, dm

kafka(ticdc): sarama do not retry if produce message failed to prevent out of order (#11870)
  pkg/logutil/log.go
  pkg/sink/kafka/sarama.go
Due: cdc

remove default field
  cdc/model/codec/codec.go
  cdc/model/sink.go
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/helper.go
  pkg/sink/codec/debezium/helper_test.go
Due: cdc

update
  cdc/entry/mounter_test.go
Due: cdc

fix
  pkg/sink/codec/debezium/codec.go
Due: cdc

kafka(ticdc): sarama do not retry if produce message failed to prevent out of order (#11870) (#12045)
  pkg/logutil/log.go
  pkg/sink/kafka/sarama.go
Due: cdc

fix conflicts
  cdc/sinkv2/eventsink/mq/mq_dml_sink.go
Due: cdc

remove setting origin default value
  pkg/sink/codec/debezium/helper.go
Due: cdc

*: bump srama to v1.45.0
  go.mod
  go.sum
Due: none

test(ticdc): fix multi_source test (#12041)
  tests/integration_tests/multi_source/main.go
Due: none

build: add sync-diff-inspector target into `build` make task
  Makefile
Due: none

build: add sync-diff-inspector target into `build` make task (#12048)
  Makefile
Due: none

update
  tests/integration_tests/overwrite_resume_with_syncpoint/conf/changefeed.toml
  tests/integration_tests/overwrite_resume_with_syncpoint/conf/diff_config.toml
  tests/integration_tests/overwrite_resume_with_syncpoint/run.sh
Due: none

update
  tests/integration_tests/overwrite_resume_with_syncpoint/run.sh
Due: none

sink(ticdc): fix incorrect `default` field (#12038)
  cdc/entry/mounter_test.go
  cdc/model/codec/codec.go
  cdc/model/schema_storage.go
  cdc/model/sink.go
  pkg/sink/cloudstorage/table_definition.go
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/helper.go
  pkg/sink/codec/debezium/helper_test.go
  pkg/sink/codec/simple/avro.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
Due: cdc

This is an automated cherry-pick of #12038
  cdc/entry/mounter_test.go
  cdc/model/codec/codec.go
  cdc/model/schema_storage.go
  cdc/model/sink.go
  pkg/sink/cloudstorage/table_definition.go
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/helper.go
  pkg/sink/codec/debezium/helper_test.go
  pkg/sink/codec/simple/avro.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
Due: cdc

update
  cdc/entry/mounter.go
  cdc/model/codec/codec.go
  cdc/model/schema_storage.go
  cdc/model/sink.go
  pkg/sink/cloudstorage/table_definition.go
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/debezium/helper.go
  pkg/sink/codec/debezium/helper_test.go
  pkg/sink/codec/simple/avro.go
  pkg/sink/codec/simple/encoder_test.go
  pkg/sink/codec/simple/message.go
Due: cdc

update
  cdc/model/sink.go
Due: cdc

.
  cdc/model/sink.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
