Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

add some comment and tests
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
  cdc/model/schema_storage_test.go
  cdc/model/sink.go
  cdc/sink/dmlsink/event_appender.go
  cdc/sink/dmlsink/txn/event.go
  cdc/sink/dmlsink/txn/mysql/dml.go
  cdc/sink/dmlsink/txn/mysql/mysql.go
  pkg/sink/cloudstorage/table_definition.go
  pkg/sink/codec/avro/avro.go
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/avro/decoder.go
  pkg/sink/codec/builder/codec_test.go
  pkg/sink/codec/canal/canal_entry.go
  pkg/sink/codec/canal/canal_json_message.go
  pkg/sink/codec/canal/canal_json_row_event_encoder.go
  pkg/sink/codec/craft/model.go
  pkg/sink/codec/csv/csv_message.go
  pkg/sink/codec/debezium/codec.go
  pkg/sink/codec/open/open_protocol_decoder.go
  pkg/sink/codec/open/open_protocol_message.go
  pkg/sqlmodel/multirow.go
  pkg/sqlmodel/row_change_test.go
Due: cdc

redo(cdc): custom redo event cache and disable it by default (#10139) (#10317)
  cdc/api/v2/model.go
  cdc/api/v2/model_test.go
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sinkmanager/manager_test.go
  pkg/config/config_test_data.go
  pkg/config/consistent.go
  pkg/config/replica_config.go
Due: cdc

update
  dm/checker/checker.go
  dm/pkg/checker/lightning.go
  dm/pkg/schema/tracker.go
  dm/syncer/ddl.go
  dm/syncer/expr_filter_group.go
  go.mod
  go.sum
  pkg/filter/expr_filter.go
Due: cdc, dm

remove tz from the mounter.
  cdc/entry/codec.go
  cdc/entry/mounter.go
  cdc/entry/mounter_group.go
  cdc/processor/processor.go
Due: cdc

address comments
  cdc/kv/regionlock/region_range_lock.go
Due: cdc

fix
  cdc/kv/regionlock/region_range_lock.go
Due: cdc

update
  cdc/model/sink.go
  cdc/owner/ddl_sink.go
Due: cdc

update
  cdc/scheduler/internal/v3/replication/replication_set.go
Due: cdc

address comments
  cdc/kv/regionlock/region_range_lock.go
  cdc/kv/regionlock/region_range_lock_test.go
Due: cdc

update tidb dependeices.
  cdc/entry/mounter.go
  go.mod
  go.sum
  pkg/filter/expr_filter.go
Due: cdc

fix typo
  dm/tests/incompatible_ddl_changes/conf/dm-task1.yaml
  dm/tests/incompatible_ddl_changes/run.sh
Due: dm

update
  dm/tests/incompatible_ddl_changes/conf/dm-task1.yaml
  dm/tests/incompatible_ddl_changes/run.sh
Due: dm

fix unit test.
  cdc/entry/mounter.go
  cdc/entry/mounter_test.go
Due: cdc

conflict detector(cdc): fix potential dead lock when a transaction generated multiple same hash (#10335) (#10369)
  cdc/processor/sinkmanager/manager_test.go
  cdc/sink/dmlsink/txn/event.go
  cdc/sink/dmlsink/txn/event_test.go
  cdc/sink/dmlsink/txn/worker.go
  pkg/causality/conflict_detector.go
  pkg/causality/internal/node.go
  pkg/causality/internal/slots.go
  pkg/causality/tests/integration_test.go
  pkg/causality/tests/worker.go
  pkg/causality/worker.go
Due: cdc

update
  cdc/api/v2/api_helpers.go
  cdc/processor/processor.go
  pkg/filter/filter.go
Due: cdc

scheduler(ticdc): Updating ReplicationSet.stats only when stats is not empty (#10225) (#10230)
  cdc/scheduler/internal/v3/replication/replication_set.go
Due: cdc

add error check
  cdc/kv/client.go
Due: cdc

fix make dm
  dm/checker/checker.go
  dm/pkg/checker/lightning.go
  dm/pkg/schema/tracker.go
  dm/syncer/expr_filter_group.go
Due: dm

fix make build.
  dm/syncer/ddl.go
  go.mod
  go.sum
Due: dm

fix unit test.
  pkg/filter/expr_filter_test.go
Due: cdc

refine region error handle logic
  cdc/kv/client.go
  cdc/kv/region_worker.go
  cdc/kv/region_worker_test.go
  pkg/config/debug.go
  pkg/config/server_config.go
Due: cdc

add delay
  cdc/kv/region_worker.go
Due: cdc

fix dm unit test
  dm/pkg/schema/tracker.go
Due: dm

adjust lag bucket
  cdc/owner/metrics.go
Due: cdc

remove delay
  cdc/kv/region_worker.go
Due: cdc

add one log to table sink update resolved.
  cmd/kafka-consumer/main.go
Due: cdc

update
  tests/integration_tests/debezium/run.sh
  tests/integration_tests/debezium/src/test_cases.go
  tests/integration_tests/run_group.sh
Due: none

fix typo
  tests/integration_tests/debezium/src/test_cases.go
Due: none

fix log.
  cmd/kafka-consumer/main.go
Due: cdc

Revert "sink-to-mysql(cdc) simplify conflict detector, prevent workload skew issue (#10376)"
  pkg/causality/conflict_detector.go
  pkg/causality/internal/node.go
  pkg/causality/internal/node_test.go
  pkg/causality/internal/slots_test.go
Due: cdc

fix synpoint table being replicated in BDR mode
  pkg/filter/utils.go
  pkg/filter/utils_test.go
Due: cdc

update
  tests/integration_tests/_utils/start_upstream_tidb_cluster
  tests/integration_tests/_utils/start_upstream_tidb_cluster_impl
  tests/integration_tests/debezium/run.sh
Due: none

update
  tests/integration_tests/_utils/start_upstream_tidb_cluster
  tests/integration_tests/_utils/start_upstream_tidb_cluster_impl
Due: none

update
  tests/integration_tests/_utils/stop_upstream_tidb_cluster
Due: none

update new container
  tests/integration_tests/debezium/docker-compose.yml
  tests/integration_tests/debezium/run.sh
Due: none

fix
  tests/integration_tests/debezium/run.sh
Due: none
