Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

fix kv client data race panic
  cdc/kv/client.go
Due: cdc

kv (ticdc): fix kv client data race panic (#10719)
  cdc/kv/client.go
Due: cdc

u
  tests/integration_tests/mq_sink_dispatcher/conf/changefeed.toml
  tests/integration_tests/mq_sink_dispatcher/conf/new_changefeed.toml
Due: none

add a unit test
  cdc/sink/dmlsink/mq/dispatcher/event_router_test.go
Due: cdc

add more log
  cdc/api/v2/changefeed.go
  cdc/sink/dmlsink/mq/dispatcher/event_router.go
  tests/integration_tests/mq_sink_dispatcher/run.sh
Due: cdc

small fix
  tests/integration_tests/mq_sink_dispatcher/conf/changefeed.toml
Due: none

f
  cdc/sink/dmlsink/mq/dispatcher/event_router.go
Due: cdc

change test config
  tests/integration_tests/mq_sink_dispatcher/conf/changefeed.toml
Due: none

try fix
  cdc/sink/dmlsink/mq/dispatcher/event_router.go
Due: cdc

fix test
  tests/integration_tests/mq_sink_dispatcher/run.sh
Due: none

add a test
  tests/integration_tests/mq_sink_dispatcher/conf/changefeed.toml
  tests/integration_tests/mq_sink_dispatcher/conf/diff_config.toml
  tests/integration_tests/mq_sink_dispatcher/run.sh
Due: none

f
  tests/integration_tests/mq_sink_dispatcher/run.sh
Due: none

f
  tests/integration_tests/mq_sink_dispatcher/conf/new_changefeed.toml
Due: none

remove unnecessary log
  cdc/api/v2/changefeed.go
  tests/integration_tests/mq_sink_dispatcher/conf/new_changefeed.toml
  tests/integration_tests/mq_sink_dispatcher/run.sh
Due: cdc

small fix
  tests/integration_tests/mq_sink_dispatcher/conf/diff_config.toml
Due: none

barrier(ticdc): fix wrong barrier ts under frequent ddl scenario (#10669)
  cdc/owner/ddl_manager.go
Due: cdc

go.mod: replace seahash with a valid github repo (#10676)
  go.mod
  go.sum
Due: none

save
  dm/tests/upstream_switch_mariadb/Dockerfile
  dm/tests/upstream_switch_mariadb/case.sh
  dm/tests/upstream_switch_mariadb/docker-compose.yml
  dm/tests/upstream_switch_mariadb/init.sh
Due: dm

add more tests.
  cdc/entry/mounter_test.go
Due: cdc

Add upstream-database-switch-mariadb job to workflows*** ***Update Dockerfile for mysql image in upstream_switch*** ***Remove unnecessary lines in Dockerfile for upstream_switch_mariadb
  .github/workflows/dm_upstream_switch.yaml
  dm/tests/upstream_switch/Dockerfile
  dm/tests/upstream_switch_mariadb/Dockerfile
Due: dm

Update dm_upstream_switch.yaml workflow dispatch inputs
  .github/workflows/dm_upstream_switch.yaml
Due: none

Commented out upstream-database-switch workflow
  .github/workflows/dm_upstream_switch.yaml
Due: none

Commented out code for checking out code by workflow dispatch
  .github/workflows/dm_upstream_switch.yaml
Due: none

Fix upstream-database-switch-mariadb job indentation
  .github/workflows/dm_upstream_switch.yaml
Due: none

add one more test.
  cdc/entry/mounter_test.go
Due: cdc

Update MySQL Docker-compose configurations to enable GTID strict mode
  dm/tests/upstream_switch_mariadb/docker-compose.yml
  dm/tests/upstream_switch_mariadb/lib.sh
Due: dm

Add push trigger for test branches in Upstream Database Switch workflow
  .github/workflows/dm_upstream_switch.yaml
Due: none

kv (ticdc): fix kv client data race panic (#10719) (#10720)
  cdc/kv/client.go
Due: cdc

barrier(ticdc): fix wrong barrier ts under frequent ddl scenario (#10669) (#10725)
  cdc/owner/ddl_manager.go
Due: cdc

Update TEST_NAME and add DM_MASTER_EXTRA_ARG
  dm/tests/upstream_switch/lib.sh
  dm/tests/upstream_switch_mariadb/lib.sh
Due: dm

barrier(ticdc): fix wrong barrier ts under frequent ddl scenario (#10669) (#10727)
  cdc/owner/ddl_manager.go
Due: cdc

fix unit test
  cdc/sink/dmlsink/mq/dispatcher/event_router_test.go
Due: cdc

fix.
  cdc/entry/mounter.go
  go.mod
  go.sum
Due: cdc

sink(ticdc): adjust lag bucket and add metrics for sink flush lag (#10596)
  cdc/metrics/metrics.go
  cdc/metrics/metrics_test.go
  cdc/owner/metrics.go
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sinkmanager/table_sink_wrapper_test.go
  cdc/sink/dmlsink/factory/factory.go
  cdc/sink/dmlsink/factory/factory_test.go
  cdc/sink/metrics/tablesink/metrics.go
  cdc/sink/tablesink/table_sink_impl.go
  cdc/sink/tablesink/table_sink_impl_test.go
  cmd/kafka-consumer/main.go
  cmd/pulsar-consumer/main.go
  cmd/storage-consumer/main.go
  metrics/grafana/ticdc.json
  pkg/applier/redo.go
Due: cdc

This is an automated cherry-pick of #10596
  cdc/metrics/metrics.go
  cdc/metrics/metrics_test.go
  cdc/owner/metrics.go
  cdc/processor/sinkmanager/manager.go
  cdc/processor/sinkmanager/table_sink_wrapper_test.go
  cdc/sink/metrics/tablesink/metrics.go
  cdc/sinkv2/eventsink/factory/factory.go
  cdc/sinkv2/eventsink/factory/factory_test.go
  cdc/sinkv2/tablesink/table_sink_impl.go
  cdc/sinkv2/tablesink/table_sink_impl_test.go
  cmd/kafka-consumer/main.go
  cmd/pulsar-consumer/main.go
  cmd/storage-consumer/main.go
  metrics/grafana/ticdc.json
  pkg/applier/redo.go
Due: cdc

Path conditions:
  cdc: any of: cdc/**, cmd/**, pkg/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  dm: any of: dm/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
  engine: any of: engine/**, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*, mock/.*, *_mock.go
