Repository pingcap/tiflow: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, dm, engine

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        threshold: 3 #Allow the coverage to drop by threshold%, and posting a success status.
    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, components, flags, diff"
  behavior: default
  require_changes: no

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"
  - "mock/.*"
  - "*_mock.go"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified.
  individual_components:
    - component_id: component_cdc # this is an identifier that should not be changed
      name: cdc # this is a display name, and can be changed freely
      paths:
        - cdc/**
        - cmd/**
        - pkg/**
    - component_id: component_dm
      name: dm
      paths:
        - dm/**
    - component_id: component_engine
      name: engine
      paths:
        - engine/**
    # more components.

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses:
      - type: project
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 
      - type: patch
        target: 60%
        informational: true # resulting status will pass no matter what the coverage is or what other settings are specified. 

  individual_flags: # exceptions to the default rules above, stated flag by flag
    - name: cdc  #fill in your own flag name
      paths:
        - cdc/** #fill in your own path. Note, accepts globs, not regexes
        - cmd/**
        - pkg/**
      carryforward: true
    - name: dm
      paths:
        - dm/**
      carryforward: true
    - name: engine
      paths:
        - engine/**
      carryforward: true

update
  pkg/filter/sql_event_filter_test.go
Due: cdc

add string method to the table key
  pkg/sink/codec/canal/canal_json_decoder.go
Due: cdc

add one log
  pkg/sink/codec/canal/canal_json_decoder.go
Due: cdc

add system table filter default
  dm/dumpling/dumpling.go
  dm/dumpling/dumpling_test.go
  dm/pkg/dumpling/utils.go
Due: dm

tests(ticdc): fix bank test (#11407) (#11808)
  cdc/owner/ddl_manager.go
  tests/integration_tests/bank/case.go
  tests/integration_tests/bank/run.sh
Due: cdc

do not reuse msg
  pkg/sink/codec/canal/canal_json_decoder.go
  pkg/sink/codec/canal/canal_json_message.go
Due: cdc

add integration test
  dm/tests/openapi/client/openapi_task_check
  dm/tests/openapi/run.sh
Due: dm

fmt
  dm/pkg/dumpling/utils.go
  dm/tests/openapi/run.sh
Due: dm

fix
  cdc/model/sink.go
  cdc/sink/dmlsink/cloudstorage/cloud_storage_dml_sink.go
  cdc/sink/dmlsink/cloudstorage/defragmenter.go
  cdc/sink/dmlsink/cloudstorage/defragmenter_test.go
  cdc/sink/dmlsink/cloudstorage/dml_worker.go
  cdc/sink/dmlsink/cloudstorage/dml_worker_test.go
  cdc/sink/dmlsink/cloudstorage/encoding_worker_test.go
  pkg/sink/cloudstorage/path.go
  pkg/sink/cloudstorage/path_test.go
Due: cdc

add some unit test
  pkg/sink/cloudstorage/path_test.go
Due: cdc

revert pulsar consumer log to debug
  tests/integration_tests/_utils/run_pulsar_consumer
Due: none

small fix
  cdc/sink/dmlsink/cloudstorage/cloud_storage_dml_sink.go
Due: cdc

add test
  tests/integration_tests/canal_json_storage_partition_table/conf/changefeed.toml
  tests/integration_tests/canal_json_storage_partition_table/data/prepare.sql
  tests/integration_tests/canal_json_storage_partition_table2/conf/changefeed.toml
  tests/integration_tests/canal_json_storage_partition_table2/conf/diff_config.toml
  tests/integration_tests/canal_json_storage_partition_table2/data/prepare.sql
  tests/integration_tests/canal_json_storage_partition_table2/data/prepare2.sql
  tests/integration_tests/canal_json_storage_partition_table2/run.sh
  tests/integration_tests/csv_storage_partition_table/conf/changefeed.toml
Due: none

fix
  tests/integration_tests/canal_json_storage_partition_table/conf/diff_config.toml
Due: none

fix
  tests/integration_tests/canal_json_storage_partition_table2/conf/diff_config.toml
Due: none

filter(ticdc): fix incorrect event filter with "rename" DDLs (#11956) (#11974)
  pkg/filter/sql_event_filter.go
  pkg/filter/sql_event_filter_test.go
  tests/integration_tests/event_filter/conf/cf.toml
  tests/integration_tests/event_filter/conf/diff_config.toml
  tests/integration_tests/event_filter/data/test.sql
  tests/integration_tests/event_filter/data/test_rename.sql
  tests/integration_tests/event_filter/run.sh
Due: cdc

filter(ticdc): fix incorrect event filter with "rename" DDLs (#11956) (#11973)
  pkg/filter/sql_event_filter.go
  pkg/filter/sql_event_filter_test.go
  tests/integration_tests/event_filter/conf/cf.toml
  tests/integration_tests/event_filter/conf/diff_config.toml
  tests/integration_tests/event_filter/data/test.sql
  tests/integration_tests/event_filter/data/test_rename.sql
  tests/integration_tests/event_filter/run.sh
Due: cdc

sink(ticdc): return invalid topic expression in ErrKafkaInvalidTopicExpression (#11161) (#11705)
  cdc/sink/dmlsink/mq/dispatcher/topic/expression.go
  cdc/sink/dmlsink/mq/dispatcher/topic/expression_test.go
  errors.toml
  pkg/errors/cdc_errors.go
Due: cdc

kafka(ticdc): sarama do not retry if produce message failed to prevent out of order (#11870) (#11962)
  pkg/logutil/log.go
  pkg/sink/kafka/sarama.go
Due: cdc

add some log
  cdc/entry/schema_storage.go
Due: cdc

remove string method for the table key
  pkg/sink/codec/canal/canal_json_decoder.go
Due: cdc

filter(ticdc): fix incorrect event filter with "rename" DDLs (#11956) (#11967)
  pkg/filter/sql_event_filter.go
  pkg/filter/sql_event_filter_test.go
  tests/integration_tests/event_filter/conf/cf.toml
  tests/integration_tests/event_filter/conf/diff_config.toml
  tests/integration_tests/event_filter/data/test.sql
  tests/integration_tests/event_filter/data/test_rename.sql
  tests/integration_tests/event_filter/run.sh
Due: cdc

Init
  Makefile
  dm/tests/README.md
  tests/integration_tests/README.md
Due: dm

address comment by ut `TestBAlist()` use context without timeout
  dm/dumpling/dumpling_test.go
Due: dm

add comment
  dm/dumpling/dumpling.go
Due: dm

Update scripts
  Makefile
  dm/tests/README.md
  dm/tests/download-compatibility-test-binaries.sh
  dm/tests/download-integration-test-binaries.sh
  dm/tests/mariadb_master_down_and_up/case.sh
  dm/tests/mariadb_master_down_and_up/lib.sh
  dm/tests/tiup/lib.sh
  dm/tests/tiup/upgrade-from-v1.sh
  dm/tests/tiup/upgrade-from-v2.sh
  dm/tests/tiup/upgrade-tidb.sh
  dm/tests/upstream_switch/case.sh
  dm/tests/upstream_switch/lib.sh
  scripts/download-integration-test-binaries.sh
  scripts/download-sync-diff.sh
Due: dm

sink(ticdc): fix incorrect default value for the not null timestamp field in the Debezium protocol (#11976)
  pkg/sink/codec/debezium/codec.go
  tests/integration_tests/debezium/sql/debezium/default_value.sql
Due: cdc

Update scripts
  .github/workflows/dm_binlog_999999.yaml
  Makefile
Due: none

This is an automated cherry-pick of #11976
  pkg/sink/codec/debezium/codec.go
  tests/integration_tests/debezium/sql/debezium/default_value.sql
Due: cdc

address comment
  dm/dumpling/dumpling.go
  dm/dumpling/dumpling_test.go
  dm/pkg/dumpling/utils.go
Due: dm

Revert some changes
  sync_diff_inspector/diff/diff.go
  sync_diff_inspector/source/chunks_iter.go
  sync_diff_inspector/splitter/bucket.go
Due: none

codec(ticdc): decoder set the table id directly (#11978)
  cmd/kafka-consumer/writer.go
  cmd/pulsar-consumer/main.go
  pkg/sink/codec/avro/avro_test.go
  pkg/sink/codec/avro/decoder.go
  pkg/sink/codec/canal/canal_json_decoder.go
  pkg/sink/codec/canal/canal_json_message.go
  pkg/sink/codec/canal/canal_json_row_event_encoder_test.go
  pkg/sink/codec/canal/canal_json_txn_event_decoder.go
  pkg/sink/codec/common/helper.go
  pkg/sink/codec/open/open_protocol_decoder.go
  pkg/sink/codec/open/open_protocol_message.go
Due: cdc

fix test
  dm/pkg/dumpling/utils.go
Due: dm

Fix
  sync_diff_inspector/checkpoints/checkpoints.go
  sync_diff_inspector/chunk/chunk.go
  sync_diff_inspector/diff/diff.go
  sync_diff_inspector/source/mysql_shard.go
  sync_diff_inspector/splitter/limit.go
  sync_diff_inspector/utils/utils.go
  sync_diff_inspector/utils/utils_test.go
Due: none

update
  pkg/sink/codec/debezium/codec.go
Due: cdc
